<form [formGroup]="savingProductDetailsForm">

  <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

    <mat-form-field fxFlex="48%">
      <mat-label>{{'Product_Component.savingProductComponent.savingProductStepper.Details.name'| translate}}</mat-label>
      <input matInput formControlName="name" required>
      <mat-error>
        {{'Product_Component.savingProductComponent.savingProductStepper.Details.errname'| translate}}<strong>{{'Product_Component.strongRequired'| translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>{{'Product_Component.savingProductComponent.savingProductStepper.Details.shortName'| translate}}</mat-label>
      <input matInput formControlName="shortName" maxlength="4" required>
      <mat-error>
        {{'Product_Component.savingProductComponent.savingProductStepper.Details.errshortName'| translate}}<strong>{{'Product_Component.strongRequired'| translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="98%">
      <mat-label>{{'Product_Component.savingProductComponent.savingProductStepper.Details.Description'| translate}}</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

  </div>

  <div fxLayout="row" class="margin-t" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="2%">
    <button mat-raised-button matStepperPrevious disabled>
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;&nbsp;
      {{ "ShareButton.PreviousEng" | translate }}
    </button>
    <button mat-raised-button matStepperNext>
      {{ "ShareButton.NextEng" | translate }}&nbsp;&nbsp;
      <fa-icon icon="arrow-right"></fa-icon>
    </button>
  </div>

</form>
