<div class="container">

  <mat-card>

    <form [formGroup]="chargeForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

          <mat-form-field fxFlex="48%">
            <mat-label>{{'Product_Component.ChargesComponent.EditChargeComponent.chargeAppliesTo'| translate}}</mat-label>
            <mat-select required formControlName="chargeAppliesTo">
              <mat-option *ngFor="let chargeAppliesTo of chargeData.chargeAppliesToOptions" [value]="chargeAppliesTo.id">
                {{ chargeAppliesTo.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column" style="margin-top:10px;">

          <mat-form-field fxFlex="48%">
            <mat-label>{{'Product_Component.ChargesComponent.EditChargeComponent.Name'| translate}}</mat-label>
            <input matInput required autofocus formControlName="name">
            <mat-error *ngIf="chargeForm.controls.name.hasError('required')">
              {{'Product_Component.ChargesComponent.EditChargeComponent.errName'| translate}}<strong>{{'Product_Component.strongRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label>{{'Product_Component.ChargesComponent.EditChargeComponent.Currency'| translate}}</mat-label>
            <mat-select required formControlName="currencyCode">
              <mat-option *ngFor="let currency of chargeData.currencyOptions" [value]="currency.code">
                {{ currency.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="chargeForm.controls.currencyCode.hasError('required')">
              {{'Product_Component.ChargesComponent.EditChargeComponent.errCurrency'| translate}}<strong>{{'Product_Component.strongRequired'| translate }}</strong>
            </mat-error>

          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label>{{'Product_Component.ChargesComponent.EditChargeComponent.chargeTimeType'| translate}}</mat-label>
            <mat-select required formControlName="chargeTimeType">
              <mat-option *ngFor="let chargeTime of chargeTimeTypeOptions" [value]="chargeTime.id">
                {{ chargeTime.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="chargeForm.controls.chargeTimeType.hasError('required')">
              {{'Product_Component.ChargesComponent.EditChargeComponent.errchargeTimeType'| translate}}<strong>{{'Product_Component.strongRequired'| translate }}</strong>
            </mat-error>

          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label>{{'Product_Component.ChargesComponent.EditChargeComponent.chargeCalculationType'| translate}}</mat-label>
            <mat-select required formControlName="chargeCalculationType">
              <mat-option *ngFor="let chargeCalculation of chargeCalculationTypeOptions" [value]="chargeCalculation.id">
                {{ chargeCalculation.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="chargeForm.controls.chargeCalculationType.hasError('required')">
              {{'Product_Component.ChargesComponent.EditChargeComponent.errchargeCalculationType'| translate}}<strong>{{'Product_Component.strongRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%" *ngIf="chargePaymentMode">
            <mat-label>{{'Product_Component.ChargesComponent.EditChargeComponent.chargePaymentMode'| translate}}</mat-label>
            <mat-select required formControlName="chargePaymentMode">
              <mat-option *ngFor="let chargePaymentMode of chargeData.chargePaymetModeOptions" [value]="chargePaymentMode.id">
                {{ chargePaymentMode.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="chargeForm.controls.chargePaymentMode.hasError('required')">
              {{'Product_Component.ChargesComponent.EditChargeComponent.errchargePaymentMode'| translate}}<strong>{{'Product_Component.strongRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label>{{'Product_Component.ChargesComponent.EditChargeComponent.Amount'| translate}}</mat-label>
            <input matInput currencyMask required autofocus type="text" formControlName="amount">
            <mat-error *ngIf="chargeForm.controls.amount.hasError('required')">
              {{'Product_Component.ChargesComponent.EditChargeComponent.errAmount'| translate}}<strong>{{'Product_Component.strongRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%" *ngIf="showGLAccount">
            <mat-label>{{'Product_Component.ChargesComponent.EditChargeComponent.incomeAccountId'| translate}}</mat-label>
            <mat-select required formControlName="incomeAccountId">
              <mat-option *ngFor="let income of chargeData.incomeOrLiabilityAccountOptions.incomeAccountOptions" [value]="income.id">
                {{ income.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="chargeForm.controls.incomeAccountId.hasError('required')">
              {{'Product_Component.ChargesComponent.EditChargeComponent.errincomeAccountId'| translate}}<strong>{{'Product_Component.strongRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label>{{'Product_Component.ChargesComponent.EditChargeComponent.chargeAppliesTo'| translate}}Tax Group</mat-label>
            <mat-select *ngIf="chargeData.taxGroup" required formControlName="taxGroupId">
              <mat-option *ngFor="let taxGroup of chargeData.taxGroupOptions" [value]="taxGroup.id">
                {{ taxGroup.name }}
              </mat-option>
            </mat-select>

            <mat-select *ngIf="!chargeData.taxGroup" required formControlName="taxGroupId">
              <mat-option value="?">
                {{'Product_Component.ChargesComponent.EditChargeComponent.taxGroupId'| translate}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div fxFlex="48%" class="password-never-expires-wrapper" *ngIf="addFeeFrequency" style="padding-top: 10px;">
            <mat-checkbox labelPosition="before" (change)="getFeeFrequency($event.checked)">
              {{'Product_Component.ChargesComponent.EditChargeComponent.AddFeeFrequency'| translate}}
            </mat-checkbox>
          </div>

          <mat-form-field fxFlex="48%" *ngIf="addFeeFrequency && showFeeOptions">
            <mat-label>{{'Product_Component.ChargesComponent.EditChargeComponent.ChargeFrequency'| translate}}</mat-label>
            <mat-select required formControlName="feeFrequency">
              <mat-option *ngFor="let chargeFrequency of chargeData.feeFrequencyOptions" [value]="chargeFrequency.id">
                {{ chargeFrequency.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="chargeForm.controls.feeFrequency.hasError('required')">
              {{'Product_Component.ChargesComponent.EditChargeComponent.errChargeFrequency'| translate}}<strong>{{'Product_Component.strongRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%" *ngIf="addFeeFrequency && showFeeOptions">
            <mat-label>{{'Product_Component.ChargesComponent.EditChargeComponent.feeInterval'| translate}}</mat-label>
            <input matInput required autofocus type="text" formControlName="feeInterval" required>
            <mat-error *ngIf="chargeForm.controls.feeInterval.hasError('required')">
              {{'Product_Component.ChargesComponent.EditChargeComponent.errfeeInterval'| translate}}<strong>{{'Product_Component.strongRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>


        </div>

        <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column" style="margin-top:10px;">
          <div fxFlex="48%" class="password-never-expires-wrapper">
            <mat-checkbox labelPosition="before" formControlName="active">
              {{'Product_Component.ChargesComponent.EditChargeComponent.Active'| translate}}
            </mat-checkbox>
          </div>

          <div fxFlex="48%" class="send-password-to-email-wrapper" *ngIf="showPenalty">
            <mat-checkbox labelPosition="before" formControlName="penalty">
              {{'Product_Component.ChargesComponent.EditChargeComponent.penalty'| translate}}
            </mat-checkbox>
          </div>

        </div>

      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../']">{{ "ShareButton.CancelEng" | translate }}</button>
        <button mat-raised-button color="primary" [disabled]="!chargeForm.valid" *midasHasPermission="'UPDATE_CHARGE'">{{ "ShareButton.Submit" | translate }}</button>
      </mat-card-actions>

    </form>

  </mat-card>

</div>
