<h1 mat-dialog-title>{{ "Transactions.Dialog.AddRowCreateBatchTransaction.title" | translate }}</h1>
<div mat-dialog-content [formGroup]="formDialog">
  <div fxLayout="row swap"
       fxLayoutAlign.lt-sm="center"
       fxLayoutGap="2%"
       fxLayout.lt-sm="column">
    <mat-form-field fxFlex="30%" *ngIf="formDialog.contains('productId')" class="input_custom">
      <mat-label>{{ "Transactions.Dialog.AddRowCreateBatchTransaction.productId" | translate }}</mat-label>
      <mat-select required formControlName="productId">
        <mat-option *ngFor="let type of optionsProducts"
                    [value]="type.value">
          {{type.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex="30%" *ngIf="formDialog.contains('rate')">
      <mat-label>{{ "Transactions.Dialog.AddRowCreateBatchTransaction.rate" | translate }} </mat-label>
      <input
        matInput
        required
        formControlName="rate">
      <mat-error *ngIf="formDialog.controls.rate.hasError('required')">
        {{ "Transactions.Dialog.AddRowCreateBatchTransaction.alert" | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="30%" *ngIf="formDialog.contains('amount')">
      <mat-label>{{ "Transactions.Dialog.AddRowCreateBatchTransaction.amount" | translate }} </mat-label>
      <input
        matInput
        required
        currencyMask
        formControlName="amount">
      <mat-error *ngIf="formDialog.controls.amount.hasError('required')">
        {{ "Transactions.Dialog.AddRowCreateBatchTransaction.alert" | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="30%" *ngIf="formDialog.contains('terminalId')" class="input_custom">
      <mat-label>{{ "Transactions.Dialog.AddRowCreateBatchTransaction.terminalId" | translate }}</mat-label>
      <mat-select required formControlName="terminalId">
        <mat-option *ngFor="let type of terminals"
                    [value]="type.terminalId">
          {{type.terminalName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="30%" *ngIf="formDialog.contains('requestAmount')">
      <mat-label>{{ "Transactions.Dialog.AddRowCreateBatchTransaction.requestAmount" | translate }}</mat-label>
      <input
        matInput
        required
        currencyMask
        readonly
        formControlName="requestAmount">
      <mat-error *ngIf="formDialog.controls.requestAmount.hasError('required')">
        {{ "Transactions.Dialog.AddRowCreateBatchTransaction.alert" | translate }}
      </mat-error>
    </mat-form-field>


    <mat-form-field fxFlex="30%" *ngIf="formDialog.contains('amountTransaction')">
      <mat-label>{{ "Transactions.Dialog.AddRowCreateBatchTransaction.amountTransaction" | translate }}</mat-label>
      <input
        matInput
        required
        currencyMask
        formControlName="amountTransaction">
      <mat-error *ngIf="formDialog.controls.amountTransaction.hasError('required')">
        {{ "Transactions.Dialog.AddRowCreateBatchTransaction.alert" | translate }}
      </mat-error>
    </mat-form-field>


    <mat-form-field fxFlex="30%" *ngIf="formDialog.contains('fee')">
      <mat-label>{{ "Transactions.Dialog.AddRowCreateBatchTransaction.fee" | translate }}</mat-label>
      <input
        matInput
        required
        readonly
        currencyMask
        formControlName="fee">
      <mat-error *ngIf="formDialog.controls.fee.hasError('required')">
        {{ "Transactions.Dialog.AddRowCreateBatchTransaction.alert" | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="30%" *ngIf="formDialog.contains('fee')">
      <mat-label>{{ "Transactions.Dialog.AddRowCreateBatchTransaction.fee2" | translate }}</mat-label>
      <input
        matInput
        required
        formControlName="fee">
      <mat-error *ngIf="formDialog.controls.fee.hasError('required')">
        {{ "Transactions.Dialog.AddRowCreateBatchTransaction.alert" | translate }}
      </mat-error>
    </mat-form-field>


    <mat-form-field fxFlex="30%" *ngIf="formDialog.contains('batchNo')">
      <mat-label>{{ "Transactions.Dialog.AddRowCreateBatchTransaction.batchNo" | translate }}</mat-label>
      <input
        matInput
        required
        formControlName="batchNo">
      <mat-error *ngIf="formDialog.controls.batchNo.hasError('required')">
        {{ "Transactions.Dialog.AddRowCreateBatchTransaction.alert" | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="30%" *ngIf="formDialog.contains('tid')">
      <mat-label>{{ "Transactions.Dialog.AddRowCreateBatchTransaction.tid" | translate }}</mat-label>
      <input
        matInput
        required
        formControlName="tid">
      <mat-error *ngIf="formDialog.controls.tid.hasError('required')">
        {{ "Transactions.Dialog.AddRowCreateBatchTransaction.alert" | translate }}
      </mat-error>
    </mat-form-field>


    <mat-form-field fxFlex="30%" *ngIf="formDialog.contains('terminalAmount')">
      <mat-label>{{ "Transactions.Dialog.AddRowCreateBatchTransaction.terminalAmount" | translate }}</mat-label>
      <input
        matInput
        required
        currencyMask
        formControlName="terminalAmount">
      <mat-error *ngIf="formDialog.controls.terminalAmount.hasError('required')">
        {{ "Transactions.Dialog.AddRowCreateBatchTransaction.alert" | translate }}
      </mat-error>
    </mat-form-field>

  </div>
</div>
<mat-dialog-actions align="end">
  <button mat-raised-button
          (click)="dialogRef.close({status:false})"
  >{{'Shared_Component.DeleteDialog.buttonCancel'|translate}}</button>
  <button mat-raised-button color="warn"
          (click)="submitForm()"
  >{{'Shared_Component.DeleteDialog.buttonConfirm'|translate}}</button>
  <!--  [mat-dialog-close]="{ file: true }"-->
</mat-dialog-actions>
