<form [formGroup]="smsCampaignDetailsForm">

  <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column" fxLayoutAlign.gt-sm="start center">

    <mat-form-field fxFlex="48%">
      <mat-label>{{'Organization.SmsCampaigns.SmsStepper.SmsStep.campaignName'| translate }}</mat-label>
      <input matInput formControlName="campaignName" required>
      <mat-error>
        {{'Organization.SmsCampaigns.SmsStepper.SmsStep.errcampaignName'| translate }}<strong>{{'Organization.strongRequired'| translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="48%"
      *ngIf="!smsCampaignDetailsForm.controls.isNotification.value">
      <mat-label>{{'Organization.SmsCampaigns.SmsStepper.SmsStep.providerId'| translate }}</mat-label>
      <mat-select formControlName="providerId">
        <mat-option *ngFor="let provider of smsProviders" [value]="provider.id">
          {{ provider.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>{{'Organization.SmsCampaigns.SmsStepper.SmsStep.triggerType'| translate }}</mat-label>
      <mat-select formControlName="triggerType" required>
        <mat-option *ngFor="let triggerType of triggerTypes" [value]="triggerType.id">
          {{ triggerType.value }}
        </mat-option>
      </mat-select>
      <mat-error>
        {{'Organization.SmsCampaigns.SmsStepper.SmsStep.errtriggerType'| translate }}<strong>{{'Organization.strongRequired'| translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-checkbox labelPosition="before" formControlName="isNotification" fxFlex="48%">
      {{'Organization.SmsCampaigns.SmsStepper.SmsStep.isNotification'| translate }}
    </mat-checkbox>

    <mat-form-field fxFlex="48%"
      *ngIf="smsCampaignDetailsForm.contains('recurrenceStartDate')">
      <mat-label>{{'Organization.SmsCampaigns.SmsStepper.SmsStep.recurrenceStartDate'| translate }}</mat-label>
      <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="recurrenceStartDatePicker"
        formControlName="recurrenceStartDate" required>
      <mat-datepicker-toggle matSuffix [for]="recurrenceStartDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #recurrenceStartDatePicker></mat-datepicker>
      <mat-error>
        {{'Organization.SmsCampaigns.SmsStepper.SmsStep.errrecurrenceStartDate'| translate }}<strong>{{'Organization.strongRequired'| translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="48%"
      *ngIf="smsCampaignDetailsForm.contains('frequency')">
      <mat-label>{{'Organization.SmsCampaigns.SmsStepper.SmsStep.Repeats'| translate }}</mat-label>
      <mat-select formControlName="frequency" required>
        <mat-option [value]="1">{{'Organization.SmsCampaigns.SmsStepper.SmsStep.Daily'| translate }}</mat-option>
        <mat-option [value]="2">{{'Organization.SmsCampaigns.SmsStepper.SmsStep.Weekly'| translate }}</mat-option>
        <mat-option [value]="3">{{'Organization.SmsCampaigns.SmsStepper.SmsStep.Monthly'| translate }}</mat-option>
        <mat-option [value]="4">{{'Organization.SmsCampaigns.SmsStepper.SmsStep.Yearly'| translate }}</mat-option>
      </mat-select>
      <mat-error>
        {{'Organization.SmsCampaigns.SmsStepper.SmsStep.RepetitionFrequency'| translate }}<strong>{{'Organization.strongRequired'| translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="48%"
      *ngIf="smsCampaignDetailsForm.contains('interval')">
      <mat-label>{{'Organization.SmsCampaigns.SmsStepper.SmsStep.interval'| translate }}</mat-label>
      <mat-select formControlName="interval" required>
        <mat-option *ngFor="let interval of repetitionIntervals" [value]="interval">
          {{ interval }}
        </mat-option>
      </mat-select>
      <mat-error>
        {{'Organization.SmsCampaigns.SmsStepper.SmsStep.errinterval'| translate }}<strong>{{'Organization.strongRequired'| translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="48%"
      *ngIf="smsCampaignDetailsForm.contains('repeatsOnDay')">
      <mat-label>{{'Organization.SmsCampaigns.SmsStepper.SmsStep.repeatsOnDay'| translate }}</mat-label>
      <mat-select formControlName="repeatsOnDay" required>
        <mat-option value="1">{{'Organization.SmsCampaigns.SmsStepper.SmsStep.Monday'| translate }}</mat-option>
        <mat-option value="2">{{'Organization.SmsCampaigns.SmsStepper.SmsStep.Tuesday'| translate }}</mat-option>
        <mat-option value="3">{{'Organization.SmsCampaigns.SmsStepper.SmsStep.Wednesday'| translate }}</mat-option>
        <mat-option value="4">{{'Organization.SmsCampaigns.SmsStepper.SmsStep.Thursday'| translate }}</mat-option>
        <mat-option value="5">{{'Organization.SmsCampaigns.SmsStepper.SmsStep.Friday'| translate }}</mat-option>
        <mat-option value="6">{{'Organization.SmsCampaigns.SmsStepper.SmsStep.Saturday'| translate }}</mat-option>
        <mat-option value="7">{{'Organization.SmsCampaigns.SmsStepper.SmsStep.Sunday'| translate }}</mat-option>
      </mat-select>
      <mat-error>
        {{'Organization.SmsCampaigns.SmsStepper.SmsStep.Atleast'| translate }}
        <strong>{{'Organization.SmsCampaigns.SmsStepper.SmsStep.one'| translate }}</strong>
        {{'Organization.SmsCampaigns.SmsStepper.SmsStep.alert'| translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>{{'Organization.SmsCampaigns.SmsStepper.SmsStep.runReportId'| translate }}</mat-label>
      <mat-select formControlName="runReportId" required>
        <mat-option *ngFor="let rule of businessRules" [value]="rule.reportId">
          {{ rule.reportName }}
        </mat-option>
      </mat-select>
      <mat-error>
        {{'Organization.SmsCampaigns.SmsStepper.SmsStep.errrunReportId'| translate }}<strong>{{'Organization.strongRequired'| translate }}</strong>
      </mat-error>
    </mat-form-field>

  </div>

  <div fxLayout="row" class="margin-t" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="2%"
    *ngIf="!smsCampaignDetailsForm.controls.runReportId.value">
    <button mat-raised-button matStepperPrevious disabled>
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;&nbsp;
      {{ "ShareButton.PreviousEng" | translate }}
    </button>
    <button mat-raised-button matStepperNext>
      {{ "ShareButton.NextEng" | translate }}&nbsp;&nbsp;
      <fa-icon icon="arrow-right"></fa-icon>
    </button>
  </div>

  <mifosx-business-rule-parameters
    *ngIf="smsCampaignDetailsForm.controls.runReportId.value"
    [paramData]="paramData"
    (templateParameters)="passParameters($event)"
  >
  </mifosx-business-rule-parameters>

</form>
