<div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column" class="container m-b-20">
  <span *midasHasPermission="'CREATE_GLACCOUNT'">
    <button mat-raised-button color="primary" *ngIf="glAccount.usage.value === 'HEADER'" [routerLink]="['/accounting/chart-of-accounts/gl-accounts/create']" [queryParams]="{ parent: glAccount.id, accountType: glAccount.type.id }">
      <fa-icon icon="plus"></fa-icon>&nbsp;&nbsp;
      {{ "Accounting.ChartOfAccounts.ViewGlAccountComponent.btnSubledgerAccount" | translate }}
    </button>
  </span>
  <span *midasHasPermission="'UPDATE_GLACCOUNT'">
    <button mat-raised-button color="primary" [routerLink]="['edit']">
      <fa-icon icon="edit"></fa-icon>&nbsp;&nbsp;
      {{ "Accounting.ChartOfAccounts.ViewGlAccountComponent.btnEdit" | translate }}
    </button>
  </span>
  <span *midasHasPermission="'UPDATE_GLACCOUNT'">
    <button mat-raised-button color="warn" *ngIf="!glAccount.disabled" (click)="changeGlAccountState()">
      <fa-icon icon="lock"></fa-icon>&nbsp;&nbsp;
      {{ "Accounting.ChartOfAccounts.ViewGlAccountComponent.btnDisable" | translate }}
    </button>
  </span>
  <span *midasHasPermission="'UPDATE_GLACCOUNT'">
    <button mat-raised-button color="accent" *ngIf="glAccount.disabled" (click)="changeGlAccountState()">
      <fa-icon icon="lock-open"></fa-icon>&nbsp;&nbsp;
      {{ "Accounting.ChartOfAccounts.ViewGlAccountComponent.btnEnable" | translate }}
    </button>
  </span>
  <button mat-raised-button color="warn" (click)="deleteGlAccount()" *midasHasPermission="'DELETE_GLACCOUNT'">
    <fa-icon icon="trash"></fa-icon>&nbsp;&nbsp;
    {{ "Accounting.ChartOfAccounts.ViewGlAccountComponent.btnDelete" | translate }}
  </button>
</div>

<div class="container">

  <mat-card>

    <mat-card-content>

      <div fxLayout="row wrap" class="content">

        <div fxFlex="50%" class="header">
          {{ "Accounting.ChartOfAccounts.ViewGlAccountComponent.type" | translate }}
        </div>

        <div fxFlex="50%">
          {{ glAccount.type?.value }}
        </div>

        <div fxFlex="50%" class="header">
          {{ "Accounting.ChartOfAccounts.ViewGlAccountComponent.glCode" | translate }}
        </div>

        <div fxFlex="50%">
          {{ glAccount.glCode }}
        </div>

        <div fxFlex="50%" class="header" *ngIf="glAccount.parent">
          {{ "Accounting.ChartOfAccounts.ViewGlAccountComponent.parent" | translate }}
        </div>

        <div fxFlex="50%" *ngIf="glAccount.parent">
          {{ glAccount.parent.name }}
        </div>

        <div fxFlex="50%" class="header" *ngIf="glAccount.tagId.id">
          {{ "Accounting.ChartOfAccounts.ViewGlAccountComponent.tagId" | translate }}
        </div>

        <div fxFlex="50%" *ngIf="glAccount.tagId.id">
          {{ glAccount.tagId.name }}
        </div>

        <div fxFlex="50%" class="header">
          {{ "Accounting.ChartOfAccounts.ViewGlAccountComponent.usage" | translate }}
        </div>

        <div fxFlex="50%">
          {{ glAccount.usage?.value }}
        </div>

        <div fxFlex="50%" class="header">
          {{ "Accounting.ChartOfAccounts.ViewGlAccountComponent.manualEntriesAllowed" | translate }}
        </div>

        <div fxFlex="50%">
          {{ glAccount.manualEntriesAllowed }}
        </div>

        <div fxFlex="50%" class="header" *ngIf="glAccount.description">
          {{ "Accounting.ChartOfAccounts.ViewGlAccountComponent.description" | translate }}
        </div>

        <div fxFlex="50%" *ngIf="glAccount.description">
          {{ glAccount.description }}
        </div>

      </div>

    </mat-card-content>

  </mat-card>

</div>
