<div class="container m-b-20" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="end" fxLayoutGap="2%">
  <button mat-raised-button color="primary" [routerLink]="['edit']" *midasHasPermission="'UPDATE_TAXCOMPONENT'">
    <fa-icon icon="edit"></fa-icon>&nbsp;&nbsp;
    {{ "ShareButton.Edit" | translate }}
  </button>
</div>

<div class="container">

  <mat-card>

    <mat-card-content>

      <div fxLayout="row wrap" class="content">

        <div fxFlex="50%" class="mat-body-strong">
          {{'Product_Component.ManageTax.View.Name'| translate}}
        </div>

        <div fxFlex="50%">
          {{ taxComponentData.name }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'Product_Component.ManageTax.View.Percentage'| translate}}
        </div>

        <div fxFlex="50%">
          {{ taxComponentData.percentage }}
        </div>

        <div fxFlex="50%" class="mat-body-strong" *ngIf="taxComponentData.debitAccountType">
          {{'Product_Component.ManageTax.View.debitAccountType'| translate}}
        </div>

        <div fxFlex="50%" *ngIf="taxComponentData.debitAccountType">
          {{ taxComponentData.debitAccountType.value }}
        </div>

        <div fxFlex="50%" class="mat-body-strong" *ngIf="taxComponentData.debitAccount">
          {{'Product_Component.ManageTax.View.debitAccount'| translate}}
        </div>

        <div fxFlex="50%" *ngIf="taxComponentData.debitAccount">
          {{ taxComponentData.debitAccount.name}}
        </div>

        <div fxFlex="50%" class="mat-body-strong" *ngIf="taxComponentData.creditAccountType">
          {{'Product_Component.ManageTax.View.creditAccountType'| translate}}
        </div>

        <div fxFlex="50%" *ngIf="taxComponentData.creditAccountType">
          {{ taxComponentData.creditAccountType.value }}
        </div>

        <div fxFlex="50%" class="mat-body-strong" *ngIf="taxComponentData.creditAccount">
          {{'Product_Component.ManageTax.View.creditAccount'| translate}}
        </div>

        <div fxFlex="50%" *ngIf="taxComponentData.creditAccount">
          {{ taxComponentData.creditAccount.name }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'Product_Component.ManageTax.View.startDate'| translate}}
        </div>

        <div fxFlex="50%">
          {{ taxComponentData.startDate | date }}
        </div>

      </div>

    </mat-card-content>

  </mat-card>

</div>
