<div class="container">

  <mat-card>

    <form (ngSubmit)="submit()">

      <mat-card-content>

        <div>

          <p class="mat-typography confirm-text">
            {{'Shares.Actions.UndoApprovalSharesAccount.ask'| translate}}{{accountId}} ?
          </p>

        </div>

      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../../']">{{ "ShareButton.CancelEng" | translate }}</button>
        <button mat-raised-button color="warn">{{ "ShareButton.ConfirmEng" | translate }}</button>
      </mat-card-actions>

    </form>

  </mat-card>

</div>
