<div *ngIf="!data.reverted; else reverted">

  <h1 mat-dialog-title>Revert Transaction</h1>
  <div mat-dialog-content>
    <p>{{ "Accounting.RevertTransactionComponent.p" | translate }}</p>
    <mat-form-field fxFlexFill>
      <mat-label>{{ "Accounting.RevertTransactionComponent.comments" | translate }}</mat-label>
      <textarea matInput [formControl]="comments"></textarea>
    </mat-form-field>
  </div>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>No</button>
    <button mat-button [mat-dialog-close]="{ revert: true, comments: comments.value }">Yes</button>
  </mat-dialog-actions>

</div>

<ng-template #reverted>

    <h1 mat-dialog-title>{{ "Accounting.RevertTransactionComponent.h1" | translate }}</h1>
    <div mat-dialog-content>
      <h4>{{ "Accounting.RevertTransactionComponent.h4" | translate }}</h4>
      <p>{{ "Accounting.RevertTransactionComponent.p_2" | translate }}</p>
      <p>{{ "Accounting.RevertTransactionComponent.p_3" | translate }} {{ data.transactionId }}</p>
    </div>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>{{ "ShareButton.CloseEng" | translate }}</button>
      <button mat-button [mat-dialog-close]="{ redirect: true }">{{ "Accounting.RevertTransactionComponent.btnRedirectToNewTransaction" | translate }}</button>
    </mat-dialog-actions>

</ng-template>
