<div class="container">

  <mat-card>

    <form [formGroup]="editAdhocQueryForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div fxLayout="column">

          <mat-form-field>
            <mat-label>{{'Organization.AdhocQuery.Edit.name'| translate }}</mat-label>
            <input matInput required formControlName="name">
            <mat-error *ngIf="editAdhocQueryForm.controls.name.hasError('required')">
              {{'Organization.AdhocQuery.Edit.errname'| translate }}<strong>{{'Organization.strongRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{'Organization.AdhocQuery.Edit.query'| translate }}</mat-label>
            <textarea matInput required formControlName="query"></textarea>
            <mat-error *ngIf="editAdhocQueryForm.controls.query.hasError('required')">
              {{'Organization.AdhocQuery.Edit.errquery'| translate }}<strong>{{'Organization.strongRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{'Organization.AdhocQuery.Edit.tableName'| translate }}</mat-label>
            <input matInput required formControlName="tableName">
            <mat-error *ngIf="editAdhocQueryForm.controls.tableName.hasError('required')">
              {{'Organization.AdhocQuery.Edit.errtableName'| translate }}<strong>{{'Organization.strongRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{'Organization.AdhocQuery.Edit.tableFields'| translate }}</mat-label>
            <textarea matInput required formControlName="tableFields"></textarea>
            <mat-error *ngIf="editAdhocQueryForm.controls.tableFields.hasError('required')">
              {{'Organization.AdhocQuery.Edit.errtableFields'| translate }}<strong>{{'Organization.strongRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{'Organization.AdhocQuery.Edit.email'| translate }}</mat-label>
            <input matInput formControlName="email">
            <mat-error *ngIf="editAdhocQueryForm.controls.email.hasError('email')">
              {{'Organization.AdhocQuery.Edit.erremail'| translate }}<strong>{{'Organization.strongRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{'Organization.AdhocQuery.Edit.reportRunFrequency'| translate }}</mat-label>
            <mat-select formControlName="reportRunFrequency">
              <mat-option *ngFor="let reportRunFrequency of reportRunFrequencyData" [value]="reportRunFrequency.id">
                {{ reportRunFrequency.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="editAdhocQueryForm.controls.reportRunFrequency.value === 5">
            <mat-label>{{'Organization.AdhocQuery.Edit.reportRunEvery'| translate }}</mat-label>
            <input type="number" matInput required formControlName="reportRunEvery">
            <mat-error *ngIf="editAdhocQueryForm.controls.reportRunEvery.hasError('required')">
              {{'Organization.AdhocQuery.Edit.errreportRunEvery'| translate }}<strong>{{'Organization.strongRequired'| translate }}</strong>
            </mat-error>
            <mat-error *ngIf="editAdhocQueryForm.controls.reportRunEvery.hasError('min')">
              {{'Organization.AdhocQuery.Edit.errreportRunEvery2'| translate }}<strong>{{'Organization.AdhocQuery.Edit.strongLangerThan0'| translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-checkbox labelPosition="before" formControlName="isActive">
            {{'Organization.AdhocQuery.Edit.isActive'| translate }}
          </mat-checkbox>

        </div>

      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../']">{{ "ShareButton.CancelEng" | translate }}</button>
        <button mat-raised-button color="primary" [disabled]="!editAdhocQueryForm.valid" *midasHasPermission="'UPDATE_ADHOC'">{{ "ShareButton.Submit" | translate }}</button>
      </mat-card-actions>

    </form>

  </mat-card>

</div>
