<div class="container">

  <div fxFlexFill>
    <span fxFlex="40%">{{'Loans.View.LoanTranche.maxOutstandingLoanBalance'| translate }}</span>
    <span fxFlex="60%">{{ loanDetails.maxOutstandingLoanBalance | number }}</span>
  </div>

  <h3> {{'Loans.View.LoanTranche.LoanTrancheDetails'| translate }}</h3>

  <div fxLayout="row" fxLayoutAlign="flex-end">
      <button mat-raised-button color="primary" *ngIf="showAddDeleteTrancheButtons('adddisbursedetails')">
        <fa-icon icon="plus"></fa-icon>&nbsp;&nbsp;{{'Loans.View.LoanTranche.btnAdd'| translate }}
      </button>
      <span class="delete-button">
        <button mat-raised-button color="warn" (click)="delete()" *ngIf="showAddDeleteTrancheButtons('deletedisbursedetails')">
          <fa-icon icon="trash"></fa-icon>&nbsp;&nbsp;{{'Loans.View.LoanTranche.btnDelete'| translate }}
        </button>
      </span>
  </div>

  <table mat-table [dataSource]="loanDetails.disbursementDetails" *ngIf="loanDetails.disbursementDetails.length>0">

    <ng-container matColumnDef="expected disbursement on">
      <th mat-header-cell *matHeaderCellDef> {{'Loans.View.LoanTranche.expectedDisbursementDate'| translate }} </th>
      <td mat-cell *matCellDef="let ele"> {{ ele.expectedDisbursementDate | date}} </td>
    </ng-container>

    <ng-container matColumnDef="disbursed on">
      <th mat-header-cell *matHeaderCellDef> {{'Loans.View.LoanTranche.DisbursedOn'| translate }} </th>
      <td mat-cell *matCellDef="let ele">
        <span *ngIf="ele.actualDisbursementDate">
          {{ ele.actualDisbursementDate | date }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="principal">
      <th mat-header-cell *matHeaderCellDef> {{'Loans.View.LoanTranche.Principal'| translate }} </th>
      <td mat-cell *matCellDef="let ele"> {{ ele.principal }} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> {{'Loans.View.LoanTranche.Actions'| translate }} </th>
      <td mat-cell *matCellDef="let ele">
        <span *ngIf="ele.actualDisbursementDate">
          <i class="fa fa-check "></i>
        </span>
        <button mat-raised-button color="primary" *ngIf="showEdit(ele)">
          <i class="fa fa-pencil"></i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="expectedDisbursementColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: expectedDisbursementColumns;"></tr>
  </table>

  <div *ngIf="loanDetails.emiAmountVariations.length > 0">

    <h3>{{'Loans.View.LoanTranche.InstallmentAmountVariations'| translate }} </h3>

    <table mat-table [dataSource]="loanDetails.emiAmountVariations">

      <ng-container matColumnDef="emi amount variation from">
        <th mat-header-cell *matHeaderCellDef> {{'Loans.View.LoanTranche.termVariationApplicableFrom'| translate }} </th>
        <td mat-cell *matCellDef="let ele"> {{ ele.termVariationApplicableFrom | date}} </td>
      </ng-container>

      <ng-container matColumnDef="fixed emi amount">
        <th mat-header-cell *matHeaderCellDef> {{'Loans.View.LoanTranche.termValue'| translate }} </th>
        <td mat-cell *matCellDef="let ele"> {{ ele.termValue }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="emivariationColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: emivariationColumns;"></tr>
    </table>
  </div>


</div>
