<div class="container">

  <mat-card>

    <form [formGroup]="adhocQueryForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div fxLayout="column">

          <mat-form-field>
            <mat-label>{{'Organization.AdhocQuery.Create.name'| translate }}</mat-label>
            <input matInput required formControlName="name">
            <mat-error *ngIf="adhocQueryForm.controls.name.hasError('required')">
              {{'Organization.AdhocQuery.errname'| translate }}<strong>{{'Organization.strongRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{'Organization.AdhocQuery.query'| translate }}</mat-label>
            <textarea matInput required formControlName="query"></textarea>
            <mat-error *ngIf="adhocQueryForm.controls.query.hasError('required')">
              {{'Organization.AdhocQuery.errquery'| translate }}<strong>{{'Organization.strongRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{'Organization.AdhocQuery.tableName'| translate }}</mat-label>
            <input matInput required formControlName="tableName">
            <mat-error *ngIf="adhocQueryForm.controls.tableName.hasError('required')">
              {{'Organization.AdhocQuery.errtableName'| translate }}<strong>{{'Organization.strongRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{'Organization.AdhocQuery.tableFields'| translate }}</mat-label>
            <textarea matInput required formControlName="tableFields"></textarea>
            <mat-error *ngIf="adhocQueryForm.controls.tableFields.hasError('required')">
              {{'Organization.AdhocQuery.errtableFields'| translate }}<strong>{{'Organization.strongRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{'Organization.AdhocQuery.email'| translate }}</mat-label>
            <input matInput formControlName="email">
            <mat-error *ngIf="adhocQueryForm.controls.email.hasError('email')">
              {{'Organization.AdhocQuery.erremail'| translate }}<strong>{{'Organization.AdhocQuery.invalid'| translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{'Organization.AdhocQuery.reportRunFrequency'| translate }}</mat-label>
            <mat-select formControlName="reportRunFrequency">
              <mat-option *ngFor="let reportRunFrequency of reportRunFrequencyData" [value]="reportRunFrequency.id">
                {{ reportRunFrequency.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="adhocQueryForm.controls.reportRunFrequency.value === 5">
            <mat-label>{{'Organization.AdhocQuery.reportRunEvery'| translate }}</mat-label>
            <input type="number" matInput required formControlName="reportRunEvery">
            <mat-error *ngIf="adhocQueryForm.controls.reportRunEvery.hasError('required')">
              {{'Organization.AdhocQuery.errreportRunEvery'| translate }}<strong>{{'Organization.strongRequired'| translate }}</strong>
            </mat-error>
            <mat-error *ngIf="adhocQueryForm.controls.reportRunEvery.hasError('min')">
              {{'Organization.AdhocQuery.errreportRunEvery2'| translate }}<strong>{{'Organization.AdhocQuery.strongAlert'| translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-checkbox labelPosition="before" formControlName="isActive">
            {{'Organization.AdhocQuery.isActive'| translate }}
          </mat-checkbox>

        </div>

      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../']">{{ "ShareButton.CancelEng" | translate }}</button>
        <button mat-raised-button color="primary" [disabled]="!adhocQueryForm.valid" *midasHasPermission="'CREATE_ADHOC'">{{ "ShareButton.Submit" | translate }}</button>
      </mat-card-actions>

    </form>

  </mat-card>

</div>
