<div class="container">

  <mat-card>

    <form [formGroup]="approveFixedDepositsAccountForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div fxLayout="column">

          <mat-form-field>
            <mat-label>{{ "Deposits.Fixed.Actions.Approve.approvedOnDate" | translate }}</mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="approvedOnDatePicker" required formControlName="approvedOnDate">
            <mat-datepicker-toggle matSuffix [for]="approvedOnDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #approvedOnDatePicker></mat-datepicker>
            <mat-error *ngIf="approveFixedDepositsAccountForm.controls.approvedOnDate.hasError('required')">
              {{ "Deposits.Fixed.Actions.Approve.errapprovedOnDate" | translate }}<strong>{{ "Deposits.strongRequired" | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{ "Deposits.Fixed.Actions.Approve.note" | translate }}</mat-label>
            <textarea matInput formControlName="note"></textarea>
          </mat-form-field>

        </div>

      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../../']">{{ "ShareButton.CancelEng" | translate }}</button>
        <button mat-raised-button color="accent" [disabled]="!approveFixedDepositsAccountForm">{{ "ShareButton.ConfirmEng" | translate }}</button>
      </mat-card-actions>

    </form>

  </mat-card>

</div>
