
.container-custom {
  max-width: 94rem;
  width: 97%;
  margin: 0 auto;
}

.mat-menu-panel {
  min-width: 50px;
  max-width: 280px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  max-height: calc(100vh - 48px);
  border-radius: 4px;
  outline: 0;
  min-height: 64px;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

.mat-row:nth-child(4n + 1) {
  background: #cef0f5 !important;
}
.mat-row:not(:nth-child(2n + 1)) {
  background-color:#fff !important;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.productId {
  background-color: #1fb050;
  border-radius: 10px;
  padding: 8px;
  color: white;
}
