<mat-card class="mat-elevation-z20 container-custom">
  <mat-card-content>
    <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column" [formGroup]="formDate">
      <mat-form-field fxFlex="31%">
        <mat-label>Từ ngày</mat-label>
        <input matInput [matDatepicker]="transactionDateFromPicker" formControlName="fromDate" />
        <mat-datepicker-toggle matSuffix [for]="transactionDateFromPicker"></mat-datepicker-toggle>
        <mat-datepicker #transactionDateFromPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field fxFlex="31%">
        <mat-label>Đến ngày</mat-label>
        <input matInput [matDatepicker]="transactionDateToPicker" formControlName="toDate" />
        <mat-datepicker-toggle matSuffix [for]="transactionDateToPicker"></mat-datepicker-toggle>
        <mat-datepicker #transactionDateToPicker></mat-datepicker>
      </mat-form-field>
      <div fxFlex="31%">
        <button
          *ngIf="fromDateAndToDate"
          (click)="getTransaction()"
          style="align-self: center"
          color="primary"
          mat-raised-button
        >
          Tìm kiếm &nbsp;<i class="fa fa-search" aria-hidden="true"></i>
        </button>
        <!-- <div fxFlex="18%">
          <button style="margin: 5px; height: 40px" (click)="openPDF()" color="primary" mat-raised-button>
            open PDF
          </button>
        </div> -->
        <h3 *ngIf="!fromDateAndToDate">
          Vui lòng chọn thời gian &nbsp; <i class="fa fa-calendar" style="align-self: center" aria-hidden="true"></i>
        </h3>

        <button
          *midasHasPermission="'POS_UPDATE'"
          (click)="submitTransactionUpToNow()"
          style="align-self: center; margin-left: 20px"
          color=""
          mat-raised-button
        >
          Chốt số &nbsp;<i class="fa fa-archive" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <div class="container" fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column"></div>
  </mat-card-content>
  <mat-card-content style="margin-top: 10px">
    <mat-card>
      <div fxLayout="row swap" fxLayoutAlign.lt-sm="center" fxLayoutGap="2%" fxLayout.lt-md="column">
        <div fxLayout="row" fxFlex="18%" class="export-item">
          <img src="assets/images/icons/transaction_total.svg" />
          <div fxLayout="column">
            <span class="money-total">{{ filterData?.length }}</span>
            <span>Tổng giao dịch </span>
          </div>
        </div>
        <div fxLayout="row wrap" fxFlex="20%" class="container m-b-20">
          <img src="assets/images/icons/money.svg" />
          <div style="display: flex" fxLayout="column">
            <span style="font-size: 20px; margin-top: 8px; padding-top: 5px">{{ totalTerminalAmount | money }}</span>
            <span>&nbsp;Tổng tiền giao dịch</span>
          </div>
        </div>
        <div fxLayout="row wrap" fxFlex="20%" class="container m-b-20">
          <img src="assets/images/icons/transaction.svg" />
          <div style="display: flex" fxLayout="column">
            <span style="font-size: 20px; margin-top: 8px; padding-top: 5px">{{ totalFeeAmount | money }}</span>
            <span>&nbsp;Phí thu được ({{ (totalFeeAmount / totalTerminalAmount) * 100 | number: "1.0-2" }}%)</span>
          </div>
        </div>
        <!-- <div fxLayout="row wrap" *midasHasPermission="'POS_UPDATE'" fxFlex="20%" class="container m-b-20">
          <img src="assets/images/icons/capital.svg" />
          <div style="display: flex" fxLayout="column">
            <span style="font-size: 20px; margin-top: 8px; padding-top: 5px">{{ totalCogsAmount | money }}</span>
            <span>&nbsp; SP vốn</span>
          </div>
        </div> -->
        <div *midasHasPermission="'POS_UPDATE'" fxLayout="row wrap" fxFlex="20%" class="container m-b-20">
          <img src="assets/images/icons/pnlAmount.svg" />
          <div style="display: flex" fxLayout="column">
            <span style="font-size: 20px; margin-top: 8px; padding-top: 5px">{{ totalPnlAmount | money }}</span>
            <span> &nbsp;PNL</span>
          </div>
        </div>
      </div>
    </mat-card>
  </mat-card-content>
  <mat-accordion>
    <mat-expansion-panel expanded="false" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title> Xem theo </mat-panel-title>
      </mat-expansion-panel-header>
      <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column" [formGroup]="formFilter">
        <mat-form-field fxFlex="18%" *midasHasPermission="'ALL_FUNCTIONS'">
          <mat-label>Chi nhánh</mat-label>
          <input placeholder="Tìm chi nhánh" formControlName="officeId"
            matInput
            (click)="this.resetAutoCompleteOffice()"
            [matAutocomplete]="officeAutocomplete"
          />
        </mat-form-field>

        <mat-autocomplete #officeAutocomplete="matAutocomplete" [displayWith]="displayOffice">
          <mat-option *ngFor="let office of officesOptions | async" [value]="office">
            {{ displayOffice(office) }}
          </mat-option>
        </mat-autocomplete>
        <mat-form-field fxFlex="18%">
          <mat-label>Loại gia dịch</mat-label>
          <mat-select formControlName="productId">
            <mat-option *ngFor="let type of transactionType" [value]="type.value">
              {{ type.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="18%">
          <mat-label>Trạng thái giao dịch</mat-label>
          <mat-select formControlName="status">
            <mat-option *ngFor="let type of statusOption" [value]="type.value">
              {{ type.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="18%">
          <mat-label>Đối tác</mat-label>
          <mat-select formControlName="partnerCode">
            <mat-option *ngFor="let type of partners" [value]="type.code">
              {{ type.desc }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="18%">
          <mat-label>Đại lý</mat-label>
          <input matInput formControlName="agencyName" />
        </mat-form-field>

        <mat-form-field fxFlex="18%">
          <mat-label>Khách hàng</mat-label>
          <input matInput formControlName="panHolderName" />
        </mat-form-field>

        <mat-form-field fxFlex="18%">
          <mat-label>Mã máy</mat-label>
          <input matInput formControlName="terminalId" />
          <!-- <mat-select formControlName="terminalId">
            <mat-option *ngFor="let terminal of terminals" [value]="terminal.terminalId">
              {{ terminal.terminalName }}
            </mat-option>
          </mat-select> -->
        </mat-form-field>

        <mat-form-field fxFlex="18%">
          <mat-label>Trace No</mat-label>
          <input matInput formControlName="traceNo" />
        </mat-form-field>

        <mat-form-field fxFlex="18%">
          <mat-label>Batch No</mat-label>
          <input matInput formControlName="batchNo" />
        </mat-form-field>

        <mat-form-field fxFlex="18%">
          <mat-label>Mã lô</mat-label>
          <input matInput formControlName="trnRefNo" />
        </mat-form-field>

        <mat-form-field fxFlex="18%">
          <mat-label>Tiền giao dịch</mat-label>
          <input matInput formControlName="terminalAmount" />
        </mat-form-field>

        <mat-form-field fxFlex="18%">
          <mat-label>Nhân viên</mat-label>
          <mat-select formControlName="userId">
            <mat-option *ngFor="let type of staffs" [value]="type.userId">
              {{ type.displayName }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div fxFlex="18%" fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">
          <mat-checkbox fxFlex="100%" labelPosition="before" formControlName="RetailsChoose" class="margin-v">
            Giao dịch lẻ
          </mat-checkbox>
          <mat-checkbox fxFlex="100%" labelPosition="before" formControlName="wholesaleChoose" class="margin-v">
            Giao dịch sỉ
          </mat-checkbox>
          <mat-checkbox fxFlex="100%" labelPosition="before" formControlName="holdTransaction" class="margin-v">
            Giao dịch treo
          </mat-checkbox>
        </div>

        <div fxFlex="18%">
          <button style="margin: 5px; height: 40px" (click)="exportTransaction()" color="primary" mat-raised-button>
            Export
          </button>
          <!-- <button style="margin: 5px; height: 40px" (click)="exportData()" color="primary" mat-raised-button>
            Export
          </button> -->

          <button
            style="margin: 5px; height: 40px"
            (click)="exportTransactionForPartner()"
            color="primary"
            mat-raised-button
          >
            Export Cho đối tác
          </button>

          <!-- <button style="margin: 5px; height: 40px" (click)="exportAsXLSX()" color="primary" mat-raised-button>
            Tải danh sách giao dịch
          </button> -->
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-card-content>
    <table
      id="transactionData"
      mat-table
      multiTemplateDataRows
      class="mat-elevation-z8"
      [dataSource]="dataSource"
      matSort
    >
      <ng-container matColumnDef="productId">
        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef mat-sort-header>Loại giao dịch</th>
        <td mat-cell fxHide fxShow.gt-md *matCellDef="let transaction" style="width: 100px">
          <span
            *ngIf="transaction.isHold != '0'"
            matBadge="Treo"
            matBadgePosition="after"
            matBadgeColor="accent"
            matBadgeSize="small"
          >
          </span>

          <span class="productId">
            {{ displayProductId(transaction.productId) }}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="txnDate">
        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef mat-sort-header>Ngày giao dịch</th>
        <td mat-cell fxHide fxShow.gt-md style="word-wrap: break-word; width: 150px" *matCellDef="let journalEntry">
          <span [ngSwitch]="journalEntry.status">
            <img *ngSwitchCase="'C'" src="assets/images/icons/check.svg" />
            <img *ngSwitchCase="'P'" src="assets/images/icons/pending.svg" />
            <img *ngSwitchCase="'V'" src="assets/images/icons/cancel.svg" />
            <img *ngSwitchDefault src="assets/images/icons/question.svg" />
          </span>
          {{ journalEntry.txnDate | date: "dd-MM-yyyy HH:mm:ss" }}
          <br />
          <span class="green_text">{{ journalEntry.trnRefNo }}</span>
          <br />
          <label class="red_text" *ngIf="checkB(journalEntry.type)">
            {{ journalEntry.type }}
          </label>
        </td>
      </ng-container>

      <ng-container matColumnDef="officeName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Người tạo / <br />
          máy bán hàng
        </th>
        <td mat-cell *matCellDef="let journalEntry" style="word-wrap: break-word; width: 200px">
          <!-- {{ journalEntry.officeName }} <br /> -->
          <span class="blue_text">{{ journalEntry.createdByName }} </span><br />
          <span class="red_text">{{ displayTerminalName(journalEntry.terminalId) }}</span><br />
          <span class="green_text">{{ journalEntry.officeName }} </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="panHolderName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Khách hàng</th>
        <td mat-cell *matCellDef="let journalEntry">
          {{ journalEntry.panHolderName }} <br />
          <span class="green_text">{{ journalEntry.agencyName == "#" ? "" : journalEntry.agencyName }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="panBank">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Thẻ /<br />
          Ngân hàng
        </th>
        <td mat-cell *matCellDef="let journalEntry">
          {{ journalEntry.panNumber.replace("XXX-XXX", "X") }} <br />
          <span class="blue_text">({{ journalEntry.panBank }})</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="terminalAmount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Số tiền giao dịch</th>
        <td mat-cell style="padding: 6px; text-align: right;" *matCellDef="let transaction" >
          {{ transaction.terminalAmount | money }}

          <span *midasHasPermission="'BILLER_HO'">
            <button title="Tải hóa đơn" mat-icon-button (click)="downloadVoucher(transaction.refid)" color="accent" >
              <i class="fa fa-file-invoice-dollar" style="font-size: 1.25rem;"></i>
            </button>
          </span>
          <br />
          <span
            *ngIf="transaction.isSubmit == 1"
            style="color: white; font-weight: bold; background-color: black;"

          >
          Đã chốt số
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="feeAmount">
        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef mat-sort-header>Phí thu được</th>
        <td mat-cell fxHide fxShow.gt-md *matCellDef="let journalEntry" style="padding: 6px; text-align: right;">
          <label>{{ journalEntry.feeAmount | money }}</label>
        </td>
      </ng-container>

      <ng-container matColumnDef="terminalAmount_feeAmount">
        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef mat-sort-header>Tỉ lệ phí</th>
        <td mat-cell fxHide fxShow.gt-md *matCellDef="let journalEntry" style="padding: 6px; text-align: right;">
          {{ journalEntry.terminalAmount_feeAmount | number }}%
        </td>
      </ng-container>

      <ng-container matColumnDef="pnlAmount">
        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef mat-sort-header>PNL</th>
        <td mat-cell fxHide fxShow.gt-md *matCellDef="let transaction" style="padding: 6px; text-align: right;">
          <span *midasHasPermission="'POS_UPDATE'">{{ transaction.pnlAmount | money }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions" style="width: 25px; text-align: right">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let transaction">
          <span
            style="float: right; width: 15px"
            [matMenuTriggerData]="transaction"
            [matMenuTriggerFor]="transactionMenu"
            (menuOpened)="menuOpened()"
            (menuClosed)="menuClosed()"
            ><i class="fa fa-ellipsis-v" aria-hidden="true"></i
          ></span>
        </td>
      </ng-container>
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell fxShow fxHide.gt-md *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="example-element-description" fxLayout="column">
              <div><span style="font-weight: bold"> Loại giao dịch :</span>&nbsp;{{ element.productId }}</div>
              <div>
                <span style="font-weight: bold"> Ngày giao dịch :</span>&nbsp; &nbsp;{{
                  element.txnDate | date: "dd-MM-yyyy HH:ss"
                }}
              </div>
              <div><span style="font-weight: bold"> Số giao dịch :</span>&nbsp; &nbsp;{{ element.trnRefNo }}</div>
              <div>
                <span style="font-weight: bold"> Trạng thái:</span>&nbsp; &nbsp;
                <span [ngSwitch]="element.status">
                  <img *ngSwitchCase="'C'" src="assets/images/icons/check.svg" />
                  <img *ngSwitchCase="'P'" src="assets/images/icons/pending.svg" />
                  <img *ngSwitchCase="'V'" src="assets/images/icons/cancel.svg" />
                  <img *ngSwitchDefault src="assets/images/icons/question.svg" />
                </span>
              </div>
              <div>
                <span style="font-weight: bold"> Phí thu được :</span>&nbsp; &nbsp;{{ element.feeAmount | money }}
              </div>
              <div><span style="font-weight: bold"> SP vốn :</span>&nbsp; &nbsp;{{ element.cogsAmount | money }}</div>
              <div *midasHasPermission="'POS_UPDATE'">
                <span style="font-weight: bold"> PNL :</span>&nbsp; &nbsp;{{ element.pnlAmount | money }}
              </div>
            </div>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: displayedColumns"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element"
      ></tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
  </mat-card-content>

  <mat-menu #transactionMenu="matMenu" [overlapTrigger]="false" style="width: 50px">
    <ng-template
      matMenuContent
      let-custId="custId"
      let-type="type"
      let-status="status"
      let-txnDate="txnDate"
      let-ext7="ext7"
      let-agencyId="agencyId"
      let-refid="refid"
      let-trnRefNo="trnRefNo"
      let-batchNo="batchNo"
      let-traceNo="traceNo"
      let-isHold="isHold"
      style="width: 50px"
      let-isSubmit="isSubmit"
    >
      <div *ngIf="isHold != '0'">
        <div *midasHasPermission="'POS_UPDATE'">
          <button *ngIf="status == 'C'" mat-menu-item (click)="updateIsHoldTransaction(trnRefNo, refid)">
            <i class="fa fa-anchor" aria-hidden="true"></i> &nbsp;Cập nhật tra soát
          </button>
        </div>
        <button
          mat-menu-item
          [routerLink]="['/transaction/batch-transaction/', agencyId]"
          [queryParams]="{ batchTxnName: type }"
          *ngIf="
            type != 'rollTerm' &&
            type != 'cash' &&
            status == 'C' &&
            (today | date: 'dd/MM/yyyy') == (txnDate | date: 'dd/MM/yyyy')
          "
        >
          <img src="assets/images/icons/next.svg" />&nbsp;Tiếp tục giao dịch
        </button>
        <button mat-menu-item [routerLink]="['/transaction', 'view']" [queryParams]="{ tranId: refid }">
          <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;Chi tiết
        </button>
      </div>
      <div *ngIf="isHold == '0'">
        <button
          mat-menu-item
          [routerLink]="['/transaction/batch-transaction/', agencyId]"
          [queryParams]="{ batchTxnName: type }"
          *ngIf="
            type != 'rollTerm' &&
            type != 'cash' &&
            status == 'C' &&
            (today | date: 'dd/MM/yyyy') == (txnDate | date: 'dd/MM/yyyy')
          "
        >
          <img src="assets/images/icons/next.svg" />&nbsp;Tiếp tục giao dịch
        </button>
        <button mat-menu-item [routerLink]="['/transaction', 'view']" [queryParams]="{ tranId: refid }">
          <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;Chi tiết
        </button>
        <button
          *midasHasPermission="'TRACE_BATCH_NO_UPDATE'"
          mat-menu-item
          (click)="addPosInformation(trnRefNo, batchNo, traceNo)"
        >
          <img src="assets/images/icons/add.svg" /> Cập nhật Thông tin bill nhiệt
        </button>
        <button mat-menu-item (click)="downloadVoucher(refid)">
          <img *ngIf="status != 'V'" src="assets/images/icons/order.svg" />&nbsp; Tải xuống hóa đơn
        </button>
        <hr />
        <button
          mat-menu-item
          *ngIf="
            status == 'V' &&
            type != 'rollTerm' &&
            (today | date: 'dd/MM/yyyy') == (txnDate | date: 'dd/MM/yyyy') &&
            isSubmit == 0
          "
          (click)="undoRevertTransaction(refid)"
        >
          <i class="fa fa-undo" aria-hidden="true"></i> &nbsp;Hoàn tác giao dịch
        </button>
        <button
          mat-menu-item
          *ngIf="status != 'V' && (today | date: 'dd/MM/yyyy') == (txnDate | date: 'dd/MM/yyyy') && isSubmit == 0"
          (click)="revertTransaction(refid, trnRefNo)"
        >
          <i class="fa fa-ban" aria-hidden="true"></i> &nbsp;Hủy giao dịch
        </button>
      </div>
    </ng-template>
  </mat-menu>
  <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center; background: white">
    <mat-progress-spinner color="warn" mode="indeterminate"> </mat-progress-spinner>
  </div>
  <mat-paginator
    paginator
    [length]="filterData?.length"
    [pageSize]="10"
    [pageSizeOptions]="[10, 25, 50, 100]"
    showFirstLastButtons
  ></mat-paginator>
</mat-card>
