<div class="container">

  <mat-card>

    <form [formGroup]="configurationForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div fxLayout="column">

          <mat-form-field>
            <mat-label>{{'System.GlobalConfigurationsComponent.EditConfigurationsComponent.name'| translate }}</mat-label>
            <input matInput required formControlName="name">
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{'System.GlobalConfigurationsComponent.EditConfigurationsComponent.value'| translate }}</mat-label>
            <input matInput required type="number" formControlName="value">
            <mat-error *ngIf="configurationForm.controls.value.hasError('required')">
              {{'System.GlobalConfigurationsComponent.EditConfigurationsComponent.errvalue'| translate }}<strong>{{'System.strongRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

        </div>

      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../../']"> {{ "ShareButton.CancelEng" | translate }} </button>
        <button mat-raised-button color="primary" [disabled]="configurationForm.pristine || !configurationForm.valid"> {{ "ShareButton.Submit" | translate }} </button>
      </mat-card-actions>

    </form>

  </mat-card>

</div>
