<div class="container">

  <table mat-table [dataSource]="originalScheduleDetails.periods" matSort>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Loans.View.OriginalSchedule.Date'| translate }} </th>
      <td mat-cell *matCellDef="let ele"> {{ ele.dueDate | date}} </td>
      <td mat-footer-cell *matFooterCellDef> <b> {{'Loans.View.OriginalSchedule.Total'| translate }}</b> </td>
    </ng-container>

    <ng-container matColumnDef="principalDue">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Loans.View.OriginalSchedule.principalDue'| translate }} </th>
      <td mat-cell *matCellDef="let ele"> {{ ele.principalDue | number }} </td>
      <td mat-footer-cell *matFooterCellDef> <b> {{ originalScheduleDetails.totalPrincipalExpected | number }} </b> </td>
    </ng-container>

    <ng-container matColumnDef="balanceOfLoan">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Loans.View.OriginalSchedule.balanceOfLoan'| translate }} </th>
      <td mat-cell *matCellDef="let ele"> {{ ele.principalLoanBalanceOutstanding | number }} </td>
      <td mat-footer-cell *matFooterCellDef> &nbsp; </td>
    </ng-container>

    <ng-container matColumnDef="interest">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Loans.View.OriginalSchedule.Interest'| translate }} </th>
      <td mat-cell *matCellDef="let ele"> {{ ele.interestOriginalDue | number}} </td>
      <td mat-footer-cell *matFooterCellDef> <b> {{ originalScheduleDetails.totalInterestCharged | number }} </b> </td>
    </ng-container>

    <ng-container matColumnDef="fees">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Loans.View.OriginalSchedule.Fees'| translate }} </th>
      <td mat-cell *matCellDef="let ele"> {{ ele.feeChargesDue | number}} </td>
      <td mat-footer-cell *matFooterCellDef> <b> {{ originalScheduleDetails.totalFeeChargesCharged | number }} </b> </td>
    </ng-container>

    <ng-container matColumnDef="penalties">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Loans.View.OriginalSchedule.Penalties'| translate }} </th>
      <td mat-cell *matCellDef="let ele"> {{ ele.penaltyChargesDue | number}} </td>
      <td mat-footer-cell *matFooterCellDef> <b> {{ originalScheduleDetails.totalPenaltyChargesCharged | number }} </b> </td>
    </ng-container>

    <ng-container matColumnDef="outstanding">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Loans.View.OriginalSchedule.Outstanding'| translate }} </th>
      <td mat-cell *matCellDef="let ele"> {{ ele.totalOutstandingForPeriod | number}} </td>
      <td mat-footer-cell *matFooterCellDef> <b> {{ originalScheduleDetails.totalRepaymentExpected | number }} </b> </td>
    </ng-container>

    <!-- Header row first group -->
    <ng-container matColumnDef="header">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="1"> </th>
    </ng-container>

    <!-- Header row second group -->
    <ng-container matColumnDef="header-amount">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> {{'Loans.View.OriginalSchedule.LoanAmountBalance'| translate }} </th>
    </ng-container>

    <ng-container matColumnDef="header-total-cost">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="3"> {{'Loans.View.OriginalSchedule.TotalCostLoan'| translate }}</th>
    </ng-container>

    <ng-container matColumnDef="header-installment-totals">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="1"> {{'Loans.View.OriginalSchedule.InstallmentTotals'| translate }} </th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['header', 'header-amount', 'header-total-cost', 'header-installment-totals']"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

  </table>

</div>
