<div class="tab-container mat-typography">
  <div class="container m-b-20" fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">
    <div fxFlex="18%" fxLayout="column wrap">
      <div fxLayout="row wrap" class="container m-b-20">
        <img src="assets/images/icons/income.svg" />
        <div style="display: flex" fxLayout="column">
          <span style="font-size: 20px; margin-top: 8px; padding-top: 5px">{{ totalDeposit | money }}</span>
          <span>{{ "Saving_Account_Component.tabTransactions.msgIncrease" | translate }}</span>
        </div>
      </div>
      <div fxLayout="row wrap" class="container m-b-20">
        <img src="assets/images/icons/withdraw_total.svg" />
        <div style="display: flex" fxLayout="column">
          <span style="font-size: 20px; margin-top: 8px; padding-top: 5px">{{ totalWithdraw | money }}</span>
          <span>{{ "Saving_Account_Component.tabTransactions.msgDecrease" | translate }}</span>
        </div>
      </div>
    </div>
    <div fxFlex="78%" fxLayout="column" fxLayoutAlign="start">
      <div class="container m-b-20" fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">
        <mat-form-field fxFlex="31%">
          <mat-label>{{ "Saving_Account_Component.tabTransactions.labelTransactionDateFrom" | translate }}</mat-label>
          <input matInput [matDatepicker]="transactionDateFromPicker" [formControl]="transactionDateFrom" />
          <mat-datepicker-toggle matSuffix [for]="transactionDateFromPicker"></mat-datepicker-toggle>
          <mat-datepicker #transactionDateFromPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field fxFlex="31%">
          <mat-label>{{ "Saving_Account_Component.tabTransactions.labelTransactionDateTo" | translate }}</mat-label>
          <input matInput [matDatepicker]="transactionDateToPicker" [formControl]="transactionDateTo" />
          <mat-datepicker-toggle matSuffix [for]="transactionDateToPicker"></mat-datepicker-toggle>
          <mat-datepicker #transactionDateToPicker></mat-datepicker>
        </mat-form-field>
        <div
          class="action-button"
          fxFlex="31%"
          fxLayoutAlign="end"
          style="height: 50px"
          fxLayout="row"
          fxLayoutGap="20px"
        >
          <button mat-raised-button (click)="getData()" color="primary">
            {{ "Saving_Account_Component.tabTransactions.btnSearch" | translate }}
          </button>
          <button mat-raised-button color="primary" (click)="downloadReport()">
            {{ "Saving_Account_Component.tabTransactions.btnExport" | translate }}
          </button>
        </div>
      </div>
      <div class="container m-b-20" [formGroup]="form" fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">
        <mat-form-field fxFlex="31%" *ngIf="form.contains('txnCode')">
          <mat-label>{{ "Saving_Account_Component.tabTransactions.lblTransactionType" | translate }}</mat-label>
          <mat-select formControlName="txnCode">
            <mat-option *ngFor="let type of transactionType" [value]="type.id">
              {{ type.name | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="31%">
          <mat-label>{{ "Saving_Account_Component.tabTransactions.lblTransactionType2" | translate }}</mat-label>
          <input formControlName="paymentDetail" matInput />
        </mat-form-field>
        <mat-form-field fxFlex="31%">
          <mat-label>{{ "Saving_Account_Component.tabTransactions.lblNote" | translate }}</mat-label>
          <input formControlName="note" matInput />
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="mat-elevation-z1 m-b-25">
    <mat-tab-group (selectedTabChange)="changeTabTransaction($event)">
      <mat-tab label="Giao dịch"> </mat-tab>
      <mat-tab label="Giao dịch hủy"> </mat-tab>
    </mat-tab-group>
    <table mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let transaction">{{ transaction.txnId }}</td>
      </ng-container>

      <ng-container matColumnDef="transactionDate">
        <th mat-header-cell *matHeaderCellDef>
          {{ "Saving_Account_Component.tabTransactions.lblTransactionDate" | translate }}
        </th>
        <td mat-cell *matCellDef="let transaction">{{ transaction.transactionDate | date }}</td>
      </ng-container>

      <ng-container matColumnDef="transactionType">
        <th mat-header-cell *matHeaderCellDef>
          {{ "Saving_Account_Component.tabTransactions.lblTransactionType" | translate }}
        </th>
        <td mat-cell *matCellDef="let transaction">
          <span style="text-align: center; display: flex" *ngIf="transaction.txnCode === 'D'"
            ><img src="assets/images/icons/deposit.svg" />
          </span>
          <span style="text-align: center; display: flex" *ngIf="transaction.txnCode === 'W'"
            ><img src="assets/images/icons/withdraw.svg" />
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="debit">
        <th mat-header-cell *matHeaderCellDef>
          {{ "Saving_Account_Component.tabTransactions.lblAmount" | translate }}
        </th>
        <td mat-cell *matCellDef="let transaction">{{ transaction.amount | money }}</td>
      </ng-container>

      <ng-container matColumnDef="credit">
        <th mat-header-cell *matHeaderCellDef>
          {{ "Saving_Account_Component.tabTransactions.lblProportional" | translate }}
        </th>
        <td mat-cell *matCellDef="let transaction">{{ transaction.balance | money }}</td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>
          {{ "Saving_Account_Component.tabTransactions.lblTransactionType2" | translate }}
        </th>
        <td mat-cell *matCellDef="let transaction">{{ transaction.paymentDetailId }}</td>
      </ng-container>

      <ng-container matColumnDef="note">
        <th mat-header-cell *matHeaderCellDef>{{ "Saving_Account_Component.tabTransactions.lblNote" | translate }}</th>
        <td mat-cell style="max-width: 200px" *matCellDef="let transaction">
          <span aria-multiline="true">{{ transaction.note }}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="actions" style="width: 25px">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let transaction">
          <span
            style="float: right; width: 15px"
            [matMenuTriggerData]="transaction"
            [matMenuTriggerFor]="transactionMenu"
            ><i class="fa fa-ellipsis-v" aria-hidden="true"></i
          ></span>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" class="select-row"></tr>
    </table>
    <mat-menu #transactionMenu="matMenu" [overlapTrigger]="false" style="width: 50px">
      <ng-template matMenuContent let-transferId="transferId" let-txnId="txnId" style="width: 50px">
        <button mat-menu-item (click)="showTransactions(transferId, txnId)">
          <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;Chi tiết
        </button>
        <button mat-menu-item (click)="updateTransaction(transferId, txnId)">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;Sửa giao dịch
        </button>
      </ng-template>
    </mat-menu>
    <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center; background: white">
      <mat-progress-spinner color="warn" mode="indeterminate"> </mat-progress-spinner>
    </div>
    <mat-paginator
      paginator
      [length]="totalTransactions"
      [pageSize]="10"
      [pageSizeOptions]="[10, 25, 50, 100]"
      (page)="getData()"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
