<div class="container">

    <div fxLayout="row wrap" fxLayout.lt-md="column">

        <div fxFlexFill>
            <span fxFlex="50%">{{'Loans.View.Account.transactionProcessingStrategyName'| translate }}</span>
            <span fxFlex="50%">{{ loanDetails.transactionProcessingStrategyName }}</span>
        </div>

        <div fxFlexFill>
            <span fxFlex="50%">{{'Loans.View.Account.Repayments'| translate }}</span>
            <span fxFlex="50%">{{loanDetails.numberOfRepayments}} every {{loanDetails.repaymentEvery}}&nbsp;{{loanDetails.repaymentFrequencyType.value}}
            <span *ngIf="loanDetails.repaymentFrequencyType?.id == 2 && loanDetails.repaymentFrequencyNthDayType?.id != 0 && loanDetails.repaymentFrequencyDayOfWeekType?.id != 0">
              &nbsp;on&nbsp;{{loanDetails.repaymentFrequencyNthDayType?.value}}&nbsp;{{loanDetails.repaymentFrequencyDayOfWeekType?.value}}
            </span>
            </span>
        </div>

        <div fxFlexFill>
            <span fxFlex="50%"> {{'Loans.View.Account.amortizationType'| translate }} </span>
            <span fxFlex="50%"> {{loanDetails.amortizationType.value}} </span>
        </div>

        <div fxFlexFill>
            <span fxFlex="50%"> {{'Loans.View.Account.isEqualAmortization'| translate }} </span>
            <span fxFlex="50%"> {{loanDetails.isEqualAmortization}} </span>
        </div>

        <div fxFlexFill>
            <span fxFlex="50%"> {{'Loans.View.Account.annualInterestRate'| translate }} </span>
            <span fxFlex="50%"> {{loanDetails.annualInterestRate}} per annum ({{loanDetails.interestRatePerPeriod}}%&nbsp; {{loanDetails.interestRateFrequencyType.value}}) - {{loanDetails.interestType.value}} </span>
        </div>

        <div fxFlexFill>
            <span fxFlex="50%"> {{'Loans.View.Account.graceOnPrincipalPayment'| translate }}</span>
            <span fxFlex="50%"> {{loanDetails.graceOnPrincipalPayment}} </span>
        </div>

        <div fxFlexFill>
            <span fxFlex="50%"> {{'Loans.View.Account.graceOnInterestPayment'| translate }}</span>
            <span fxFlex="50%"> {{loanDetails.graceOnInterestPayment}} </span>
        </div>

        <div fxFlexFill>
            <span fxFlex="50%"> {{'Loans.View.Account.graceOnArrearsAgeing'| translate }}</span>
            <span fxFlex="50%"> {{loanDetails.graceOnArrearsAgeing}} </span>
        </div>

        <div fxFlexFill>
            <span fxFlex="50%"> {{'Loans.View.Account.fundName'| translate }}</span>
            <span fxFlex="50%"> {{loanDetails.fundName}} </span>
        </div>

        <div fxFlexFill>
            <span fxFlex="50%"> {{'Loans.View.Account.graceOnInterestCharged'| translate }}</span>
            <span fxFlex="50%"> {{loanDetails.graceOnInterestCharged}} </span>
        </div>

        <div fxFlexFill>
            <span fxFlex="50%"> {{'Loans.View.Account.interestCalculationPeriodType'| translate }}</span>
            <span fxFlex="50%"> {{loanDetails.interestCalculationPeriodType.value}} </span>
        </div>

        <div fxFlexFill>
            <span fxFlex="50%"> {{'Loans.View.Account.allowPartialPeriodInterestCalcualtion'| translate }}</span>
            <span fxFlex="50%"> {{loanDetails.allowPartialPeriodInterestCalcualtion}} </span>
        </div>

        <div fxFlexFill>
            <span fxFlex="50%"> {{'Loans.View.Account.interestType'| translate }}</span>
            <span fxFlex="50%"> {{loanDetails.interestType.value}} </span>
        </div>

        <div fxFlexFill>
            <span fxFlex="50%"> {{'Loans.View.Account.submittedOnDate'| translate }}</span>
            <span fxFlex="50%"> {{loanDetails.timeline.submittedOnDate | date }} </span>
        </div>

        <div fxFlexFill>
            <span fxFlex="50%"> {{'Loans.View.Account.approvedOnDate'| translate }}</span>
            <span fxFlex="50%"> {{loanDetails.timeline.approvedOnDate | date }} </span>
        </div>

        <div fxFlexFill>
            <span fxFlex="50%"> {{'Loans.View.Account.actualDisbursementDate'| translate }}</span>
            <span fxFlex="50%"> {{loanDetails.timeline.actualDisbursementDate | date }} </span>
        </div>

        <div fxFlexFill>
            <span fxFlex="50%"> {{'Loans.View.Account.expectedMaturityDate'| translate }}</span>
            <span fxFlex="50%"> {{loanDetails.timeline.expectedMaturityDate | date }} </span>
        </div>

        <div fxFlexFill *ngIf="loanDetails.canDefineInstallmentAmount">
            <span fxFlex="50%"> {{'Loans.View.Account.fixedEmiAmount'| translate }}</span>
            <span fxFlex="50%"> {{loanDetails.fixedEmiAmount | number}} </span>
        </div>

        <div fxFlexFill *ngIf="loanDetails.isTopup">
            <span fxFlex="50%"> {{'Loans.View.Account.isTopup'| translate }}</span>
            <span fxFlex="50%"> {{loanDetails.isTopup}} </span>
        </div>

        <div fxFlexFill *ngIf="loanDetails.isTopup">
            <span fxFlex="50%"> {{'Loans.View.Account.closureLoanAccountNo'| translate }} </span>
            <span fxFlex="50%"> <a href="#">{{loanDetails.closureLoanAccountNo}}</a> </span>
        </div>

        <div fxFlexFill *ngIf="loanDetails.isTopup">
            <span fxFlex="50%"> {{'Loans.View.Account.topupAmount'| translate }}</span>
            <span fxFlex="50%"> {{loanDetails.topupAmount| number}} </span>
        </div>

        <div fxFlexFill>
            <span fxFlex="50%"> {{'Loans.View.Account.isInterestRecalculationEnabled'| translate }}</span>
            <span fxFlex="50%">  {{loanDetails.isInterestRecalculationEnabled ? 'Yes' : 'No'  }} </span>
        </div>

        <div fxFlexFill>
            <span fxFlex="50%"> {{'Loans.View.Account.daysInYearType'| translate }}</span>
            <span fxFlex="50%"> {{loanDetails.daysInYearType.value}} </span>
        </div>

        <div fxFlexFill>
            <span fxFlex="50%"> {{'Loans.View.Account.daysInMonthType'| translate }}</span>
            <span fxFlex="50%"> {{loanDetails.daysInMonthType.value }} </span>
        </div>

        <div fxFlexFill *ngIf="loanDetails.isInterestRecalculationEnabled">
            <span fxFlex="50%"> {{'Loans.View.Account.interestRecalculationCompoundingType'| translate }}</span>
            <span fxFlex="50%"> {{loanDetails.interestRecalculationData.interestRecalculationCompoundingType.value}} </span>
        </div>

        <div fxFlexFill *ngIf="loanDetails.isInterestRecalculationEnabled">
            <span fxFlex="50%"> {{'Loans.View.Account.rescheduleStrategyType'| translate }}</span>
            <span fxFlex="50%"> {{loanDetails.interestRecalculationData.rescheduleStrategyType.value}} </span>
        </div>

        <div fxFlexFill *ngIf="loanDetails.isInterestRecalculationEnabled">
            <span fxFlex="50%"> {{'Loans.View.Account.humanReadable'| translate }}</span>
            <span fxFlex="50%"> {{loanDetails.interestRecalculationData.calendarData.humanReadable}} </span>
        </div>

        <div fxFlexFill *ngIf="loanDetails.isInterestRecalculationEnabled && loanDetails.interestRecalculationData.interestRecalculationCompoundingType.id !=0">
            <span fxFlex="50%"> {{'Loans.View.Account.FrequencyForCompounding'| translate }}</span>
            <span fxFlex="50%"> {{loanDetails.interestRecalculationData.compoundingCalendarData.humanReadable}} </span>
        </div>

        <div fxFlexFill *ngIf="loanDetails.isVariableInstallmentsAllowed">
            <span fxFlex="50%"> {{'Loans.View.Account.isVariableInstallmentsAllowed'| translate }}</span>
            <span fxFlex="50%"> {{loanDetails.isVariableInstallmentsAllowed}} </span>
        </div>

        <div fxFlexFill *ngIf="loanDetails.isVariableInstallmentsAllowed">
            <span fxFlex="50%"> {{'Loans.View.Account.Repayments'| translate }}Gap between Installments:(Min</span>
            <span fxFlex="50%"> {{loanDetails.minimumGap}}&nbsp;Days&nbsp;, Max:{{loanDetails.maximumGap}}&nbsp;Days) </span>
        </div>

    </div>

</div>
