<div class="container">

  <mat-card>

    <form [formGroup]="notificationConfigurationForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div fxLayout="column">

          <mat-form-field>
            <mat-label>{{'System.ExternalServicesComponent.Notification.EditNotification.server_key'| translate }}</mat-label>
            <input matInput required formControlName="server_key">
            <mat-error *ngIf="notificationConfigurationForm.controls.server_key.hasError('required')">
              {{'System.ExternalServicesComponent.Notification.EditNotification.errserver_key'| translate }}<strong>{{'System.strongRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{'System.ExternalServicesComponent.Notification.EditNotification.gcm_end_point'| translate }}</mat-label>
            <input matInput required formControlName="gcm_end_point">
            <mat-error *ngIf="notificationConfigurationForm.controls.gcm_end_point.hasError('required')">
              {{'System.ExternalServicesComponent.Notification.EditNotification.errgcm_end_point'| translate }}<strong>{{'System.strongRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{'System.ExternalServicesComponent.Notification.EditNotification.fcm_end_point'| translate }}</mat-label>
            <input matInput required formControlName="fcm_end_point">
            <mat-error *ngIf="notificationConfigurationForm.controls.fcm_end_point.hasError('required')">
              {{'System.ExternalServicesComponent.Notification.EditNotification.errfcm_end_point'| translate }}<strong>{{'System.strongRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

        </div>

      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../']">{{ "ShareButton.CancelEng" | translate }}</button>
        <button mat-raised-button color="primary" [disabled]="!notificationConfigurationForm.valid || notificationConfigurationForm.pristine">{{ "ShareButton.Submit" | translate }}</button>
      </mat-card-actions>

    </form>

  </mat-card>

</div>
