<div fxLayout="row wrap" fxLayout.lt-md="column">

  <h3 class="mat-h3" fxFlexFill>{{ "Deposits.Recurring.Stepper.Preview.h3" | translate }}</h3>

  <mat-divider fxFlexFill></mat-divider>

  <div fxFlexFill>
    <span fxFlex="40%">{{ "Deposits.Recurring.Stepper.Preview.Product" | translate }}</span>
    <span
      fxFlex="60%">{{ recurringDepositAccountData.productId | find:recurringDepositsAccountTemplate.productOptions:'id':'name' }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%">{{ "Deposits.Recurring.Stepper.Preview.submittedOnDate" | translate }}</span>
    <span fxFlex="60%">{{ recurringDepositAccountData.submittedOnDate | date }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%">{{ "Deposits.Recurring.Stepper.Preview.FieldOfficer" | translate }}</span>
    <span
      fxFlex="60%">{{ recurringDepositAccountData.fieldOfficerId | find:recurringDepositsAccountProductTemplate.fieldOfficerOptions:'id':'displayName' }}</span>
  </div>

  <h3 class="mat-h3" fxFlexFill>{{ "Deposits.Recurring.Stepper.Preview.h3_2" | translate }}</h3>

  <mat-divider fxFlexFill></mat-divider>

  <div fxFlexFill>
    <span fxFlex="40%">{{ "Deposits.Recurring.Stepper.Preview.currencyCode" | translate }}</span>
    <span fxFlex="60%">{{ recurringDepositsAccountProductTemplate.currency.code  }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%">{{ "Deposits.Recurring.Stepper.Preview.decimalPlaces" | translate }}</span>
    <span fxFlex="60%">{{ recurringDepositsAccountProductTemplate.currency.decimalPlaces }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%">{{ "Deposits.Recurring.Stepper.Preview.inMultiplesOf" | translate }}</span>
    <span fxFlex="60%">{{ recurringDepositsAccountProductTemplate.currency.inMultiplesOf }}</span>
  </div>

  <h3 class="mat-h3" fxFlexFill>{{ "Deposits.Recurring.Stepper.Preview.h3_3" | translate }}</h3>
  <mat-divider fxFlexFill></mat-divider>

  <div fxFlexFill>
    <span fxFlex="40%">{{ "Deposits.Recurring.Stepper.Preview.InterestCompoundingPeriod" | translate }}</span>
    <span
      fxFlex="60%">{{ recurringDepositAccountData.interestCompoundingPeriodType | find:recurringDepositsAccountProductTemplate.interestCompoundingPeriodTypeOptions:'id':'value' }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%">{{ "Deposits.Recurring.Stepper.Preview.InterestPostingPeriod" | translate }}</span>
    <span
      fxFlex="60%">{{ recurringDepositAccountData.interestPostingPeriodType | find:recurringDepositsAccountProductTemplate.interestPostingPeriodTypeOptions:'id':'value' }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%">{{ "Deposits.Recurring.Stepper.Preview.InterestCalculated" | translate }}</span>
    <span
      fxFlex="60%">{{ recurringDepositAccountData.interestCalculationType | find:recurringDepositsAccountProductTemplate.interestCalculationTypeOptions:'id':'value' }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%">{{ "Deposits.Recurring.Stepper.Preview.DaysInYear" | translate }}</span>
    <span
      fxFlex="60%">{{ recurringDepositAccountData.interestCalculationDaysInYearType | find:recurringDepositsAccountProductTemplate.interestCalculationDaysInYearTypeOptions:'id':'value' }}</span>
  </div>

  <h3 class="mat-h3" fxFlexFill>{{ "Deposits.Recurring.Stepper.Preview.h3_4" | translate }}</h3>

  <mat-divider fxFlexFill></mat-divider>

  <div fxFlexFill *ngIf="recurringDepositAccountData.lockinPeriodFrequency">
    <span fxFlex="40%">{{ "Deposits.Recurring.Stepper.Preview.lockinPeriodFrequency" | translate }}</span>
    <span
      fxFlex="60%">{{ recurringDepositAccountData.lockinPeriodFrequency + ' ' + (recurringDepositAccountData.lockinPeriodFrequencyType | find:recurringDepositsAccountProductTemplate.lockinPeriodFrequencyTypeOptions:'id':'value') }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%">{{ "Deposits.Recurring.Stepper.Preview.mandatoryRecommendedDepositAmount" | translate }}</span>
    <span fxFlex="60%">{{ recurringDepositAccountData?.mandatoryRecommendedDepositAmount | money}}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%">{{ "Deposits.Recurring.Stepper.Preview.depositPeriod" | translate }}</span>
    <span
      fxFlex="60%">{{ recurringDepositAccountData.depositPeriod + ' ' + (recurringDepositAccountData.depositPeriodFrequencyId | find:recurringDepositsAccountProductTemplate.periodFrequencyTypeData:'id':'value') }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%">{{ "Deposits.Recurring.Stepper.Preview.isCalendarInherited" | translate }}</span>
    <span fxFlex="60%">{{ recurringDepositsAccountProductTemplate.isCalendarInherited === true ? 'Yes' : 'No'  }}</span>
  </div>

  <ng-container *ngIf="!recurringDepositsAccountProductTemplate.isCalendarInherited">
    <div fxFlexFill>
      <span fxFlex="40%">{{ "Deposits.Recurring.Stepper.Preview.expectedFirstDepositOnDate" | translate }}</span>
      <span fxFlex="60%">{{ recurringDepositAccountData.expectedFirstDepositOnDate | date}}</span>
    </div>

    <div fxFlexFill>
      <span fxFlex="40%">{{ "Deposits.Recurring.Stepper.Preview.recurringFrequency" | translate }}</span>
      <span *ngIf="recurringDepositAccountData.recurringFrequency"
        fxFlex="60%">{{ recurringDepositAccountData.recurringFrequency + ' ' + (recurringDepositAccountData.recurringFrequencyType | find:recurringDepositsAccountProductTemplate.periodFrequencyTypeData:'id':'value')}}</span>
    </div>
  </ng-container>


  <div fxFlexFill>
    <span fxFlex="40%">{{ "Deposits.Recurring.Stepper.Preview.minDepositTerm" | translate }}</span>
    <span
      fxFlex="60%">{{ (recurringDepositsAccountProductTemplate.minDepositTerm ? recurringDepositsAccountProductTemplate.minDepositTerm: '') + ' ' + (this.recurringDepositsAccountProductTemplate.minDepositTermType ? this.recurringDepositsAccountProductTemplate.minDepositTermType.value: '') }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%">{{ "Deposits.Recurring.Stepper.Preview.inMultiplesOfDepositTerm" | translate }}</span>
    <span
      fxFlex="60%">{{ (recurringDepositsAccountProductTemplate.inMultiplesOfDepositTerm ? recurringDepositsAccountProductTemplate.inMultiplesOfDepositTerm: '') + ' ' + (this.recurringDepositsAccountProductTemplate.inMultiplesOfDepositTermType ? this.recurringDepositsAccountProductTemplate.inMultiplesOfDepositTermType.value: '') }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%">{{ "Deposits.Recurring.Stepper.Preview.maxDepositTerm" | translate }}</span>
    <span
      fxFlex="60%">{{ (recurringDepositsAccountProductTemplate.maxDepositTerm ? recurringDepositsAccountProductTemplate.maxDepositTerm: '') + ' ' + (this.recurringDepositsAccountProductTemplate.maxDepositTermType ? this.recurringDepositsAccountProductTemplate.maxDepositTermType.value: '') }}</span>
  </div>


  <h3 class="mat-h3" fxFlexFill>{{ "Deposits.Recurring.Stepper.Preview.h3_5" | translate }}</h3>

  <mat-divider fxFlexFill></mat-divider>

  <div class="margin-b" fxFlexFill fxLayout="column">

    <div fxFlexFill *ngIf="recurringDepositsAccountProductTemplate?.accountChart.name">
      <span fxFlex="40%">{{ "Deposits.Recurring.Stepper.Preview.name" | translate }}</span>
      <span fxFlex="60%">{{ recurringDepositsAccountProductTemplate?.accountChart.name }}</span>
    </div>

    <div fxFlexFill>
      <span fxFlex="40%">{{ "Deposits.Recurring.Stepper.Preview.fromDate" | translate }}</span>
      <span fxFlex="60%">{{ recurringDepositsAccountProductTemplate?.accountChart.fromDate | date }}</span>
    </div>

    <div fxFlexFill *ngIf="recurringDepositsAccountProductTemplate?.accountChart.endDate">
      <span fxFlex="40%">{{ "Deposits.Recurring.Stepper.Preview.endDate" | translate }}</span>
      <span fxFlex="60%">{{ recurringDepositsAccountProductTemplate?.accountChart.endDate | date }}</span>
    </div>

    <div fxFlexFill *ngIf="recurringDepositsAccountProductTemplate?.accountChart.description">
      <span fxFlex="40%">{{ "Deposits.Recurring.Stepper.Preview.description" | translate }}</span>
      <span fxFlex="60%">{{ recurringDepositsAccountProductTemplate?.accountChart.description }}</span>
    </div>

    <div fxFlexFill>
      <span fxFlex="40%">{{ "Deposits.Recurring.Stepper.Preview.isPrimaryGroupingByAmount" | translate }}</span>
      <span
        fxFlex="60%">{{ recurringDepositsAccountProductTemplate?.accountChart.isPrimaryGroupingByAmount ? 'Yes' : 'No' }}</span>
    </div>

    <table class="mat-elevation-z1 irc-table" mat-table [dataSource]="interestRateChartData" multiTemplateDataRows>

      <ng-container matColumnDef="period">
        <th mat-header-cell *matHeaderCellDef> {{ "Deposits.Recurring.Stepper.Preview.table.period" | translate }} </th>
        <td mat-cell *matCellDef="let chartSlab">
          {{chartSlab.fromPeriod}}-{{chartSlab.toPeriod}}&nbsp;{{chartSlab.periodType.value}}</td>
      </ng-container>

      <ng-container matColumnDef="amountRange">
        <th mat-header-cell *matHeaderCellDef> {{ "Deposits.Recurring.Stepper.Preview.table.amountRangeTo" | translate }} </th>
        <td mat-cell *matCellDef="let chartSlab">{{chartSlab.amountRangeFrom}}-{{chartSlab.amountRangeTo}}</td>
      </ng-container>

      <ng-container matColumnDef="interest">
        <th mat-header-cell *matHeaderCellDef> {{ "Deposits.Recurring.Stepper.Preview.table.annualInterestRate" | translate }} </th>
        <td mat-cell *matCellDef="let chartSlab"> {{ chartSlab.annualInterestRate }} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> {{ "Deposits.Recurring.Stepper.Preview.table.description" | translate }} </th>
        <td mat-cell *matCellDef="let chartSlab"> {{ chartSlab.description }} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> {{ "Deposits.Recurring.Stepper.Preview.table.actions" | translate }} </th>
        <td mat-cell *matCellDef="let chartSlab; let chartSlabIndex = dataIndex">
          <button mat-button color="primary"
            (click)="expandChartSlabIndex = expandChartSlabIndex === chartSlabIndex ? null : chartSlabIndex">
            <span *ngIf="expandChartSlabIndex !== chartSlabIndex">
              <fa-icon icon="eye"></fa-icon>&nbsp;&nbsp;
              {{ "Deposits.Recurring.Stepper.Preview.table.ViewIncentives" | translate }}
            </span>
            <span *ngIf="expandChartSlabIndex === chartSlabIndex">
              <fa-icon icon="eye-slash"></fa-icon>&nbsp;&nbsp;
              {{ "Deposits.Recurring.Stepper.Preview.table.HideIncentives" | translate }}
            </span>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="incentives">
        <td mat-cell *matCellDef="let chartSlab; let chartSlabIndex = dataIndex"
          [attr.colspan]="chartSlabsDisplayedColumns.length">

          <div fxLayout="row wrap" fxFlexFill class="incentives"
            [@expandChartSlab]="chartSlabIndex === expandChartSlabIndex ? 'expanded' : 'collapsed'">

            <mat-card fxLayout="row wrap" fxFlexFill>

              <h4 class="m-b-10" fxFlex="13%">
                {{ "Deposits.Recurring.Stepper.Preview.table.h4" | translate }}
              </h4>

              <table fxFlexFill class="mat-elevation-z1" mat-table [dataSource]="chartSlab.incentives"
                *ngIf="chartSlab.incentives.length">

                <ng-container matColumnDef="entityType">
                  <th mat-header-cell *matHeaderCellDef> {{ "Deposits.Recurring.Stepper.Preview.table.entityType" | translate }} </th>
                  <td mat-cell *matCellDef="let incentive">
                    {{ incentive.entityType.value }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="attributeName">
                  <th mat-header-cell *matHeaderCellDef> {{ "Deposits.Recurring.Stepper.Preview.table.attributeName" | translate }} </th>
                  <td mat-cell *matCellDef="let incentive">
                    {{ incentive.attributeName.value }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="conditionType">
                  <th mat-header-cell *matHeaderCellDef> {{ "Deposits.Recurring.Stepper.Preview.table.conditionType" | translate }} </th>
                  <td mat-cell *matCellDef="let incentive">
                    {{ incentive.conditionType.value | titlecase }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="attributeValue">
                  <th mat-header-cell *matHeaderCellDef> {{ "Deposits.Recurring.Stepper.Preview.table.attributeValue" | translate }} </th>
                  <td mat-cell *matCellDef="let incentive" [ngSwitch]="incentive.attributeName">
                    {{ incentive.attributeValueDesc }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="incentiveType">
                  <th mat-header-cell *matHeaderCellDef> {{ "Deposits.Recurring.Stepper.Preview.table.incentiveType" | translate }} </th>
                  <td mat-cell *matCellDef="let incentive">
                    {{ incentive.incentiveType.value }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="amount">
                  <th mat-header-cell *matHeaderCellDef> {{ "Deposits.Recurring.Stepper.Preview.table.amount" | translate }} </th>
                  <td mat-cell *matCellDef="let incentive">
                    {{ incentive.amount | money }}
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="incentivesDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: incentivesDisplayedColumns;"></tr>

              </table>

            </mat-card>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="chartSlabsDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: chartSlabsDisplayedColumns;"></tr>
      <tr mat-row *matRowDef="let row; columns: chartSlabsIncentivesDisplayedColumns;" class="incentives-row"></tr>

    </table>

  </div>

  <div fxFlexFill *ngIf="recurringDepositAccountData.charges.length" fxLayout="row wrap" fxLayout.lt-md="column">

    <h3 class="mat-h3" fxFlexFill>{{ "Deposits.Recurring.Stepper.Preview.h3_6" | translate }}</h3>

    <mat-divider fxFlexFill></mat-divider>

    <table fxFlexFill class="mat-elevation-z1" mat-table [dataSource]="recurringDepositAccountData.charges">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> {{ "Deposits.Recurring.Stepper.Preview.tableCharges.amount" | translate }} </th>
        <td mat-cell *matCellDef="let charge">
          {{ charge.name + ', ' + charge.currency.displaySymbol }}
        </td>
      </ng-container>

      <ng-container matColumnDef="chargeCalculationType">
        <th mat-header-cell *matHeaderCellDef> {{ "Deposits.Recurring.Stepper.Preview.tableCharges.chargeCalculationType" | translate }} </th>
        <td mat-cell *matCellDef="let charge">
          {{ charge.chargeCalculationType.value }}
        </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> {{ "Deposits.Recurring.Stepper.Preview.tableCharges.amount" | translate }} </th>
        <td mat-cell *matCellDef="let charge">
          {{ charge.amount | money}}
        </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> {{ "Deposits.Recurring.Stepper.Preview.tableCharges.date" | translate }} </th>
        <td mat-cell *matCellDef="let charge">
          <span
            *ngIf="charge.chargeTimeType.value === 'Specified due date' || charge.chargeTimeType.value === 'Weekly Fee'">
            {{(charge.dueDate | date) || 'Unassigned'}}
          </span>
          <span *ngIf="charge.chargeTimeType.value === 'Monthly Fee' || charge.chargeTimeType.value === 'Annual Fee'">
            {{(charge.feeOnMonthDay | date) || 'Unassigned'}}
          </span>
          <span
            *ngIf="!(charge.chargeTimeType.value === 'Monthly Fee' || charge.chargeTimeType.value === 'Annual Fee'
              || charge.chargeTimeType.value === 'Specified due date' || charge.chargeTimeType.value === 'Weekly Fee')">
            N/A
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="repaymentsEvery">
        <th mat-header-cell *matHeaderCellDef> {{ "Deposits.Recurring.Stepper.Preview.tableCharges.repaymentsEvery" | translate }} </th>
        <td mat-cell *matCellDef="let charge">
          {{ charge.feeInterval || 'Not Provided' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="chargeTimeType">
        <th mat-header-cell *matHeaderCellDef> {{ "Deposits.Recurring.Stepper.Preview.tableCharges.chargeTimeType" | translate }} </th>
        <td mat-cell *matCellDef="let charge">
          {{ charge.chargeTimeType.value }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="chargesDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: chargesDisplayedColumns;"></tr>

    </table>

  </div>

</div>

<div fxLayout="row" class="margin-t" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="2%">
  <button mat-raised-button matStepperPrevious>
    <fa-icon icon="arrow-left"></fa-icon>&nbsp;&nbsp;
    {{ "ShareButton.PreviousEng" | translate }}
  </button>
  <button mat-raised-button [routerLink]="['../']">
    {{ "ShareButton.CancelEng" | translate }}
  </button>
  <button mat-raised-button color="primary" (click)="submit.emit()">
    {{ "ShareButton.Submit" | translate }}
  </button>
</div>
