<div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column" class="container m-b-20">
  <button mat-raised-button color="primary" [routerLink]="['edit']">
    <fa-icon icon="edit"></fa-icon>&nbsp;&nbsp;
    {{ "ShareButton.Edit" | translate }}
  </button>
  <button mat-raised-button color="warn" (click)="deleteAccountingClosure()" *midasHasPermission="'DELETE_GLCLOSURE'">
    <fa-icon icon="trash"></fa-icon>&nbsp;&nbsp;
    {{ "ShareButton.DeleteEng" | translate }}
  </button>
</div>

<div class="container" *ngIf="glAccountClosure">

  <mat-card>

    <mat-card-content>

      <div fxLayout="row wrap" class="content">

        <div fxFlex="50%" class="header">
          {{ "Accounting.ClosingEntriesComponent.EditClosureComponent.officeName" | translate }}
        </div>

        <div fxFlex="50%">
          {{ glAccountClosure.officeName }}
        </div>

        <div fxFlex="50%" class="header">
          {{ "Accounting.ClosingEntriesComponent.EditClosureComponent.closingDate" | translate }}
        </div>

        <div fxFlex="50%">
          {{ glAccountClosure.closingDate }}
        </div>

        <div fxFlex="50%" class="header">
          {{ "Accounting.ClosingEntriesComponent.EditClosureComponent.createdByUsername" | translate }}
        </div>

        <div fxFlex="50%">
          {{ glAccountClosure.createdByUsername }}
        </div>

        <div fxFlex="50%" class="header">
          {{ "Accounting.ClosingEntriesComponent.EditClosureComponent.lastUpdatedByUsername" | translate }}
        </div>

        <div fxFlex="50%">
          {{ glAccountClosure.lastUpdatedByUsername }}
        </div>

        <div fxFlex="50%" class="header">
          {{ "Accounting.ClosingEntriesComponent.EditClosureComponent.lastUpdatedDate" | translate }}
        </div>

        <div fxFlex="50%">
          {{ glAccountClosure.lastUpdatedDate }}
        </div>

        <div fxFlex="50%" class="header">
          {{ "Accounting.ClosingEntriesComponent.EditClosureComponent.createdDate" | translate }}
        </div>

        <div fxFlex="50%">
          {{ glAccountClosure.createdDate }}
        </div>

        <div fxFlex="50%" class="header">
          {{ "Accounting.ClosingEntriesComponent.EditClosureComponent.comments" | translate }}
        </div>

        <div fxFlex="50%">
          {{ glAccountClosure.comments }}
        </div>

      </div>

    </mat-card-content>

  </mat-card>

</div>
