<mat-card class="mat-elevation-z20 container-custom">
  <mat-card-content>
    <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column" [formGroup]="formDate">
      <mat-form-field fxFlex="31%">
        <mat-label>Từ ngày</mat-label>
        <input matInput [matDatepicker]="transactionDateFromPicker" formControlName="fromDate" />
        <mat-datepicker-toggle matSuffix [for]="transactionDateFromPicker"></mat-datepicker-toggle>
        <mat-datepicker #transactionDateFromPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field fxFlex="31%">
        <mat-label>Đến ngày</mat-label>
        <input matInput [matDatepicker]="transactionDateToPicker" formControlName="toDate" />
        <mat-datepicker-toggle matSuffix [for]="transactionDateToPicker"></mat-datepicker-toggle>
        <mat-datepicker #transactionDateToPicker></mat-datepicker>
      </mat-form-field>
      <div fxFlex="31%">
        <button
          *ngIf="fromDateAndToDate"
          (click)="getTransaction()"
          style="align-self: center"
          color="primary"
          mat-raised-button
        >
          Tìm kiếm &nbsp;<i class="fa fa-search" aria-hidden="true"></i>
        </button>
        <h3 *ngIf="!fromDateAndToDate">
          Vui lòng chọn thời gian &nbsp; <i class="fa fa-calendar" style="align-self: center" aria-hidden="true"></i>
        </h3>
      </div>
    </div>
    <div class="container" fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column"></div>
  </mat-card-content>
  <mat-card-content style="margin-top: 10px">
    <mat-card>
      <div fxLayout="row swap" fxLayoutAlign.lt-sm="center" fxLayoutGap="2%" fxLayout.lt-md="column">
        <div fxLayout="row" fxFlex="15%" class="export-item">
          <img src="assets/images/icons/transaction_total.svg" />
          <div fxLayout="column">
            <span class="money-total">{{ getLengthSource() }}</span>
            <span>Tổng giao dịch </span>
          </div>
        </div>
        <div fxLayout="row wrap" fxFlex="15%" class="container m-b-20">
          <img src="assets/images/icons/money.svg" width="40" height="40" />
          <div style="display: flex" fxLayout="column">
            <span style="font-size: 16px; margin-top: 1px; padding-top: 2px">{{ totalFeeSum | money }}</span>
            <span>&nbsp;Tổng thu chi</span>
          </div>
        </div>
        <div fxLayout="row wrap" fxFlex="15%" class="container m-b-20">
          <img src="assets/images/icons/transaction.svg" width="40" height="40" />
          <div style="display: flex" fxLayout="column">
            <span style="font-size: 16px; margin-top: 1px; padding-top: 2px">{{ totalFeePaid | money }}</span>
            <span>&nbsp;Đã thu/chi</span>
          </div>
        </div>
        <div fxLayout="row wrap" fxFlex="15%" class="container m-b-20">
          <img src="assets/images/icons/transaction.svg" width="40" height="40" />
          <div style="display: flex" fxLayout="column">
            <span style="font-size: 16px; margin-top: 1px; padding-top: 2px">{{ totalFeePaidDE | money }}</span>
            <span>&nbsp;Đã cấn trừ</span>
          </div>
        </div>
        <div fxLayout="row wrap" fxFlex="15%" class="container m-b-20">
          <img src="assets/images/icons/capital.svg" width="40" height="40" />
          <div style="display: flex" fxLayout="column">
            <span style="font-size: 16px; margin-top: 1px; padding-top: 2px">{{ totalFeeRemain | money }}</span>
            <span>&nbsp;Cần thu/chi</span>
          </div>
        </div>
      </div>
    </mat-card>
  </mat-card-content>
  <mat-accordion>
    <mat-expansion-panel expanded="false" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title> Xem theo </mat-panel-title>
      </mat-expansion-panel-header>
      <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column" [formGroup]="formFilter">
        <mat-form-field fxFlex="18%">
          <mat-label>Lựa chọn trạng thái</mat-label>
          <mat-select formControlName="status">
            <mat-option *ngFor="let type of statusOption" [value]="type.value">
              {{ type.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="18%">
          <mat-label>Loại giao dịch</mat-label>
          <mat-select formControlName="txnType">
            <mat-option *ngFor="let type of transactionType" [value]="type.value">
              {{ type.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="18%">
          <mat-label>Loại (thu/chi)</mat-label>
          <mat-select formControlName="txnPaymentType">
            <mat-option *ngFor="let type of paymentTypes" [value]="type.value">
              {{ type.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="18%">
          <mat-label>Chi nhánh</mat-label>
          <input matInput formControlName="officeName" />
        </mat-form-field>

        <mat-form-field fxFlex="18%">
          <mat-label>Đại lý</mat-label>
          <input matInput formControlName="agencyName" />
        </mat-form-field>

        <mat-form-field fxFlex="18%">
          <mat-label>Chủ thể</mat-label>
          <input matInput formControlName="customerName" />
        </mat-form-field>

        <mat-form-field fxFlex="18%">
          <mat-label>Số batch</mat-label>
          <input matInput formControlName="batchNo" />
        </mat-form-field>

        <mat-form-field fxFlex="18%">
          <mat-label>Số trace</mat-label>
          <input matInput formControlName="traceNo" />
        </mat-form-field>

        <mat-form-field fxFlex="18%">
          <mat-label>Người tạo</mat-label>
          <input matInput formControlName="createdByName" />
        </mat-form-field>

        <mat-form-field fxFlex="18%">
          <mat-label>Lựa chọn phương thức</mat-label>
          <mat-select formControlName="txnPaymentCode">
            <mat-option *ngFor="let type of paidPaymentType" [value]="type.code">
              {{ type.desc }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="18%">
          <mat-label>Nhân viên</mat-label>
          <mat-select formControlName="createdBy">
            <mat-option *ngFor="let type of staffs" [value]="type.userId">
              {{ type.displayName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div fxFlex="18%" fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">
          <mat-checkbox fxFlex="100%" labelPosition="before" formControlName="RetailsChoose" class="margin-v">
            Giao dịch lẻ
          </mat-checkbox>
          <mat-checkbox fxFlex="100%" labelPosition="before" formControlName="wholesaleChoose" class="margin-v">
            Giao dịch lô
          </mat-checkbox>
        </div>
        <div fxFlex="18%">
          <button
            style="margin-top: 8px; height: 40px"
            (click)="exportTransactionFeePaid()"
            color="primary"
            mat-raised-button
          >
            Export
          </button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-card-content>
    <table mat-table multiTemplateDataRows class="mat-elevation-z8" [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="txnDate">
        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef mat-sort-header>Ngày /<br />Mã giao dịch</th>
        <td mat-cell fxHide fxShow.gt-md *matCellDef="let transaction">
          <span [ngSwitch]="getDataOfGroupTxnCode(transaction)[0].status">
            <img *ngSwitchCase="'C'" src="assets/images/icons/check.svg" />
            <img *ngSwitchCase="'A'" src="assets/images/icons/pending.svg" />
            <img *ngSwitchCase="'V'" src="assets/images/icons/cancel.svg" />
            <img *ngSwitchDefault src="assets/images/icons/question.svg" />
          </span>
          {{ getDataOfGroupTxnCode(transaction)[0].txnDate | date: "dd-MM-yyyy HH:mm:ss" }} <br />
          {{ getDataOfGroupTxnCode(transaction)[0].txnCode }}
        </td>
      </ng-container>

      <ng-container matColumnDef="officeName">
        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef mat-sort-header>
          <label>
            Chi nhánh
            <hr />
            Người tạo
          </label>
        </th>
        <td mat-cell fxHide fxShow.gt-md *matCellDef="let transaction">
          {{ getDataOfGroupTxnCode(transaction)[0].officeName }} <br />
          <span style="color: blue; font-weight: bold">{{ getDataOfGroupTxnCode(transaction)[0].createdByName }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="txnType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Loại GD</th>
        <td mat-cell *matCellDef="let transaction" [ngSwitch]="getDataOfGroupTxnCode(transaction)[0].txnType">
          <button *ngSwitchCase="'CASH'" style="background: green; color: white" mat-button class="btn btn-success">
            Cash
          </button>
          <button
            *ngSwitchCase="'ROLLTERM'"
            style="background: #0f36e4; color: white"
            mat-button
            class="btn btn-success"
          >
            Advance
          </button>
          <button *ngSwitchCase="'BATCH'" style="background: #e74c3c; color: white" mat-button class="btn btn-success">
            Lô
          </button>

          <button *ngSwitchDefault class="btn btn-success">
            <i class="fa fa-info-circle"></i>
          </button></td
      ></ng-container>

      <!-- <ng-container matColumnDef="txnCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Mã gd</th>
        <td mat-cell
            *matCellDef="let transaction"> {{ getDataOfGroupTxnCode(transaction)[0].txnCode }} </td>
      </ng-container> -->

      <ng-container matColumnDef="batchNo">
        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef>
          Số batch
          <hr />
          Số trace
        </th>
        <td
          mat-cell
          fxHide
          fxShow.gt-md
          *matCellDef="let transaction"
          style="
            overflow-wrap: break-word;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100px;
          "
        >
          <label [matTooltip]="getDataOfGroupTxnCode(transaction)[0].batchNo?.replaceAll('#', ' ')">
            {{ getDataOfGroupTxnCode(transaction)[0].batchNo?.replaceAll("#", " ") }}
          </label>
          <hr />
          <label [matTooltip]="getDataOfGroupTxnCode(transaction)[0].traceNo?.replaceAll('#', ' ')">
            {{ getDataOfGroupTxnCode(transaction)[0].traceNo?.replaceAll("#", " ") }}
          </label>
        </td>
      </ng-container>

      <ng-container matColumnDef="customerName">
        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef mat-sort-header>
          Chủ thể / Nhân viên /<br />
          Đại lý
        </th>
        <td mat-cell fxHide fxShow.gt-md *matCellDef="let transaction">
          {{ getDataOfGroupTxnCode(transaction)[0].customerName }}

          <br />

          <label *ngIf="getDataOfGroupTxnCode(transaction)[0].agencyName != '#'" style="color: green">
            {{ getDataOfGroupTxnCode(transaction)[0].agencyName }}
          </label>
        </td>
      </ng-container>

      <ng-container matColumnDef="txnAmount">
        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef mat-sort-header>Số tiền GD</th>
        <td mat-cell fxHide fxShow.gt-md *matCellDef="let transaction">
          <ul *ngIf="getDataOfGroupTxnCode(transaction)">
            <li>
              <label style="color: blue">
                {{ getDataOfGroupTxnCode(transaction)[0]?.txnAmount | money }}
              </label>
            </li>
          </ul>
        </td>
      </ng-container>

      <ng-container matColumnDef="DEAmount">
        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef mat-sort-header>Số tiền cấn trừ</th>
        <td mat-cell fxHide fxShow.gt-md *matCellDef="let transaction">
          <ul *ngFor="let tra of getDataOfGroupTxnCode(transaction)">
            <li *ngIf="tra.txnPaymentType === 'OUT'" [style]="colorOfType(tra.txnPaymentType)">
              <span>
                {{ tra.DEAmount | money }}
              </span>
            </li>
          </ul>
        </td>
      </ng-container>

      <ng-container matColumnDef="feeSum">
        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef mat-sort-header>Tổng thu/chi</th>
        <td mat-cell fxHide fxShow.gt-md *matCellDef="let transaction">
          <ul>
            <li *ngFor="let tra of getDataOfGroupTxnCode(transaction)" [style]="colorOfType(tra.txnPaymentType)">
              {{ tra.feeSum | money }}
            </li>
          </ul>
        </td>
      </ng-container>

      <ng-container matColumnDef="feePaid">
        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef mat-sort-header>Đã thu/chi</th>
        <td mat-cell fxHide fxShow.gt-md *matCellDef="let transaction">
          <ul>
            <li *ngFor="let tra of getDataOfGroupTxnCode(transaction)" [style]="colorOfType(tra.txnPaymentType)">
              {{ tra.feePaid | money }}
            </li>
          </ul>
        </td>
      </ng-container>

      <ng-container matColumnDef="feeRemain">
        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef mat-sort-header>Cần thu/chi</th>
        <td mat-cell fxHide fxShow.gt-md *matCellDef="let transaction">
          <ul>
            <li *ngFor="let tra of getDataOfGroupTxnCode(transaction)" [style]="colorOfType(tra.txnPaymentType)">
              {{ tra.feeRemain | money }}
            </li>
          </ul>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions" style="width: 25px">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let transaction">
          <span
            style="width: 40px"
            [matMenuTriggerData]="{ txnCode: transaction }"
            [matMenuTriggerFor]="transactionMenu"
            matTooltip="Menu"
            #tooltip="matTooltip"
            (menuOpened)="menuOpened()"
            (menuClosed)="menuClosed()"
            ><i class="fa fa-ellipsis-v" aria-hidden="true"></i
          ></span>
        </td>
      </ng-container>
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell fxShow fxHide.gt-md *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="example-element-description" fxLayout="column">
              <div>
                <span style="font-weight: bold"> Ngày giao dịch :</span>&nbsp; &nbsp;{{
                  getDataOfGroupTxnCode(element)[0].txnDate | date: "dd-MM-yyyy HH:mm:ss"
                }}
              </div>
              <div>
                <span style="font-weight: bold"> Trạng thái:</span>&nbsp; &nbsp;{{
                  getDataOfGroupTxnCode(element)[0].status
                }}
              </div>
              <div>
                <span style="font-weight: bold"> Số batch :</span>&nbsp; &nbsp;{{
                  getDataOfGroupTxnCode(element)[0].batchNo
                }}
              </div>
              <div>
                <span style="font-weight: bold"> Số trace:</span>&nbsp; &nbsp;{{
                  getDataOfGroupTxnCode(element)[0].traceNo
                }}
              </div>
              <div>
                <span style="font-weight: bold"> Chi nhánh :</span>&nbsp; &nbsp;{{
                  getDataOfGroupTxnCode(element)[0].officeName
                }}
              </div>
              <div>
                <span style="font-weight: bold"> Chủ thể :</span>&nbsp; &nbsp;{{
                  getDataOfGroupTxnCode(element)[0].customerName
                }}
              </div>
              <div *ngFor="let tra of getDataOfGroupTxnCode(element)" [style]="colorOfType(tra.txnPaymentType)">
                <span style="font-weight: bold"> Số tiền GD :</span>&nbsp; ({{ tra.txnPaymentType }})&nbsp;{{
                  tra.txnAmount | money
                }}
              </div>
              <div *ngFor="let tra of getDataOfGroupTxnCode(element)" [style]="colorOfType(tra.txnPaymentType)">
                <span style="font-weight: bold"> Đã thu/chi :</span>&nbsp; ({{ tra.txnPaymentType }})&nbsp;{{
                  tra.feePaid | money
                }}
              </div>
              <div *ngFor="let tra of getDataOfGroupTxnCode(element)" [style]="colorOfType(tra.txnPaymentType)">
                <span style="font-weight: bold"> Cần thu/chi :</span>&nbsp; ({{ tra.txnPaymentType }})&nbsp;{{
                  tra.feeRemain | money
                }}
              </div>
            </div>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: displayedColumns"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element"
      ></tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      <!--[routerLink]="['transactions/view', row.transactionId]"-->
    </table>
  </mat-card-content>

  <mat-menu #transactionMenu="matMenu" [overlapTrigger]="false" style="width: 50px">
    <ng-template matMenuContent let-txnCode="txnCode" style="width: 50px">
      <label *ngIf="checkShowButton(txnCode)" for="">
        <button (click)="addFeeDialog(txnCode)" mat-menu-item>
          <img src="assets/images/icons/hammer.svg" />
          &nbsp;Thu, chi tiền
        </button>
      </label>

      <label *ngIf="checkFeePaid(txnCode)" for="">
        <button (click)="viewFeeDialog(txnCode)" mat-menu-item>
          <img src="assets/images/icons/completed-task.svg" />
          &nbsp;Danh sách đã thu/chi tiền
        </button>
      </label>
      <label>
        <button
          mat-menu-item
          *ngIf="getDataOfGroupTxnCode(txnCode)[0].txnType == 'BATCH'"
          [routerLink]="['/transaction/batch-transaction/', getDataOfGroupTxnCode(txnCode)[0].agencyId]"
          [queryParams]="{ batchTxnName: getDataOfGroupTxnCode(txnCode)[0].txnCode }"
        >
          <img src="assets/images/icons/next.svg" />&nbsp;Chi tiết/tiếp tục Giao dịch sỉ
        </button>
      </label>
    </ng-template>
  </mat-menu>
  <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center; background: white">
    <mat-progress-spinner color="warn" mode="indeterminate"> </mat-progress-spinner>
  </div>
  <mat-paginator
    paginator
    [length]="getLengthSource()"
    [pageSize]="10"
    [pageSizeOptions]="[10, 25, 50, 100]"
    showFirstLastButtons
  ></mat-paginator>
</mat-card>
