<div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column" class="container m-b-20">
  <button mat-raised-button color="primary" [routerLink]="['edit']" *midasHasPermission="'UPDATE_CHARGE'">
    <fa-icon icon="edit"></fa-icon>&nbsp;&nbsp;
    {{ "ShareButton.Edit" | translate }}
  </button>
  <button mat-raised-button color="warn" (click)="deleteCharge()" *midasHasPermission="'DELETE_CHARGE'">
    <fa-icon icon="trash"></fa-icon>&nbsp;&nbsp;
    {{ "ShareButton.DeleteEng" | translate }}
  </button>
</div>

<div class="container">

  <mat-card>

    <mat-card-content>

      <div fxLayout="row wrap" class="content">

        <div fxFlex="50%" class="mat-body-strong">
          {{'Product_Component.ChargesComponent.ViewChargeComponent.ChargeType'| translate}}
        </div>

        <div fxFlex="50%">
          {{ chargeData.penalty === true ? 'Penalty' : 'Charge' }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'Product_Component.ChargesComponent.ViewChargeComponent.Currency'| translate}}
        </div>

        <div fxFlex="50%">
          {{ chargeData.currency.name }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'Product_Component.ChargesComponent.ViewChargeComponent.Amount'| translate}}
        </div>

        <div fxFlex="50%">
          {{ chargeData.amount | money }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'Product_Component.ChargesComponent.ViewChargeComponent.chargeTimeType'| translate}}
        </div>

        <div fxFlex="50%">
          {{ chargeData.chargeTimeType.value }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'Product_Component.ChargesComponent.ViewChargeComponent.chargeAppliesTo'| translate}}
        </div>

        <div fxFlex="50%">
          {{ chargeData.chargeAppliesTo.value }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'Product_Component.ChargesComponent.ViewChargeComponent.chargeCalculationType'| translate}}
        </div>

        <div fxFlex="50%">
          {{ chargeData.chargeCalculationType.value }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'Product_Component.ChargesComponent.ViewChargeComponent.chargePaymentMode'| translate}}
        </div>

        <div fxFlex="50%">
          {{ chargeData.chargePaymentMode.value }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'Product_Component.ChargesComponent.ViewChargeComponent.Active'| translate}}
        </div>

        <div fxFlex="50%">
          {{ chargeData.active === true ? 'Yes' : 'No' }}
        </div>

        <div fxFlex="50%" class="mat-body-strong" *ngIf="chargeData.chargeTimeType.id == 9 && chargeData.feeFrequency">
          {{'Product_Component.ChargesComponent.ViewChargeComponent.feeFrequency'| translate}}
        </div>

        <div fxFlex="50%" *ngIf="chargeData.chargeTimeType.id == 9 && chargeData.feeFrequency && chargeData.feeFrequency">
          {{ chargeData.feeFrequency.value }}
        </div>

        <div fxFlex="50%" class="mat-body-strong" *ngIf="chargeData.chargeTimeType.id == 9 && chargeData.feeInterval">
          {{'Product_Component.ChargesComponent.ViewChargeComponent.feeInterval'| translate}}
        </div>

        <div fxFlex="50%" *ngIf="chargeData.chargeTimeType.id == 9 && chargeData.feeInterval">
          {{ chargeData.feeInterval }}
        </div>

        <div fxFlex="50%" class="mat-body-strong" *ngIf="chargeData.incomeOrLiabilityAccount">
          {{'Product_Component.ChargesComponent.ViewChargeComponent.incomeOrLiabilityAccount'| translate}}
        </div>

        <div fxFlex="50%" *ngIf="chargeData.incomeOrLiabilityAccount">
          {{ chargeData.incomeOrLiabilityAccount.name + ' (' + chargeData.incomeOrLiabilityAccount.glCode + ')' }}
        </div>

        <div fxFlex="50%" class="mat-body-strong" *ngIf="chargeData.taxGroup">
          {{'Product_Component.ChargesComponent.ViewChargeComponent.taxGroup'| translate}}
        </div>

        <div fxFlex="50%" *ngIf="chargeData.taxGroup">
          {{ chargeData.taxGroup.name }}
        </div>

      </div>

    </mat-card-content>

  </mat-card>

</div>
