<div class="container m-b-20" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="end" fxLayoutGap="2%">
  <button mat-raised-button color="primary" [routerLink]="['edit']" *midasHasPermission="'UPDATE_TAXGROUP'">
    <fa-icon icon="edit"></fa-icon>&nbsp;&nbsp;
    {{ "ShareButton.Edit" | translate }}
  </button>
</div>

<div class="container">

  <mat-card>

    <mat-card-content>

      <div fxLayout="row wrap" class="content">

        <div fxFlex="33%" class="mat-body-strong">
          {{'Product_Component.ManageTaxGroups.View.Name'| translate}}
        </div>

        <div fxFlex="67%">
          {{ taxGroupData.name }}
        </div>

        <div fxFlex="34%" class="mat-body-strong">
          {{'Product_Component.ManageTaxGroups.View.TaxName'| translate}}
        </div>

        <div fxFlex="33%" class="mat-body-strong">
          {{'Product_Component.ManageTaxGroups.View.StartDate'| translate}}
        </div>

        <div fxFlex="33%" class="mat-body-strong">
          {{'Product_Component.ManageTaxGroups.View.EndDate'| translate}}
        </div>

      </div>

      <div fxLayout="row wrap" class="content"  *ngFor="let taxcomponent of taxGroupData.taxAssociations">

          <div fxFlex="34%">
            {{ taxcomponent.taxComponent.name }}
          </div>

          <div fxFlex="33%">
            {{ taxcomponent.startDate | date }}
          </div>

          <div fxFlex="33%" *ngIf="taxcomponent.endDate !== undefined || taxcomponent.endDate !== null">
            {{ taxcomponent.endDate | date }}
          </div>

      </div>

    </mat-card-content>

  </mat-card>

</div>
