.action-button {
  button {
    max-height: 42px;
  }
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.money-total {
  font-size: 18px;
  font-weight: bold;
  margin: 6px;
}

.select-custom {
  width: 70px;
}

.input-custom {
  width: 80%;
  padding-right: 8px;
  padding-left: 8px;
  max-width: 150px;
}

.money-cell {
  text-align: center;
}

.actions {
  width: 30px;
}

.export-item {
  margin-top: 10px;
}

.no-input {
  max-width: 70px;
}

.example-container {
  position: relative;
  min-height: 200px;
}

.example-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}


