<mat-card class="mat-elevation-z20 container-custom">
  <mat-card-content>
    <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-sm="column">
      <div fxFlex="18%" fxLayout="row">
        <img src="assets/images/icons/transaction_total.svg">
        <div fxLayout="column">
          <span class="money-total">120000 d</span>
          <span>Tổng giao dịch </span>
        </div>
      </div>
      <div fxFlex="18%" fxLayout="row">
        <img src="assets/images/icons/trading.svg">
        <div fxLayout="column">
          <span class="money-total">120000 d</span>
          <span>Tiền giao dịch</span>
        </div>
      </div>
      <div fxFlex="18%" fxLayout="row">
        <img src="assets/images/icons/bank.svg">
        <div fxLayout="column">
          <span class="money-total">120000 d</span>
          <span>Tiền đề xuất</span>
        </div>
      </div>
      <div fxFlex="18%" fxLayout="row">
        <img src="assets/images/icons/fees.svg">
        <div fxLayout="column">
          <span class="money-total">120000 d</span>
          <span>Tiền thực chi</span>
        </div>
      </div>
      <div fxFlex="18%" fxLayout="row">
        <img src="assets/images/icons/invoice.svg">
        <div fxLayout="column">
          <span class="money-total">120000 d</span>
          <span>Tổng số bill trên POS</span>
        </div>
      </div>
    </div>
  </mat-card-content>


  <mat-card-content>
    <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column" [formGroup]="formFilter">

      <mat-form-field fxFlex="30%" *ngIf="formFilter.contains('member')" class="input_custom">
        <mat-label>Khách hàng</mat-label>
        <mat-select required formControlName="member">
          <mat-option *ngFor="let type of members"
                      [value]="type">
            {{ type.cardNumber.slice(0,6) }}&nbsp;X&nbsp;{{ type.cardNumber.slice(-4,-1) }}&nbsp; - &nbsp;{{type.fullName}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formFilter.controls.member.hasError('required')">
        Vui lòng chọn khách hàng
        </mat-error>
      </mat-form-field>
      <div fxFlex="10%">
        <button mat-button type="button"
                (click)="addRow()"
                style="background: #3b74ff; color: white; max-height: 50px; margin-top: 8px; width: 100%;">
          <img src="assets/images/icons/add-while.svg">&nbsp; Thêm
        </button>
      </div>
      <div fxFlex="10%">
        <button mat-button
                (click)="addCard()"
                type="button"
                style="background: #3b74ff; color: white; max-height: 50px; width: 100%; margin-top: 8px;">
          <img src="assets/images/icons/credit-card-while.svg">&nbsp; Thêm thẻ
        </button>
      </div>
    </div>
    <table mat-table class="mat-elevation-z8" multiTemplateDataRows
           [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="clientName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tên khách hàng</th>
        <td mat-cell
            *matCellDef="let account"> {{ account.clientName}} </td>
      </ng-container>

      <ng-container matColumnDef="productId">
        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef mat-sort-header>Dịch vụ</th>
        <td mat-cell fxHide fxShow.gt-md
            *matCellDef="let account"> {{ account.productId}} </td>
      </ng-container>

      <ng-container matColumnDef="rate">
        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef mat-sort-header>Tỉ lệ Phí</th>
        <td mat-cell fxHide fxShow.gt-md
            *matCellDef="let account"> {{ account.rate}} </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef mat-sort-header> Số tiền giao dịch</th>
        <td mat-cell fxHide fxShow.gt-md
            *matCellDef="let account"> {{ account.amount | money}} </td>
      </ng-container>

      <ng-container matColumnDef="terminalId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Máy POS</th>
        <td mat-cell
            *matCellDef="let account"> {{ account.terminalId}} </td>
      </ng-container>


      <ng-container matColumnDef="requestAmount">
        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef mat-sort-header> Số tiền đề xuất</th>
        <td mat-cell fxHide fxShow.gt-md
            *matCellDef="let account"> {{ account.requestAmount | money}} </td>
      </ng-container>


      <ng-container matColumnDef="amountTransaction">
        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef mat-sort-header>Tiền thực chi</th>
        <td mat-cell fxHide fxShow.gt-md
            *matCellDef="let account"> {{ account.amountTransaction | money}} </td>
      </ng-container>

      <ng-container matColumnDef="fee">
        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef mat-sort-header>Phí thu</th>
        <td mat-cell fxHide fxShow.gt-md
            *matCellDef="let account"> {{ account.fee | money}} </td>
      </ng-container>


      <ng-container matColumnDef="CM">
        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef mat-sort-header>C/M</th>
        <td mat-cell fxHide fxShow.gt-md
            *matCellDef="let account"> {{ account.CM | money}} </td>
      </ng-container>

      <ng-container matColumnDef="batchNo">
        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef mat-sort-header>Batch No</th>
        <td mat-cell fxHide fxShow.gt-md
            *matCellDef="let account"> {{ account.batchNo}} </td>
      </ng-container>


      <ng-container matColumnDef="tid">
        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef mat-sort-header>Trace No</th>
        <td mat-cell fxHide fxShow.gt-md
            *matCellDef="let account"> {{ account.tid }} </td>
      </ng-container>


      <ng-container matColumnDef="terminalAmount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Số tiền trên bill</th>
        <td mat-cell
            *matCellDef="let account"> {{ account.terminalAmount }} </td>
      </ng-container>
      <ng-container matColumnDef="actions" style="width: 25px;">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let transaction">
          <span style="float: right; width: 15px;"
                [matMenuTriggerData]="{txnCode:transaction}"
                [matMenuTriggerFor]="transactionMenu"
                matTooltip="Menu"
                #tooltip="matTooltip"
          ><img src="assets/images/icons/settings.svg"/></span>
        </td>
      </ng-container>
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell fxShow fxHide.gt-md *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="example-element-detail"
               [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="example-element-description" fxLayout="column">
              <div>
                      <span style="font-weight: bold;">
                        Dịch vụ :</span>&nbsp;
                &nbsp;{{ element.productId }}
              </div>
              <div>
                      <span style="font-weight: bold;">
                        Tỉ lệ Phí :</span>&nbsp;
                &nbsp;{{ element.rate }}
              </div>
              <div>
                      <span style="font-weight: bold;">
                        Số tiền giao dịch :</span>&nbsp;
                &nbsp;{{ element.amount | money }}
              </div>
              <!--              <div>-->
              <!--                      <span style="font-weight: bold;">-->
              <!--                        Máy POS :</span>&nbsp;-->
              <!--                &nbsp;{{ element.terminalId }}-->
              <!--              </div>-->
              <div>
                      <span style="font-weight: bold;">
                        Số tiền đề xuất :</span>&nbsp;
                &nbsp;{{ element.requestAmount | money }}
              </div>
              <div>
                      <span style="font-weight: bold;">
                        Tiền thực chi :</span>&nbsp;
                &nbsp;{{ element.amountTransaction }}
              </div>
              <div>
                      <span style="font-weight: bold;">
                        C/M :</span>&nbsp;
                &nbsp;{{ element.CM }}
              </div>
              <div>
                      <span style="font-weight: bold;">
                        Tỉ lệ Phí :</span>&nbsp;
                &nbsp;{{ element.rate }}
              </div>
              <div>
                      <span style="font-weight: bold;">
                        Batch No :</span>&nbsp;
                &nbsp;{{ element.batchNo }}
              </div>
              <div>
                      <span style="font-weight: bold;">
                        Trace No :</span>&nbsp;
                &nbsp;{{ element.tid }}
              </div>
            </div>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      <!--      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>-->
      <!--[routerLink]="['transactions/view', row.transactionId]"-->
    </table>
  </mat-card-content>
  <mat-paginator paginator [length]="dataSource?.length" [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]"
                 showFirstLastButtons></mat-paginator>
  <mat-menu #transactionMenu="matMenu" [overlapTrigger]="false" style="width: 50px;">
    <ng-template matMenuContent
                 let-txnCode="txnCode"
                 style="width: 50px;">
      <button
        mat-menu-item
      >
        <img src="assets/images/icons/hammer.svg"/>
        &nbsp;Thu, chi tiền
      </button>
      <button
        mat-menu-item>
        <img src="assets/images/icons/completed-task.svg"/>
        &nbsp;Danh sách đã thu/chi tiền
      </button>
    </ng-template>
  </mat-menu>
</mat-card>
