<div class="container">
  <mat-card>
    <h2 mat-title *ngIf="transactionType.withdrawal">{{'Savings.Actions.Transactions.title'| translate}}</h2>
    <h2 mat-title *ngIf="transactionType.deposit">{{'Savings.Actions.Transactions.title2'| translate}}</h2>

    <form [formGroup]="savingAccountTransactionForm" (ngSubmit)="submit()">
      <mat-card-content fxLayout="column">
        <mat-form-field>
          <mat-label>{{'Savings.Actions.Transactions.transactionDate'| translate}} </mat-label>
          <input
            matInput
            [min]="minDate"
            [max]="maxDate"
            [matDatepicker]="dueDatePicker"
            formControlName="transactionDate"
            required
          />
          <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #dueDatePicker></mat-datepicker>
          <mat-error *ngIf="savingAccountTransactionForm.controls.transactionDate.hasError('required')">
            {{'Savings.Actions.Transactions.errtransactionDate'| translate}}<strong>{{'Savings.Actions.Transactions.required'| translate}}</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'Savings.Actions.Transactions.transactionAmount'| translate}}</mat-label>
          <input currencyMask type="text" formControlName="transactionAmount" required matInput currencyMask />
          <mat-error *ngIf="savingAccountTransactionForm.controls.transactionAmount.hasError('required')">
            {{'Savings.Actions.Transactions.errtransactionAmount'| translate}}<strong>{{'Savings.Actions.Transactions.required'| translate}}</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'Savings.Actions.Transactions.paymentTypeGroup'| translate}}</mat-label>
          <mat-select #paymentTypeGroup formControlName="paymentTypeGroup">
            <!-- <mat-option *ngFor="let paymentType of paymentTypeOptions" [value]="paymentType.id">
              {{ paymentType.name }}
            </mat-option> -->
            <mat-option label="Chi phí khác" value="!Expense"> {{'Savings.Actions.Transactions.Expense'| translate}} </mat-option>
            <mat-option label="Định phí" value="Expense-Fixed"> {{'Savings.Actions.Transactions.Fixed'| translate}} </mat-option>
            <mat-option label="Biến phí" value="Expense-Variabled"> {{'Savings.Actions.Transactions.Variabled'| translate}} </mat-option>
            <mat-option label="Tạm ứng thù lao" value="Expense-Equity"> {{'Savings.Actions.Transactions.Equity'| translate}} </mat-option>
          </mat-select>
          <mat-error *ngIf="savingAccountTransactionForm?.controls?.paymentTypeGroup?.hasError('required')">
            {{'Savings.Actions.Transactions.errpaymentTypeGroup'| translate}}<strong>{{'Savings.Actions.Transactions.required'| translate}}</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'Savings.Actions.Transactions.paymentType'| translate}}</mat-label>
          <mat-select formControlName="paymentTypeId">
            <mat-option *ngFor="let paymentType of filteredOptions" [value]="paymentType.id">
              {{ paymentType.name }}
            </mat-option>
          </mat-select>
          <mat-label style="color: green; font-weight: bold">: {{ paymentTypeDescription }}</mat-label>

          <mat-error *ngIf="savingAccountTransactionForm.controls.paymentTypeId.hasError('required')">
            {{'Savings.Actions.Transactions.errpaymentType'| translate}}<strong>{{'Savings.Actions.Transactions.required'| translate}}</strong>
          </mat-error>
        </mat-form-field>

        <div fxLayout="row" fxLayout.xs="column" class="form-group" *ngIf="limitInfo && limitInfo.limitConfig && limitInfo.limitConfig != 0 ">
          <ul>
            <li>
              <span>{{'Savings.Actions.Transactions.limitConfig'| translate}}</span
              ><span class="text-right">
                {{ limitInfo.limitConfig | money }}
              </span>
            </li>
            <li>
              <span>{{'Savings.Actions.Transactions.limitUsed'| translate}}</span>
              <span class="text-right" style="color: red; font-weight: bold">
                {{ limitInfo.limitUsed | money }}
              </span>
            </li>
            <li>
              <span>{{'Savings.Actions.Transactions.limitAvailable'| translate}}</span
              ><span class="text-right" style="color: green; font-weight: bold">
                {{ limitInfo.limitConfig - limitInfo.limitUsed | money }}
              </span>
            </li>
          </ul>
        </div>

        <!-- <div fxLayoutGap="5px" fxLayout="row" fxLayout.xs="column">
          <mat-label fxFlexAlign="center">Show Payment Details</mat-label>
          <button type="button" mat-mini-fab color="primary" (click)="addPaymentDetails()">
            <fa-icon [icon]="!addPaymentDetailsFlag ? 'plus-circle' : 'minus-circle'" size="lg"></fa-icon>
          </button>
        </div> -->
        <mat-form-field *ngIf="savingAccountTransactionForm.controls['bankNumber']">
          <mat-label>{{'Savings.Actions.Transactions.office'| translate}}</mat-label>
          <mat-select formControlName="bankNumber">
            <mat-option *ngFor="let office of offices" selected label="{{ office.name }}" value="{{ office.id }}">
              {{ office.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="savingAccountTransactionForm.controls['accountNumber'] && !showStaffChoose">
          <mat-label>{{'Savings.Actions.Transactions.accountNumber'| translate}}</mat-label>
          <input type="number" formControlName="accountNumber" matInput />
        </mat-form-field>
        <mat-form-field *ngIf="savingAccountTransactionForm.controls['accountNumber'] && showStaffChoose">
          <mat-label>{{'Savings.Actions.Transactions.accountNumber2'| translate}}</mat-label>
          <mat-select formControlName="accountNumber">
            <mat-option *ngFor="let staff of limitInfo?.listStaff" selected label="{{ staff.displayName }}" value="{{ staff.staffId }}">
              {{ staff.displayName }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="savingAccountTransactionForm.controls['checkNumber']">
          <mat-label>{{'Savings.Actions.Transactions.Cheque'| translate}}</mat-label>
          <input type="number" formControlName="checkNumber" matInput />
        </mat-form-field>

        <mat-form-field *ngIf="savingAccountTransactionForm.controls['routingCode']">
          <mat-label>{{'Savings.Actions.Transactions.routingCode'| translate}}</mat-label>
          <input formControlName="routingCode" matInput />
        </mat-form-field>

        <mat-form-field *ngIf="savingAccountTransactionForm.controls['receiptNumber']">
          <mat-label>{{'Savings.Actions.Transactions.receiptNumber'| translate}}</mat-label>
          <input formControlName="receiptNumber" matInput />
        </mat-form-field>



        <mat-form-field>
          <mat-label>{{'Savings.Actions.Transactions.note'| translate}}</mat-label>
          <textarea formControlName="note" matInput></textarea>
        </mat-form-field>

        <mat-card-actions fxLayoutGap="5px" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
          <button type="button" mat-raised-button [routerLink]="['../../']">{{'Savings.Actions.Transactions.Cancel'| translate}}</button>
          <button mat-raised-button color="primary" [disabled]="!savingAccountTransactionForm.valid">{{'Savings.Actions.Transactions.Confirm'| translate}}</button>
        </mat-card-actions>
      </mat-card-content>
    </form>
  </mat-card>
</div>
