<form [formGroup]="fixedDepositAccountSettingsForm">

  <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

    <h4 fxFlex="98%" class="mat-h4">{{ "Deposits.Fixed.Stepper.Settings.h4" | translate }}</h4>

    <mat-form-field fxFlex="48%">
      <mat-label>{{ "Deposits.Fixed.Stepper.Settings.lockinPeriodFrequency" | translate }}</mat-label>
      <input type="number" matInput formControlName="lockinPeriodFrequency">
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>{{ "Deposits.Fixed.Stepper.Settings.lockinPeriodFrequencyType" | translate }}</mat-label>
      <mat-select formControlName="lockinPeriodFrequencyType">
        <mat-option *ngFor="let lockinPeriodFrequencyType of lockinPeriodFrequencyTypeData"
          [value]="lockinPeriodFrequencyType.id">
          {{ lockinPeriodFrequencyType.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <h4 fxFlex="98%" class="mat-h4">{{ "Deposits.Fixed.Stepper.Settings.h4_2" | translate }}</h4>

    <mat-form-field fxFlex="48%">
      <mat-label>{{ "Deposits.Fixed.Stepper.Settings.minDepositTerm" | translate }}</mat-label>
      <input type="number" matInput formControlName="minDepositTerm" required>
      <mat-error>
        {{ "Deposits.Fixed.Stepper.Settings.errminDepositTerm" | translate }}<strong>{{ "Deposits.strongRequired" | translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>{{ "Deposits.Fixed.Stepper.Settings.minDepositTermTypeId" | translate }}</mat-label>
      <mat-select formControlName="minDepositTermTypeId" required>
        <mat-option *ngFor="let periodFrequencyType of periodFrequencyTypeData" [value]="periodFrequencyType.id">
          {{ periodFrequencyType.value }}
        </mat-option>
      </mat-select>
      <mat-error>
        {{ "Deposits.Fixed.Stepper.Settings.errminDepositTermTypeId" | translate }}<strong>{{ "Deposits.strongRequired" | translate }}</strong>
      </mat-error>
    </mat-form-field>

    <h4 fxFlex="98%" class="mat-h4">{{ "Deposits.Fixed.Stepper.Settings.h4_3" | translate }}</h4>

    <mat-form-field fxFlex="48%">
      <mat-label>{{ "Deposits.Fixed.Stepper.Settings.inMultiplesOfDepositTerm" | translate }}</mat-label>
      <input type="number" matInput formControlName="inMultiplesOfDepositTerm">
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>{{ "Deposits.Fixed.Stepper.Settings.inMultiplesOfDepositTermTypeId" | translate }}</mat-label>
      <mat-select formControlName="inMultiplesOfDepositTermTypeId">
        <mat-option *ngFor="let periodFrequencyType of periodFrequencyTypeData" [value]="periodFrequencyType.id">
          {{ periodFrequencyType.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <h4 fxFlex="98%" class="mat-h4">{{ "Deposits.Fixed.Stepper.Settings.h4_4" | translate }}</h4>

    <mat-form-field fxFlex="48%">
      <mat-label>{{ "Deposits.Fixed.Stepper.Settings.maxDepositTerm" | translate }}</mat-label>
      <input type="number" matInput formControlName="maxDepositTerm">
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>{{ "Deposits.Fixed.Stepper.Settings.maxDepositTermTypeId" | translate }}</mat-label>
      <mat-select formControlName="maxDepositTermTypeId">
        <mat-option *ngFor="let periodFrequencyType of periodFrequencyTypeData" [value]="periodFrequencyType.id">
          {{ periodFrequencyType.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-divider fxFlex="98%"></mat-divider>

    <h3 fxFlex="23%" class="mat-h3">{{ "Deposits.Fixed.Stepper.Settings.h3" | translate }}</h3>

    <mat-checkbox fxFlex="32%" labelPosition="before" formControlName="transferInterestToSavings" class="margin-b">
      {{ "Deposits.Fixed.Stepper.Settings.transferInterestToSavings" | translate }}
    </mat-checkbox>

    <mat-form-field fxFlex="48%" *ngIf="fixedDepositAccountSettingsForm.contains('linkAccountId')" class="margin-b">
      <mat-label>{{ "Deposits.Fixed.Stepper.Settings.linkAccountId" | translate }}</mat-label>
      <mat-select formControlName="linkAccountId" required>
        <mat-option *ngFor="let account of savingsAccountsData" [value]="account.id">
          {{ account.accountNo }}
        </mat-option>
      </mat-select>
      <mat-error>
        {{ "Deposits.Fixed.Stepper.Settings.errlinkAccountId" | translate }}<strong>{{ "Deposits.strongRequired" | translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-divider fxFlex="98%"></mat-divider>

    <h4 fxFlex="23%" class="mat-h4">{{ "Deposits.Fixed.Stepper.Settings.h4_5" | translate }}</h4>

    <mat-checkbox fxFlex="73%" labelPosition="before" formControlName="preClosurePenalApplicable" class="margin-v">
      {{ "Deposits.Fixed.Stepper.Settings.preClosurePenalApplicable" | translate }}
    </mat-checkbox>

    <mat-form-field fxFlex="48%">
      <mat-label>{{ "Deposits.Fixed.Stepper.Settings.preClosurePenalInterest" | translate }}</mat-label>
      <input type="number" matInput formControlName="preClosurePenalInterest">
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>{{ "Deposits.Fixed.Stepper.Settings.preClosurePenalInterestOnTypeId" | translate }}</mat-label>
      <mat-select formControlName="preClosurePenalInterestOnTypeId">
        <mat-option *ngFor="let preClosurePenalInterestOnType of preClosurePenalInterestOnTypeData"
          [value]="preClosurePenalInterestOnType.id">
          {{ preClosurePenalInterestOnType.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <ng-container *ngIf="fixedDepositAccountSettingsForm.controls.withHoldTax">

      <mat-divider fxFlex="98%"></mat-divider>

      <mat-checkbox fxFlex="48%" labelPosition="before" formControlName="withHoldTax" class="margin-p">
        {{ "Deposits.Fixed.Stepper.Settings.withHoldTax" | translate }}
      </mat-checkbox>

      <mat-form-field fxFlex="48%" *ngIf="fixedDepositAccountSettingsForm.controls.taxGroupId" class="p-b-25">
        <mat-label>{{ "Deposits.Fixed.Stepper.Settings.taxGroupId" | translate }}</mat-label>
        <input matInput formControlName="taxGroupId">
      </mat-form-field>

    </ng-container>

  </div>

  <div fxLayout="row" class="margin-t" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="2%">
    <button mat-raised-button matStepperPrevious>
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;&nbsp;
      {{ "ShareButton.PreviousEng" | translate }}
    </button>
    <button mat-raised-button matStepperNext>
      {{ "ShareButton.NextEng" | translate }}&nbsp;&nbsp;
      <fa-icon icon="arrow-right"></fa-icon>
    </button>
  </div>

</form>
