<div class="container">

  <mat-card>

    <form [formGroup]="assignOfficerForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div fxLayout="column">

          <mat-form-field>
            <mat-label> {{'Loans.View.Actions.AssignLoan.toLoanOfficerId'| translate }}</mat-label>
            <mat-select required formControlName="toLoanOfficerId">
              <mat-option *ngFor="let loanOfficer of loanOfficers" [value]="loanOfficer.id">
                {{ loanOfficer.displayName }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="assignOfficerForm.controls.toLoanOfficerId.hasError('required')">
              {{'Loans.View.Actions.AssignLoan.errtoLoanOfficerId'| translate }}<strong>{{'Loans.View.strongRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{'Loans.View.Actions.AssignLoan.assignmentDate'| translate }}</mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="assignOnDatePicker" required
              formControlName="assignmentDate">
            <mat-datepicker-toggle matSuffix [for]="assignOnDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #assignOnDatePicker></mat-datepicker>
            <mat-error *ngIf="assignOfficerForm.controls.assignmentDate.hasError('required')">
              {{'Loans.View.Actions.AssignLoan.errassignmentDate'| translate }}<strong>{{'Loans.View.strongRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

        </div>

        <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
          <button type="button" mat-raised-button [routerLink]="['../../general']">{{ "ShareButton.CancelEng" | translate }}</button>
          <button mat-raised-button color="primary" [disabled]="!assignOfficerForm.valid"
            *midasHasPermission="'BULKREASSIGN_LOAN'">{{ "ShareButton.Submit" | translate }}</button>
        </mat-card-actions>

      </mat-card-content>

    </form>

  </mat-card>

</div>
