<div class="container">

  <mat-card>

    <form [formGroup]="emailConfigurationForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div fxLayout="column">

          <mat-form-field>
            <mat-label>{{'System.ExternalServicesComponent.Email.EditEmail.Username'| translate }}</mat-label>
            <input matInput required formControlName="username">
            <mat-error *ngIf="emailConfigurationForm.controls.username.hasError('required')">
              {{'System.ExternalServicesComponent.Email.EditEmail.errUsername'| translate }}<strong>{{'System.strongRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{'System.ExternalServicesComponent.Email.EditEmail.Password'| translate }}</mat-label>
            <input matInput required formControlName="password">
            <mat-error *ngIf="emailConfigurationForm.controls.password.hasError('required')">
              {{'System.ExternalServicesComponent.Email.EditEmail.errPassword'| translate }}<strong>{{'System.strongRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{'System.ExternalServicesComponent.Email.EditEmail.Host'| translate }}</mat-label>
            <input matInput required formControlName="host">
            <mat-error *ngIf="emailConfigurationForm.controls.host.hasError('required')">
              {{'System.ExternalServicesComponent.Email.EditEmail.errHost'| translate }}<strong>{{'System.strongRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{'System.ExternalServicesComponent.Email.EditEmail.Port'| translate }}</mat-label>
            <input matInput required formControlName="port">
            <mat-error *ngIf="emailConfigurationForm.controls.port.hasError('required')">
              {{'System.ExternalServicesComponent.Email.EditEmail.errPort'| translate }}<strong>{{'System.strongRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{'System.ExternalServicesComponent.Email.EditEmail.useTLS'| translate }}</mat-label>
            <input matInput required formControlName="useTLS">
            <mat-error *ngIf="emailConfigurationForm.controls.useTLS.hasError('required')">
              {{'System.ExternalServicesComponent.Email.EditEmail.erruseTLS'| translate }}<strong>{{'System.strongRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

        </div>

      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../']">{{ "ShareButton.CancelEng" | translate }}</button>
        <button mat-raised-button color="primary" [disabled]="!emailConfigurationForm.valid || emailConfigurationForm.pristine">{{ "ShareButton.Submit" | translate }}</button>
      </mat-card-actions>

    </form>

  </mat-card>

</div>
