<div class="container m-b-20" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20px">

  <button mat-raised-button color="primary" [routerLink]="['edit']" *midasHasPermission="'UPDATE_TEMPLATE'">
    <fa-icon icon="edit"></fa-icon>&nbsp;&nbsp;
    {{ "ShareButton.Edit" | translate }}
  </button>

  <button mat-raised-button color="warn" (click)="delete()" *midasHasPermission="'DELETE_TEMPLATE'">
    <fa-icon icon="trash"></fa-icon>&nbsp;&nbsp;
    {{ "ShareButton.DeleteEng" | translate }}
  </button>

</div>

<div class="container">

  <mat-card>

    <mat-card-content>

      <div fxLayout="row wrap" class="content">

        <div fxFlex="50%" class="mat-body-strong">
          {{'TemplatesComponent.ViewTemplateComponent.Name'| translate }}
        </div>

        <div fxFlex="50%">
          {{ templateData.name }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'TemplatesComponent.ViewTemplateComponent.Entity'| translate }}
        </div>

        <div fxFlex="50%">
          {{ templateData.entity }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'TemplatesComponent.ViewTemplateComponent.Type'| translate }}
        </div>

        <div fxFlex="50%">
          {{ templateData.type }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'TemplatesComponent.ViewTemplateComponent.Text'| translate }}
        </div>

        <div fxFlex="50%" [innerHTML]="templateData.text"></div>

      </div>

    </mat-card-content>

  </mat-card>

</div>
