<div fxLayout="row wrap" fxLayout.lt-md="column">

  <h3 class="mat-h3" fxFlexFill>{{'Shares.Stepper.SharesAccountPreview.Details'| translate}}</h3>

  <mat-divider fxFlexFill></mat-divider>

  <div fxFlexFill>
    <span fxFlex="40%">{{'Shares.Stepper.SharesAccountPreview.Product'| translate}}</span>
    <span fxFlex="60%">{{ sharesAccount.productId | find:sharesAccountTemplate.productOptions:'id':'name' }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%">{{'Shares.Stepper.SharesAccountPreview.submittedDate'| translate}}</span>
    <span fxFlex="60%">{{ sharesAccount.submittedDate | date }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%">{{'Shares.Stepper.SharesAccountPreview.externalId'| translate}}</span>
    <span fxFlex="60%">{{ sharesAccount.externalId || 'Unassigned' }}</span>
  </div>

  <h3 class="mat-h3" fxFlexFill>{{'Shares.Stepper.SharesAccountPreview.Terms'| translate}}</h3>

  <mat-divider fxFlexFill></mat-divider>

  <div fxFlexFill>
    <span fxFlex="40%">{{'Shares.Stepper.SharesAccountPreview.Currency'| translate}}</span>
    <span fxFlex="60%">{{ sharesAccountTermsForm.get('currencyCode').value | find:[sharesAccountProductTemplate.currency]:'code':'displayLabel' }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%">{{'Shares.Stepper.SharesAccountPreview.decimal'| translate}}</span>
    <span fxFlex="60%">{{ sharesAccountTermsForm.get('decimal').value }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%">{{'Shares.Stepper.SharesAccountPreview.requestedShares'| translate}}</span>
    <span fxFlex="60%">{{ sharesAccount.requestedShares }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%">{{'Shares.Stepper.SharesAccountPreview.unitPrice'| translate}}</span>
    <span fxFlex="60%">{{ sharesAccountTermsForm.get('unitPrice').value }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%">{{'Shares.Stepper.SharesAccountPreview.currencyMultiple'| translate}}</span>
    <span fxFlex="60%">{{ sharesAccountTermsForm.get('currencyMultiple').value }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%">{{'Shares.Stepper.SharesAccountPreview.DefaultSavingsAccount'| translate}}</span>
    <span fxFlex="60%">{{ sharesAccount.savingsAccountId | find:sharesAccountProductTemplate.clientSavingsAccounts:'id':'accountNo' }}</span>
  </div>

  <div fxFlexFill *ngIf="sharesAccount.minimumActivePeriod">
    <span fxFlex="40%">{{'Shares.Stepper.SharesAccountPreview.MinimumActivePeriod'| translate}}</span>
    <span fxFlex="60%">{{sharesAccount.minimumActivePeriod}}&nbsp;{{sharesAccount.minimumActivePeriodFrequencyType | find:sharesAccountProductTemplate.minimumActivePeriodFrequencyTypeOptions:'id':'value'}}</span>
  </div>

  <div fxFlexFill *ngIf="sharesAccount.lockinPeriodFrequency">
    <span fxFlex="40%">{{'Shares.Stepper.SharesAccountPreview.lockinPeriodFrequency'| translate}}</span>
    <span fxFlex="60%">{{sharesAccount.lockinPeriodFrequency}}&nbsp;{{sharesAccount.lockinPeriodFrequencyType | find:sharesAccountProductTemplate.lockinPeriodFrequencyTypeOptions:'id':'value'}}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%">{{'Shares.Stepper.SharesAccountPreview.applicationDate'| translate}}</span>
    <span fxFlex="60%">{{ sharesAccount.applicationDate | date }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%">{{'Shares.Stepper.SharesAccountPreview.allowDividendCalculationForInactiveClients'| translate}}</span>
    <span fxFlex="60%">{{ sharesAccount.allowDividendCalculationForInactiveClients }}</span>
  </div>

  <div fxFlexFill *ngIf="sharesAccount.charges.length" fxLayout="row wrap" fxLayout.lt-md="column">

    <h3 class="mat-h3" fxFlexFill>{{'Shares.Stepper.SharesAccountPreview.Charges'| translate}}</h3>

    <mat-divider fxFlexFill></mat-divider>

    <table fxFlexFill class="mat-elevation-z1" mat-table [dataSource]="sharesAccount.charges">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> {{'Shares.Stepper.SharesAccountPreview.Name'| translate}} </th>
        <td mat-cell *matCellDef="let charge">
          {{ charge.name + ', ' + charge.currency.displaySymbol }}
        </td>
      </ng-container>

      <ng-container matColumnDef="chargeCalculationType">
        <th mat-header-cell *matHeaderCellDef> {{'Shares.Stepper.SharesAccountPreview.Type'| translate}} </th>
        <td mat-cell *matCellDef="let charge">
          {{ charge.chargeCalculationType.value }}
        </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> {{'Shares.Stepper.SharesAccountPreview.Amount'| translate}} </th>
        <td mat-cell *matCellDef="let charge">
          {{ charge.amount || charge.amountOrPercentage }}
        </td>
      </ng-container>

      <ng-container matColumnDef="chargeTimeType">
        <th mat-header-cell *matHeaderCellDef> {{'Shares.Stepper.SharesAccountPreview.chargeTimeType'| translate}} </th>
        <td mat-cell *matCellDef="let charge">
          {{ charge.chargeTimeType.value }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="chargesDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: chargesDisplayedColumns;"></tr>

    </table>

  </div>

</div>

<div fxLayout="row" class="margin-t" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="2%">
  <button mat-raised-button matStepperPrevious>
    <fa-icon icon="arrow-left"></fa-icon>&nbsp;&nbsp;
    {{ "ShareButton.PreviousEng" | translate }}
  </button>
  <button mat-raised-button [routerLink]="['../']">
    {{ "ShareButton.CancelEng" | translate }}
  </button>
  <button mat-raised-button color="primary" (click)="submit.emit()">
    {{ "ShareButton.Submit" | translate }}
  </button>
</div>
