<div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column" class="container m-b-20">
  <button mat-raised-button color="primary" [routerLink]="['edit']" *midasHasPermission="'UPDATE_TELLER'">
    <fa-icon icon="edit"></fa-icon>&nbsp;&nbsp;
    {{ "ShareButton.Edit" | translate }}
  </button>
  <button mat-raised-button color="warn" (click)="deleteTeller()" *midasHasPermission="'DELETE_TELLER'">
    <fa-icon icon="trash"></fa-icon>&nbsp;&nbsp;
    {{ "ShareButton.DeleteEng" | translate }}
  </button>
</div>

<div class="container">

  <mat-card>

    <mat-card-content>

      <div fxLayout="row wrap" class="content">

        <div fxFlex="50%" class="mat-body-strong">
          {{'Organization.Tellers.View.name'| translate }}
        </div>

        <div fxFlex="50%">
          {{ tellerData.name }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'Organization.Tellers.View.Office'| translate }}
        </div>

        <div fxFlex="50%">
          {{ tellerData.officeName }}
        </div>

        <div fxFlex="50%" class="mat-body-strong" *ngIf="tellerData.description">
          {{'Organization.Tellers.View.Description'| translate }}
        </div>

        <div fxFlex="50%" *ngIf="tellerData.description">
          {{ tellerData.description }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'Organization.Tellers.View.startDate'| translate }}
        </div>

        <div fxFlex="50%">
          {{ tellerData.startDate | date }}
        </div>

        <div fxFlex="50%" class="mat-body-strong" *ngIf="tellerData.endDate">
          {{'Organization.Tellers.View.endDate'| translate }}
        </div>

        <div fxFlex="50%" *ngIf="tellerData.endDate">
          {{ tellerData.endDate | date }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'Organization.Tellers.View.Status'| translate }}
        </div>

        <div fxFlex="50%">
          {{ tellerData.status | titlecase }}
        </div>

      </div>

    </mat-card-content>

  </mat-card>

</div>
