<mat-card class="container" [formGroup]="fromGroup">
  <mat-form-field style="width: 90%;">
    <mat-label>{{'Marketing.CreateBookingMarketing.PosCampaignName'| translate }}</mat-label>
    <input matInput required formControlName="PosCampaignName">
  </mat-form-field>
  <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

    <mat-form-field fxFlex="23%">
      <mat-label>{{'Marketing.CreateBookingMarketing.notifyDate'| translate }}</mat-label>
      <input matInput required formControlName="notifyDate" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2"
             placeholder="Thời gian thông báo">
      <mat-icon matSuffix><img src="assets/images/icons/warning.svg" height="22" width="22"></mat-icon>
      <owl-date-time #dt2></owl-date-time>
    </mat-form-field>
    <mat-form-field fxFlex="23%">
      <mat-label>{{'Marketing.CreateBookingMarketing.fromDate'| translate }}</mat-label>
      <input matInput required formControlName="fromDate" [owlDateTime]="dt0" [owlDateTimeTrigger]="dt0"
             placeholder="Thời gian bắt đầu">
      <mat-icon matSuffix><img src="assets/images/icons/start.svg" height="22" width="22"></mat-icon>
      <owl-date-time #dt0></owl-date-time>
    </mat-form-field>
    <mat-form-field fxFlex="23%">
      <mat-label>{{'Marketing.CreateBookingMarketing.toDate'| translate }}</mat-label>
      <input matInput required formControlName="toDate" [owlDateTime]="dt1" [min]="minDateTo()"
             [owlDateTimeTrigger]="dt1"
             placeholder="Thời gian kết thúc">
      <mat-icon matSuffix><img src="assets/images/icons/end.svg" height="22" width="22"></mat-icon>
      <owl-date-time #dt1></owl-date-time>
    </mat-form-field>
    <mat-form-field fxFlex="23%">
      <mat-label>{{'Marketing.CreateBookingMarketing.secondRemain'| translate }}</mat-label>
      <input matInput type="number" required formControlName="secondRemain">
      <mat-icon matSuffix><img src="assets/images/icons/end.svg" height="22" width="22"></mat-icon>
    </mat-form-field>
  </div>
  <mat-card>
    <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">
      <div fxFlex="30%" fxLayout="column">
        <mat-form-field>
          <div fxLayout="row" style="margin: 8px;">
            <img src="assets/images/icons/money-deposit.svg" width="22" height="22">
            <input formControlName="budget" required matInput formControlName="budget" currencyMask>
          </div>
        </mat-form-field>
        <div fxLayout="column">
          <label class="example-margin">{{'Marketing.CreateBookingMarketing.cashRule'| translate }}</label>
          <mat-radio-group formControlName="cashRule">
            <mat-radio-button class="example-margin" value="1">
              <div fxLayout="row" style="margin: 8px;">
                <img src="assets/images/icons/delay.svg" height="22" width="22">
                <p
                  style="font-size: 18px; font-weight: bold; margin: 2px;">{{'Marketing.CreateBookingMarketing.PosCampaignName'| translate }}Chờ</p>
              </div>
            </mat-radio-button>
            <mat-radio-button class="example-margin" value="-1">
              <div fxLayout="row" style="margin: 8px;">
                <img src="assets/images/icons/fast-delivery.svg" width="22" height="22">
                <p
                  style="font-size: 18px; font-weight: bold; margin: 2px;">{{'Marketing.CreateBookingMarketing.PosCampaignName'| translate }}Ngay</p>
              </div>
            </mat-radio-button>
          </mat-radio-group>
          <mat-form-field *ngIf="fromGroup.get('cashRule').value !== '-1'">
            <div fxLayout="row" style="margin: 8px;">
              <input type="number" [required]="fromGroup.get('cashRule').value !== '-1'" formControlName="cashRule"
                     matInput>
            </div>
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="65%">
        <table mat-table [dataSource]="cards" matSort
               multiTemplateDataRows>
          <!-- Name Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef
            >{{'Marketing.CreateBookingMarketing.description'| translate }}
            </th>
            <td mat-cell *matCellDef="let row" [formGroup]="row">
              {{row.get('description').value}}
            </td>
          </ng-container>

          <!-- Account no Column -->
          <ng-container matColumnDef="costRate">
            <th mat-header-cell *matHeaderCellDef
            > {{'Marketing.CreateBookingMarketing.costRate'| translate }}
            </th>
            <td mat-cell *matCellDef="let row" [formGroup]="row">
              <mat-form-field class="input-card">
                <input type="number" matInput [required]="row.get('select').value" formControlName="costRate">
              </mat-form-field>
            </td>
          </ng-container>

          <!-- External ID Column -->
          <ng-container matColumnDef="cogsRate">
            <th mat-header-cell d *matHeaderCellDef
            > {{'Marketing.CreateBookingMarketing.cogsRate'| translate }}
            </th>
            <td mat-cell *matCellDef="let row" [formGroup]="row">
              <mat-form-field class="input-card">
                <input type="number" [required]="row.get('select').value" matInput formControlName="cogsRate">
              </mat-form-field>
            </td>
          </ng-container>
          <ng-container matColumnDef="rate">
            <th mat-header-cell *matHeaderCellDef
            >{{'Marketing.CreateBookingMarketing.rate'| translate }}
            </th>
            <td mat-cell *matCellDef="let row" [formGroup]="row">
              <mat-form-field class="input-card">
                <input type="number" matInput [required]="row.get('select').value" formControlName="rate">
              </mat-form-field>
            </td>
          </ng-container>
          <ng-container matColumnDef="select" style="width: 50px;">
            <th mat-header-cell *matHeaderCellDef
            >{{'Marketing.CreateBookingMarketing.Status'| translate }}
            </th>
            <td mat-cell *matCellDef="let row" [formGroup]="row">
              <mat-checkbox formControlName="select" class="margin-v">
              </mat-checkbox>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedCardColumns"></tr>
          <tr mat-row *matRowDef="let element; columns: displayedCardColumns;"
              class="example-element-row">
          </tr>
        </table>
      </div>
    </div>
  </mat-card>
  <mat-card style="margin-top: 20px;">
    <mat-tab-group>
      <mat-tab [label]="'Marketing.CreateBookingMarketing.officeName'| translate">
        <mat-card-content>
          <div fxLayout="row wrap" [formGroup]="fromGroup" fxLayoutGap="2%" cdkDropListGroup>
            <div fxFlex="44%" class="example-container">
              <h3>{{'Marketing.CreateBookingMarketing.officeName'| translate }}</h3>
              <hr/>
              <div style="margin: 12px;">
                <input matInput placeholder="Search">
              </div>
              <div
                cdkDropList
                [cdkDropListData]="offices"
                class="example-list"
                cdkDropListSortingDisabled
                (cdkDropListDropped)="drop($event)">
                <div
                  class="box"
                  (click)="setOfficeSelect(item,'left')"
                  [class.selected_box]="item===office_selected_left"
                  *ngFor="let item of offices" cdkDrag>{{item.name}}</div>
              </div>
            </div>
            <div fxFlex="5%" style="display: flex;">
              <div fxLayout="column" style="display: flex; margin-top: auto; margin-bottom: auto;">
                <button
                  (click)="changeOffices('b','left')"
                  style="margin: 3px;" mat-raised-button> >
                </button>
                <button
                  (click)="changeOffices('all','left')"
                  style="margin: 3px;" mat-raised-button> >>
                </button>
                <hr/>
                <button
                  (click)="changeOffices('b','right')"
                  style="margin: 3px;" mat-raised-button> <
                </button>
                <button
                  (click)="changeOffices('all','right')"
                  style="margin: 3px;" mat-raised-button> <<
                </button>

              </div>
            </div>
            <div fxFlex="44%" class="example-container">
              <h3>{{'Marketing.CreateBookingMarketing.Search'| translate }}</h3>
              <hr/>
              <div style="margin: 12px;">
                <input matInput placeholder="Search">
              </div>
              <div
                cdkDropList
                [cdkDropListData]="officeIds"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="box"
                     (click)="setOfficeSelect(item,'right')"
                     [class.selected_box]="item===office_selected_right"
                     *ngFor="let item of officeIds" cdkDrag>{{item.name}}</div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-tab>
      <mat-tab label="máy bán hàng">
        <mat-card-content>
          <div fxLayout="row wrap" [formGroup]="fromGroup" fxLayoutGap="2%" cdkDropListGroup>
            <div fxFlex="44%" class="example-container">
              <h3>{{'Marketing.CreateBookingMarketing.terminalName'| translate }}</h3>
              <hr/>
              <div style="margin: 12px;">
                <input matInput placeholder="Search">
              </div>
              <div
                style=" height: 60vh;
                          overflow: auto;">
                <div
                     *ngFor="let item of poses"
                     [class.selected_box]="pos_selected_left===item"
                     (click)="setPosSelect(item,'left')"
                     class="box"
                     cdkDrag>{{item?.terminalName}}</div>
              </div>
            </div>
            <div fxFlex="5%" style="display: flex;">
              <div fxLayout="column" style="display: flex; margin-top: auto; margin-bottom: auto;">
                <button
                  (click)="changePoses('b','left')"
                  style="margin: 3px;" mat-raised-button> >
                </button>
                <button
                  (click)="changePoses('all','left')"
                  style="margin: 3px;" mat-raised-button> >>
                </button>
                <hr/>
                <button
                  (click)="changePoses('b','right')"
                  style="margin: 3px;" mat-raised-button> <
                </button>
                <button
                  (click)="changePoses('all','right')"
                  style="margin: 3px;" mat-raised-button> <<
                </button>

              </div>
            </div>
            <div fxFlex="44%" class="example-container">
              <h3>{{'Marketing.CreateBookingMarketing.terminalId'| translate }}</h3>
              <hr/>
              <div style="margin: 12px;">
                <input matInput placeholder="Search">
              </div>
              <div
                style="   height: 60vh;
                          overflow: auto;">
                <div class="box"
                     *ngFor="let item of terminalId"
                     [class.selected_box]="pos_selected_right===item"
                     (click)="setPosSelect(item,'right')"
                     cdkDrag>{{item.terminalName}}</div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
  <mat-card-actions align="center">
    <button mat-raised-button>
      {{'Marketing.CreateBookingMarketing.btnCancel'| translate }}
    </button>
    <button mat-raised-button
            (click)="onSubmit()"
            color="primary">
      <span *ngIf="!campaign">{{'Marketing.CreateBookingMarketing.spanCreate'| translate }}</span>
      <span *ngIf="campaign">{{'Marketing.CreateBookingMarketing.spanUpdate'| translate }}</span>
    </button>
  </mat-card-actions>
</mat-card>
