.selected_box {
  background-color: #00abee;
  color: #2c3e50;
}

.box {
  padding: 10px;
  margin: 4px;
  border-color: #666f73;
  border-width: 1px;
  border-radius: 10px;
}

.input-card {
  //background-color: #9999;
  //margin: 6px;
  //width: 80%;
  padding: 5px;
}
