<mat-card class="mat-elevation-z20 container-custom">
  <mat-card-title align="center">MÀN HÌNH BOOKING DOANH SỐ THEO NGÀY</mat-card-title>
  <mat-card-subtitle align="center" style="color: blue; font-weight: bold">
    Chi nhánh: {{ staffBookingInfo?.officeName }}
    <br />
    Nhân viên: {{ staffBookingInfo?.staffName }}
  </mat-card-subtitle>

  <mat-card-content>
    <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column" [formGroup]="formDate">
      <mat-form-field fxFlex="31%">
        <mat-label>Transaction Date From</mat-label>
        <input matInput [matDatepicker]="transactionDateFromPicker" formControlName="fromDate" />
        <mat-datepicker-toggle matSuffix [for]="transactionDateFromPicker"></mat-datepicker-toggle>
        <mat-datepicker #transactionDateFromPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field fxFlex="31%">
        <mat-label>Transaction Date To</mat-label>
        <input matInput [matDatepicker]="transactionDateToPicker" formControlName="toDate" />
        <mat-datepicker-toggle matSuffix [for]="transactionDateToPicker"></mat-datepicker-toggle>
        <mat-datepicker #transactionDateToPicker></mat-datepicker>
      </mat-form-field>
      <div fxFlex="31%">
        <button
          *ngIf="formDate"
          (click)="getBookingInternal()"
          style="align-self: center"
          color="primary"
          mat-raised-button
        >
          Tìm kiếm &nbsp;<i class="fa fa-search" aria-hidden="true"></i>
        </button>
        <h3 *ngIf="!formDate">
          Vui lòng chọn thời gian &nbsp; <i class="fa fa-calendar" style="align-self: center" aria-hidden="true"></i>
        </h3>
      </div>
    </div>
    <div class="container" fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column"></div>
  </mat-card-content>
  <mat-card-content style="margin-top: 10px">
    <mat-card>
      <div fxLayout="row swap" fxLayoutAlign.lt-sm="center" fxLayoutGap="2%" fxLayout.lt-md="column">
        <div fxLayout="row wrap" fxFlex="20%" class="container m-b-20">
          <img src="assets/images/icons/money.svg" />
          <div style="display: flex" fxLayout="column">
            <span style="font-size: 20px; margin-top: 8px; padding-top: 5px">{{
              staffBookingInfo?.totalAmountBooking | money
            }}</span>
            <span>&nbsp;Tiền booking</span>
          </div>
        </div>
        <div fxLayout="row wrap" fxFlex="20%" class="container m-b-20">
          <img src="assets/images/icons/transaction.svg" />
          <div style="display: flex" fxLayout="column">
            <span style="font-size: 20px; margin-top: 8px; padding-top: 5px">{{
              staffBookingInfo?.totalAmountFromBooking | money
            }}</span>
            <span>&nbsp;Đã nhận</span>
          </div>
        </div>
        <div fxLayout="row wrap" fxFlex="20%" class="container m-b-20">
          <img src="assets/images/icons/capital.svg" />
          <div style="display: flex" fxLayout="column">
            <span style="font-size: 20px; margin-top: 8px; padding-top: 5px">{{
              staffBookingInfo?.totalAmountPaidTransaction | money
            }}</span>
            <span>&nbsp;Đã giao dịch</span>
          </div>
        </div>
        <div fxLayout="row wrap" fxFlex="20%" class="container m-b-20">
          <img src="assets/images/icons/pnlAmount.svg" />
          <div style="display: flex" fxLayout="column">
            <span style="font-size: 20px; margin-top: 8px; padding-top: 5px">
              {{
                staffBookingInfo?.totalAmountRemain | money
              }}
            </span>
            <span>&nbsp;Còn lại</span>
          </div>
        </div>
      </div>
    </mat-card>
  </mat-card-content>

  <mat-card-content>
    <div fxLayout="row swap" fxLayoutAlign="end" fxLayoutAlign.lt-sm="start" fxLayoutGap="2%" fxLayout.lt-md="column">
      <button mat-raised-button color="primary" (click)="addBooking()">Thêm booking
        <mat-icon > add </mat-icon>
      </button>
    </div>
    <br />
    <table mat-table class="mat-elevation-z8" [dataSource]="BookingList" matSort>
      <ng-container matColumnDef="bookingRefNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Mã booking</th>
        <td mat-cell *matCellDef="let booking">{{ booking?.bookingRefNo }}</td>
      </ng-container>

      <ng-container matColumnDef="bookingAmount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Số tiền</th>
        <td mat-cell *matCellDef="let booking">{{ booking?.bookingAmount | money }}</td>
      </ng-container>

      <ng-container matColumnDef="getBookedAmount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Đã nhận</th>
        <td mat-cell *matCellDef="let booking">{{ booking.TotalGet | money }}</td>
      </ng-container>

      <ng-container matColumnDef="txnDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ngày giao dịch</th>
        <td mat-cell *matCellDef="let booking">
          {{ booking?.txnDate | date: "dd-MM-yyyy " }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Hành động</th>
        <td mat-cell *matCellDef="let booking">
          <button mat-mini-fab color="primary" (click)="editBooking(booking)">
            <mat-icon title="Thực hiện giao dịch "> edit </mat-icon>
          </button>
          <button mat-mini-fab color="warn" (click)="removeBooking(booking)">
            <mat-icon title="Thực hiện giao dịch "> delete_forever </mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns" class="example-element-row"></tr>
    </table>
  </mat-card-content>
  <mat-paginator
    paginator
    [length]="BookingFilter.length"
    [pageSize]="10"
    [pageSizeOptions]="[10, 25, 50, 100]"
    showFirstLastButtons
  ></mat-paginator>
</mat-card>
