/*-- Sign Styles --*/

.sign {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  &__word {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    text-align: left;
    line-height: 1;
    color: #c6e2ff;
    animation: neon 0.08s ease-in-out infinite alternate;
    .aa{
      color: #c6e2ff;
      text-shadow: 0 0 2px rgba(202, 228, 225, 0.92), 0 0 10px rgba(202, 228, 225, 0.34), 0 0 4px rgba(30, 132, 242, 0.52),
        0 0 7px rgba(30, 132, 242, 0.92), 0 0 11px rgba(30, 132, 242, 0.78), 0 0 16px rgba(30, 132, 242, 0.92);
    }
    li{
      font-size: 1rem;
      margin-top: 0.5rem;
    }
  }
}

/*-- Animation Keyframes --*/

// animation

@keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(242, 30, 30, 0.52),
      0 0 21px rgba(242, 30, 30, 0.92), 0 0 34px rgba(242, 30, 30, 0.78), 0 0 54px rgba(242, 30, 30, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(242, 30, 30, 0.58),
      0 0 22px rgba(242, 30, 30, 0.84), 0 0 38px rgba(242, 30, 30, 0.88), 0 0 60px rgba(242, 30, 30, 1);
  }
}

.bannerbg {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.9), rgba(28, 0, 138, 0.8)), url(../../../assets/images/banner/2650401.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #141414;
  height: 400px;
  width: 100%;
  border-radius: 5px;
}

// Link
.link {
  // position: absolute;
  // bottom: 10px; left: 10px;
  color: #a2a2a2;
  text-decoration: none;
  border-color: #a2a2a2;
  border-radius: 15px;
  border: 2px solid;
  padding: 6px;
  width: 165px;
  text-align: center;

  &:focus,
  &:hover {
    color: #c6e2ff;
    text-shadow: 0 0 2px rgba(202, 228, 225, 0.92), 0 0 10px rgba(202, 228, 225, 0.34), 0 0 4px rgba(30, 132, 242, 0.52),
      0 0 7px rgba(30, 132, 242, 0.92), 0 0 11px rgba(30, 132, 242, 0.78), 0 0 16px rgba(30, 132, 242, 0.92);
  }
}
