<!-- TODO: Refactor Permissions -->
<div class="container">

  <mat-card>

    <div fxLayout="row" fxLayout.lt-md="column">

      <div fxFlex="50%">

        <mat-nav-list>

          <mat-list-item [routerLink]="['Offices']" *midasHasPermission="'READ_OFFICE'">
            <mat-icon matListIcon>
              <fa-icon icon="building" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'Organization.BulkImportComponent.Offices'| translate }}</h4>
          </mat-list-item>

          <mat-list-item [routerLink]="['Users']" *midasHasPermission="'READ_OFFICE'">
            <mat-icon matListIcon>
              <fa-icon icon="user" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'Organization.BulkImportComponent.Users'| translate }}</h4>
          </mat-list-item>

          <mat-list-item [routerLink]="['Groups']" *midasHasPermission="'READ_OFFICE'">
            <mat-icon matListIcon>
              <fa-icon icon="users" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'Organization.BulkImportComponent.Groups'| translate }}</h4>
          </mat-list-item>

          <mat-list-item [routerLink]="['Loan Accounts']" *midasHasPermission="'READ_OFFICE'">
            <mat-icon matListIcon>
              <fa-icon icon="money-bill-alt" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'Organization.BulkImportComponent.LoanAccounts'| translate }}</h4>
          </mat-list-item>

          <mat-list-item [routerLink]="['Savings Accounts']" *midasHasPermission="'READ_OFFICE'">
            <mat-icon matListIcon>
              <fa-icon icon="money-bill-alt" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'Organization.BulkImportComponent.SavingsAccounts'| translate }}</h4>
          </mat-list-item>

          <mat-list-item [routerLink]="['Fixed Deposit Accounts']" *midasHasPermission="'READ_OFFICE'">
            <mat-icon matListIcon>
              <fa-icon icon="money-bill-alt" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'Organization.BulkImportComponent.FixedDepositAccounts'| translate }}</h4>
          </mat-list-item>

          <mat-list-item [routerLink]="['Chart of Accounts']" *midasHasPermission="'READ_OFFICE'">
            <mat-icon matListIcon>
              <fa-icon icon="money-bill-alt" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'Organization.BulkImportComponent.ChartOfAccounts'| translate }}</h4>
          </mat-list-item>

          <mat-list-item [routerLink]="['Share Accounts']" *midasHasPermission="'READ_OFFICE'">
            <mat-icon matListIcon>
              <fa-icon icon="money-bill-alt" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'Organization.BulkImportComponent.ShareAccounts'| translate }}</h4>
          </mat-list-item>

        </mat-nav-list>

      </div>

      <div fxFlex="50%">

        <mat-nav-list>

          <mat-list-item [routerLink]="['Employees']" *midasHasPermission="'READ_OFFICE'">
            <mat-icon matListIcon>
              <fa-icon icon="user" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'Organization.BulkImportComponent.Employees'| translate }}</h4>
          </mat-list-item>


          <mat-list-item [routerLink]="['Clients']" *midasHasPermission="'READ_OFFICE'">
            <mat-icon matListIcon>
              <fa-icon icon="user" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'Organization.BulkImportComponent.Clients'| translate }}</h4>
          </mat-list-item>

          <mat-list-item [routerLink]="['Centers']" *midasHasPermission="'READ_OFFICE'">
            <mat-icon matListIcon>
              <fa-icon icon="users" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'Organization.BulkImportComponent.Centers'| translate }}</h4>
          </mat-list-item>

          <mat-list-item [routerLink]="['Loan Repayments']" *midasHasPermission="'READ_OFFICE'">
            <mat-icon matListIcon>
              <fa-icon icon="chevron-right" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'Organization.BulkImportComponent.LoanRepayments'| translate }}</h4>
          </mat-list-item>

          <mat-list-item [routerLink]="['Savings Transactions']" *midasHasPermission="'READ_OFFICE'">
            <mat-icon matListIcon>
              <fa-icon icon="chevron-right" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'Organization.BulkImportComponent.SavingsTransactions'| translate }}</h4>
          </mat-list-item>

          <mat-list-item [routerLink]="['Fixed Deposit Transactions']" *midasHasPermission="'READ_OFFICE'">
            <mat-icon matListIcon>
              <fa-icon icon="chevron-right" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'Organization.BulkImportComponent.FixedDepositTransactions'| translate }}</h4>
          </mat-list-item>

          <mat-list-item [routerLink]="['Recurring Deposit Transactions']" *midasHasPermission="'READ_OFFICE'">
            <mat-icon matListIcon>
              <fa-icon icon="chevron-right" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'Organization.BulkImportComponent.RecurringDepositTransactions'| translate }}</h4>
          </mat-list-item>

          <mat-list-item [routerLink]="['Journal Entries']" *midasHasPermission="'READ_OFFICE'">
            <mat-icon matListIcon>
              <fa-icon icon="chevron-right" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'Organization.BulkImportComponent.JournalEntries'| translate }}</h4>
          </mat-list-item>

          <mat-list-item [routerLink]="['Guarantors']" *midasHasPermission="'READ_OFFICE'">
            <mat-icon matListIcon>
              <fa-icon icon="chevron-right" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'Organization.BulkImportComponent.Guarantors'| translate }}</h4>
          </mat-list-item>

        </mat-nav-list>

      </div>

    </div>

  </mat-card>

</div>
