<div class="container m-b-20" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="end" fxLayoutGap="2%">
  <button mat-raised-button color="primary" [routerLink]="['edit']">
    <fa-icon icon="edit"></fa-icon>&nbsp;&nbsp;
    {{'System.ManageSchedulerJobs.ViewSchedulerJob.Edit'| translate }}
  </button>
  <button mat-raised-button color="primary" [routerLink]="['viewhistory']">
    {{'System.ManageSchedulerJobs.ViewSchedulerJob.ViewHistory'| translate }}
  </button>
</div>

<div class="container">

  <mat-card>

    <mat-card-content>

      <div fxLayout="row wrap" class="content">

        <div fxFlex="50%" class="mat-body-strong">
          {{'System.ManageSchedulerJobs.ViewSchedulerJob.displayName'| translate }}
        </div>

        <div fxFlex="50%">
          {{ jobData.displayName }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'System.ManageSchedulerJobs.ViewSchedulerJob.cronExpression'| translate }}
        </div>

        <div fxFlex="50%">
          {{ jobData.cronExpression }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'System.ManageSchedulerJobs.ViewSchedulerJob.active'| translate }}
        </div>

        <div fxFlex="50%">
          {{ jobData.active }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'System.ManageSchedulerJobs.ViewSchedulerJob.Follow'| translate }}
        </div>

        <div fxFlex="50%">
          <a href="http://www.cronmaker.com/">	{{'System.ManageSchedulerJobs.ViewSchedulerJob.ClickHere'| translate }} </a>
        </div>

      </div>

    </mat-card-content>

  </mat-card>

</div>
