<div class="container">

  <mat-card>

    <form [formGroup]="repaymentLoanForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div fxLayout="column">

          <mat-form-field>
            <mat-label>{{'Loans.View.Actions.MakeRepayment.transactionDate'| translate }}</mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="transactionDatePicker" required
              formControlName="transactionDate">
            <mat-datepicker-toggle matSuffix [for]="transactionDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #transactionDatePicker></mat-datepicker>
            <mat-error *ngIf="repaymentLoanForm.controls.transactionDate.hasError('required')">
              {{'Loans.View.Actions.MakeRepayment.errtransactionDate'| translate }}<strong>{{'Loans.strongIsRequired'| translate }}is required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{'Loans.View.Actions.MakeRepayment.transactionAmount'| translate }}</mat-label>
            <input matInput currencyMask type="text" required formControlName="transactionAmount">
            <mat-error *ngIf="repaymentLoanForm.controls.transactionAmount.hasError('required')">
              {{'Loans.View.Actions.MakeRepayment.errtransactionAmount'| translate }}<strong>{{'Loans.strongIsRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{'Loans.View.Actions.MakeRepayment.paymentTypeId'| translate }}</mat-label>
            <mat-select formControlName="paymentTypeId">
              <mat-option *ngFor="let paymentType of paymentTypes" [value]="paymentType.id">
                {{ paymentType.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div fxFlexFill>
            <span fxFlex="25%">{{'Loans.View.Actions.MakeRepayment.ShowPaymentDetails'| translate }}</span>
            <span fxFlex="75%" class="expandCollapsebutton" (click)="addPaymentDetails()">
              <button mat-raised-button color="primary" *ngIf="showPaymentDetails">
                <i class="fa fa-minus"></i>
              </button>
              <button mat-raised-button color="primary" *ngIf="!showPaymentDetails">
                <i class="fa fa-plus"></i>
              </button>
            </span>
          </div>

          <ng-container *ngIf="showPaymentDetails">
            <mat-form-field>
              <mat-label> {{'Loans.View.Actions.MakeRepayment.accountNumber'| translate }}</mat-label>
              <input matInput formControlName="accountNumber">
            </mat-form-field>

            <mat-form-field>
              <mat-label>{{'Loans.View.Actions.MakeRepayment.checkNumber'| translate }}</mat-label>
              <input matInput formControlName="checkNumber">
            </mat-form-field>

            <mat-form-field>
              <mat-label>{{'Loans.View.Actions.MakeRepayment.routingCode'| translate }}</mat-label>
              <input matInput formControlName="routingCode">
            </mat-form-field>

            <mat-form-field>
              <mat-label>{{'Loans.View.Actions.MakeRepayment.receiptNumber'| translate }}</mat-label>
              <input matInput formControlName="receiptNumber">
            </mat-form-field>

            <mat-form-field>
              <mat-label>{{'Loans.View.Actions.MakeRepayment.bankNumber'| translate }}</mat-label>
              <input matInput formControlName="bankNumber">
            </mat-form-field>
          </ng-container>

          <mat-form-field>
            <mat-label>{{'Loans.View.Actions.MakeRepayment.Note'| translate }}</mat-label>
            <textarea matInput formControlName="note"></textarea>
          </mat-form-field>

        </div>

        <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
          <button type="button" mat-raised-button [routerLink]="['../../../general']">{{ "ShareButton.CancelEng" | translate }}</button>
          <button mat-raised-button color="primary" [disabled]="!repaymentLoanForm.valid"
            *midasHasPermission="'REPAYMENT_LOAN'">{{ "ShareButton.Submit" | translate }}</button>
        </mat-card-actions>

      </mat-card-content>

    </form>

  </mat-card>

</div>
