<!-- Floating Menu -->
<eco-fab-speed-dial #myFAB fixed="true" [open]="isMenuOpen"  >
  <eco-fab-speed-dial-trigger spin="true" spin360>
    <button color="accent" mat-fab (click)="doAction('trigger')" matTooltip="Menu tác vụ" matTooltipPosition="before">
      <mat-icon class="spin360">menu</mat-icon>
    </button>
  </eco-fab-speed-dial-trigger>

  <eco-fab-speed-dial-actions>
    <button color="accent" mat-mini-fab [matMenuTriggerFor]="institutionMenu" #institutionMenuTrigger="matMenuTrigger"
      matTooltip="Danh sách" matTooltipPosition="before">
      <i class="fas fa-list-alt"></i>
      <!-- {{ "Toolbar_Component.labelInstitution" | translate }} -->
    </button>

    <button color="accent" mat-mini-fab [matMenuTriggerFor]="POSPartnerMenu" #POSPartnerMenuTrigger="matMenuTrigger"
      matTooltip="May POS" matTooltipPosition="before">
      <i class="fas fa-sim-card"></i>
      <!-- Máy POS và đối tác -->
    </button>

    <button color="accent" mat-mini-fab [matMenuTriggerFor]="transactionMenu" matTooltip="Bản kê giao dịch"
      matTooltipPosition="before">
      <i class="fas fa-credit-card"></i>
      <!-- Giao dịch -->
    </button>

    <button color="accent" mat-mini-fab [matMenuTriggerFor]="BookingMenu" matTooltip="Booking nguồn tiền" matTooltipPosition="before">
      <i class="fas fa-book-medical"></i>
      <!-- Booking -->
    </button>

    <button color="accent" mat-mini-fab *midasHasActiveModule="'campaignModule'" [matMenuTriggerFor]="Marketing"
      matTooltip="Marketting" matTooltipPosition="before">
      <label *midasHasPermission="'POS_UPDATE'||'ALL_FUNCTIONS'">
        <i class="fas fa-ad"></i>
        <!-- Marketing -->
      </label>
    </button>

    <span *midasHasPermission="'ALL_FUNCTIONS'" fxHide.lt-lg="true">
      <button color="accent" mat-mini-fab [routerLink]="['/accounting']" matTooltip="Kế toán" matTooltipPosition="before">
        <fa-icon class="mr-05" icon="money-bill-alt" size="lg"></fa-icon>
        <!-- {{ "Toolbar_Component.lblAccounting" | translate }} -->
      </button>
      <button color="accent" mat-mini-fab [matMenuTriggerFor]="reportsMenu" #reportsMenuTrigger="matMenuTrigger" matTooltip="Báo cáo"
        matTooltipPosition="before">
        <fa-icon class="mr-05" icon="chart-bar" size="lg"></fa-icon>
        <!-- {{ "Toolbar_Component.lblReport" | translate }} -->
      </button>
      <button color="accent" mat-mini-fab [matMenuTriggerFor]="adminMenu" #adminMenuTrigger="matMenuTrigger"
        matTooltip="Quản trị hệ thống" matTooltipPosition="before">
        <fa-icon class="mr-05" icon="shield-alt" size="lg"></fa-icon>
        <!-- {{ "Toolbar_Component.lblAdmin" | translate }} -->
      </button>
      <button color="accent" mat-mini-fab [matMenuTriggerFor]="selfServiceMenu" #selfServiceMenuTrigger="matMenuTrigger"
        matTooltip="Cài đặt SelfService" matTooltipPosition="before">
        <fa-icon class="mr-05" icon="users" size="lg"></fa-icon>
        <!-- {{ "Toolbar_Component.lblSelfService" | translate }} -->
      </button>
    </span>
  </eco-fab-speed-dial-actions>
</eco-fab-speed-dial>



<!-- Menu con -->
<mat-menu #institutionMenu="matMenu" [overlapTrigger]="false" yPosition="above" xPosition="before"
  backdropClass="mymenu">
  <button mat-menu-item routerLink="/clients/customer">{{ "Toolbar_Component.lblClient" | translate }}</button>
  <button mat-menu-item routerLink="/clients/staff">Nhân viên</button>
  <button mat-menu-item routerLink="/groups">{{ "Toolbar_Component.lblGroup" | translate }}</button>
  <button mat-menu-item routerLink="/accounts/balance-clients">
    {{ "Quản lý công nợ khách hàng khách hàng lẻ" | translate }}
  </button>
  <button mat-menu-item *midasHasPermission="'POS_UPDATE'" routerLink="/accounts/balance-teller">
    {{ "Quản lý số dư teller" | translate }}
  </button>

  <!-- <span fxHide.lg>
      <button mat-menu-item [routerLink]="['/accounting']">{{ "Toolbar_Component.lblAccounting" | translate }}</button>
      <button mat-menu-item [matMenuTriggerFor]="reportsMenu">{{ "Toolbar_Component.lblReport" | translate }}</button>
      <button mat-menu-item [matMenuTriggerFor]="adminMenu">{{ "Toolbar_Component.lblAdmin" | translate }}</button>
      <button mat-menu-item [matMenuTriggerFor]="selfServiceMenu">
        {{ "Toolbar_Component.lblSelfService" | translate }}
      </button>
    </span> -->
</mat-menu>

<mat-menu #POSPartnerMenu="matMenu" [overlapTrigger]="false" yPosition="above" xPosition="before"
  backdropClass="mymenu">
  <button *midasHasPermission="'POS_UPDATE'" mat-menu-item routerLink="/terminals">
    Điều chuyển máy POS
  </button>
  <button mat-menu-item *midasHasPermission="'POS_READ'" routerLink="/terminals/limit">{{ "Quản lý hạn mức POS" |
    translate }}</button>
  <button mat-menu-item *midasHasPermission="'POS_UPDATE'" routerLink="/terminals">
    {{ "Quản lý máy POS" | translate }}
  </button>
  <button mat-menu-item *midasHasPermission="'POS_CREATE'" routerLink="/third-party">
    {{ "Toolbar_Component.lblThirdParty" | translate }}
  </button>
  <button mat-menu-item routerLink="/groups/spending-limit">Hạn mức chi tiêu</button>

</mat-menu>

<mat-menu #transactionMenu="matMenu" [overlapTrigger]="false" yPosition="above" xPosition="before"
  backdropClass="mymenu">
  <button mat-menu-item routerLink="/transaction">Quản lý giao dịch</button>
  <button mat-menu-item routerLink="/transaction/rollTermSchedule">Quản lý đáo hạn thẻ</button>
  <button mat-menu-item routerLink="/transaction/fee-paid-management">Quản lý phí giao dịch</button>
</mat-menu>

<mat-menu #BookingMenu="matMenu" [overlapTrigger]="false" yPosition="above" xPosition="before" backdropClass="mymenu">
  <button mat-menu-item routerLink="/booking/agency">Đại lý</button>
  <button mat-menu-item routerLink="/booking/create">Tạo booking nội bộ</button>
  <button *midasHasPermission="'POS_UPDATE'" mat-menu-item routerLink="/booking/view">Quản lý booking nội bộ</button>
</mat-menu>

<mat-menu #Marketing="matMenu" [overlapTrigger]="false" yPosition="above" xPosition="before" backdropClass="mymenu">
  <button mat-menu-item routerLink="/marketing/create">Tạo chiển dịch</button>
  <button mat-menu-item routerLink="/marketing/booking">Booking</button>
</mat-menu>

<!-- Old Toolbar Menus -->
<mat-menu #reportsMenu="matMenu" [overlapTrigger]="false" yPosition="above" xPosition="before" backdropClass="mymenu">
  <button mat-menu-item [routerLink]="['/reports']">{{ "Toolbar_Component.lblAll" | translate }}</button>
  <button mat-menu-item [routerLink]="['/reports', 'Client']">{{ "Toolbar_Component.lblClient" | translate }}</button>
  <button mat-menu-item [routerLink]="['/reports', 'Loan']">{{ "Toolbar_Component.lblLoan" | translate }}</button>
  <button mat-menu-item [routerLink]="['/reports', 'Savings']">{{ "Toolbar_Component.lblSaving" | translate }}</button>
  <button mat-menu-item [routerLink]="['/reports', 'Fund']">{{ "Toolbar_Component.lblFund" | translate }}</button>
  <button mat-menu-item [routerLink]="['/reports', 'Accounting']">
    {{ "Toolbar_Component.lblAccounting" | translate }}
  </button>
  <button mat-menu-item [routerLink]="['/xbrl']">{{ "Toolbar_Component.lblXBRL" | translate }}</button>
</mat-menu>

<mat-menu #adminMenu="matMenu" [overlapTrigger]="false" yPosition="above" xPosition="before" backdropClass="mymenu">
  <button mat-menu-item [routerLink]="['/users']">{{ "Toolbar_Component.lblUser" | translate }}</button>
  <button mat-menu-item [routerLink]="['/organization']">{{ "Toolbar_Component.lblOrg" | translate }}</button>
  <button mat-menu-item [routerLink]="['/system']">{{ "Toolbar_Component.lblSys" | translate }}</button>
  <button mat-menu-item [routerLink]="['/products']">{{ "Toolbar_Component.lblProduct" | translate }}</button>
  <button mat-menu-item [routerLink]="['/templates']">{{ "Toolbar_Component.lblTemplate" | translate }}</button>
</mat-menu>

<mat-menu #selfServiceMenu="matMenu" [overlapTrigger]="false" yPosition="above" xPosition="before"
  backdropClass="mymenu">
  <button mat-menu-item [routerLink]="['/self-service/users']">
    {{ "Toolbar_Component.lblUserManagement" | translate }}
  </button>
  <button mat-menu-item [routerLink]="['/self-service/app-configuration']">
    {{ "Toolbar_Component.lblAppConfig" | translate }}
  </button>
  <button mat-menu-item [routerLink]="['/self-service/task-management']">
    {{ "Toolbar_Component.lblTaskManagement" | translate }}
  </button>
</mat-menu>

<!-- Application User Help Menu -->
<mat-menu #applicationMenu="matMenu" [overlapTrigger]="false" yPosition="above" xPosition="before"
  backdropClass="mymenu">
  <button mat-menu-item (click)="help()">
    <mat-icon matListIcon>
      <fa-icon icon="question-circle" size="sm"></fa-icon>
    </mat-icon>
    <span>{{ "Toolbar_Component.lblHelp" | translate }}</span>
  </button>
  <button mat-menu-item [routerLink]="['/profile']">
    <mat-icon>
      <fa-icon icon="user" size="sm"></fa-icon>
    </mat-icon>
    <span>{{ "Toolbar_Component.lblProfile" | translate }}</span>
  </button>
  <button mat-menu-item [routerLink]="['/settings']">
    <mat-icon>
      <fa-icon icon="cog" size="sm"></fa-icon>
    </mat-icon>
    <span>{{ "Toolbar_Component.lblSetting" | translate }}</span>
  </button>
  <button mat-menu-item>
    <mat-icon>
      <fa-icon icon="cog" size="sm"></fa-icon>
    </mat-icon>
    <mifosx-language-selector class="ml-1 language" fxHide.lt-md></mifosx-language-selector>
  </button>

  <button mat-menu-item (click)="logout()" id="logout">
    <mat-icon>
      <fa-icon icon="sign-out-alt" size="sm"></fa-icon>
    </mat-icon>
    <span>{{ "Toolbar_Component.lblSignOut" | translate }}</span>
  </button>
</mat-menu>
