<div class="container">

  <mat-card>

    <mat-card-content>

      <div fxLayout="row wrap" fxLayout.lt-md="column">

        <h3 class="mat-h3" fxFlexFill>Transferring From Details</h3>

        <mat-divider [inset]="true"></mat-divider>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Account_Transfer_Component.MakeAccountTransfer.lblApplicant'|translate}}</span>
          <span fxFlex="60%">{{ accountTransferTemplateData.fromClient? accountTransferTemplateData.fromClient.displayName : accountTransferTemplateData.fromAccount.groupName }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Account_Transfer_Component.MakeAccountTransfer.lblOffice'|translate}}</span>
          <span fxFlex="60%">{{ accountTransferTemplateData.fromOffice? accountTransferTemplateData.fromOffice.name : accessToken.officeName }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Account_Transfer_Component.MakeAccountTransfer.lblFromAccount'|translate}}</span>
          <span
            fxFlex="60%">{{ accountTransferTemplateData.fromAccount.productName}}&nbsp;-&nbsp;#{{ accountTransferTemplateData.fromAccount.accountNo }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Account_Transfer_Component.MakeAccountTransfer.lblFromAccountType'|translate}}</span>
          <span fxFlex="60%">{{ accountTransferTemplateData.fromAccountType.value }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Account_Transfer_Component.MakeAccountTransfer.lblCurrency'|translate}}</span>
          <span fxFlex="60%">{{ accountTransferTemplateData.currency.name }}</span>
        </div>

      </div>

      <h3 class="mat-h3" fxFlexFill>{{'Account_Transfer_Component.MakeAccountTransfer.lblTransferringTo'|translate}}</h3>

      <mat-divider [inset]="true"></mat-divider>

      <form [formGroup]="makeAccountTransferForm">

        <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

          <mat-form-field fxFlex="98%">
            <mat-label>{{'Account_Transfer_Component.MakeAccountTransfer.lblOffice'|translate}}</mat-label>
            <mat-select required formControlName="toOfficeId" (selectionChange)="changeEvent()">
              <mat-option *ngFor="let toOfficeType of toOfficeTypeData" [value]="toOfficeType.id">
                {{ toOfficeType.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="makeAccountTransferForm.controls.toOfficeId.hasError('required')" [innerHTML]="'Account_Transfer_Component.MakeAccountTransfer.msgOffice'|translate">
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label>{{'Account_Transfer_Component.MakeAccountTransfer.lblClient'|translate}}</mat-label>
            <input matInput formControlName="toClientId" [matAutocomplete]="clientsAutocomplete">
            <mat-error *ngIf="makeAccountTransferForm.controls.toClientId.hasError('required')"
                       [innerHTML]="'Account_Transfer_Component.MakeAccountTransfer.msgClient'|translate">
            </mat-error>
          </mat-form-field>

          <mat-autocomplete autoActiveFirstOption #clientsAutocomplete="matAutocomplete" [displayWith]="displayClient">
            <mat-option *ngFor="let client of clientsData" [value]="client">
              {{ client.id }} - {{ client.displayName }} - {{client.officeName}}
            </mat-option>
          </mat-autocomplete>

          <mat-form-field fxFlex="98%">
            <mat-label>{{'Account_Transfer_Component.MakeAccountTransfer.lblAccountType'|translate}}</mat-label>
            <mat-select required formControlName="toAccountType" (selectionChange)="changeEvent()">
              <mat-option *ngFor="let toAccountType of toAccountTypeData" [value]="toAccountType.id">
                {{ toAccountType.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="makeAccountTransferForm.controls.toAccountType.hasError('required')"
            [innerHTML]="'Account_Transfer_Component.MakeAccountTransfer.msgAccountType'|translate"
            >
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label>{{'Account_Transfer_Component.MakeAccountTransfer.lblAccount'|translate}}</mat-label>
            <mat-select required formControlName="toAccountId" (selectionChange)="changeEvent()">
              <mat-option *ngFor="let toAccount of toAccountData" [value]="toAccount.id">
                {{ toAccount.productName }} - {{ toAccount.accountNo }} - {{ toAccount.externalId }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="makeAccountTransferForm.controls.toAccountId.hasError('required')"
            [innerHTML]="'Account_Transfer_Component.MakeAccountTransfer.msgAccount'|translate">

            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label>{{'Account_Transfer_Component.MakeAccountTransfer.lblAmount'|translate}}</mat-label>
            <input type="number" matInput required formControlName="transferAmount">
            <mat-error *ngIf="makeAccountTransferForm.controls.transferAmount.hasError('required')"
            [innerHTML]="'Account_Transfer_Component.MakeAccountTransfer.msgAmount'|translate"
            >
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label>{{'Account_Transfer_Component.MakeAccountTransfer.lblTransactionDate'|translate}}</mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="transferDatePicker" required
              formControlName="transferDate">
            <mat-datepicker-toggle matSuffix [for]="transferDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #transferDatePicker></mat-datepicker>
            <mat-error *ngIf="makeAccountTransferForm.controls.transferDate.hasError('required')"
            [innerHTML]="'Account_Transfer_Component.MakeAccountTransfer.msgTransactionDate'|translate"
            >

            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label>{{'Account_Transfer_Component.MakeAccountTransfer.lblDescription'|translate}}</mat-label>
            <textarea matInput formControlName="transferDescription"></textarea>
            <mat-error *ngIf="makeAccountTransferForm.controls.transferDescription.hasError('required')"
            [innerHTML]="'Account_Transfer_Component.MakeAccountTransfer.msgDescription'|translate"
            >

            </mat-error>

          </mat-form-field>

        </div>

      </form>

    </mat-card-content>

    <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
      <button type="button" mat-raised-button [routerLink]="['../../general']">{{'Account_Transfer_Component.MakeAccountTransfer.btnCancel'|translate}}</button>
      <button mat-raised-button color="primary" [disabled]="!makeAccountTransferForm.valid" *midasHasPermission="'CREATE_ACCOUNTTRANSFER'"
        (click)="submit()">{{'Account_Transfer_Component.MakeAccountTransfer.btnSubmit'|translate}}</button>
    </mat-card-actions>

  </mat-card>

</div>
