<mat-card class="container">

    <div fxLayout="row" fxLayoutAlign="start center">

      <!-- <div class="search-box">
        <mat-form-field class="filter">
          <input matInput #filter (keyup)="applyFilter($event.target.value)" placeholder="{{ 'Terminal_Component.labelFilter'| translate}}">
          <button mat-icon-button matSuffix aria-label="clear" *ngIf="filter.value" (click)="filter.value=''; applyFilter('');">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <mat-checkbox labelPosition="after" (change)="changeShowClosedMerchants($event.checked)">Hiển thị đại lý đã đóng</mat-checkbox>
      </div> -->
      <div class="action-button" fxLayoutGap="25px">
        <!-- <button mat-raised-button title="Quay lại trang đối tác" color="primary" (click)="previousStep()">
          <fa-icon icon="backward"></fa-icon>
        </button> -->
        <button mat-raised-button color="primary" (click)="addPartner()">
          <fa-icon icon="plus"></fa-icon>&nbsp;&nbsp;Thêm đối tác
        </button>
      </div>
    </div>

    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> đối tác  </th>
        <td mat-cell *matCellDef="let partner"> {{ partner.displayName }} </td>
      </ng-container>

      <ng-container matColumnDef="partner">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Mã định danh </th>
        <td mat-cell *matCellDef="let partner"> {{ partner.externalId }} </td>
      </ng-container>

      <ng-container matColumnDef="rangeDay">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ngày thêm</th>
        <td mat-cell *matCellDef="let partner"> {{partner.createdDate | date: "dd-MM-yyyy HH:mm:ss"}} </td>
      </ng-container>

      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Thao tác</th>
        <td mat-cell *matCellDef="let partner">
           <mat-slide-toggle [checked]="partner.isBad" (change)="onToggle($event, partner.externalId)">
            Slide to update status
          </mat-slide-toggle> 
        </td>
      </ng-container>
 

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let partner; columns: displayedColumns;" class="select-row"></tr>
    </table>

   <mat-paginator paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>

  </mat-card>
