<h1 mat-dialog-title>{{'Shared.ChangePasswordDialog.title'| translate}}</h1>

<div mat-dialog-content>

  <form [formGroup]="changePasswordForm">

    <div fxLayout="column">

      <mat-form-field>
        <mat-label>{{'Shared.ChangePasswordDialog.Password'| translate}}</mat-label>
        <input matInput formControlName="password" type="password">
        <mat-error *ngIf="changePasswordForm.controls.password.hasError('required')">
          {{'Shared.ChangePasswordDialog.errPassword'| translate}}<strong>{{'Shared.strongRequired'| translate }}</strong>
        </mat-error>
        <mat-error *ngIf="changePasswordForm.controls.password.hasError('minlength')">
          {{'Shared.ChangePasswordDialog.errPassword2'| translate}}
          <strong>{{'Shared.ChangePasswordDialog.alert'| translate}}</strong>
        </mat-error>
        <mat-error *ngIf="changePasswordForm.controls.password.hasError('maxlength')">
          {{'Shared.ChangePasswordDialog.errPassword3'| translate}}
          <strong>{{'Shared.ChangePasswordDialog.alert2'| translate}}</strong>
        </mat-error>
        <mat-error *ngIf="changePasswordForm.controls.password.hasError('pattern') && !(changePasswordForm.controls.password.hasError('minlength') || changePasswordForm.controls.password.hasError('maxlength'))">
          {{'Shared.ChangePasswordDialog.errPassword4'| translate}}
          <strong>{{'Shared.ChangePasswordDialog.numeral'| translate}}</strong>
          {{'Shared.ChangePasswordDialog.andAt'| translate}}
           <strong>{{'Shared.ChangePasswordDialog.alert3'| translate}}</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{'Shared.ChangePasswordDialog.repeatPassword'| translate}}</mat-label>
        <input matInput formControlName="repeatPassword" type="password">
        <mat-error *ngIf="changePasswordForm.controls.repeatPassword.hasError('required')">
          {{'Shared.ChangePasswordDialog.errPassword5'| translate}}<strong>{{'Shared.strongRequired'| translate }}</strong>
        </mat-error>
        <mat-error *ngIf="changePasswordForm.controls.repeatPassword.hasError('notequal')">
          {{'Shared.ChangePasswordDialog.Password'| translate}}
          <strong>{{'Shared.ChangePasswordDialog.alert4'| translate}}</strong>
        </mat-error>
      </mat-form-field>

    </div>

  </form>

</div>

<mat-dialog-actions align="center">
  <button mat-raised-button mat-dialog-close>{{ "ShareButton.CancelEng" | translate }}</button>
  <button mat-raised-button color="warn" [disabled]="!changePasswordForm.valid" [mat-dialog-close]="{password:changePasswordForm.get('password').value,repeatPassword:changePasswordForm.get('repeatPassword').value}">{{ "ShareButton.ConfirmEng" | translate }}</button>
</mat-dialog-actions>
