

<div *ngIf="savingsAccountData.status.value === 'Active' && chargeData.amountOutstanding !== 0"
  fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column" class="container m-b-20">
    <button mat-raised-button color="accent" *midasHasPermission="'PAY_SAVINGSACCOUNTCHARGE'" (click)="payCharge()">
      <fa-icon icon="dollar-sign"></fa-icon>&nbsp;&nbsp;
      {{'Savings.View.ViewCharge.Pay'| translate}}
    </button>
    <button mat-raised-button color="primary" *midasHasPermission="'WAIVE_SAVINGSACCOUNTCHARGE'" (click)="waiveCharge()">
      <fa-icon icon="flag"></fa-icon>&nbsp;&nbsp;
      {{'Savings.View.ViewCharge.Waive'| translate}}
    </button>
    <span *ngIf="isRecurringCharge()">
      <button mat-raised-button color="warn" *midasHasPermission="'INACTIVATE_SAVINGSACCOUNTCHARGE'" (click)="inactivateCharge()">
        <fa-icon icon="trash"></fa-icon>&nbsp;&nbsp;
        {{'Savings.View.ViewCharge.Inactivate'| translate}}
      </button>
    </span>
</div>

<div *ngIf="savingsAccountData.status.value === 'Submitted and pending approval'"
  fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column" class="container m-b-20">
    <button mat-raised-button color="primary" *midasHasPermission="'UPDATE_SAVINGSACCOUNTCHARGE'" (click)="editCharge()">
      <fa-icon icon="edit"></fa-icon>&nbsp;&nbsp;
      {{ "ShareButton.Edit" | translate }}
    </button>
    <button mat-raised-button color="warn" *midasHasPermission="'DELETE_SAVINGSACCOUNTCHARGE'" (click)="deleteCharge()">
      <fa-icon icon="trash"></fa-icon>&nbsp;&nbsp;
      {{ "ShareButton.DeleteEng" | translate }}
    </button>
</div>

<div class="container">

  <mat-card>

    <mat-card-content>

      <div fxLayout="row wrap" class="content">

        <div fxFlex="50%" class="mat-body-strong">
          {{'Savings.View.ViewCharge.Name'| translate}}
        </div>

        <div fxFlex="50%">
          {{ chargeData.name }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'Savings.View.ViewCharge.ChargeType'| translate}}
        </div>

        <div fxFlex="50%">
          {{ chargeData.penalty ? 'Penalty' : 'Fees' }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'Savings.View.ViewCharge.Currency'| translate}}
        </div>

        <div fxFlex="50%">
          {{ chargeData.currency.displayLabel }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'Savings.View.ViewCharge.chargeTimeType'| translate}}
        </div>

        <div fxFlex="50%">
          {{ chargeData.chargeTimeType.value }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'Savings.View.ViewCharge.dueDate'| translate}}
        </div>

        <div fxFlex="50%">
          {{ chargeData.dueDate | date }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'Savings.View.ViewCharge.chargeCalculationType'| translate}}
        </div>

        <div fxFlex="50%">
          {{ chargeData.chargeCalculationType.value }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'Savings.View.ViewCharge.Due'| translate}}
        </div>

        <div fxFlex="50%">
          {{ chargeData.amount | money }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'Savings.View.ViewCharge.Paid'| translate}}
        </div>

        <div fxFlex="50%">
          {{ chargeData.amountPaid | money }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'Savings.View.ViewCharge.Waived'| translate}}
        </div>

        <div fxFlex="50%">
          {{ chargeData.amountWaived | money }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'Savings.View.ViewCharge.Outstanding'| translate}}
        </div>

        <div fxFlex="50%">
          {{ chargeData.amountOutstanding | money }}
        </div>

      </div>

    </mat-card-content>

  </mat-card>

</div>
