<div class="container">

  <mat-card>

    <form [formGroup]="productMixForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div fxLayout="column">

          <mat-form-field>
            <mat-label>{{'Product_Component.ProductsMix.Create.Product'| translate}}</mat-label>
            <mat-select required formControlName="productId">
              <mat-option *ngFor="let productOption of productOptionData" [value]="productOption.id">
                {{ productOption.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="productMixForm.controls.productId.hasError('required')">
              {{'Product_Component.ProductsMix.Create.errProduct'| translate}}<strong>{{'Product_Component.strongRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="productData">
            <mat-label>{{'Product_Component.ProductsMix.Create.restrictedProducts'| translate}}</mat-label>
            <mat-select required formControlName="restrictedProducts" multiple>
              <mat-option *ngFor="let product of productData" [value]="product.id">
                {{ product.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="productMixForm.controls.restrictedProducts.hasError('required')" >
              {{'Product_Component.ProductsMix.Create.errrestrictedProducts'| translate}}
              <strong>{{'Product_Component.ProductsMix.Create.warn'| translate}}</strong>
            </mat-error>
          </mat-form-field>
        </div>

      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../']">{{ "ShareButton.CancelEng" | translate }}</button>
        <button mat-raised-button color="primary" [disabled]="!productMixForm.valid" *midasHasPermission="'CREATE_PRODUCTMIX'">{{ "ShareButton.Submit" | translate }}</button>
      </mat-card-actions>

    </form>

  </mat-card>

</div>
