<div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column" class="container m-b-20">
  <button mat-raised-button color="primary" [routerLink]="['edit']" *midasHasPermission="'UPDATE_ADHOC'">
    <fa-icon icon="edit"></fa-icon>&nbsp;&nbsp;
    {{ "ShareButton.Edit" | translate }}
  </button>
  <button mat-raised-button color="warn" (click)="deleteAdhocQuery()" *midasHasPermission="'DELETE_ADHOC'">
    <fa-icon icon="trash"></fa-icon>&nbsp;&nbsp;
    {{ "ShareButton.DeleteEng" | translate }}
  </button>
</div>

<div class="container">

  <mat-card>

    <mat-card-content>

      <div fxLayout="row wrap" class="content">

        <div fxFlex="50%" class="mat-body-strong">
          {{'Organization.AdhocQuery.View.Name'| translate }}
        </div>

        <div fxFlex="50%">
          {{ adhocQueryData.name }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'Organization.AdhocQuery.View.Query'| translate }}
        </div>

        <div fxFlex="50%">
          {{ adhocQueryData.query }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'Organization.AdhocQuery.View.tableName'| translate }}
        </div>

        <div fxFlex="50%">
          {{ adhocQueryData.tableName }}
        </div>

        <div fxFlex="50%" class="mat-body-strong" *ngIf="adhocQueryData.reportRunFrequency">
          {{'Organization.AdhocQuery.View.reportRunFrequency'| translate }}
        </div>

        <div fxFlex="50%" *ngIf="adhocQueryData.reportRunFrequency">
          {{ reportRunFrequency }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'Organization.AdhocQuery.View.Status'| translate }}
        </div>

        <div fxFlex="50%">
          {{ adhocQueryData.isActive === true ? 'Active' : 'Inactive' }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'Organization.AdhocQuery.View.createdBy'| translate }}
        </div>

        <div fxFlex="50%">
          {{ adhocQueryData.createdBy }}
        </div>

      </div>

    </mat-card-content>

  </mat-card>

</div>
