<div class="container">

  <mat-card>

    <form [formGroup]="groupsAddRoleForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div fxLayout="column">

          <mat-form-field>
            <mat-label>{{ 'Group_Component.Create_Group_Component.GroupView.AddRole.clientId'| translate}}</mat-label>
            <mat-select formControlName="clientId">
              <mat-option *ngFor="let client of clientMemberData" [value]="client.id">
                {{ client.displayName }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="groupsAddRoleForm.controls.clientId.hasError('required')">
              <!-- Client Member is <strong>required</strong> -->
              <strong>{{ 'Group_Component.Create_Group_Component.GroupView.AddRole.strongRequire'| translate}}</strong>
              {{ 'Group_Component.Create_Group_Component.GroupView.AddRole.alert'| translate}}
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <!-- <mat-label>Role</mat-label> -->
            <mat-label>{{ 'Group_Component.Create_Group_Component.GroupView.AddRole.role'| translate}}</mat-label>
            <mat-select formControlName="role">
              <mat-option *ngFor="let role of roleData" [value]="role.id">
                {{ role.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="groupsAddRoleForm.controls.role.hasError('required')">
              <!-- Role is <strong>required</strong> -->
              <strong>{{ 'Group_Component.Create_Group_Component.GroupView.AddRole.strongRequire'| translate}}</strong>
              {{ 'Group_Component.Create_Group_Component.GroupView.AddRole.alert2'| translate}}
            </mat-error>
          </mat-form-field>

        </div>

      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../']">{{ 'Group_Component.Create_Group_Component.GroupView.AddRole.btnCancel'| translate}}</button>
        <button mat-raised-button color="primary" [disabled]="!groupsAddRoleForm.valid"
          *midasHasPermission="'ASSIGNROLE_GROUP'">{{ 'Group_Component.Create_Group_Component.GroupView.AddRole.btnAccept'| translate}}</button>
      </mat-card-actions>

    </form>

  </mat-card>

</div>
