<div id="midas-toolbar" class="mat-elevation-z8">
<mat-toolbar fxLayout="row"  >
<!--  <div class="app-brand m-r-20" [routerLink]="['/home']" *ngIf="!this.sidenav.opened" tourAnchor="toolbar-1">-->
  <div class="app-brand m-r-20" [routerLink]="['/home']" *ngIf="this.isDesktop" tourAnchor="toolbar-1">
    <img src="../../../../assets/images/Midas-logo.png" alt="app-logo" class="app-logo" />
    <span class="app-logo-text text-muted">MIDAS</span>
  </div>

<!--  <div *ngIf="!this.isDesktop">-->
<!--    <button mat-mini-fab *ngIf="!sidenavCollapsed" (click)="toggleSidenav()" matTooltip="Bật menu">-->
<!--      <fa-icon icon="bars" size="lg"></fa-icon>-->
<!--    </button>-->
<!--  </div>-->

  <!-- Desktop: Nếu màn hinh là Desktop thi hiện menu ngang-->
  <div fxLayout="row" fxLayoutGap.gt-md="1rem" fxLayoutGap.lt-md="0.75rem" *ngIf="this.isDesktop">
    <button
      mat-mini-fab
      [matMenuTriggerFor]="institutionMenu"
      #institutionMenuTrigger="matMenuTrigger"
      matTooltip="Thông tin khách hàng/ đại lý/ nhân viên"
      tourAnchor="toolbar-2-1"
    >
      <i class="fas fa-users"></i>
    </button>

    <button
      mat-mini-fab
      [matMenuTriggerFor]="ListMenu"
      #ListMenuTrigger="matMenuTrigger"
      matTooltip="Quản lý tài khoản khách hàng/ nhân viên"
      tourAnchor="toolbar-2-2"
    >
      <i class="fas fa-list-ol"></i>
    </button>

    <button
      mat-mini-fab
      [matMenuTriggerFor]="transactionMenu"
      #transactionMenuTrigger="matMenuTrigger"
      matTooltip="Quản lý giao dịch và booking đại lý"
      tourAnchor="toolbar-2-3"
    >
      <i class="fas fa-money-check-alt"></i>
      <!-- <a matLine>Giao dịch</a> -->
    </button>

    <button
      mat-mini-fab
      [matMenuTriggerFor]="BookingMenu"
      #BookingMenuTrigger="matMenuTrigger"
      matTooltip="Booking tiền quỹ"
      tourAnchor="toolbar-2-4"
    >
      <i class="fas fa-book-medical"></i>
      <!-- <a matLine>Booking</a> -->
    </button>

    <button
      mat-mini-fab
      [matMenuTriggerFor]="CardTransferMenu"
      #CardTransferMenuTrigger="matMenuTrigger"
      matTooltip="Quản lý giao/nhận thẻ"
      tourAnchor="toolbar-2-14"
    >
      <i class="fas fa-clipboard-list"></i>
    </button>

    <button
      mat-mini-fab
      [matMenuTriggerFor]="POSPartnerMenu"
      #POSPartnerMenuTrigger="matMenuTrigger"
      matTooltip="Quản lý máy bán hàng"
      tourAnchor="toolbar-2-5"
    >
      <i class="fas fa-hands-helping"></i>
    </button>

    <button mat-mini-fab
      [routerLink]="['/checker-inbox-and-tasks/checker-inbox']"
      matTooltip="Phê duyệt">
      <i class="fa fa-check"></i>
    </button>

    <button
      mat-mini-fab
      [matMenuTriggerFor]="IcMenu"
      #POSPartnerMenuTrigger="matMenuTrigger"
      matTooltip="Quản lý Interchange"
      tourAnchor="toolbar-2-6"
    >
      <i class="fas fa-exchange-alt"></i>
    </button>

    <button  mat-mini-fab
      (click)="vtiger()"
      matTooltip="Quản lý lead">
      <i class="fas fa-headset"></i>
    </button>

    <button  mat-mini-fab
        (click)="help()"
        matTooltip="Tài liệu hỗ trợ">
      <i class="fas fa-question-circle"></i>
    </button>



    <!-- <div *midasHasPermission="'POS_UPDATE'">
      <button mat-mini-fab *midasHasActiveModule="'campaignModule'"
       [matMenuTriggerFor]="MarketingMenu"
        #MarketingMenuTrigger="matMenuTrigger"
        >

        <i class="fas fa-ad"></i>

      </button>
    </div> -->

    <!-- Các nút Menu quản trị -->
    <div fxLayout="row" *midasHasPermission="'ALL_FUNCTIONS'" fxLayoutGap.gt-md="1rem" fxLayoutGap.lt-md="0.75rem">
      <button
        mat-mini-fab
        color="basic"
        *midasHasActiveModule="'billModule'"
        [routerLink]="['/bills']"
        matTooltip="Quản lý bill"
      >
        <i class="fas fa-receipt"></i>
      </button>

      <button *midasHasPermissions="'SYSTEM_CONFIG'" mat-mini-fab color="basic" [routerLink]="['/banks']" matTooltip="Quản lý thông tin ngân hàng">
        <i class="fas fa-university"></i>
      </button>

      <button
        *midasHasPermissions="'SYSTEM_CONFIG'"
        mat-mini-fab
        color="basic"
        [matMenuTriggerFor]="accountingMenu"
        #accountingMenuTrigger="matMenuTrigger"
        matTooltip="Quản trị hệ thống"
      >
        <i class="fas fa-cogs"></i>
      </button>

    </div>
  </div>

  <div
    fxFlex
    fxLayout="row"
    fxLayoutAlign="end around"
    fxLayoutAlign.lt-md="end center"
    *ngIf="this.isDesktop"
    fxLayoutGap="0.5rem"
  >
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="0.5rem">
      <span fxHide fxShow.gt-lg style="color: black; font-size: 1rem;">{{ userFullname }}</span>
      <button
        mat-mini-fab
        fxHide.lt-md
        mat-icon-button
        [matMenuTriggerFor]="applicationMenu"
        class="m-r-15"
        matTooltip="Profile của {{ userFullname }}"
        tourAnchor="toolbar-4"
      >
        <i class="fas fa-user-cog"></i>
      </button>
    </div>

    <midas-theme-picker fxHide.lt-md class="m-r-15" *ngIf="this.isCommercial"></midas-theme-picker>

    <midas-notifications-tray fxHide.lt-md class="m-r-15" tourAnchor="toolbar-3"> </midas-notifications-tray>
  </div>

  <midas-user-account-info fxLayout="row" style="min-width: 10rem"></midas-user-account-info>
</mat-toolbar>

<!-- Application User Help Menu -->
<mat-menu #applicationMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item (click)="help()">
    <mat-icon matListIcon>
      <fa-icon icon="question-circle" size="sm"></fa-icon>
    </mat-icon>
    <span>{{ "Toolbar_Component.lblHelp" | translate }}</span>
  </button>
  <button mat-menu-item [routerLink]="['/profile']">
    <mat-icon>
      <fa-icon icon="user" size="sm"></fa-icon>
    </mat-icon>
    <span>{{ "Toolbar_Component.lblProfile" | translate }}</span>
  </button>
  <button mat-menu-item [routerLink]="['/settings']">
    <mat-icon>
      <fa-icon icon="cog" size="sm"></fa-icon>
    </mat-icon>
    <span>{{ "Toolbar_Component.lblSetting" | translate }}</span>
  </button>
  <button mat-menu-item>
    <mat-icon>
      <fa-icon icon="cog" size="sm"></fa-icon>
    </mat-icon>
    <mifosx-language-selector class="ml-1 language" fxHide.lt-md></mifosx-language-selector>
  </button>

  <button mat-menu-item (click)="logout()" id="logout">
    <mat-icon>
      <fa-icon icon="sign-out-alt" size="sm"></fa-icon>
    </mat-icon>
    <span>{{ "Toolbar_Component.lblSignOut" | translate }}</span>
  </button>
</mat-menu>

<!-- Mobile: Floating Menu -->
<!--<midas-menu *ngIf="!isDesktop" style="position: fixed; bottom: 1%; right: 3%"> </midas-menu>-->
<!-- End Mobile: Floatign menu -->

<!-- Mobile: HIện top bottom -->
<midas-bottom-menu id="midas-bottom-menu" *ngIf="isHandset" ></midas-bottom-menu>
<!---->

<!-- Mat-menu của billpos -->
<mat-menu #institutionMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item routerLink="/clients/customer">{{ "Toolbar_Component.lblClient" | translate }}</button>
  <button mat-menu-item routerLink="/clients/staff">Nhân viên</button>
  <button mat-menu-item routerLink="/groups">{{ "Toolbar_Component.lblGroup" | translate }}</button>
</mat-menu>

<mat-menu #ListMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item routerLink="/accounts/balance-clients">
    {{ "Quản lý công nợ khách lẻ" | translate }}
  </button>
  <button mat-menu-item routerLink="/accounts/balance-groups">
    {{ "Quản lý công nợ đại lý" | translate }}
  </button>
  <button mat-menu-item *midasHasPermission="'POS_UPDATE'" routerLink="/accounts/balance-teller">
    {{ "Quản lý số dư teller" | translate }}
  </button>
</mat-menu>

<mat-menu #POSPartnerMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item routerLink="/terminals/limit">{{ "Thông tin máy bán hàng" | translate }}</button>
  <button mat-menu-item *midasHasPermission="'POS_UPDATE'" routerLink="/terminals">
    {{ "Quản lý máy bán hàng" | translate }}
  </button>
  <button mat-menu-item *midasHasPermission="'ALL_FUNCTIONS'" routerLink="/terminals/request">
    {{ "Danh sách request transfer" | translate }}
  </button>
  <button mat-menu-item *midasHasPermission="'POS_CREATE'" routerLink="/third-party">
    {{ "Toolbar_Component.lblThirdParty" | translate }}
  </button>
  <!-- <button mat-menu-item routerLink="/groups/spending-limit">Hạn mức chi tiêu</button> -->
</mat-menu>

<mat-menu #IcMenu="matMenu" [overlapTrigger]="false">
  <button
    mat-menu-item
    routerLink="/clients/ic-client/general"
    [queryParams]="{ typeViewClient: 'view', clientType: 'ic' }"
  >
    {{ "Tài khoản" | translate }}
  </button>
  <button mat-menu-item routerLink="/transaction/ic">
    {{ "Giao dịch" }}
  </button>
</mat-menu>

<mat-menu #transactionMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item routerLink="/transaction">Quản lý giao dịch</button>
  <button mat-menu-item routerLink="/transaction/rollTermSchedule">Quản lý chi tiết công nợ</button>
  <button mat-menu-item routerLink="/transaction/fee-paid-management">Quản lý phí</button>
  <button mat-menu-item routerLink="/booking/agency">Quản lý booking của Đại lý</button>
</mat-menu>

<mat-menu #BookingMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item *midasHasPermission="'CREATE_BOOKING_INTERNAL'" routerLink="/booking/create">Tạo booking nội bộ</button>
  <button *midasHasPermission="'MANAGE_BOOKING_INTERNAL'" mat-menu-item routerLink="/booking/view">Quản lý booking nội bộ</button>
</mat-menu>

<mat-menu #CardTransferMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item routerLink="/card-transfer/create">Tạo biên bản giao/nhận thẻ</button>
  <button mat-menu-item routerLink="/card-transfer/manage">Danh sách biên bản bàn giao</button>
</mat-menu>

<mat-menu #Marketing="matMenu" [overlapTrigger]="false">
  <button mat-menu-item routerLink="/marketing/create">Tạo chiển dịch</button>
  <button mat-menu-item routerLink="/marketing/booking">Booking</button>
</mat-menu>
<!-- end -->

<!-- mat Admin menu -->
<mat-menu #adminMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item [routerLink]="['/users']">{{ "Toolbar_Component.lblUser" | translate }}</button>
  <button mat-menu-item [routerLink]="['/organization']">{{ "Toolbar_Component.lblOrg" | translate }}</button>
  <button mat-menu-item [routerLink]="['/system']">{{ "Toolbar_Component.lblSys" | translate }}</button>
  <button mat-menu-item [routerLink]="['/products']">{{ "Toolbar_Component.lblProduct" | translate }}</button>
  <button mat-menu-item [routerLink]="['/templates']">{{ "Toolbar_Component.lblTemplate" | translate }}</button>
</mat-menu>

<mat-menu #selfServiceMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item [routerLink]="['/self-service/users']">
    {{ "Toolbar_Component.lblUserManagement" | translate }}
  </button>
  <button mat-menu-item [routerLink]="['/self-service/app-configuration']">
    {{ "Toolbar_Component.lblAppConfig" | translate }}
  </button>
  <button mat-menu-item [routerLink]="['/self-service/task-management']">
    {{ "Toolbar_Component.lblTaskManagement" | translate }}
  </button>
</mat-menu>

<mat-menu #accountingMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item [routerLink]="['/accounting']">{{ "Toolbar_Component.lblAccounting" | translate }}</button>
  <button mat-menu-item [matMenuTriggerFor]="reportsMenu">{{ "Toolbar_Component.lblReport" | translate }}</button>
  <button mat-menu-item [matMenuTriggerFor]="adminMenu">{{ "Toolbar_Component.lblAdmin" | translate }}</button>
  <button mat-menu-item [matMenuTriggerFor]="selfServiceMenu">
    {{ "Toolbar_Component.lblSelfService" | translate }}
  </button>
</mat-menu>

<mat-menu #reportsMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item [routerLink]="['/reports']">{{ "Toolbar_Component.lblAll" | translate }}</button>
  <button mat-menu-item [routerLink]="['/reports', 'Client']">
    {{ "Toolbar_Component.lblClient" | translate }}
  </button>
  <button mat-menu-item [routerLink]="['/reports', 'Loan']">{{ "Toolbar_Component.lblLoan" | translate }}</button>
  <button mat-menu-item [routerLink]="['/reports', 'Savings']">
    {{ "Toolbar_Component.lblSaving" | translate }}
  </button>
  <button mat-menu-item [routerLink]="['/reports', 'Fund']">{{ "Toolbar_Component.lblFund" | translate }}</button>
  <button mat-menu-item [routerLink]="['/reports', 'Accounting']">
    {{ "Toolbar_Component.lblAccounting" | translate }}
  </button>
  <button mat-menu-item [routerLink]="['/xbrl']">{{ "Toolbar_Component.lblXBRL" | translate }}</button>
</mat-menu>
<!-- end admin -->
</div>
