<div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column" class="container m-b-20">
  <button mat-raised-button color="primary" [routerLink]="['edit']" *midasHasPermission="'UPDATE_CASHIER'">
    <fa-icon icon="edit"></fa-icon>&nbsp;&nbsp;
    {{ "ShareButton.Edit" | translate }}
  </button>
  <button mat-raised-button color="warn" (click)="deleteCashier()" *midasHasPermission="'DELETECASHIER_TELLER'">
    <fa-icon icon="trash"></fa-icon>&nbsp;&nbsp;
    {{ "ShareButton.DeleteEng" | translate }}
  </button>
</div>


<div class="container">

  <mat-card>

    <mat-card-content>

      <div fxLayout="row wrap" class="content">

        <div fxFlex="50%" class="header">
          {{'Organization.Tellers.Cashiers.View.Name'| translate }}
        </div>

        <div fxFlex="50%">
          {{ cashierData.staffName}}
        </div>

        <div fxFlex="50%" class="header">
          {{'Organization.Tellers.Cashiers.View.Teller'| translate }}
        </div>

        <div fxFlex="50%">
          {{ cashierData.tellerName }}
        </div>

        <div fxFlex="50%" class="header" *ngIf="cashierData.description !== ''">
          {{'Organization.Tellers.Cashiers.View.Description'| translate }}
        </div>

        <div fxFlex="50%" *ngIf="cashierData.description !== ''">
          {{ cashierData.description }}
        </div>

        <div fxFlex="50%" class="header">
          {{'Organization.Tellers.Cashiers.View.startDate'| translate }}
        </div>

        <div fxFlex="50%">
          {{ cashierData.startDate | date }}
        </div>

        <div fxFlex="50%" class="header">
          {{'Organization.Tellers.Cashiers.View.endDate'| translate }}
        </div>

        <div fxFlex="50%">
          {{ cashierData.endDate | date }}
        </div>

        <div fxFlex="50%" class="header">
          {{'Organization.Tellers.Cashiers.View.isFullDay'| translate }}
        </div>

        <div fxFlex="50%">
          {{ cashierData.isFullDay }}
        </div>

      </div>

    </mat-card-content>

  </mat-card>

</div>
