<mat-card class="mat-elevation-z20 container-custom">
  <mat-tab-group (selectedTabChange)="changeTabTransaction($event)">
    <mat-tab label="Booking nội bộ">
      <midas-internal-booking-tab></midas-internal-booking-tab>
    </mat-tab>
    <mat-tab label="Booking tạm ứng">
      <midas-roll-term-schedule-booking-tab></midas-roll-term-schedule-booking-tab>
    </mat-tab>
    <mat-tab *midasHasPermission="'ALL_FUNCTIONS'" label="Booking chi nhánh">
      <midas-branch-booking-tab></midas-branch-booking-tab>
    </mat-tab>
  </mat-tab-group>
</mat-card>
