<div class="container m-b-20" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20px">

  <button mat-raised-button color="primary" [routerLink]="['edit']" *midasHasPermission="'UPDATE_HOOK'">
    <fa-icon icon="edit"></fa-icon>&nbsp;&nbsp;
    {{ "ShareButton.Edit" | translate }}
  </button>

  <button mat-raised-button color="warn" (click)="delete()" *midasHasPermission="'DELETE_HOOK'">
    <fa-icon icon="trash"></fa-icon>&nbsp;&nbsp;
    {{ "ShareButton.DeleteEng" | translate }}
  </button>

</div>

<div class="container">

  <mat-card>

    <mat-card-content>

      <div fxLayout="row wrap" class="content">

        <div fxFlex="50%" class="mat-body-strong">
          {{'System.ManageHooksComponent.ViewHook.displayName'| translate }}
        </div>

        <div fxFlex="50%">
          {{ hookData.displayName }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'System.ManageHooksComponent.ViewHook.Status'| translate }}
        </div>

        <div fxFlex="50%">
          {{ hookData.isActive ? 'Active' : 'Inactive' }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'System.ManageHooksComponent.ViewHook.createdAt'| translate }}
        </div>

        <div fxFlex="50%">
          {{ hookData.createdAt | date }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'System.ManageHooksComponent.ViewHook.updatedAt'| translate }}
        </div>

        <div fxFlex="50%">
          {{ hookData.updatedAt | date }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'System.ManageHooksComponent.ViewHook.Events'| translate }}
        </div>

        <div fxFlex="50%">

          <mat-label *ngFor="let event of hookData.events">

            {{ event.actionName + '  -  ' + event.entityName }}

            <br>

          </mat-label>

        </div>

        <div fxFlex="50%" class="mat-body-strong" *ngIf="hookData.name === 'Web'">
          {{'System.ManageHooksComponent.ViewHook.ContentType'| translate }}
        </div>

        <div fxFlex="50%" *ngIf="hookData.name === 'Web'">
          {{ hookData.config[0].fieldValue }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'System.ManageHooksComponent.ViewHook.PayloadURL'| translate }}
        </div>

        <div fxFlex="50%" *ngIf="hookData.name === 'Web'">
          {{ hookData.config[1].fieldValue }}
        </div>

        <div fxFlex="50%" *ngIf="hookData.name === 'SMS Bridge'">
          {{ hookData.config[0].fieldValue }}
        </div>

        <div fxFlex="50%" class="mat-body-strong" *ngIf="hookData.name === 'SMS Bridge'">
          {{'System.ManageHooksComponent.ViewHook.PhoneNumber'| translate }}
        </div>

        <div fxFlex="50%" *ngIf="hookData.name === 'SMS Bridge'">
          {{ hookData.config[1].fieldValue }}
        </div>

        <div fxFlex="50%" class="mat-body-strong" *ngIf="hookData.name === 'SMS Bridge'">
          {{'System.ManageHooksComponent.ViewHook.SMSProvider'| translate }}
        </div>

        <div fxFlex="50%" *ngIf="hookData.name === 'SMS Bridge'">
          {{ hookData.config[2].fieldValue }}
        </div>

        <div fxFlex="50%" class="mat-body-strong" *ngIf="hookData.name === 'SMS Bridge'">
          {{'System.ManageHooksComponent.ViewHook.SMSProviderAccountID'| translate }}
        </div>

        <div fxFlex="50%" *ngIf="hookData.name === 'SMS Bridge'">
          {{ hookData.config[3].fieldValue }}
        </div>

        <div fxFlex="50%" class="mat-body-strong" *ngIf="hookData.name === 'SMS Bridge'">
          {{'System.ManageHooksComponent.ViewHook.SMSProviderToken'| translate }}
        </div>

        <div fxFlex="50%" *ngIf="hookData.name === 'SMS Bridge'">
          {{ hookData.config[4].fieldValue }}
        </div>

      </div>

    </mat-card-content>

  </mat-card>

</div>
