<div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="1%" fxLayout.lt-md="column" class="container m-b-20">
  <button mat-raised-button color="success" (click)="approveChecker()">
    <fa-icon icon="check"></fa-icon>&nbsp;&nbsp;{{'Task.ViewCheckerInbox.Approve'| translate }}
  </button>
  <button mat-raised-button color="warn" (click)="deleteChecker()">
    <fa-icon icon="trash"></fa-icon>&nbsp;&nbsp;{{'Task.ViewCheckerInbox.Delete'| translate }}
  </button>
  <button mat-raised-button color="reject" (click)="rejectChecker()">
    <fa-icon icon="times"></fa-icon>&nbsp;&nbsp;{{'Task.ViewCheckerInbox.Reject'| translate }}
  </button>
</div>

<div class="container">

  <mat-card>

    <mat-card-content>

      <div fxLayout="row wrap" fxLayout.lt-md="column">

        <h2 class="mat-h2" fxFlexFill> {{'Task.ViewCheckerInbox.ViewCheckerInbox'| translate }} </h2>

        <mat-divider [inset]="true"></mat-divider>

        <h3 class="mat-h3" fxFlexFill>{{'Task.ViewCheckerInbox.Details'| translate }}</h3>

        <mat-divider [inset]="true"></mat-divider>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Task.ViewCheckerInbox.ID'| translate }}:</span>
          <span fxFlex="60%">{{ checkerInboxDetail.id }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Task.ViewCheckerInbox.Status'| translate }}:</span>
          <span fxFlex="60%">{{ checkerInboxDetail.processingResult }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Task.ViewCheckerInbox.User'| translate }}:</span>
          <span fxFlex="60%">{{ checkerInboxDetail.maker }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Task.ViewCheckerInbox.Action'| translate }}:</span>
          <span fxFlex="60%">{{ checkerInboxDetail.actionName }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Task.ViewCheckerInbox.Entity'| translate }}:</span>
          <span fxFlex="60%">{{ checkerInboxDetail.entityName }}</span>
        </div>

        <div fxFlexFill *ngIf="checkerInboxDetail.resourceId">
          <span fxFlex="40%">{{'Task.ViewCheckerInbox.resourceId'| translate }}:</span>
          <span fxFlex="60%">{{ checkerInboxDetail.resourceId }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Task.ViewCheckerInbox.Date'| translate }}:</span>
          <span fxFlex="60%">{{ checkerInboxDetail.madeOnDate | date}}</span>
        </div>

        <div fxFlexFill *ngIf="checkerInboxDetail.officeName">
          <span fxFlex="40%">{{'Task.ViewCheckerInbox.Office'| translate }}:</span>
          <span fxFlex="60%">{{ checkerInboxDetail.officeName }}</span>
        </div>

        <div fxFlexFill *ngIf="checkerInboxDetail.savingsAccountNo">
          <span fxFlex="40%">{{'Task.ViewCheckerInbox.savingsAccountNo'| translate }}:</span>
          <span fxFlex="60%">{{ checkerInboxDetail.savingsAccountNo }}</span>
        </div>

        <div fxFlexFill *ngIf="checkerInboxDetail.groupLevelName">
          <span fxFlex="40%"> {{ checkerInboxDetail.groupLevelName }}</span>
          <span fxFlex="60%">{{ checkerInboxDetail.groupName }}</span>
        </div>

        <ng-container *ngIf="displayJSONData">

          <h3 class="mat-h3" fxFlexFill>{{'Task.ViewCheckerInbox.Command'| translate }}</h3>

          <mat-divider [inset]="true"></mat-divider>

          <ng-container *ngFor="let json of jsondata | keyvalue">

          <div fxFlexFill>
            <span fxFlex="40%">{{ json.key }}:</span>
            <span fxFlex="60%">{{ json.value }}</span>
          </div>

        </ng-container>

        </ng-container>

      </div>

    </mat-card-content>

  </mat-card>

</div>
