<div class="container">

  <mat-card>

    <form [formGroup]="closeOnMaturityAccountForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div fxLayout="column">

          <mat-form-field>
            <mat-label>{{ "Deposits.Fixed.Actions.Close.closedOnDate" | translate }}</mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="closedOnDatePicker" required formControlName="closedOnDate">
            <mat-datepicker-toggle matSuffix [for]="closedOnDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #closedOnDatePicker></mat-datepicker>
            <mat-error *ngIf="closeOnMaturityAccountForm.controls.closedOnDate.hasError('required')">
              {{ "Deposits.Fixed.Actions.Close.errclosedOnDate" | translate }}<strong>{{ "Deposits.strongRequired" | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{ "Deposits.Fixed.Actions.Close.maturityAmount" | translate }}</mat-label>
            <input currencyMask type="text" matInput formControlName="maturityAmount"/>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{ "Deposits.Fixed.Actions.Close.onAccountClosureId" | translate }}</mat-label>
            <mat-select required formControlName="onAccountClosureId">
              <mat-option *ngFor="let closureOption of onAccountClosureOptions" [value]="closureOption.id">
                {{ closureOption.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="closeOnMaturityAccountForm.controls.onAccountClosureId.hasError('required')">
              {{ "Deposits.Fixed.Actions.Close.erronAccountClosureId" | translate }}<strong>{{ "Deposits.strongRequired" | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="closeOnMaturityAccountForm.contains('toSavingsAccountId')">
            <mat-label>{{ "Deposits.Fixed.Actions.Close.toSavingsAccountId" | translate }}</mat-label>
            <mat-select required formControlName="toSavingsAccountId">
              <mat-option *ngFor="let account of savingsAccountsData" [value]="account.id">
                {{ account.accountNo }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="closeOnMaturityAccountForm.controls.toSavingsAccountId.hasError('required')">
              {{ "Deposits.Fixed.Actions.Close.errtoSavingsAccountId" | translate }}<strong>{{ "Deposits.strongRequired" | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="closeOnMaturityAccountForm.contains('transferDescription')">
            <mat-label>{{ "Deposits.Fixed.Actions.Close.transferDescription" | translate }}</mat-label>
            <input matInput formControlName="transferDescription"/>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{ "Deposits.Fixed.Actions.Close.note" | translate }}</mat-label>
            <textarea matInput formControlName="note"></textarea>
          </mat-form-field>

        </div>

      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../../']">{{ "ShareButton.CancelEng" | translate }}</button>
        <button mat-raised-button color="warn" [disabled]="!closeOnMaturityAccountForm.valid">{{ "ShareButton.ConfirmEng" | translate }}</button>
      </mat-card-actions>

    </form>

  </mat-card>

</div>
