<form [formGroup]="recurringDepositProductSettingsForm">

  <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

    <mat-checkbox fxFlex="48%" labelPosition="before" formControlName="isMandatoryDeposit" class="margin-v">
      {{'Product_Component.RecuringDeposit.Stepper.Setting.isMandatoryDeposit'| translate}}
    </mat-checkbox>

    <mat-checkbox fxFlex="48%" labelPosition="before" formControlName="adjustAdvanceTowardsFuturePayments" class="margin-v">
      {{'Product_Component.RecuringDeposit.Stepper.Setting.adjustAdvanceTowardsFuturePayments'| translate}}
    </mat-checkbox>

    <mat-checkbox fxFlex="48%" labelPosition="before" formControlName="allowWithdrawal" class="margin-v">
      {{'Product_Component.RecuringDeposit.Stepper.Setting.allowWithdrawal'| translate}}
    </mat-checkbox>

    <h4 fxFlex="98%" class="mat-h4">{{'Product_Component.RecuringDeposit.Stepper.Setting.Details'| translate}}Lock-in Period</h4>

    <mat-form-field fxFlex="48%">
      <mat-label>{{'Product_Component.RecuringDeposit.Stepper.Setting.Frequency'| translate}}</mat-label>
      <input type="number" matInput formControlName="lockinPeriodFrequency">
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>{{'Product_Component.RecuringDeposit.Stepper.Setting.Type'| translate}}</mat-label>
      <mat-select formControlName="lockinPeriodFrequencyType">
        <mat-option *ngFor="let lockinPeriodFrequencyType of lockinPeriodFrequencyTypeData"
          [value]="lockinPeriodFrequencyType.id">
          {{ lockinPeriodFrequencyType.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <h4 fxFlex="98%" class="mat-h4">{{'Product_Component.RecuringDeposit.Stepper.Setting.MinimumDepositTerm'| translate}}</h4>

    <mat-form-field fxFlex="48%">
      <mat-label>{{'Product_Component.RecuringDeposit.Stepper.Setting.Frequency'| translate}}</mat-label>
      <input type="number" matInput formControlName="minDepositTerm" required>
      <mat-error>
        {{'Product_Component.RecuringDeposit.Stepper.Setting.errFrequency'| translate}}<strong>{{'Product_Component.strongRequired'| translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>{{'Product_Component.RecuringDeposit.Stepper.Setting.minDepositTermTypeId'| translate}}</mat-label>
      <mat-select formControlName="minDepositTermTypeId" required>
        <mat-option *ngFor="let periodFrequencyType of periodFrequencyTypeData" [value]="periodFrequencyType.id">
          {{ periodFrequencyType.value }}
        </mat-option>
      </mat-select>
      <mat-error>
        {{'Product_Component.RecuringDeposit.Stepper.Setting.errminDepositTermTypeId'| translate}}<strong>{{'Product_Component.strongRequired'| translate }}</strong>
      </mat-error>
    </mat-form-field>

    <h4 fxFlex="98%" class="mat-h4">{{'Product_Component.RecuringDeposit.Stepper.Setting.ThereafterMultiples'| translate}}</h4>

    <mat-form-field fxFlex="48%">
      <mat-label>{{'Product_Component.RecuringDeposit.Stepper.Setting.Frequency'| translate}}</mat-label>
      <input type="number" matInput formControlName="inMultiplesOfDepositTerm">
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>{{'Product_Component.RecuringDeposit.Stepper.Setting.Type'| translate}}</mat-label>
      <mat-select formControlName="inMultiplesOfDepositTermTypeId">
        <mat-option *ngFor="let periodFrequencyType of periodFrequencyTypeData" [value]="periodFrequencyType.id">
          {{ periodFrequencyType.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <h4 fxFlex="98%" class="mat-h4">{{'Product_Component.RecuringDeposit.Stepper.Setting.MaximumDepositTerm'| translate}}</h4>

    <mat-form-field fxFlex="48%">
      <mat-label>{{'Product_Component.RecuringDeposit.Stepper.Setting.Frequency'| translate}}</mat-label>
      <input type="number" matInput formControlName="maxDepositTerm">
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>{{'Product_Component.RecuringDeposit.Stepper.Setting.Type'| translate}}</mat-label>
      <mat-select formControlName="maxDepositTermTypeId">
        <mat-option *ngFor="let periodFrequencyType of periodFrequencyTypeData" [value]="periodFrequencyType.id">
          {{ periodFrequencyType.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-divider fxFlex="98%"></mat-divider>

    <h4 fxFlex="23%" class="mat-h4">{{'Product_Component.RecuringDeposit.Stepper.Setting.Premature'| translate}}</h4>

    <mat-checkbox fxFlex="73%" labelPosition="before" formControlName="preClosurePenalApplicable" class="margin-v">
      {{'Product_Component.RecuringDeposit.Stepper.Setting.preClosurePenalApplicable'| translate}}
    </mat-checkbox>

    <mat-form-field fxFlex="48%">
      <mat-label>{{'Product_Component.RecuringDeposit.Stepper.Setting.preClosurePenalInterest'| translate}}</mat-label>
      <input type="number" matInput formControlName="preClosurePenalInterest">
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>{{'Product_Component.RecuringDeposit.Stepper.Setting.Details'| translate}}Period</mat-label>
      <mat-select formControlName="preClosurePenalInterestOnTypeId">
        <mat-option *ngFor="let preClosurePenalInterestOnType of preClosurePenalInterestOnTypeData"
          [value]="preClosurePenalInterestOnType.id">
          {{ preClosurePenalInterestOnType.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-divider fxFlex="98%"></mat-divider>

    <mat-checkbox fxFlex="48%" labelPosition="before" formControlName="withHoldTax" class="margin-v">
      {{'Product_Component.RecuringDeposit.Stepper.Setting.withHoldTax'| translate}}
    </mat-checkbox>

    <mat-form-field fxFlex="48%" *ngIf="recurringDepositProductSettingsForm.value.withHoldTax">
      <mat-label>{{'Product_Component.RecuringDeposit.Stepper.Setting.taxGroupId'| translate}}</mat-label>
      <mat-select formControlName="taxGroupId" required>
        <mat-option *ngFor="let taxGroup of taxGroupData" [value]="taxGroup.id">
          {{ taxGroup.name }}
        </mat-option>
      </mat-select>
      <mat-error>
        {{'Product_Component.RecuringDeposit.Stepper.Setting.errtaxGroupId'| translate}}<strong>{{'Product_Component.strongRequired'| translate }}</strong>
      </mat-error>
    </mat-form-field>

  </div>

  <div fxLayout="row" class="margin-t" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="2%">
    <button mat-raised-button matStepperPrevious>
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;&nbsp;
      {{ "ShareButton.PreviousEng" | translate }}
    </button>
    <button mat-raised-button matStepperNext>
      {{ "ShareButton.NextEng" | translate }}&nbsp;&nbsp;
      <fa-icon icon="arrow-right"></fa-icon>
    </button>
  </div>

</form>
