<h1 mat-dialog-title>Xử lý chênh lệch đáo hạn giao dịch - {{ refId }}</h1>
<div mat-dialog-content>
  <div class="custom-files-input" fxLayout="column">
    <div fxLayout="column" [formGroup]="formDialogPaid">
      <div fxLayout="row swap" fxLayoutAlign.lt-sm="center" fxLayoutGap="2%" fxLayout.lt-sm="column">
        <mat-form-field fxFlex="30%" *ngIf="formDialogPaid.contains('paymentCode')" class="input_custom">
          <mat-label>Lựa chọn phương thức</mat-label>
          <mat-select required formControlName="paymentCode">
            <mat-option *ngFor="let type of paidPaymentType" [fxShow]="type.code === 'AM'" [value]="type.code">
              {{ type.desc }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="30%" class="input_custom">
          <mat-label>Lựa chọn tài khoản</mat-label>
          <mat-select required formControlName="savingAccountPaid">
            <mat-option *ngFor="let type of accountsPaid" [value]="type.id">
              {{ type.externalId }} ( {{ type.balance | money }} )
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="30%">
          <mat-label>Số tiền</mat-label>
          <input matInput disabled [value]="this.posTransaction.principal - this.posTransaction.amountPaid | money" />

        </mat-form-field>
      </div>
    </div>
  </div>
</div>
<mat-dialog-actions align="end">
  <button mat-raised-button (click)="dialogRef.close({ status: false })">
    {{ "Shared_Component.DeleteDialog.buttonCancel" | translate }}
  </button>
  <button mat-raised-button color="warn" (click)="submitForm()">
    {{ "Shared_Component.DeleteDialog.buttonConfirm" | translate }}
  </button>
  <!--  [mat-dialog-close]="{ file: true }"-->
</mat-dialog-actions>
