<div class="container">

  <mat-card>

    <form [formGroup]="fixedDepositsChargeForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div fxLayout="column">
          <mat-form-field>
            <mat-label>{{ "Deposits.Fixed.Actions.AddCharge.chargeId" | translate }}</mat-label>
            <mat-select required formControlName="chargeId">
              <mat-option *ngFor="let savingsCharge of savingsChargeOptions" [value]="savingsCharge.id">
                {{ savingsCharge.name + ' (' + savingsCharge.currency.name + ')' }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="fixedDepositsChargeForm.controls.chargeId.hasError('required')">
              {{ "Deposits.Fixed.Actions.AddCharge.errchargeId" | translate }}<strong>{{ "Deposits.strongRequired" | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <div *ngIf="chargeDetails" fxLayout="column">

            <mat-form-field>
              <mat-label>{{ "Deposits.Fixed.Actions.AddCharge.amount" | translate }}</mat-label>
              <input currencyMask type="text" required matInput formControlName="amount" />
              <mat-error *ngIf="fixedDepositsChargeForm.controls.amount.hasError('required')">
                {{ "Deposits.Fixed.Actions.AddCharge.erramount" | translate }}<strong>{{ "Deposits.strongRequired" | translate }}</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>{{ "Deposits.Fixed.Actions.AddCharge.chargeCalculationType" | translate }}</mat-label>
              <mat-select formControlName="chargeCalculationType">
                <mat-option *ngFor="let chargeCalculation of chargeDetails.chargeCalculationTypeOptions"
                  [value]="chargeCalculation.id">
                  {{ chargeCalculation.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>{{ "Deposits.Fixed.Actions.AddCharge.chargeTimeType" | translate }}</mat-label>
              <mat-select formControlName="chargeTimeType">
                <mat-option *ngFor="let chargeTime of chargeDetails.chargeTimeTypeOptions" [value]="chargeTime.id">
                  {{ chargeTime.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="fixedDepositsChargeForm.contains('dueDate')">
              <mat-label>{{ "Deposits.Fixed.Actions.AddCharge.dueDate" | translate }}</mat-label>
              <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="dueDatePicker" required
                formControlName="dueDate">
              <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #dueDatePicker></mat-datepicker>
              <mat-error *ngIf="fixedDepositsChargeForm.controls.dueDate.hasError('required')">
                {{ "Deposits.Fixed.Actions.AddCharge.errdueDate" | translate }}<strong>{{ "Deposits.strongRequired" | translate }}</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field *ngIf="fixedDepositsChargeForm.contains('feeOnMonthDay')">
              <mat-label>{{ "Deposits.Fixed.Actions.AddCharge.feeOnMonthDay" | translate }}</mat-label>
              <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="feeOnMonthDayPicker" required
                formControlName="feeOnMonthDay">
              <mat-datepicker-toggle matSuffix [for]="feeOnMonthDayPicker"></mat-datepicker-toggle>
              <mat-datepicker #feeOnMonthDayPicker></mat-datepicker>
              <mat-error *ngIf="fixedDepositsChargeForm.controls.feeOnMonthDay.hasError('required')">
                {{ "Deposits.Fixed.Actions.AddCharge.errfeeOnMonthDay" | translate }}<strong>{{ "Deposits.strongRequired" | translate }}</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field *ngIf="fixedDepositsChargeForm.contains('feeInterval')">
              <mat-label>{{ "Deposits.Fixed.Actions.AddCharge.feeInterval" | translate }}</mat-label>
              <input matInput formControlName="feeInterval" />
            </mat-form-field>

          </div>

        </div>

        <mat-card-actions fxLayoutGap="5px" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
          <button type="button" mat-raised-button [routerLink]="['../../']">{{ "ShareButton.CancelEng" | translate }}</button>
          <button mat-raised-button color="primary" [disabled]="!fixedDepositsChargeForm.valid">{{ "ShareButton.Submit" | translate }}</button>
        </mat-card-actions>

      </mat-card-content>

    </form>

  </mat-card>

</div>
