<div class="container">

  <mat-card>

    <div fxLayout="row" fxLayout.lt-md="column">

      <div fxFlex="50%">

        <mat-nav-list>

          <mat-list-item *midasHasPermission="'CREATE_JOURNALENTRY'" [routerLink]="['journal-entries/frequent-postings']">
            <mat-icon matListIcon>
              <fa-icon icon="sync" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{ "Accounting.frequentPostings" | translate }}</h4>
            <p matLine>{{ "Accounting.predefinedPostings" | translate }}</p>
          </mat-list-item>

          <mat-list-item *midasHasPermission="'CREATE_JOURNALENTRY'" [routerLink]="['journal-entries/create']">
            <mat-icon matListIcon>
              <fa-icon icon="plus" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{ "Accounting.createJournalEntries" | translate }}</h4>
            <p matLine>{{ "Accounting.journalEntryTransactions" | translate }}</p>
          </mat-list-item>

          <mat-list-item *midasHasPermission="'READ_JOURNALENTRY'" [routerLink]="['journal-entries']">
            <mat-icon matListIcon>
              <fa-icon icon="search" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{ "Accounting.searchJournalEntries" | translate }}</h4>
            <p matLine>{{ "Accounting.advancedSearch" | translate }}</p>
          </mat-list-item>

          <mat-list-item *midasHasPermission="'READ_FINANCIALACTIVITYACCOUNT'" [routerLink]="['financial-activity-mappings']">
            <mat-icon matListIcon>
              <fa-icon icon="link" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{ "Accounting.accountsLinkedFinancialActivities" | translate }}</h4>
            <p matLine>{{ "Accounting.listOfFinancialActivitiesAndGL" | translate }}</p>
          </mat-list-item>

          <mat-list-item *midasHasPermission="'READ_JOURNALENTRY'" [routerLink]="['migrate-opening-balances']">
            <mat-icon matListIcon>
              <fa-icon icon="hand-holding-usd" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{ "Accounting.migrateOpeningBalances" | translate }}</h4>
            <p matLine>{{ "Accounting.setOrUpdateOfficeLevelOpeningBalances" | translate }}</p>
          </mat-list-item>

        </mat-nav-list>

      </div>

      <div fxFlex="50%">

        <mat-nav-list>

          <mat-list-item *midasHasPermission="'READ_GLACCOUNT'" [routerLink]="['chart-of-accounts']">
            <mat-icon matListIcon>
              <fa-icon icon="sitemap" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{ "Accounting.chartOfAccounts" | translate }}</h4>
            <p matLine>{{ "Accounting.listOfAccounts" | translate }}List of accounts used by the organization</p>
          </mat-list-item>

          <mat-list-item *midasHasPermission="'READ_GLCLOSURE'" [routerLink]="['closing-entries']">
            <mat-icon matListIcon>
              <fa-icon icon="archive" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{ "Accounting.closingEntries" | translate }}</h4>
            <p matLine>{{ "Accounting.journalEntries" | translate }}</p>
          </mat-list-item>

          <mat-list-item *midasHasPermission="'READ_ACCOUNTINGRULE'" [routerLink]="['accounting-rules']">
            <mat-icon matListIcon>
              <fa-icon icon="list" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{ "Accounting.accountingRules" | translate }}</h4>
            <p matLine>{{ "Accounting.ListOfAllAccountingRules" | translate }}</p>
          </mat-list-item>

          <mat-list-item *midasHasPermission="'EXECUTE_PERIODICACCRUALACCOUNTING'" [routerLink]="['periodic-accruals']">
            <mat-icon matListIcon>
              <fa-icon icon="calendar" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{ "Accounting.accruals" | translate }}</h4>
            <p matLine>{{ "Accounting.accruesIncomeExpensesAndLiabilities" | translate }}</p>
          </mat-list-item>

          <mat-list-item *midasHasPermission="'VIEW_PROVISIONING_ENTRIES'" [routerLink]="['provisioning-entries']">
            <mat-icon matListIcon>
              <fa-icon icon="cogs" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{ "Accounting.provisioningEntries" | translate }}</h4>
            <p matLine>{{ "Accounting.createProvisioningEntries" | translate }}</p>
          </mat-list-item>

        </mat-nav-list>

      </div>

    </div>

  </mat-card>

</div>
