<h1 mat-dialog-title>Vui lòng chọn tài khoản chi tiền</h1>
<div mat-dialog-content>
  <div fxLayout="row swap"
       fxLayoutAlign.lt-sm="center"
       fxLayoutGap="2%"
       fxLayout.lt-sm="column"
       [formGroup]="formDialog"
  >


    <mat-form-field fxFlex="30%" *ngIf="formDialog.contains('amountPaid')">
      <mat-label>Số tiền</mat-label>
      <input
        matInput
        required
        currencyMask
        formControlName="amountPaid">
      <mat-error *ngIf="formDialog.controls.amountPaid.hasError('required')">Vui lòng thêm thông tin
        trước khi
        thực
        hiện
      </mat-error>
    </mat-form-field>

<!--    <mat-form-field fxFlex="30%" *ngIf="formDialog.contains('advanceCashPaidFee')"-->
<!--                    class="input_custom">-->
<!--      <mat-label>Tác vụ</mat-label>-->
<!--      <mat-select formControlName="advanceCashPaidFee">-->
<!--        <mat-option *ngFor="let type of advanceCashPaidFees"-->
<!--                    [value]="type.value">-->
<!--          {{type.label}}-->
<!--        </mat-option>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->


    <mat-form-field fxFlex="30%" *ngIf="formDialog.contains('isAdvance')"
                    class="input_custom">
      <mat-label>Loại chi</mat-label>
      <mat-select formControlName="isAdvance">
        <mat-option *ngFor="let type of typeAdvanceCashFees"
                    [value]="type.value">
          {{type.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="30%" *ngIf="formDialog.contains('savingAccountPaid')"
                    class="input_custom">
      <mat-label>Tài khoản chi</mat-label>
      <mat-select formControlName="savingAccountPaid">
        <mat-option *ngFor="let account of clientAccountsTeller"
                    [value]="account.id">
          {{account.externalId}}  -
          {{account.accountBalance == null ? '0' :
          account.accountBalance | money }}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>
  <mat-card-content>
    <table mat-table class="mat-elevation-z8" multiTemplateDataRows
           [dataSource]="transactions" matSort>


      <ng-container matColumnDef="txnSavingResource">
        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef mat-sort-header>Mã</th>
        <td mat-cell fxHide fxShow.gt-md
            *matCellDef="let form"> {{form.txnSavingResource}}</td>
      </ng-container>


      <ng-container matColumnDef="createdDate">
        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef mat-sort-header>Thời gian</th>
        <td mat-cell fxHide fxShow.gt-md
            *matCellDef="let form"> {{form.createdDate | date}} </td>
      </ng-container>

      <ng-container matColumnDef="txnSavingType">
        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef mat-sort-header>Loại</th>
        <td mat-cell fxHide fxShow.gt-md
            *matCellDef="let form"> {{form.txnSavingType === 'W' ? 'Giảm' : 'Tăng'}}</td>
      </ng-container>
      <ng-container matColumnDef="txnPaymentCode">
        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef mat-sort-header>P.thức</th>
        <td mat-cell fxHide fxShow.gt-md
            *matCellDef="let form"> {{form.txnPaymentCode}}</td>
      </ng-container>
      <ng-container matColumnDef="txnSavingId">
        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef mat-sort-header>TK</th>
        <td mat-cell fxHide fxShow.gt-md
            *matCellDef="let form"> {{form.txnSavingId }}</td>
      </ng-container>
      <ng-container matColumnDef="paidAmount">
        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef mat-sort-header>Số tiền</th>
        <td mat-cell fxHide fxShow.gt-md
            *matCellDef="let form"> {{form.paidAmount | money}}</td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell fxShow fxHide.gt-md *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="example-element-detail"
               [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="example-element-description" fxLayout="column">

            </div>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      <!--      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>-->
      <!--[routerLink]="['transactions/view', row.transactionId]"-->
    </table>
  </mat-card-content>
</div>
<mat-dialog-actions align="end">
  <button mat-raised-button
          (click)="dialogRef.close({status:false})"
  >{{'Shared_Component.DeleteDialog.buttonCancel'|translate}}</button>
  <button mat-raised-button color="warn"
          (click)="submitForm()"
  >{{'Shared_Component.DeleteDialog.buttonConfirm'|translate}}</button>
  <!--  [mat-dialog-close]="{ file: true }"-->
</mat-dialog-actions>
