<div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column" class="container m-b-20">
  <span *midasHasPermission="'ACTIVATE_HOLIDAY'">
    <button mat-raised-button color="accent" *ngIf="holidayData.status.value !== 'Active'">
      <fa-icon icon="lock-open"></fa-icon>&nbsp;&nbsp;
      {{'Organization.HolidaysComponent.View.btnActivate'| translate }}
    </button>
  </span>
  <button mat-raised-button color="primary" [routerLink]="['edit']" *midasHasPermission="'UPDATE_HOLIDAY'">
    <fa-icon icon="edit"></fa-icon>&nbsp;&nbsp;
    {{'Organization.HolidaysComponent.View.btnEdit'| translate }}
  </button>
  <button mat-raised-button color="warn" (click)="deleteHoliday()" *midasHasPermission="'DELETE_HOLIDAY'">
    <fa-icon icon="trash"></fa-icon>&nbsp;&nbsp;
    {{'Organization.HolidaysComponent.View.btnDelete'| translate }}
  </button>
</div>

<div class="container">

  <mat-card>

    <mat-card-content>

      <div fxLayout="row wrap" class="content">

        <div fxFlex="50%" class="header">
          {{'Organization.HolidaysComponent.View.Name'| translate }}
        </div>

        <div fxFlex="50%">
          {{ holidayData.name }}
        </div>

        <div fxFlex="50%" class="header">
          {{'Organization.HolidaysComponent.View.fromDate'| translate }}
        </div>

        <div fxFlex="50%">
          {{ holidayData.fromDate | date }}
        </div>

        <div fxFlex="50%" class="header">
          {{'Organization.HolidaysComponent.View.toDate'| translate }}
        </div>

        <div fxFlex="50%">
          {{ holidayData.toDate | date }}
        </div>

        <div fxFlex="50%" class="header">
          {{'Organization.HolidaysComponent.View.repaymentsRescheduledTo'| translate }}
        </div>

        <div fxFlex="50%" *ngIf="holidayData.repaymentsRescheduledTo !== undefined && holidayData.repaymentsRescheduledTo !== null">
          {{ holidayData.repaymentsRescheduledTo | date }}
        </div>

        <div fxFlex="50%" *ngIf="holidayData.repaymentsRescheduledTo === undefined || holidayData.repaymentsRescheduledTo === null">
          {{'Organization.HolidaysComponent.View.NextRepaymentDate'| translate }}
        </div>

      </div>

    </mat-card-content>

  </mat-card>

</div>
