<div class="container">

  <mat-card>

    <form [formGroup]="applyAnnualFeesForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div fxLayout="column">

          <mat-form-field>
            <mat-label>{{'Savings.Actions.ApplyAnnualFees.dueDate'| translate}}</mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="dueDatePicker" required formControlName="dueDate">
            <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #dueDatePicker></mat-datepicker>
            <mat-error *ngIf="applyAnnualFeesForm.controls.dueDate.hasError('required')">
              {{'Savings.Actions.ApplyAnnualFees.errdueDate'| translate}}<strong>{{'Savings.strongRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{'Savings.Actions.ApplyAnnualFees.Amount'| translate}}</mat-label>
            <input currencyMask type="text" formControlName="amount" required matInput />
            <mat-error *ngIf="applyAnnualFeesForm.controls.amount.hasError('required')">
              {{'Savings.Actions.ApplyAnnualFees.errAmount'| translate}}<strong>{{'Savings.strongRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

        </div>

      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../../']">{{ "ShareButton.CancelEng" | translate }}</button>
        <button mat-raised-button color="primary" [disabled]="!applyAnnualFeesForm.valid">{{ "ShareButton.ConfirmEng" | translate }}</button>
      </mat-card-actions>

    </form>

  </mat-card>

</div>
