<!-- Phần calendar -->
<div fxLayout="column" class="midascalendar">
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-around center" fxLayoutAlign.lt-md="center center" fxLayoutGap="2%">
    <div fxFlex="55" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center" >
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style" style="width: 300px;">
        <mat-button-toggle  (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month"
          style="width: 100px;"><i class="fas fa-calendar"></i> {{'Home_Component.Calendar.Month'| translate }}
        </mat-button-toggle>
        <mat-button-toggle (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week"
          style="width: 100px;"><i class="fas fa-calendar-week"></i> {{'Home_Component.Calendar.Week'| translate }}
        </mat-button-toggle>
        <mat-button-toggle (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day"
          style="width: 100px;"><i class="fas fa-calendar-day"></i> {{'Home_Component.Calendar.Day'| translate }}
        </mat-button-toggle>
      </mat-button-toggle-group>
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style" style="width: 300px;">
        <mat-button-toggle mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()" style="width: 100px;"> <i class="fas fa-angle-double-left"></i> {{'Home_Component.Calendar.Previous'| translate }}</mat-button-toggle>
        <mat-button-toggle mwlCalendarToday [(viewDate)]="viewDate" style="width: 100px;">{{'Home_Component.Calendar.Today'| translate }}</mat-button-toggle>
        <mat-button-toggle mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()" style="width: 100px;">{{'Home_Component.Calendar.Next'| translate }} <i class="fas fa-angle-double-right"></i></mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div fxFlex fxFlexAlign="center center">
      <h3 style="text-align: center;">
        <span style="border: 2px solid; border-radius:5px; padding:0.5rem"><i class="fas fa-calendar-alt"></i> {{ viewDate | calendarDate:(view + 'ViewTitle'):'vi' }}</span>
      </h3>
    </div>




  </div>
  <br />
  <div [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
      [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
      [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
  </div>
</div>
<!-- Phần bảng danh sách công việc -->
<!-- <h3>
  Thêm công việc mới:
  <button  mat-mini-fab  color="primary" (click)="addEvent()">
    <fa-icon icon="plus"></fa-icon>
  </button>

</h3>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nội dung</th>
        <th>Nhóm chính</th>
        <th>Nhóm phụ</th>
        <th>Từ lúc</th>
        <th>Đến lúc</th>
        <th>Hành động</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let event of events">
        <td style="width: 55%;">
          <mat-form-field style="width: 100%">
          <input matInput type="text" class="form-control" [(ngModel)]="event.title" (keyup)="refresh.next()" />
          </mat-form-field >
        </td>
        <td style="width: 5%;">
          <mat-form-field style="width: 32px;" >
            <input matInput type="color" [(ngModel)]="event.color.primary" (change)="refresh.next()" />
          </mat-form-field>

        </td>
        <td style="width: 5%;">
          <mat-form-field style="width: 32px;">
            <input matInput type="color" [(ngModel)]="event.color.secondary" (change)="refresh.next()" />
          </mat-form-field>

        </td>
        <td style="width: 15%;">
          <mat-form-field  style="width: 95%">
            <input matInput class="form-control" type="date" mwlFlatpickr [(ngModel)]="event.start"
            (ngModelChange)="refresh.next()" dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Not set" />
          </mat-form-field>

        </td>
        <td style="width: 15%;">
          <mat-form-field style="width: 94%">
            <input matInput class="form-control" type="date" mwlFlatpickr [(ngModel)]="event.end" (ngModelChange)="refresh.next()"
            dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Not set" />
          </mat-form-field>

        </td>
        <td fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center ">
          <button mat-mini-fab color="warn" (click)="addEvent()" title="Xóa events">
            <fa-icon icon="trash"></fa-icon>
          </button>

        </td>
      </tr>
    </tbody>
  </table>
</div> -->
<!-- ------------------------- -->
<!-- <ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Action:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Event:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      OK
    </button>
  </div>
</ng-template> -->
