<mat-card>
  <mat-card-content>
    <h1 mat-dialog-title uppercase>
      Lịch đáo hạn thẻ của {{ transactionInfo?.panNumber }} - {{ transactionInfo?.panHolderName | uppercase }}
    </h1>
    <div class="header-booking" [fxLayout]="'row'" fxLayout.lt-md="column" [fxLayoutGap]="'1%'" fxLayoutGap.lt-md="0%">
      <mat-form-field fxFlex="20%">
        <input matInput disabled [value]="transactionInfo?.reqAmount | money" />
        <span matPrefix>Số tiền đáo hạn:&nbsp;</span>
      </mat-form-field>
      <mat-form-field fxFlex="20%">
        <input matInput disabled [value]="transactionInfo?.totalAmountPaid | money" />
        <span matPrefix  >Đã chi:&nbsp;
          <a href="javascript:void(0)" (click)="viewFeeDialogHistory(false, transactionInfo.rollTermId)">Chi tiết</a>
        </span>
      </mat-form-field>
      <mat-form-field fxFlex="20%">
        <input matInput disabled [value]="transactionInfo?.totalAmountGet | money" />
        <span matPrefix>Đã thu hồi:&nbsp;</span>
      </mat-form-field>

      <mat-form-field fxFlex="10%">
        <input matInput #feeModel (change)="transactionInfo.feePercentage = feeModel.value"  [ngModel]="transactionInfo?.feePercentage" />
        <span matPrefix>Phí:&nbsp;</span>
        <span matSuffix>%</span>
      </mat-form-field>
      <mat-form-field fxFlex="20%">
        <input matInput disabled [value]="transactionInfo?.feeAmount | money" />
        <span matPrefix> - Tiền phí cần thu:&nbsp;</span>
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>
<div mat-dialog-content>
  <mat-card>
    <mat-card-content>
      <table mat-table multiTemplateDataRows class="mat-elevation-z8" [dataSource]="dataSource" >
        <ng-container matColumnDef="transaction">
          <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef >Giao dịch</th>
          <td mat-cell fxHide fxShow.gt-md *matCellDef="let booking; let i = dataIndex">
            <mat-label>
              {{ i == 0 ? "Test thẻ" : "Lần " + i }}
            </mat-label>

            <mat-label>
              <fa-icon
              *ngIf=" ( i > 0 && !booking.trnRefNo && transactionInfo?.totalAmountGet > 0 ) || ( i > 1 && transactionInfo?.totalAmountGet == 0 ) "
              (click)="this.removeBookingRow(i)"
              title="Xóa dòng booking"
              style="color: red"
              icon="times"
            ></fa-icon>
            </mat-label>


          </td>
        </ng-container>

        <ng-container matColumnDef="txnDate">
          <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef >Ngày giao dịch</th>
          <td mat-cell fxHide fxShow.gt-md *matCellDef="let booking">
            <!-- {{ booking.txnDate | date: "dd-MM-yyyy" }} -->
            <mat-form-field>
              <input
                matInput
                opened="true"
                required
                readonly
                [matDatepicker]="transactionDatePicker"
                [(ngModel)]="booking.txnDate"
                (dateChange)="editBookingRow(booking)"
              />
              <mat-datepicker-toggle [disabled]="booking.trnRefNo" matSuffix [for]="transactionDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #transactionDatePicker></mat-datepicker>
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef >Số tiền</th>
          <td mat-cell fxHide fxShow.gt-md *matCellDef="let booking ; let i = dataIndex">
            <mat-form-field>
            <input
            type="text"
            matInput
            [disabled]="i == (this.dataSource.length - 1)"
            currencyMask
            [(ngModel)]="booking.bookingAmount"
            (blur)="calculateTotalBookingAmount(i)"
             />
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="fee">
          <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef >Phí thực tế</th>
          <td mat-cell fxHide fxShow.gt-md *matCellDef="let booking">{{ transactionInfo?.feePercentage }}%</td>
        </ng-container>

        <ng-container matColumnDef="getAmount">
          <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef>Đã thu hồi</th>
          <td mat-cell fxHide fxShow.gt-md *matCellDef="let booking">{{ booking.totalGet | money }}</td>
        </ng-container>

        <ng-container matColumnDef="actions" style="width: 25px">
          <th mat-header-cell *matHeaderCellDef >
            <button color="primary" (click)="this.addBookingRow()"
            title="Thêm dòng booking" mat-raised-button>
            <fa-icon
            style="color: green; font-weight: bold;"
            icon="plus"
          ></fa-icon> Thêm
            </button>
           </th>
          <td mat-cell *matCellDef="let transaction">
            <mat-icon
              *ngIf="permitFee"
              style="color: red;"
              title="Chi tiền"
              mat-dialog-close
              (click)="addFeeDialogByTransactionId(false, transaction.rollTermId)"
            >
              attach_money
            </mat-icon>
            <mat-icon mat-dialog-close
              style="color: blue;"
              title="Làm giao dịch thu hồi đáo hạn"
              (click)="
                routeToMakeRollTermGetCash(
                  transaction.rollTermId,
                  transaction.refid,
                  transactionInfo.totalAmountPaid - transactionInfo.totalAmountGet
                )"
              >gavel
            </mat-icon>
            <mat-icon
              mat-dialog-close
              style="color: green;"
              title="Thực hiện thu tiền phí "
              (click)="addFeeDialogByTransactionId(true,transaction.trnRefNo)"
            >
              attach_money
            </mat-icon>
          </td>
        </ng-container>
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell fxShow fxHide.gt-md *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <div class="example-element-description" fxLayout="column">
                <div><span style="font-weight: bold"> Giao dịch :</span>&nbsp;{{ element.panHolderName }}</div>
                <div>
                  <span style="font-weight: bold"> Ngày giao dịch :</span>&nbsp; &nbsp;{{
                    element.createdDate | date: "dd-MM-yyyy HH:ss"
                  }}
                </div>
                <div><span style="font-weight: bold"> Số tiền:</span>&nbsp; &nbsp;{{ element.terminalAmount }}</div>
                <div><span style="font-weight: bold"> Phí thực tế:</span>&nbsp; &nbsp;{{ element.identifierId }}</div>
                <div><span style="font-weight: bold"> Đã chi :</span>&nbsp; &nbsp;{{ element.officeName | money }}</div>
                <div><span style="font-weight: bold"> Đã thu hồi :</span>&nbsp; &nbsp;{{ element.agencyName }}</div>
              </div>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let element; columns: displayedColumns"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element"
        ></tr>
      </table>
      <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center; background: white">
        <mat-progress-spinner color="warn" mode="indeterminate"> </mat-progress-spinner>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div class="container" fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column"></div>
<mat-dialog-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="2%">
  <button mat-raised-button mat-dialog-close>Đóng</button>
</mat-dialog-actions>
