<h1 mat-dialog-title>{{ "Deposits.Fixed.View.CustomDialog.WaiveCharge.h1" | translate }}</h1>
<div mat-dialog-content>
  <p>{{ "Deposits.Fixed.View.CustomDialog.WaiveCharge.p" | translate }}{{ data.id }} ?</p>
</div>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>{{ "ShareButton.CancelEng" | translate }}</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="{ confirm: true }">{{ "ShareButton.ConfirmEng" | translate }}</button>
</mat-dialog-actions>
