<div class="container">

  <mat-card>

    <form [formGroup]="codeForm" (ngSubmit)="submit()">

      <mat-card-content>

          <div fxLayout="column">

            <mat-form-field>
              <mat-label>{{'System.CodeComponent.Create.CodeName'| translate }}</mat-label>
              <input matInput required formControlName="name">
              <mat-error *ngIf="codeForm.controls.name.hasError('required')">
                {{'System.CodeComponent.Create.errCodeName'| translate }}<strong>{{'System.strongRequired'| translate }}</strong>
              </mat-error>
            </mat-form-field>

          </div>

      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../']">{{ "ShareButton.CancelEng" | translate }}</button>
        <mat-card-actions mat-raised-button color="primary" [disabled]="!codeForm.valid" *midasHasPermission="'CREATE_CODE'">{{ "ShareButton.Submit" | translate }}</mat-card-actions>button>
      </mat-card-actions>

    </form>

  </mat-card>

</div>
