<div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column" class="container m-b-20">
  <button mat-raised-button color="primary" *midasHasPermission="'UPDATE_REPORT'">
    <fa-icon icon="edit"></fa-icon>&nbsp;&nbsp;
    {{ "ShareButton.Edit" | translate }}
  </button>
</div>

<div class="container m-b-20">
  <mat-card>
    <mat-card-header fxLayout="column">
      <mat-card-title>{{'System.ManageSurveysComponent.ViewSurvey.Survey'| translate }}</mat-card-title>
      <mat-divider [inset]="true"></mat-divider>
    </mat-card-header>
    <mat-card-content>

      <div fxLayout="row wrap" class="content">
        <div fxFlex="40%" fxFlex.lt-md="50%" class="header">
          <b>{{'System.ManageSurveysComponent.ViewSurvey.key'| translate }}</b>
        </div>

        <div fxFlex="60%" fxFlex.lt-md="50%">
          {{surveyData.key}}
        </div>

        <div fxFlex="40%" fxFlex.lt-md="50%" class="header">
          <b>{{'System.ManageSurveysComponent.ViewSurvey.name'| translate }}</b>
        </div>

        <div fxFlex="60%" fxFlex.lt-md="50%">
          {{surveyData.name}}
        </div>

        <div fxFlex="40%" fxFlex.lt-md="50%" class="header">
          <b>{{'System.ManageSurveysComponent.ViewSurvey.countryCode'| translate }}</b>
        </div>

        <div fxFlex="60%" fxFlex.lt-md="50%">
          {{surveyData.countryCode}}
        </div>

        <div fxFlex="40%" fxFlex.lt-md="50%" class="header">
          <b>{{'System.ManageSurveysComponent.ViewSurvey.description'| translate }}</b>
        </div>

        <div fxFlex="60%" fxFlex.lt-md="50%">
          {{surveyData.description}}
        </div>

      </div>

    </mat-card-content>

  </mat-card>

</div>

<div class="container m-b-20">
  <mat-card class="questions">
    <mat-card-header fxLayout="column">
      <mat-card-title>{{'System.ManageSurveysComponent.ViewSurvey.Questions'| translate }}</mat-card-title>
      <mat-divider [inset]="true"></mat-divider>
    </mat-card-header>
    <mat-card-content>
      <div class="survey_questions" *ngFor="let questionData of surveyData.questionDatas; index as i">
        <mat-card>
          <mat-card-content>
            <div>{{'System.ManageSurveysComponent.ViewSurvey.Question2'| translate }}{{i+1}}</div>
            <div fxLayout="row" id="key_text">
              <div fxFlex="25%" fxFlex.lt-md="50%" class="header">
                <b>{{'System.ManageSurveysComponent.ViewSurvey.key2'| translate }}</b>
              </div>

              <div fxFlex="40%" fxFlex.lt-md="50%">
                {{questionData.key}}
              </div>
              <div fxFlex="40%" fxFlex.lt-md="50%" class="header">
                <b>{{'System.ManageSurveysComponent.ViewSurvey.Text'| translate }}</b>
              </div>

              <div fxFlex="40%" fxFlex.lt-md="50%">
                {{questionData.text}}
              </div>
            </div>
            <div fxLayout="row" id="description">
              <div fxFlex="20%" fxFlex.lt-md="50%" class="header">
                <b>{{'System.ManageSurveysComponent.ViewSurvey.description'| translate }}</b>
              </div>

              <div fxFlex="40%" fxFlex.lt-md="50%">
                {{questionData.description}}
              </div>
            </div>
            <div fxLayout="column" id="questionaire">
              <div><b>{{'System.ManageSurveysComponent.ViewSurvey.Option'| translate }}</b></div>
              <table id="response">
                <tr>
                  <th *ngFor="let column of displayedColumns">{{column | titlecase}}</th>
                </tr>
                <tr *ngFor="let row of questionData.responseDatas">
                  <td *ngFor="let column of displayedColumns">
                    {{row[column]}}
                  </td>
                </tr>
              </table>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>
</div>
