<div class="container">

  <mat-card>

    <form [formGroup]="closeLoanForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div fxLayout="column">

          <mat-form-field>
            <mat-label>{{'Loans.View.Actions.CloseAsRescheduled.transactionDate'| translate }}</mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="closedDatePicker" required
              formControlName="transactionDate">
            <mat-datepicker-toggle matSuffix [for]="closedDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #closedDatePicker></mat-datepicker>
            <mat-error *ngIf="closeLoanForm.controls.transactionDate.hasError('required')">
              {{'Loans.View.Actions.CloseAsRescheduled.errtransactionDate'| translate }}<strong>{{'Loans.View.strongRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{'Loans.View.Actions.CloseAsRescheduled.note'| translate }}</mat-label>
            <textarea matInput formControlName="note"></textarea>
          </mat-form-field>

        </div>

        <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
          <button type="button" mat-raised-button [routerLink]="['../../general']">{{ "ShareButton.CancelEng" | translate }}</button>
          <button mat-raised-button color="primary" [disabled]="!closeLoanForm.valid"
            *midasHasPermission="'CLOSEASRESCHEDULED_LOAN'">{{ "ShareButton.Submit" | translate }}</button>
        </mat-card-actions>

      </mat-card-content>

    </form>

  </mat-card>

</div>
