<div class="container">
  <mat-card *ngIf="isTF; else templateError">
    <form [formGroup]="transferTerminalForm">
      <mat-card-title align="center">
        <h3 class="mat-h3">{{ "Terminal_Component.FormTransfer.labelTransfer" | translate | uppercase }}</h3>
      </mat-card-title>
      <mat-card-content>
        <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">
          <mat-form-field fxFlex="98%">
            <mat-label>Loại điều chuyển</mat-label>
            <mat-select required formControlName="transferType">
              <mat-option *ngFor="let option of transferOptions" [value]="option.code">
                {{ option.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ "Terminal_Component.FormTransfer.labelTerminalId" | translate }}</mat-label>
            <input matInput required readonly formControlName="terminalId" />
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ "Terminal_Component.FormTransfer.labelTerminalName" | translate }}</mat-label>
            <input matInput required readonly formControlName="terminalName" />
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ "Terminal_Component.FormTransfer.labelOffice" | translate }}</mat-label>
            <mat-select disabled required formControlName="officeName">
              <mat-option *ngFor="let office of offices" [value]="office.officeId">
                {{ office.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ "Terminal_Component.FormTransfer.labelLimitRemain" | translate }}</mat-label>
            <input matInput currencyMask disabled formControlName="limitRemain" type="text" />
          </mat-form-field>

          <!-- <mat-form-field fxFlex="98%" *ngIf="transferTerminalForm.contains('rate')"> -->

          <!-- <input type="number" step="0.001"  matInput required  formControlName="rate" /> -->
          <!-- <mat-error *ngIf="transferTerminalForm.controls.rate.hasError('required')"
              >Nhập Phí Pos áp dụng cho đơn vị nhận máy!</mat-error
            > -->
          <mat-card fxFlex="98%" *ngIf="transferTerminalForm.contains('rate')">
            <label> Phí máy theo loại thẻ </label>
            <mat-card-content>
              <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">
                <mat-form-field fxFlex="23%" *ngFor="let rateObject of listRateDefault">
                  <mat-label>{{ rateObject.cardDescription }}</mat-label>
                  <input matInput type="number" step="0.001"
                   [(ngModel)]="rateObject.costPercentage" [ngModelOptions]="{standalone: true}" required />
                </mat-form-field>
              </div>
            </mat-card-content>
          </mat-card>
          <!-- </mat-form-field> -->

          <mat-form-field *ngIf="transferTerminalForm.contains('officeId')" fxFlex="98%">
            <mat-label>{{ "Terminal_Component.FormTransfer.labelOfficeToTransfer" | translate }}</mat-label>
            <mat-select required formControlName="officeId">
              <mat-option *ngFor="let office of offices" [value]="office.officeId">
                {{ office.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="transferTerminalForm.controls.officeId.hasError('required')"
              >Cần chọn chi nhánh trước!</mat-error
            >
          </mat-form-field>

          <mat-form-field *ngIf="transferTerminalForm.contains('transferTarget')" fxFlex="98%">
            <mat-label>Đối tác chuyển đến</mat-label>
            <mat-select [disabled]="!isChoosePartner" required formControlName="transferTarget">
              <mat-option *ngFor="let partner of listPartner" [value]="partner.externalId">
                {{ showOptionPartnerTransfer(partner.externalId, partner.displayName) }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="transferTerminalForm.controls.transferTarget.hasError('required')"
              >Cần chọn đối tác trước!</mat-error
            >
          </mat-form-field>
        </div>
      </mat-card-content>

      <mat-card-content>
        <div style="text-align: center">
          <button mat-raised-button color="primary" (click)="submit()">
            <fa-icon icon="check"></fa-icon>
            {{ "Terminal_Component.FormTransfer.btnSubmit" | translate }}
          </button>
        </div>
      </mat-card-content>
    </form>
  </mat-card>

  <ng-template #templateError>
    {{ "Terminal_Component.FormTransfer.msgErrorLimitDaily" | translate }}
  </ng-template>
</div>
