<div class="container m-b-20" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="end" fxLayoutGap="2%">
  <button mat-raised-button color="primary" [routerLink]="['edit']">
    <fa-icon icon="edit"></fa-icon>&nbsp;&nbsp;
    {{'UsersComponent.ViewUserComponent.Edit'|translate}}
  </button>
  <button mat-raised-button color="warn" (click)="delete()">
    <fa-icon icon="trash"></fa-icon>&nbsp;&nbsp;
    {{'UsersComponent.ViewUserComponent.Delete'|translate}}
  </button>
  <button mat-raised-button color="primary" (click)="changeUserPassword()">
    <fa-icon icon="cog"></fa-icon>&nbsp;&nbsp;
    {{'UsersComponent.ViewUserComponent.ChangePassword'|translate}}
  </button>
</div>

<div class="container">

  <mat-card>

    <mat-card-content>

      <div fxLayout="row wrap" class="content">

        <div fxFlex="50%" class="mat-body-strong">
          {{'UsersComponent.ViewUserComponent.username'|translate}}
        </div>

        <div fxFlex="50%">
          {{ userData.username }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'UsersComponent.ViewUserComponent.firstname'|translate}}
        </div>

        <div fxFlex="50%">
          {{ userData.firstname }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'UsersComponent.ViewUserComponent.lastname'|translate}}
        </div>

        <div fxFlex="50%">
          {{ userData.lastname }}
        </div>


        <div fxFlex="50%" class="mat-body-strong" *ngIf="userData.email">
          {{'UsersComponent.ViewUserComponent.Email'|translate}}
        </div>

        <div fxFlex="50%" *ngIf="userData.email">
          {{ userData.email }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'UsersComponent.ViewUserComponent.Office'|translate}}
        </div>

        <div fxFlex="50%">
          {{ userData.officeName }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'UsersComponent.ViewUserComponent.Roles'|translate}}
        </div>

        <div fxFlex="50%">
          <span *ngFor="let role of userData.selectedRoles">
            {{ role.name }}
          </span>
        </div>

      </div>

    </mat-card-content>

  </mat-card>

</div>
