<div class="container">

  <mat-card>

    <form [formGroup]="editTransactionForm" (ngSubmit)="submit()">

      <mat-card-content fxLayout="column">

        <mat-form-field>
          <mat-label>{{'Loans.View.Transactions.Edit.transactionDate'| translate }}</mat-label>
          <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="dueDatePicker"
            formControlName="transactionDate" required>
          <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #dueDatePicker></mat-datepicker>
          <mat-error *ngIf="editTransactionForm.controls.transactionDate.hasError('required')">
            {{'Loans.View.Transactions.Edit.errtransactionDate'| translate }}<strong>{{'Loans.strongRequired'| translate }}</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'Loans.View.Transactions.Edit.transactionAmount'| translate }}</mat-label>
          <input currencyMask type="text" formControlName="transactionAmount" required matInput />
          <mat-error *ngIf="editTransactionForm.controls.transactionAmount.hasError('required')">
            {{'Loans.View.Transactions.Edit.errtransactionAmount'| translate }}<strong>{{'Loans.strongRequired'| translate }}</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'Loans.View.Transactions.Edit.paymentTypeId'| translate }}</mat-label>
          <mat-select formControlName="paymentTypeId">
            <mat-option *ngFor="let paymentType of paymentTypeOptions" [value]="paymentType.id">
              {{ paymentType.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div fxLayoutGap="5px" fxLayout="row" fxLayout.xs="column">
          <mat-label fxFlexAlign="center">{{'Loans.View.Transactions.Edit.ShowPaymentDetails'| translate }}</mat-label>
          <button type="button" mat-mini-fab color="primary" (click)="addPaymentDetails()">
            <fa-icon [icon]="!addPaymentDetailsFlag ? 'plus-circle' : 'minus-circle'" size="lg"></fa-icon>
          </button>
        </div>

        <mat-form-field *ngIf="editTransactionForm.controls['accountNumber']">
          <mat-label>{{'Loans.View.Transactions.Edit.accountNumber'| translate }}</mat-label>
          <input type="number" formControlName="accountNumber" matInput />
        </mat-form-field>

        <mat-form-field *ngIf="editTransactionForm.controls['checkNumber']">
          <mat-label>{{'Loans.View.Transactions.Edit.Cheque'| translate }}</mat-label>
          <input type="number" formControlName="checkNumber" matInput />
        </mat-form-field>

        <mat-form-field *ngIf="editTransactionForm.controls['routingCode']">
          <mat-label>{{'Loans.View.Transactions.Edit.routingCode'| translate }}</mat-label>
          <input formControlName="routingCode" matInput />
        </mat-form-field>

        <mat-form-field *ngIf="editTransactionForm.controls['receiptNumber']">
          <mat-label>{{'Loans.View.Transactions.Edit.receiptNumber'| translate }}</mat-label>
          <input formControlName="receiptNumber" matInput />
        </mat-form-field>

        <mat-form-field *ngIf="editTransactionForm.controls['bankNumber']">
          <mat-label>{{'Loans.View.Transactions.Edit.Bank'| translate }}</mat-label>
          <input formControlName="bankNumber" matInput />
        </mat-form-field>

        <mat-card-actions fxLayoutGap="5px" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
          <button type="button" mat-raised-button [routerLink]="['../']">{{ "ShareButton.CancelEng" | translate }}</button>
          <button mat-raised-button color="primary" [disabled]="!editTransactionForm.valid">{{ "ShareButton.Submit" | translate }}</button>
        </mat-card-actions>

      </mat-card-content>

    </form>

  </mat-card>

</div>
