<div class="tab-container mat-typography">

  <!-- <h3>Group Details</h3> -->
  <h3>Thông tin về đại lý</h3>


  <div fxLayout="row" fxLayoutGap="32px" class="group-details-container m-b-30">
    <!-- <p>
      Active Client Loans: {{groupSummary?.activeClientLoans}}<br/>
      Active Client Borrowers: {{groupSummary?.activeClientBorrowers}}<br/>
      Active Overdue Client Loans: {{groupSummary?.overdueClientLoans}}<br/>
    </p>
    <p>
      Active Group Loans: {{groupSummary?.activeGroupLoans}}<br/>
      Active Group Borrowers: {{groupSummary?.activeGroupBorrowers}}<br/>
      Active Overdue Group Loans: {{groupSummary?.overdueGroupLoans}}<br/>
    </p> -->
    <p>
      <!-- Active Clients: {{groupSummary?.activeClients}}<br/> -->
      Số lượng thành viên active: {{groupSummary?.activeClients}}<br/>
    </p>
  </div>
  <!-- Thông tin saving account -->
  <div *ngIf="savingAccounts">

    <div fxLayout="row" fxLayoutAlign="start" class="table-header">
      <div class="m-b-10">
        <!-- <h3>Saving Accounts</h3> -->
        <h3>Tài khoản tạm ứng</h3>
      </div>
      <div class="action-button m-b-10">
        <button *ngIf="(savingAccounts|accountsFilter:'saving':'closed').length" mat-raised-button class="f-right" color="primary"
        (click)="toggleSavingAccountsOverview()">{{showClosedSavingAccounts?'View Active Accounts':'View Closed Accounts'}}</button>
      </div>
    </div>

    <!-- Open Savings Accounts Table -->
    <table *ngIf="!showClosedSavingAccounts" mat-table [dataSource]="savingAccounts|accountsFilter:'saving'"
      class="mat-elevation-z1 m-b-30">

      <ng-container matColumnDef="Account No">
        <!-- <th mat-header-cell *matHeaderCellDef> Account No. </th> -->
        <th mat-header-cell *matHeaderCellDef> Số tài khoản </th>
        <td mat-cell *matCellDef="let element"> <i class="fa fa-stop" [ngClass]="element.status.code|statusLookup" [matTooltip]="element.status.value"></i>
          {{element.accountNo}} </td>
      </ng-container>

      <ng-container matColumnDef="Saving Account">
        <!-- <th mat-header-cell *matHeaderCellDef> Saving Account </th> -->
        <th mat-header-cell *matHeaderCellDef> Loại tài khoản </th>
        <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
      </ng-container>

      <ng-container matColumnDef="Last Active">
        <!-- <th mat-header-cell *matHeaderCellDef> Last Active </th> -->
        <th mat-header-cell *matHeaderCellDef> Ngày phát sinh gần nhất </th>
        <td mat-cell *matCellDef="let element"> {{element.lastActiveTransactionDate | date}} </td>
      </ng-container>

      <ng-container matColumnDef="Balance">
        <!-- <th mat-header-cell *matHeaderCellDef> Balance </th> -->
        <th mat-header-cell *matHeaderCellDef matTooltip="Nếu số dư >0 là phải thu, nếu số dư <0 là phải trả"> Số dư </th>
        <td mat-cell *matCellDef="let element"> {{element.accountBalance | money}} </td>
      </ng-container>

      <ng-container matColumnDef="Actions">
        <!-- <th mat-header-cell *matHeaderCellDef> Actions </th> -->
        <th mat-header-cell *matHeaderCellDef> Hành động </th>
        <td mat-cell *matCellDef="let element">
          <button *ngIf="element.status.active" class="account-action-button" mat-raised-button color="primary"
            (click)="routeEdit($event)" [routerLink]="['../','savings-accounts', element.id, 'actions', 'Deposit']">
            <!-- <i class="fa fa-arrow-up" matTooltip="Deposit"></i> -->
            <i class="fa fa-arrow-up" matTooltip="Ghi nhận phải trả"></i>
          </button>
          <button *ngIf="element.status.active" class="account-action-button" mat-raised-button color="primary"
            (click)="routeEdit($event)" [routerLink]="['../','savings-accounts', element.id, 'actions', 'Withdrawal']">
            <!-- <i class="fa fa-arrow-down" matTooltip="Withdraw"></i> -->
            <i class="fa fa-arrow-down" matTooltip="Ghi nhận phải thu"></i>
          </button>
          <button *ngIf="element.status.submittedAndPendingApproval" class="account-action-button" mat-raised-button color="primary"
            (click)="routeEdit($event)" [routerLink]="['../','savings-accounts', element.id, 'actions', 'Approve']">
            <i class="fa fa-check" matTooltip="Approve"></i>
          </button>
          <button *ngIf="!element.status.submittedAndPendingApproval && !element.status.active"
            class="account-action-button" mat-raised-button color="primary"
            (click)="routeEdit($event)" [routerLink]="['../','savings-accounts', element.id, 'actions', 'Undo Approval']">
            <i class="fa fa-undo" matTooltip="Undo Approval"></i>
          </button>
          <button *ngIf="!element.status.submittedAndPendingApproval && !element.status.active"
            class="account-action-button" mat-raised-button color="primary"
            (click)="routeEdit($event)" [routerLink]="['../','savings-accounts', element.id, 'actions', 'Activate']">
            <i class="fa fa-check-circle" matTooltip="Activate"></i>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="openSavingsColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: openSavingsColumns;" [routerLink]="['../', 'savings-accounts', row.id, 'transactions']"></tr>

    </table>

    <!-- Closed Saving Accounts Table -->
    <table *ngIf="showClosedSavingAccounts" mat-table [dataSource]="savingAccounts|accountsFilter:'saving':'closed'"
      class="mat-elevation-z1 m-b-30">

      <ng-container matColumnDef="Account No">
        <th mat-header-cell *matHeaderCellDef> Account No. </th>
        <td mat-cell *matCellDef="let element"> <i class="fa fa-stop" [ngClass]="element.status.code|statusLookup" [matTooltip]="element.status.value"></i>
          {{element.accountNo}} </td>
      </ng-container>

      <ng-container matColumnDef="Saving Account">
        <th mat-header-cell *matHeaderCellDef> Saving Account </th>
        <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
      </ng-container>

      <ng-container matColumnDef="Closed Date">
        <th mat-header-cell *matHeaderCellDef> Closed Date </th>
        <td mat-cell *matCellDef="let element">{{element.timeline.closedOnDate | date}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="closedSavingsColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: closedSavingsColumns;" [routerLink]="['../', 'savings-accounts', row.id, 'transactions']"></tr>

    </table>

  </div>

  <!-- Client Members Table -->
  <div *ngIf="groupClientMembersSameOffice">

    <h3>{{'Group_Component.General_tab.ClientMembers' |translate}}</h3>
    <div class="fix-table-client">
      <div fxLayout fxLayoutAlign="start center">
        <mat-form-field fxFlex="40%">
          <input matInput type="text" (keyup)="doFilterGroupClientMembersSameOffice($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>

      <table mat-table [dataSource]="groupClientMembersSameOffice"
        class="mat-elevation-z1 m-b-30">

        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef> {{'Group_Component.General_tab.Name' |translate}} </th>
          <td mat-cell *matCellDef="let element">
            <i class="fa fa-stop" [ngClass]="element.status.code|statusLookup" [matTooltip]="element.status.value"></i>
            {{element.displayName}}
          </td>
        </ng-container>

        <ng-container matColumnDef="Account No">
          <th mat-header-cell *matHeaderCellDef> {{'Group_Component.General_tab.AccountNo.' |translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.accountNo}} </td>
        </ng-container>

        <ng-container matColumnDef="Office">
          <th mat-header-cell *matHeaderCellDef>{{'Group_Component.General_tab.Office' |translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.officeName}} </td>
        </ng-container>

        <ng-container matColumnDef="JLG Loan Application">
          <th mat-header-cell *matHeaderCellDef> {{'Group_Component.General_tab.CustomerDetails' |translate}}  </th>
          <td mat-cell *matCellDef="let element">
            <button class="account-action-button" mat-raised-button color="primary" (click)="addIdentifier(element)">
              <i class="fa fa-credit-card" matTooltip="{{'Thêm thẻ mới' |translate}}"></i> Thêm thẻ mới
            </button>
            <button class="account-action-button" mat-raised-button color="primary" [routerLink]="['/clients', element.id, 'general']">
              <i class="fa fa-eye" matTooltip="{{'Group_Component.General_tab.NewLoanApplication' |translate}}"></i>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="clientMemberColumns"></tr>
        <!-- <tr mat-row *matRowDef="let row; columns: clientMemberColumns;" [routerLink]="['/clients', row.id, 'general']" class="select-row"></tr> -->
        <tr mat-row *matRowDef="let row; columns: clientMemberColumns;"class="select-row"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
  <div *ngIf="groupClientMembersDiffidentOffice">
    <h3>{{'Group_Component.General_tab.ClientMembersDiffidentOffice' |translate}}</h3>
    <div class="fix-table1-client">
      <div fxLayout fxLayoutAlign="start center">
        <mat-form-field fxFlex="40%">
          <input matInput type="text" (keyup)="doFilterGroupClientMembersDiffidentOffice($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
      <table mat-table [dataSource]="groupClientMembersDiffidentOffice"
        class="mat-elevation-z1 m-b-30 ">

        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef> {{'Group_Component.General_tab.Name' |translate}} </th>
          <td mat-cell *matCellDef="let element">
            <i class="fa fa-stop" [ngClass]="element.status.code|statusLookup" [matTooltip]="element.status.value"></i>
            {{element.displayName}}
          </td>
        </ng-container>

        <ng-container matColumnDef="Account No">
          <th mat-header-cell *matHeaderCellDef> {{'Group_Component.General_tab.AccountNo.' |translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.accountNo}} </td>
        </ng-container>

        <ng-container matColumnDef="Office">
          <th mat-header-cell *matHeaderCellDef>{{'Group_Component.General_tab.Office' |translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.officeName}} </td>
        </ng-container>

        <ng-container matColumnDef="JLG Loan Application">
          <th mat-header-cell *matHeaderCellDef> {{'Group_Component.General_tab.CustomerDetails' |translate}}  </th>
          <td mat-cell *matCellDef="let element">
            <button class="account-action-button" mat-raised-button color="primary" (click)="addIdentifier(element)">
              <i class="fa fa-credit-card"></i> Thêm thẻ mới
            </button>
            <button class="account-action-button" mat-raised-button color="primary" [routerLink]="['/clients', element.id, 'general']">
              <i class="fa fa-eye" matTooltip="{{'Group_Component.General_tab.NewLoanApplication' |translate}}"></i>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="clientMemberColumns"></tr>
        <!-- <tr mat-row *matRowDef="let row; columns: clientMemberColumns;" [routerLink]="['/clients', row.id, 'general']" class="select-row"></tr>       -->
        <tr mat-row *matRowDef="let row; columns: clientMemberColumns;"class="select-row"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>


  <div style="clear: both;"></div>
  <div *ngIf="loanAccounts">

    <div fxLayout="row" fxLayoutAlign="start" class="table-header">
      <div class="m-b-10">
        <h3>{{'Group_Component.General_tab.LoanAccounts' |translate}}</h3>
      </div>
      <div *ngIf="(loanAccounts|accountsFilter:'loan':'closed').length" class="action-button m-b-10">
        <button mat-raised-button class="f-right" color="primary"
      (click)="toggleLoanAccountsOverview()">{{showClosedLoanAccounts?'View Active Accounts':'View Closed Accounts'}}</button>
      </div>
    </div>

    <!-- Open Loan Accounts Table -->
    <table *ngIf="!showClosedLoanAccounts" mat-table [dataSource]="loanAccounts|accountsFilter:'loan'"
      class="mat-elevation-z1 m-b-30">

      <ng-container matColumnDef="Account No">
        <th mat-header-cell *matHeaderCellDef> {{'Group_Component.General_tab.AccountNo.' |translate}} </th>
        <td mat-cell *matCellDef="let element"> <i class="fa fa-stop"
            [ngClass]="element.inArrears?'status-active-overdue':(element.status.code|statusLookup)"
            [matTooltip]="element.inArrears?'Active Overdue':element.status.value"></i>
          {{element.accountNo}}
        </td>
      </ng-container>

      <ng-container matColumnDef="Loan Account">
        <th mat-header-cell *matHeaderCellDef> {{'Group_Component.General_tab.LoanAccount' |translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
      </ng-container>

      <ng-container matColumnDef="Original Loan">
        <th mat-header-cell *matHeaderCellDef> {{'Group_Component.General_tab.OriginalLoan' |translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.originalLoan}} </td>
      </ng-container>

      <ng-container matColumnDef="Loan Balance">
        <th mat-header-cell *matHeaderCellDef> {{'Group_Component.General_tab.LoanBalance' |translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.loanBalance}} </td>
      </ng-container>

      <ng-container matColumnDef="Amount Paid">
        <th mat-header-cell *matHeaderCellDef> {{'Group_Component.General_tab.AmountPaid' |translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.amountPaid}} </td>
      </ng-container>

      <ng-container matColumnDef="Type">
        <th mat-header-cell *matHeaderCellDef> {{'Group_Component.General_tab.Type' |translate}} </th>
        <td mat-cell *matCellDef="let element">
          <i class="fa fa-large" [ngClass]="(element.loanType.value==='Individual')?'fa-user':'fa-group'"
          [matTooltip]="(element.loanType.value==='Individual')?'Individual':'Group'"></i>
        </td>
      </ng-container>

      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef> {{'Group_Component.General_tab.Actions' |translate}} </th>
        <td mat-cell *matCellDef="let element">
          <button *ngIf="element.status.active" class="account-action-button" mat-raised-button color="primary">
            <i class="fa fa-dollar" matTooltip="Make Repayment"></i>
          </button>
          <button *ngIf="element.status.pendingApproval" class="account-action-button" mat-raised-button color="primary">
            <i class="fa fa-check" matTooltip="Approve"></i>
          </button>
          <button *ngIf="!element.status.pendingApproval && !element.status.active && !element.status.overpaid"
            class="account-action-button" mat-raised-button color="primary">
            <i class="fa fa-flag" matTooltip="Disburse"></i>
          </button>
          <button *ngIf="!element.status.pendingApproval && !element.status.active && element.status.overpaid"
            class="account-action-button" mat-raised-button color="primary">
            <i class="fa fa-exchange" matTooltip="Transfer Funds"></i>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="openLoansColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: openLoansColumns;" [routerLink]="['../', 'loans-accounts', row.id, 'general']"></tr>

    </table>

    <!-- Closed Loan Accounts Table-->
    <table *ngIf="showClosedLoanAccounts" mat-table [dataSource]="loanAccounts|accountsFilter:'loan':'closed'"
      class="mat-elevation-z1 m-b-30">

      <ng-container matColumnDef="Account No">
        <th mat-header-cell *matHeaderCellDef> {{'Group_Component.General_tab.AccountNo.' |translate}} </th>
        <td mat-cell *matCellDef="let element"> <i class="fa fa-stop"
            [ngClass]="element.inArrears?'status-active-overdue':(element.status.code|statusLookup)"
            [matTooltip]="element.inArrears?'Active Overdue':element.status.value"></i>
          {{element.accountNo}}
        </td>
      </ng-container>

      <ng-container matColumnDef="Loan Account">
        <th mat-header-cell *matHeaderCellDef> {{'Group_Component.General_tab.LoanAccount' |translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
      </ng-container>

      <ng-container matColumnDef="Original Loan">
        <th mat-header-cell *matHeaderCellDef> {{'Group_Component.General_tab.OriginalLoan' |translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.lastActiveTransactionDate | date}} </td>
      </ng-container>

      <ng-container matColumnDef="Loan Balance">
        <th mat-header-cell *matHeaderCellDef>{{'Group_Component.General_tab.LoanBalance' |translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.loanBalance}} </td>
      </ng-container>

      <ng-container matColumnDef="Amount Paid">
        <th mat-header-cell *matHeaderCellDef> {{'Group_Component.General_tab.AmountPaid' |translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.accountBalance}} </td>
      </ng-container>

      <ng-container matColumnDef="Type">
        <th mat-header-cell *matHeaderCellDef> {{'Group_Component.General_tab.Type' |translate}} </th>
        <td mat-cell *matCellDef="let element">
          <i class="fa fa-large" [ngClass]="(element.loanType.value=== 'Individual')?'fa-user':'fa-group'"
          [matTooltip]="(element.loanType.value==='Individual')?'Individual':'Group'"></i>
        </td>
      </ng-container>

      <ng-container matColumnDef="Closed Date">
        <th mat-header-cell *matHeaderCellDef> {{'Group_Component.General_tab.ClosedDate' |translate}} </th>
        <td mat-cell *matCellDef="let element">{{element.timeline.closedOnDate | date}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="closedLoansColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: closedLoansColumns;" [routerLink]="['../', 'loans-accounts', row.id, 'general']"></tr>

    </table>

  </div>



</div>
