<div class="tab-container mat-typography" *ngIf="checkerData">

  <div fxLayout="row" fxLayoutAlign="start center">
    <div class="search-box" fxFlex="40%">
      <mat-form-field fxFlex="90%">
        <input matInput placeholder="Search by user" (keyup)="applyFilter($event.target.value)">
      </mat-form-field>
    </div>
    <div fxFlex="60%" fxLayoutGap="0.5rem">
      <button mat-raised-button color="success" (click)="approveChecker()">
        <fa-icon icon="check"></fa-icon>&nbsp;&nbsp;{{'Task.CheckerInboxAndTasksTab.CheckerInbox.Approve'| translate }}
      </button>
      <button mat-raised-button color="warn" (click)="deleteChecker()">
        <fa-icon icon="trash"></fa-icon>&nbsp;&nbsp;{{'Task.CheckerInboxAndTasksTab.CheckerInbox.Delete'| translate }}
      </button>
      <button mat-raised-button color="reject" (click)="rejectChecker()">
        <fa-icon icon="times"></fa-icon>&nbsp;&nbsp;{{'Task.CheckerInboxAndTasksTab.CheckerInbox.Reject'| translate }}
      </button>
    </div>
  </div>

  <form [formGroup]="makerCheckerSearchForm">

    <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

      <mat-form-field fxFlex="31%">
        <mat-label>{{'Task.CheckerInboxAndTasksTab.CheckerInbox.makerDateTimeFrom'| translate }}</mat-label>
        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="makerDateTimeFromPicker"
          formControlName="makerDateTimeFrom">
        <mat-datepicker-toggle matSuffix [for]="makerDateTimeFromPicker"></mat-datepicker-toggle>
        <mat-datepicker #makerDateTimeFromPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field fxFlex="31%">
        <mat-label>{{'Task.CheckerInboxAndTasksTab.CheckerInbox.makerDateTimeto'| translate }}</mat-label>
        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="makerDateTimetoPicker"
          formControlName="makerDateTimeto">
        <mat-datepicker-toggle matSuffix [for]="makerDateTimetoPicker"></mat-datepicker-toggle>
        <mat-datepicker #makerDateTimetoPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field fxFlex="31%">
        <mat-label>{{'Task.CheckerInboxAndTasksTab.CheckerInbox.Action'| translate }}</mat-label>
        <mat-select formControlName="actionName">
          <mat-option *ngFor="let action of uniqueActionName" [value]="action">
            {{ action }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex="31%">
        <mat-label>{{'Task.CheckerInboxAndTasksTab.CheckerInbox.Entity'| translate }}</mat-label>
        <mat-select formControlName="entityName">
          <mat-option *ngFor="let entity of uniqueEntityName" [value]="entity">
            {{ entity }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex="31%">
        <mat-label>{{'Task.CheckerInboxAndTasksTab.CheckerInbox.resourceId'| translate }}</mat-label>
        <input matInput formControlName="resourceId">
      </mat-form-field>

      <button mat-raised-button color="primary" id="search-button" (click)="search()">{{'Task.CheckerInboxAndTasksTab.CheckerInbox.Search'| translate }}</button>

    </div>

  </form>

  <table mat-table [dataSource]="dataSource" *ngIf="!(noSearchedData)">

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> {{'Task.CheckerInboxAndTasksTab.CheckerInbox.ID'| translate }} </th>
      <td mat-cell *matCellDef="let makerChecker"> {{ makerChecker.id }} </td>
    </ng-container>

    <ng-container matColumnDef="madeOnDate">
      <th mat-header-cell *matHeaderCellDef> {{'Task.CheckerInboxAndTasksTab.CheckerInbox.madeOnDate'| translate }} </th>
      <td mat-cell *matCellDef="let makerChecker"> {{ makerChecker.madeOnDate | date }} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> {{'Task.CheckerInboxAndTasksTab.CheckerInbox.Status'| translate }} </th>
      <td mat-cell *matCellDef="let makerChecker"> {{ makerChecker.processingResult }} </td>
    </ng-container>

    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef> {{'Task.CheckerInboxAndTasksTab.CheckerInbox.User'| translate }} </th>
      <td mat-cell *matCellDef="let makerChecker"> {{ makerChecker.maker }} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> {{'Task.CheckerInboxAndTasksTab.CheckerInbox.Action'| translate }} </th>
      <td mat-cell *matCellDef="let makerChecker"> {{ makerChecker.actionName }} </td>
    </ng-container>

    <ng-container matColumnDef="entity">
      <th mat-header-cell *matHeaderCellDef> {{'Task.CheckerInboxAndTasksTab.CheckerInbox.Entity'| translate }} </th>
      <td mat-cell *matCellDef="let makerChecker"> {{ makerChecker.entityName }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="[row.id,'view']" class="select-row">
    </tr>
  </table>

  <div class="alert" *ngIf="noSearchedData">

    <div class="message">
      <i class="fa fa-exclamation-circle alert-check fa-2x"></i>
      {{'Task.CheckerInboxAndTasksTab.CheckerInbox.message1'| translate }}
    </div>

  </div>

</div>

<div class="alert" *ngIf="!checkerData">

  <div class="message">
    <i class="fa fa-exclamation-circle alert-check fa-2x"></i>
    {{'Task.CheckerInboxAndTasksTab.CheckerInbox.message2'| translate }}
  </div>

</div>
