.midas-saving-menu {

  mat-nav-list >  mat-list-item{
   border-bottom: 1px solid black;
  }
  .mat-menu-content {
    padding: 0 !important;
  }
}
.aligned-with-icons{
  font-size: medium;
}
.mat-menu-panel{
  max-width: none !important;
}
::ng-deep .midas-saving-menu {
  width: 300px;
  height: auto;
}


