
<div id="midas-user-account-info" tourAnchor="toolbar-5">
<button
  mat-raised-button
  class=" aligned-with-icons "
  
  mat-stroked-button
  matTooltip="Tổng số dư tài khoản ngân hàng"
  [matMenuTriggerFor]="UserSavingMenu"
> 
<i class="fas fa-donate " style="font-size: 1.5rem;"></i><span> : {{ totalBalance | money }}</span>
</button>

<mat-menu  backdropClass="userAccInfo" class="midas-saving-menu" #UserSavingMenu="matMenu" [overlapTrigger]="false">
  <mat-card>
    <mat-card-content>
      <ul class="dropdown-menu" *ngIf="listSaving?.length == 0">
        <li style="padding: 10px 0; margin: 2px 0 0; pointer-events: auto ">
          <strong style="color: red;">(Không có tài khoản)</strong>
        </li>
      </ul>
      <ul class="dropdown-menu" *ngIf="listSaving?.length > 0">
        <li style="padding: 10px 0; margin: 2px 0 0; pointer-events: auto " *ngFor="let account of listSaving">
          <label >
            <a href="#/clients/{{ account.clientId }}/savings-accounts/{{ account.id }}">
              <label  class="control-label col-6 ng-binding" style="float: left">
                {{ account.externalId }}
              </label>
              <label
                class="control-label col-6 ng-binding"
                style="float: right; color: green; margin-left: 20px"
              >
                <i class="fa fa-money"></i>
                {{ account.balance | money }}
              </label>
            </a>
          </label>
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
</mat-menu>
</div>

