#midas-user-account-info {
  .mat-nav-list > .mat-list-item {
    border-bottom: 1px solid black;
  }
  .mat-menu-content {
    padding: 0 !important;
  }
  .aligned-with-icons {
    font-size: medium;
    border-radius: 25px;
    margin-right: 15px;
    // color: white;
    // background: #ff4081;
  }
  
}
.userAccInfo + * > .cdk-overlay-pane {  
  // .cdk-overlay-pane {
    min-width: 350px;
    height: auto;
    .mat-menu-panel {
      // width: 100%;
      min-width: 350px;
      // max-width: none !important;
    }
  // }
}
