<mat-card class="container">

  <div fxLayout="row wrap">
      <mat-form-field fxFlex="88%">
        <input matInput [placeholder]="'Search ...'"
               midasAfterValueChanged
               (delayedInput)="applyFilter($event.target.value)">
      </mat-form-field>
  </div>

  <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">
    <mat-card
      class="example-ripple-container mat-elevation-z4 bank"
      matRipple
      [matRippleCentered]="centered"
      [matRippleDisabled]="disabled"
      [matRippleUnbounded]="unbounded"
      [matRippleRadius]="radius"
      [matRippleColor]="color"
      fxFlex="30%" style="display: flex; justify-content: center;" class="bank">
      <div style="margin-top: 10%;">
        <div fxLayout="row">
          <div fxFlex="40%">
            <img style="float: right;" src="assets/images/icons/add-bank.svg" width="50px" height="50px">
          </div>
          <div fxFlex="58%" fxLayout="column">
            <h3 style="margin: 2px;">{{banks.length}}</h3>
            <span>Thêm +</span>
          </div>
        </div>
      </div>
    </mat-card>
    <mat-card
      class="example-ripple-container mat-elevation-z4 bank"
      matRipple
      [matRippleCentered]="centered"
      [matRippleDisabled]="disabled"
      [matRippleUnbounded]="unbounded"
      [matRippleRadius]="radius"
      [matRippleColor]="color"
      fxFlex="30%" *ngFor="let bank of dataStore" >
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <img *ngIf="bank.status==='O'" src="assets/images/icons/checked.svg">
          <img *ngIf="bank.status!=='O'" src="assets/images/icons/disabled.svg">
        </div>
        <mat-card-title>{{bank.bankName}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <span style="float: left; font-size: 16px; font-weight: inherit;">Code: {{bank.bankCode}}</span>
        <div style="display: flex; justify-content: center; float: right;">
          <div fxLayout="row">
            <img src="assets/images/icons/credit-card.svg" width="40px" height="40px">
            <div fxLayout="column">
              <h4 style="margin: 2px;">{{bank.cards.length}}</h4>
              <span>cards</span>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

</mat-card>
