<div class="container">

  <mat-card>

    <form [formGroup]="employeeForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div fxLayout="column">

          <mat-form-field>
            <mat-label>{{'Organization.Employees.Create.Office'| translate }}</mat-label>
            <mat-select required formControlName="officeId">
              <mat-option *ngFor="let office of officeData" [value]="office.id">
                {{ office.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="employeeForm.controls.officeId.hasError('required')">
              {{'Organization.Employees.Create.errOffice'| translate }}<strong>{{'Organization.strongRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{'Organization.Employees.Create.firstname'| translate }}</mat-label>
            <input matInput required formControlName="firstname">
            <mat-error *ngIf="employeeForm.controls.firstname.hasError('required')">
              {{'Organization.Employees.Create.errfirstname'| translate }}<strong>{{'Organization.strongRequired'| translate }}</strong>
            </mat-error>
            <mat-error *ngIf="employeeForm.controls.firstname.hasError('pattern')">
              {{'Organization.Employees.Create.firstname'| translate }}
              <strong>{{'Organization.Employees.Create.strongCannot'| translate }}</strong>
              {{'Organization.Employees.Create.alert'| translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{'Organization.Employees.Create.lastname'| translate }}</mat-label>
            <input matInput required formControlName="lastname">
            <mat-error *ngIf="employeeForm.controls.lastname.hasError('required')">
              {{'Organization.Employees.Create.errlastname'| translate }}<strong>{{'Organization.strongRequired'| translate }}</strong>
            </mat-error>
            <mat-error *ngIf="employeeForm.controls.lastname.hasError('pattern')">
              {{'Organization.Employees.Create.lastname'| translate }}
              <strong>{{'Organization.Employees.Create.strongCannot'| translate }}</strong>
              {{'Organization.Employees.Create.alert'| translate }}
            </mat-error>
          </mat-form-field>

          <mat-checkbox labelPosition="before" formControlName="isLoanOfficer" class="loan-officer">
            {{'Organization.Employees.Create.isLoanOfficer'| translate }}
          </mat-checkbox>

          <mat-form-field>
            <mat-label>{{'Organization.Employees.Create.mobileNo'| translate }}</mat-label>
            <input matInput formControlName="mobileNo">
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{'Organization.Employees.Create.joiningDate'| translate }}</mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="joiningDatePicker" required formControlName="joiningDate">
            <mat-datepicker-toggle matSuffix [for]="joiningDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #joiningDatePicker></mat-datepicker>
            <mat-error *ngIf="employeeForm.controls.joiningDate.hasError('required')">
              {{'Organization.Employees.Create.errjoiningDate'| translate }}<strong>{{'Organization.strongRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

        </div>

      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../']">{{ "ShareButton.CancelEng" | translate }}</button>
        <button mat-raised-button color="primary" [disabled]="!employeeForm.valid" *midasHasPermission="'CREATE_STAFF'">{{ "ShareButton.Submit" | translate }}</button>
      </mat-card-actions>

    </form>

  </mat-card>

</div>
