<form [formGroup]="shareProductSettingsForm">

  <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

    <h4 fxFlex="98%" class="mat-h4">{{'Product_Component.ShareProducts.ShareStepper.Setting.SharesPerClient'| translate}}</h4>

    <mat-form-field fxFlex="31%">
      <mat-label>{{'Product_Component.ShareProducts.ShareStepper.Setting.Minimum'| translate}}</mat-label>
      <input type="number" matInput formControlName="minimumShares">
    </mat-form-field>

    <mat-form-field fxFlex="31%">
      <mat-label>{{'Product_Component.ShareProducts.ShareStepper.Setting.Default'| translate}}</mat-label>
      <input type="number" matInput formControlName="nominalShares" required>
      <mat-error>
        {{'Product_Component.ShareProducts.ShareStepper.Setting.errDefault'| translate}}<strong>{{'Product_Component.strongRequired'| translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="31%">
      <mat-label>{{'Product_Component.ShareProducts.ShareStepper.Setting.Maximum'| translate}}</mat-label>
      <input type="number" matInput formControlName="maximumShares">
    </mat-form-field>

    <h4 fxFlex="98%" class="mat-h4">{{'Product_Component.ShareProducts.ShareStepper.Setting.MinimumActivePeriod'| translate}}</h4>

    <mat-form-field fxFlex="48%">
      <mat-label>{{'Product_Component.ShareProducts.ShareStepper.Setting.Frequency'| translate}}</mat-label>
      <input type="number" matInput formControlName="minimumActivePeriodForDividends">
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>{{'Product_Component.ShareProducts.ShareStepper.Setting.Type'| translate}}</mat-label>
      <mat-select formControlName="minimumactiveperiodFrequencyType">
        <mat-option *ngFor="let minimumActivePeriodFrequencyType of minimumActivePeriodFrequencyTypeData" [value]="minimumActivePeriodFrequencyType.id">
          {{ minimumActivePeriodFrequencyType.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <h4 fxFlex="98%" class="mat-h4">{{'Product_Component.ShareProducts.ShareStepper.Setting.LockInPeriod'| translate}}</h4>

    <mat-form-field fxFlex="48%">
      <mat-label>{{'Product_Component.ShareProducts.ShareStepper.Setting.Frequency'| translate}}</mat-label>
      <input type="number" matInput formControlName="lockinPeriodFrequency">
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>{{'Product_Component.ShareProducts.ShareStepper.Setting.Type'| translate}}</mat-label>
      <mat-select formControlName="lockinPeriodFrequencyType">
        <mat-option *ngFor="let lockinPeriodFrequencyType of lockinPeriodFrequencyTypeData" [value]="lockinPeriodFrequencyType.id">
          {{ lockinPeriodFrequencyType.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox fxFlex="98%" class="margin-v" labelPosition="before" formControlName="allowDividendCalculationForInactiveClients">
      {{'Product_Component.ShareProducts.ShareStepper.Setting.allowDividendCalculationForInactiveClients'| translate}}
    </mat-checkbox>

  </div>

  <div fxLayout="row" class="margin-t" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="2%">
    <button mat-raised-button matStepperPrevious>
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;&nbsp;
      {{ "ShareButton.PreviousEng" | translate }}
    </button>
    <button mat-raised-button matStepperNext>
      {{ "ShareButton.NextEng" | translate }}&nbsp;&nbsp;
      <fa-icon icon="arrow-right"></fa-icon>
    </button>
  </div>

</form>
