<div id="create-transaction">
  <mat-card>
<mat-card-header  fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="end" fxLayoutGap="1%">
  <div fxFlex="100%" align="center" class="header">
    <h2 class="m-5">{{ "Transactions.CreateTransactionComponent.header" | translate }}</h2>
  </div>
</mat-card-header>
<mat-card-content  fxLayout="column" fxLayoutGap="2%">
  <form [formGroup]="transactionCreateForm">
    <mat-card>
      <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center; background: white;">
        <mat-progress-spinner color="warn" mode="indeterminate"> </mat-progress-spinner>
      </div>
      <div fxLayout="row wrap" fxLayout.lt-sm="column" >
        <div fxFlex.gt-sm="50%" fxLayout="row wrap" >
          <div fxFlex="100%">
            {{ "Transactions.CreateTransactionComponent.type" | translate }}
            <span style="color: green; font-weight: bold" *ngIf="transactionInfo.type == 'cash'">{{ "Transactions.CreateTransactionComponent.Cash" | translate }}</span>
            <span style="color: green; font-weight: bold" *ngIf="transactionInfo.type == 'rollTerm'">{{ "Transactions.CreateTransactionComponent.Advance" | translate }}</span>
            <span style="color: green; font-weight: bold" *ngIf="transactionInfo.type == 'rollTermGetCash'"
              >{{ "Transactions.CreateTransactionComponent.rollTermGetCash" | translate }}</span
            >
          </div>
          <div fxFlex="100%" fxLayout="row wrap" fxLayout.lt-sm="column">
            <div fxFlex.gt-sm="30%">{{ "Transactions.CreateTransactionComponent.accountNumber" | translate }}</div>
            <div fxFlex.gt-sm="70%" style="color: blue; font-weight: bold;">
              {{ transactionInfo.identifyClientDto?.accountNumber }}
            </div>
          </div>
          <div fxFlex="100%" fxLayout="row wrap" fxLayout.lt-sm="column">
            <div fxFlex.gt-sm="10%">{{ "Transactions.CreateTransactionComponent.accountType" | translate }}</div>
            <div fxFlex.gt-sm="15%" style="color: blue; font-weight: bold">
              {{ transactionInfo.identifyClientDto?.accountType }}
            </div>
            <div fxFlex.gt-sm="20%">{{ "Transactions.CreateTransactionComponent.accountBank" | translate }}</div>
            <div fxFlex.gt-sm="55%" style="color: blue; font-weight: bold">
              {{ transactionInfo.identifyClientDto?.accountBank }}
            </div>
          </div>
          <div
            fxFlex="100%"
            fxLayout="row wrap"
            fxLayout.lt-sm="column"
            *ngIf="transactionInfo.type == 'cash'"
          >
            <div fxFlex.gt-sm="50%">
              <mat-form-field appearance="fill">
                <mat-label>{{ "Transactions.CreateTransactionComponent.accountCash" | translate }}</mat-label>
                <select
                  style="color: blue; font-weight: bold"
                  matNativeControl
                  [(ngModel)]="transactionInfo.accountCash"
                  [ngModelOptions]="{ standalone: true }"
                  [ngModelOptions]="{ standalone: true }"
                >
                  <option *ngFor="let account of transactionInfo.listAccAccount" [value]="account.documentKey">
                    {{ account.documentKey }}
                  </option>
                </select>
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="50%">
              <mat-form-field appearance="fill">
                <mat-label>{{ "Transactions.CreateTransactionComponent.transactionType" | translate }} </mat-label>
                <select
                  style="color: blue; font-weight: bold"
                  matNativeControl
                  [(ngModel)]="transactionInfo.productId"
                  [ngModelOptions]="{ standalone: true }"
                  (change)="this.calculateFeeTransaction()"
                >
                  <option value="CA01">{{ "Transactions.CreateTransactionComponent.CA01" | translate }}</option>
                  <option value="CA03">{{ "Transactions.CreateTransactionComponent.CA03" | translate }}</option>
                  <option value="TEST">{{ "Transactions.CreateTransactionComponent.TEST" | translate }}</option>
                  <option value="CA02">{{ "Transactions.CreateTransactionComponent.CA02" | translate }}</option>
                </select>
              </mat-form-field>
            </div>
          </div>

          <div fxFlex="100%" fxLayout="row wrap"
               fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center stretch"
                fxLayoutGap="2%">

              <mat-form-field fxFlex.gt-sm="30%" *ngIf="transactionInfo.type == 'rollTermGetCash'">
                <mat-label>{{ "Transactions.CreateTransactionComponent.requestTransaction" | translate }}</mat-label>
                <input
                  type="text"
                  class="center"
                  [(ngModel)]="transactionInfo.remainValue"
                  [ngModelOptions]="{ standalone: true }"
                  matInput
                  disabled
                />
              </mat-form-field>


              <mat-form-field fxFlex.gt-sm="30%">
                <mat-label>{{ "Transactions.CreateTransactionComponent.requestAmount" | translate }}</mat-label>
                <input
                  type="text"
                  formControlName="requestAmount"
                  class="center"
                  matInput
                  (keyup)="amountTransaction.value = this.formatCurrency(amountTransaction.value)"
                  #amountTransaction
                />
                <mat-error> {{ "Transactions.CreateTransactionComponent.errrequestAmount" | translate }} </mat-error>
              </mat-form-field>


              <mat-form-field fxFlex.gt-sm="30%">
                <mat-label>{{ "Transactions.CreateTransactionComponent.rate" | translate }}</mat-label>
                <input
                  type="number"
                  step="0.01"
                  class="center"
                  matInput
                  formControlName="rate"

                />
                <mat-error> {{ "Transactions.CreateTransactionComponent.alert" | translate }} </mat-error>
              </mat-form-field>

          </div>
        </div>
        <div fxFlex.gt-sm="50%" fxLayout="row wrap">
          <div fxFlex="100%" fxLayout="row wrap" >
            <div fxFlex="30%">{{ "Transactions.CreateTransactionComponent.displayName" | translate }}</div>
            <div fxFlex="60%" style="color: blue; font-weight: bold" class="left">
              {{ transactionInfo.clientDto?.displayName | uppercase }}
            </div>
          </div>
          <div fxFlex="100%" fxLayout="row wrap" >
            <div fxFlex="30%">{{ "Transactions.CreateTransactionComponent.groupName" | translate }}</div>
            <div fxFlex="60%" style="color: blue; font-weight: bold" class="left">
              {{ transactionInfo.clientDto?.groupName | uppercase }}
            </div>
          </div>
          <div fxFlex="100%" fxLayout="row wrap" >
            <div fxFlex="30%">{{ "Transactions.CreateTransactionComponent.officeName" | translate }}</div>
            <div fxFlex="60%" style="color: blue; font-weight: bold" class="left">
              {{ transactionInfo.clientDto?.officeName | uppercase }}
            </div>
          </div>
          <div fxFlex="100%" fxLayout="row wrap">
            <div fxFlex="100%" fxLayout="row wrap" >
              <div fxFlex="100%" style="color: green; font-weight: bold">{{ "Transactions.CreateTransactionComponent.transactionInfo" | translate }}</div>
            </div>

            <div fxFlex="100%" fxLayout="row wrap" >
              <div fxFlex="40%">{{ "Transactions.CreateTransactionComponent.txnAmount" | translate }}</div>
              <div fxFlex="20%">{{ formatCurrency(transactionInfo.txnAmount) }}</div>
              <div fxFlex="20%">{{ "Transactions.CreateTransactionComponent.rate2" | translate }}</div>
            </div>
            <div fxFlex="100%" style="color: red; font-weight: bold" fxLayout="row wrap" >
              {{ "Transactions.CreateTransactionComponent.details" | translate }}
            </div>
            <div class="m-l-10" fxFlex="100%" fxLayout="row wrap" >
              <div fxFlex="40%">{{ "Transactions.CreateTransactionComponent.txnAmount" | translate }}</div>
              <div fxFlex="20%">{{ formatCurrency(transactionInfo.txnAmount) }}</div>
              <div fxFlex="20%"></div>
            </div>
            <div class="m-l-10" fxFlex="100%" fxLayout="row wrap" >
              <div fxFlex="40%">{{ "Transactions.CreateTransactionComponent.feeAmount" | translate }}</div>
              <div fxFlex="20%">{{ formatCurrency(transactionInfo.feeAmount) }}</div>
              <div fxFlex="20%">{{ transactionInfo.rate }}%</div>
            </div>
            <div fxFlex="100%" fxLayout="row wrap">
              <div style="color: red; font-weight: bold" fxFlex="40%">{{ "Transactions.CreateTransactionComponent.txnAmountAfterFee" | translate }}</div>
              <div fxFlex="20%">{{ formatCurrency(transactionInfo.txnAmountAfterFee) }}</div>
              <div fxFlex="20%"></div>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
    <br/>

    <mat-card fxLayout="column" >
      <mat-card-header>
        <h3
          *ngIf="transactionInfo.type == 'cash' || transactionInfo.type == 'rollTermGetCash'"
          style="color: blue; font-weight: bold"
        >
        {{ "Transactions.CreateTransactionComponent.selectTerminal" | translate }}
        </h3>
        <h3
          *ngIf="transactionInfo.type == 'rollTerm' && listRollTermBooking.length > 0"
          style="color: blue; font-weight: bold"
        >
        {{ "Transactions.CreateTransactionComponent.listRollTermBooking" | translate }}{{ this.transactionInfo.requestAmount }})
        </h3>
      </mat-card-header>

      <mat-card-content
        fxFlex="100%"
        fxLayoutAlign="center center"
        fxLayout.lt-sm="column"
        *ngIf="transactionInfo.type == 'rollTerm' && listRollTermBooking.length > 0"
      >
        <table mat-table #listBookingRollTermTable [dataSource]="dataSource">
          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef>{{ "Transactions.CreateTransactionComponent.no" | translate }}</th>
            <td mat-cell *matCellDef="let booking; let i = index">{{ i + 1 }}</td>
          </ng-container>
          <ng-container matColumnDef="amountBooking">
            <th mat-header-cell *matHeaderCellDef>{{ "Transactions.CreateTransactionComponent.amountBooking" | translate }}</th>
            <td mat-cell *matCellDef="let booking; let i = index">
              <mat-form-field>
                <input
                  matInput
                  [(ngModel)]="booking.amountBooking"
                  [disabled]="i == listRollTermBooking.length - 1"
                  [ngModelOptions]="{ standalone: true }"
                  (change)="this.calculateTotalBookingAmount()"
                  (keyup)="booking.amountBooking = this.formatCurrency(booking.amountBooking)"
                  required
                />
              </mat-form-field>
            </td>
          </ng-container>
          <ng-container matColumnDef="txnDate">
            <th mat-header-cell *matHeaderCellDef>{{ "Transactions.CreateTransactionComponent.txnDate" | translate }}</th>
            <td mat-cell *matCellDef="let booking">
              <mat-form-field>
                <mat-label>{{ "Transactions.CreateTransactionComponent.amount" | translate }}</mat-label>
                <input
                  matInput
                  opened="true"
                  readonly
                  [matDatepicker]="txnDatePicker"
                  [(ngModel)]="booking.txnDate"
                  [ngModelOptions]="{ standalone: true }"
                  required
                />
                <mat-datepicker-toggle matSuffix [for]="txnDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #txnDatePicker></mat-datepicker>
              </mat-form-field>
            </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>
              <fa-icon
                (click)="this.addBookingRow()"
                title="Thêm dòng booking"
                style="color: green"
                icon="plus"
              ></fa-icon>
            </th>
            <td mat-cell *matCellDef="let booking; let i = index">
              <fa-icon
                *ngIf="i > 0"
                (click)="this.removeBookingRow(i)"
                title="Xóa dòng booking"
                style="color: red"
                icon="times"
              ></fa-icon>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </mat-card-content>
<!--      <mat-card-header-->
<!--        fxFlex="100%"-->
<!--        fxLayout.sm="column"-->
<!--        fxLayout.xs="column"-->
<!--        *ngIf="transactionInfo.type == 'cash' || transactionInfo.type == 'rollTermGetCash'"-->
<!--      >-->
<!--      </mat-card-header>-->
      <mat-card-content  *ngIf="transactionInfo.type == 'cash' || transactionInfo.type == 'rollTermGetCash'"
                         fxLayout="row wrap" fxLayout.lt-sm="column"
                         fxLayoutAlign="space-around center" fxLayoutAlign.lt-sm="center stretch"
                         fxLayoutGap="1%"
      >


            <mat-form-field fxFlex.gt-sm="30%"  >
              <mat-label>{{ "Transactions.CreateTransactionComponent.selectTerminal" | translate }}</mat-label>
              <select
                (change)="this.getFeeByTerminal()"
                [(ngModel)]="transactionInfo.terminalId"
                [ngModelOptions]="{ standalone: true }"
                matNativeControl
              >
                <option value="" disabled selected>{{ "Transactions.CreateTransactionComponent.selectTerminal" | translate }}</option>
                <option *ngFor="let terminal of transactionInfo.listTerminal" [value]="terminal.terminalId">
                  {{ terminal.terminalName }} - {{ "Transactions.CreateTransactionComponent.limitRemain" | translate }} {{ terminal.limitRemain | money }}
                </option>
              </select>
            </mat-form-field>




            <mat-form-field fxFlex.gt-sm="18%" >
              <mat-label>{{ "Transactions.CreateTransactionComponent.txnAmount2" | translate }}</mat-label>
              <input readonly matInput formControlName="txnAmount" />
              <mat-error> {{ "Transactions.CreateTransactionComponent.alert" | translate }} </mat-error>
            </mat-form-field>



            <mat-form-field fxFlex.gt-sm="18%" >
              <mat-label>{{ "Transactions.CreateTransactionComponent.terminalAmount" | translate }}</mat-label>
              <input
                matInput
                #amountPosBill
                formControlName="terminalAmount"
                (change)="this.calculateFeeTransaction()"
                (keyup)="amountPosBill.value = this.formatCurrency(amountPosBill.value)"
              />
              <mat-error> {{ "Transactions.CreateTransactionComponent.alert" | translate }} </mat-error>
            </mat-form-field>


            <mat-form-field fxFlex.gt-sm="15%" >
              <mat-label> {{ "Transactions.CreateTransactionComponent.batchNo" | translate }}</mat-label>
              <input matInput formControlName="batchNo" />
              <mat-error> {{ "Transactions.CreateTransactionComponent.alert" | translate }} </mat-error>
            </mat-form-field>



            <mat-form-field fxFlex.gt-sm="15%" >
              <mat-label> {{ "Transactions.CreateTransactionComponent.traceNo" | translate }}</mat-label>
              <input matInput formControlName="traceNo" />
              <mat-error> {{ "Transactions.CreateTransactionComponent.alert" | translate }} </mat-error>
            </mat-form-field>

        <!-- <div fxFlex.gt-sm="10%" fxLayout="row wrap" class="content">
        <div fxFlex="100%"></div>
        <div fxFlex="100%">
          <section align="center">
            <mat-checkbox name="checkUseCM">Áp dụng C/M</mat-checkbox>
          </section>
        </div>
      </div> -->
      </mat-card-content>
      <mat-card-footer fxLayoutAlign="center center" fxFlex="100%" class="p-10">
        <button
          (click)="this.submitTransactionCash()"
          *ngIf="transactionInfo.type == 'cash' || transactionInfo.type == 'rollTermGetCash'"
          mat-raised-button
          color="primary"
        >
          <fa-icon icon="check"></fa-icon>&nbsp;&nbsp; {{ "Transactions.CreateTransactionComponent.submitTransactionCash" | translate }}
        </button>
        <button
          mat-raised-button
          color="primary"
          *ngIf="transactionInfo.type == 'rollTerm'"
          (click)="this.submitTransactionRollTerm()"
        >
          <fa-icon icon="check"></fa-icon>&nbsp;&nbsp; {{ "Transactions.CreateTransactionComponent.submitTransactionRollTerm" | translate }}
        </button>
      </mat-card-footer>
    </mat-card>
  </form>
</mat-card-content>
  </mat-card>
</div>
