<mat-card class="shares-account-card">

  <mat-card-header fxLayout="column" class="header">

    <mat-card-title-group class="header-title-group">

      <div class="profile-image-container">
        <div>
          <img mat-card-md-image class="profile-image"
            matTooltip="Shares Account"
            src="assets/images/shares_account_placeholder.png">
        </div>
      </div>

      <div class="mat-typography account-card-title">
        <mat-card-title>
          <h3>
            <i class="fa fa-stop" [ngClass]="sharesAccountData.status.code | statusLookup" [matTooltip]="sharesAccountData.status.value"></i>
            {{'Shares.View.productName'| translate}}{{sharesAccountData.productName}}
          </h3>
        </mat-card-title>
        <mat-card-subtitle>
          <p>
            {{'Shares.View.accountNo'| translate}}{{sharesAccountData.accountNo}} | {{'Shares.View.xxx'| translate}}{{sharesAccountData.clientName}}<br/>
            {{'Shares.View.currentMarketPrice'| translate}}{{sharesAccountData.currency.displaySymbol}}&nbsp;{{sharesAccountData.currentMarketPrice}}<br/>
            {{'Shares.View.lockinPeriod'| translate}}{{sharesAccountData.lockinPeriod ? sharesAccountData.lockinPeriod : 'N/A'}}
            {{sharesAccountData.lockinPeriod ? sharesAccountData.lockPeriodTypeEnum.value : ''}}
          </p>
        </mat-card-subtitle>
      </div>

    </mat-card-title-group>

    <mat-card-actions class="account-actions">

      <ng-container *ngFor="let button of buttonConfig.singleButtons">
        <button mat-raised-button *midasHasPermission="button.taskPermissionName" (click)="doAction(button.name)">
          <i class="{{button.icon}}"></i> {{button.name}}</button>
      </ng-container>

      <ng-container *ngIf="buttonConfig.options.length">
        <button mat-raised-button [matMenuTriggerFor]="More">{{'Shares.View.More'| translate}}</button>
        <mat-menu #More="matMenu">
        <span *ngFor="let option of buttonConfig.options">
          <button mat-menu-item *midasHasPermission="option.taskPermissionName" (click)="doAction(option.name)">{{option.name}}</button>
        </span>
        </mat-menu>
      </ng-container>

    </mat-card-actions>

  </mat-card-header>

  <mat-card-content class="content">

    <div class="shares-account-tables" fxLayout="row" fxLayoutGap="2%">

      <div fxFlex="49%">
        <h4 class="table-headers">{{'Shares.View.SharesDetails'| translate}}</h4>
        <table>
          <tbody>
            <tr>
              <td>{{'Shares.View.activatedOnDate'| translate}}</td>
              <td>{{sharesAccountData.timeline.activatedOnDate ? (sharesAccountData.timeline.activatedOnDate | date) : 'Not Activated'}}</td>
            </tr>
            <tr>
              <td>{{'Shares.View.Currency'| translate}}</td>
              <td>{{sharesAccountData.currency.name}} [{{sharesAccountData.currency.code}}]</td>
            </tr>
            <tr>
              <td>{{'Shares.View.externalId'| translate}}</td>
              <td>{{sharesAccountData.externalId ? sharesAccountData.externalId : 'Not Provided'}}</td>
            </tr>
            <tr>
              <td>{{'Shares.View.savingsAccountNumber'| translate}}</td>
              <td>{{sharesAccountData.savingsAccountNumber ? sharesAccountData.savingsAccountNumber : 'Unassigned'}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div fxFlex="49%">
        <h4 class="table-headers">{{'Shares.View.AccountSummary'| translate}}</h4>
        <table>
          <tbody>
            <tr>
              <td>{{'Shares.View.ApprovedShares'| translate}}</td>
              <td>{{sharesAccountData.summary.totalApprovedShares}}</td>
            </tr>
            <tr>
              <td>{{'Shares.View.totalPendingForApprovalShares'| translate}}</td>
              <td>{{sharesAccountData.summary.totalPendingForApprovalShares}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <nav mat-tab-nav-bar class="navigation-tabs">
      <a mat-tab-link [routerLink]="['./transactions']" routerLinkActive #transactions="routerLinkActive"
      [active]="transactions.isActive" *midasHasPermission="'READ_SHAREACCOUNTPURCHASE'">
      {{'Shares.View.Transactions'| translate}}
      </a>
      <a mat-tab-link [routerLink]="['./charges']" routerLinkActive #charges="routerLinkActive"
      [active]="charges.isActive" *midasHasPermission="'READ_SHAREACCOUNTCHARGE'">
      {{'Shares.View.Charges'| translate}}
      </a>
      <a mat-tab-link [routerLink]="['./dividends']" routerLinkActive #dividends="routerLinkActive"
      [active]="dividends.isActive" *midasHasPermission="'READ_SHAREACCOUNTDIVIDENDS'">
      {{'Shares.View.Dividends'| translate}}
      </a>
    </nav>

    <router-outlet></router-outlet>

  </mat-card-content>

</mat-card>
