<form [formGroup]="shareProductAccountingForm">

  <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

    <mat-radio-group fxFlex="98%" fxLayout="row" fxLayoutGap="5%" fxLayout.lt-md="column" formControlName="accountingRule">
      <mat-radio-button *ngFor="let accountingRule of accountingRuleData; let i =  index" [value]="i+1">
        {{ accountingRule }}
      </mat-radio-button>
    </mat-radio-group>

    <mat-divider fxFlex="98%"></mat-divider>

    <div *ngIf="shareProductAccountingForm.value.accountingRule === 2" fxFlexFill fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

      <h4 fxFlex="98%" class="mat-h4">Assets</h4>

      <mat-form-field fxFlex="48%">
        <mat-label>{{'Product_Component.ShareProducts.ShareStepper.Accounting.shareReferenceId'| translate}}</mat-label>
        <mat-select formControlName="shareReferenceId" required>
          <mat-option *ngFor="let assetAccount of assetAccountData" [value]="assetAccount.id">
            {{ assetAccount.name }}
          </mat-option>
        </mat-select>
        <mat-error>
          {{'Product_Component.ShareProducts.ShareStepper.Accounting.errshareReferenceId'| translate}}<strong>{{'Product_Component.strongRequired'| translate }}</strong>
        </mat-error>
      </mat-form-field>

      <mat-divider fxFlex="98%"></mat-divider>

      <h4 fxFlex="98%" class="mat-h4">{{'Product_Component.ShareProducts.ShareStepper.Accounting.Liabilities'| translate}}</h4>

      <mat-form-field fxFlex="48%">
        <mat-label>{{'Product_Component.ShareProducts.ShareStepper.Accounting.shareSuspenseId'| translate}}</mat-label>
        <mat-select formControlName="shareSuspenseId" required>
          <mat-option *ngFor="let liabilityAccount of liabilityAccountData" [value]="liabilityAccount.id">
            {{ liabilityAccount.name }}
          </mat-option>
        </mat-select>
        <mat-error>
          {{'Product_Component.ShareProducts.ShareStepper.Accounting.errshareSuspenseId'| translate}}<strong>{{'Product_Component.strongRequired'| translate }}</strong>
        </mat-error>
      </mat-form-field>

      <mat-divider fxFlex="98%"></mat-divider>

      <h4 fxFlex="98%" class="mat-h4">{{'Product_Component.ShareProducts.ShareStepper.Accounting.ShareEquity'| translate}}</h4>

      <mat-form-field fxFlex="48%">
        <mat-label>{{'Product_Component.ShareProducts.ShareStepper.Accounting.Equity'| translate}}</mat-label>
        <mat-select formControlName="shareEquityId" required>
          <mat-option *ngFor="let equityAccount of equityAccountData" [value]="equityAccount.id">
            {{ equityAccount.name }}
          </mat-option>
        </mat-select>
        <mat-error>
          {{'Product_Component.ShareProducts.ShareStepper.Accounting.errEquity'| translate}}<strong>{{'Product_Component.strongRequired'| translate }}</strong>
        </mat-error>
      </mat-form-field>

      <mat-divider fxFlex="98%"></mat-divider>

      <h4 fxFlex="98%" class="mat-h4">{{'Product_Component.ShareProducts.ShareStepper.Accounting.Income'| translate}}</h4>

      <mat-form-field fxFlex="48%">
        <mat-label>{{'Product_Component.ShareProducts.ShareStepper.Accounting.IncomeFromFees'| translate}}</mat-label>
        <mat-select formControlName="incomeFromFeeAccountId" required>
          <mat-option *ngFor="let incomeAccount of incomeAccountData" [value]="incomeAccount.id">
            {{ incomeAccount.name }}
          </mat-option>
        </mat-select>
        <mat-error>
          {{'Product_Component.ShareProducts.ShareStepper.Accounting.errIncomeFromFees'| translate}}<strong>{{'Product_Component.strongRequired'| translate }}</strong>
        </mat-error>
      </mat-form-field>

    </div>

  </div>

  <div fxLayout="row" class="margin-t" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="2%">
    <button mat-raised-button matStepperPrevious>
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;&nbsp;
      {{ "ShareButton.PreviousEng" | translate }}
    </button>
    <button mat-raised-button matStepperNext [disabled]="!shareProductFormValid">
      {{ "ShareButton.NextEng" | translate }}&nbsp;&nbsp;
      <fa-icon icon="arrow-right"></fa-icon>
    </button>
  </div>

</form>
