<div fxLayoutAlign="end" class="container m-b-20 transaction-buttons" fxLayoutGap="2%"
  *ngIf="!(transactionData.type.contra)">
  <span *midasHasPermission="'ADJUST_LOAN'">
    <button mat-raised-button color="primary" [routerLink]="'edit'">
      <fa-icon icon="edit"></fa-icon>&nbsp;&nbsp;{{'Loans.View.Transactions.ViewTransaction.btnEdit'| translate }}
    </button>
  </span>
  <button mat-raised-button color="warn" *midasHasPermission="'ADJUST_LOAN'" (click)="undoTransaction()">
    <fa-icon icon="undo"></fa-icon>&nbsp;&nbsp;{{'Loans.View.Transactions.ViewTransaction.btnUndo'| translate }}
  </button>
</div>

<div class="container">

  <mat-card>

    <mat-card-content>

      <div fxLayout="row wrap" class="content">

        <div fxFlex="50%" class="mat-body-strong">
          {{'Loans.View.Transactions.ViewTransaction.id'| translate }}
        </div>

        <div fxFlex="50%">
          {{ transactionData.id }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'Loans.View.Transactions.ViewTransaction.Type'| translate }}
        </div>

        <div fxFlex="50%">
          {{ transactionData.type.value }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'Loans.View.Transactions.ViewTransaction.date'| translate }}
        </div>

        <div fxFlex="50%">
          {{ transactionData.date | date }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'Loans.View.Transactions.ViewTransaction.Currency'| translate }}
        </div>

        <div fxFlex="50%">
          {{ transactionData.currency.name }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'Loans.View.Transactions.ViewTransaction.Amount'| translate }}
        </div>

        <div fxFlex="50%">
          {{ transactionData.amount | money }}
        </div>

        <ng-container *ngIf="transactionData.paymentDetailData">

          <div *ngIf="transactionData.paymentDetailData.paymentType" fxFlex="50%" class="mat-body-strong">
            {{'Loans.View.Transactions.ViewTransaction.paymentType'| translate }}
          </div>

          <div *ngIf="transactionData.paymentDetailData.paymentType" fxFlex="50%">
            {{ transactionData.paymentDetailData.paymentType.name }}
          </div>

          <div *ngIf="transactionData.paymentDetailData.accountNumber" fxFlex="50%" class="mat-body-strong">
            {{'Loans.View.Transactions.ViewTransaction.accountNumber'| translate }}
          </div>

          <div *ngIf="transactionData.paymentDetailData.accountNumber" fxFlex="50%">
            {{ transactionData.paymentDetailData.accountNumber }}
          </div>

          <div *ngIf="transactionData.paymentDetailData.checkNumber" fxFlex="50%" class="mat-body-strong">
            {{'Loans.View.Transactions.ViewTransaction.checkNumber'| translate }}
          </div>

          <div *ngIf="transactionData.paymentDetailData.checkNumber" fxFlex="50%">
            {{ transactionData.paymentDetailData.checkNumber }}
          </div>

          <div *ngIf="transactionData.paymentDetailData.routingCode" fxFlex="50%" class="mat-body-strong">
            {{'Loans.View.Transactions.ViewTransaction.routingCode'| translate }}
          </div>

          <div *ngIf="transactionData.paymentDetailData.routingCode" fxFlex="50%">
            {{ transactionData.paymentDetailData.routingCode }}
          </div>

          <div *ngIf="transactionData.paymentDetailData.receiptNumber" fxFlex="50%" class="mat-body-strong">
            {{'Loans.View.Transactions.ViewTransaction.receiptNumber'| translate }}
          </div>

          <div *ngIf="transactionData.paymentDetailData.receiptNumber" fxFlex="50%">
            {{ transactionData.paymentDetailData.receiptNumber }}
          </div>

          <div *ngIf="transactionData.paymentDetailData.bankNumber" fxFlex="50%" class="mat-body-strong">
            {{'Loans.View.Transactions.ViewTransaction.bankNumber'| translate }}
          </div>

          <div *ngIf="transactionData.paymentDetailData.bankNumber" fxFlex="50%">
            {{ transactionData.paymentDetailData.bankNumber }}
          </div>

        </ng-container>

      </div>

    </mat-card-content>

  </mat-card>

</div>
