<div class="container m-b-20" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="end" fxLayoutGap="2%">
  <!-- TODO: Update to show only Activate/Inactivate button at a time according to status of user. -->
  <button mat-raised-button color="primary" [routerLink]="['edit']">
    <fa-icon icon="edit"></fa-icon>&nbsp;&nbsp;
    {{'SelfService.Users.View.Edit'| translate}}
  </button>
  <button mat-raised-button color="primary" (click)="changeUserPassword()">
    <fa-icon icon="cog"></fa-icon>&nbsp;&nbsp;
    {{'SelfService.Users.View.ChangePassword'| translate}}
  </button>
  <button mat-raised-button color="accent">
    <fa-icon icon="lock-open"></fa-icon>&nbsp;&nbsp;
    {{'SelfService.Users.View.Activate'| translate}}
  </button>
  <button mat-raised-button color="warn">
    <fa-icon icon="lock"></fa-icon>&nbsp;&nbsp;
    {{'SelfService.Users.View.Deactivate'| translate}}
  </button>
</div>

<div class="container">

  <mat-card>

    <mat-card-content>

      <div fxLayout="row wrap" class="content">

        <div fxFlex="100%" class="header">
          <fa-icon icon="circle" size="lg" matTooltip="{{ user.status }}" matTooltipPosition="above"></fa-icon>&nbsp;&nbsp;
          {{'SelfService.Users.View.ID'| translate}}{{ user.id }}
        </div>

        <div fxFlex="50%" class="header">
          {{'SelfService.Users.View.Username'| translate}}
        </div>

        <div fxFlex="50%">
          {{ user.username }}
        </div>

        <div fxFlex="50%" class="header">
          {{'SelfService.Users.View.firstName'| translate}}
        </div>

        <div fxFlex="50%">
          {{ user.firstName }}
        </div>

        <div fxFlex="50%" class="header">
          {{'SelfService.Users.View.lastName'| translate}}
        </div>

        <div fxFlex="50%">
          {{ user.lastName }}
        </div>

        <div fxFlex="50%" class="header">
          {{'SelfService.Users.View.Gender'| translate}}
        </div>

        <div fxFlex="50%">
          {{ user.gender }}
        </div>

        <div fxFlex="50%" class="header">
          {{'SelfService.Users.View.dateOfBirth'| translate}}
        </div>

        <div fxFlex="50%">
          {{ user.dateOfBirth }}
        </div>

        <div fxFlex="50%" class="header">
          {{'SelfService.Users.View.Email'| translate}}
        </div>

        <div fxFlex="50%">
          {{ user.email }}
        </div>

        <div fxFlex="50%" class="header">
          {{'SelfService.Users.View.Mobile'| translate}}
        </div>

        <div fxFlex="50%">
          {{ user.mobile }}
        </div>

        <div fxFlex="50%" class="header">
          {{'SelfService.Users.View.Office'| translate}}
        </div>

        <div fxFlex="50%">
          {{ user.office }}
        </div>

        <div fxFlex="50%" class="header">
          {{'SelfService.Users.View.Staff'| translate}}
        </div>

        <div fxFlex="50%">
          {{ user.staff }}
        </div>

        <div fxFlex="50%" class="header">
          {{'SelfService.Users.View.activationDate'| translate}}
        </div>

        <div fxFlex="50%">
          {{ user.activationDate }}
        </div>

      </div>

    </mat-card-content>

  </mat-card>

</div>
