<div class="container">

  <mat-card>

    <div fxLayout="row" fxLayout.lt-md="column">

      <div fxFlex="50%">

        <mat-nav-list>

          <mat-list-item [routerLink]="['loan-products']" *mifosxHasPermission="'READ_LOANPRODUCT'">
            <mat-icon matListIcon>
              <fa-icon icon="briefcase" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'Product_Component.loanProduct'| translate}}</h4>
            <p matLine>{{'Product_Component.loanProductLabel'| translate}}</p>
          </mat-list-item>

          <mat-list-item [routerLink]="['saving-products']" *mifosxHasPermission="'READ_SAVINGSPRODUCT'">
            <mat-icon matListIcon>
              <fa-icon icon="briefcase" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'Product_Component.savingProduct'| translate}}</h4>
            <p matLine>{{'Product_Component.savingProductLabel'| translate}}</p>
          </mat-list-item>

          <mat-list-item [routerLink]="['share-products']" *mifosxHasPermission="'READ_SHAREPRODUCT'">
            <mat-icon matListIcon>
              <fa-icon icon="briefcase" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'Product_Component.shareProduct'| translate}}</h4>
            <p matLine>{{'Product_Component.shareProductLabel'| translate}}</p>
          </mat-list-item>

          <mat-list-item [routerLink]="['charges']" *mifosxHasPermission="'READ_CHARGE'">
            <mat-icon matListIcon>
              <fa-icon icon="money-bill-alt" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'Product_Component.charge'| translate}}</h4>
            <p matLine>{{'Product_Component.chargeLabel'| translate}}</p>
          </mat-list-item>

        </mat-nav-list>

      </div>

      <div fxFlex="50%">

        <mat-nav-list>

          <mat-list-item [routerLink]="['products-mix']" *mifosxHasPermission="'READ_PRODUCTMIX'">
            <mat-icon matListIcon>
              <fa-icon icon="random" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'Product_Component.productMix'| translate}}</h4>
            <p matLine>{{'Product_Component.productMixLabel'| translate}}</p>
          </mat-list-item>

          <mat-list-item [routerLink]="['fixed-deposit-products']" *mifosxHasPermission="'READ_FIXEDDEPOSITPRODUCT'">
            <mat-icon matListIcon>
              <fa-icon icon="briefcase" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'Product_Component.fixedDepositProduct'| translate}}</h4>
            <p matLine>{{'Product_Component.fixedDepositProductLabel'| translate}}</p>
          </mat-list-item>

          <mat-list-item [routerLink]="['recurring-deposit-products']" *mifosxHasPermission="'READ_RECURRINGDEPOSITPRODUCT'">
            <mat-icon matListIcon>
              <fa-icon icon="briefcase" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'Product_Component.recurringDepositProduct'| translate}}</h4>
            <p matLine>{{'Product_Component.recurringDepositProductLabel'| translate}}</p>
          </mat-list-item>

          <mat-list-item [routerLink]="['tax-configurations']" *mifosxHasPermission="'READ_TAXGROUP'">
            <mat-icon matListIcon>
              <fa-icon icon="cogs" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'Product_Component.manageTaxConfiguration'| translate}}</h4>
            <p matLine>{{'Product_Component.manageTaxConfigurationLabel'| translate}}</p>
          </mat-list-item>

          <mat-list-item [routerLink]="['floating-rates']" *mifosxHasPermission="'READ_FLOATINGRATE'">
            <mat-icon matListIcon>
              <fa-icon icon="money-bill-alt" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'Product_Component.floatingRate'| translate}}</h4>
            <p matLine>{{'Product_Component.floatingRateLabel'| translate}}</p>
          </mat-list-item>

        </mat-nav-list>

      </div>

    </div>

  </mat-card>

</div>
