<h1 mat-dialog-title style="text-align: center">{{ "Saving_Account_Component.TransferCrossOffice.title" | translate }}</h1>

<div
  mat-dialog-content
  [formGroup]="form"
  [fxLayout]="'column'"
  fxLayout.lt-md="column"
  [fxLayoutGap]="'1%'"
  fxLayoutGap.lt-md="0%"
>
  <mat-form-field fxFlex="96%" *ngIf="form.contains('typeAdvanceCashes')">
    <mat-label>{{ "Saving_Account_Component.TransferCrossOffice.typeAdvanceCashes" | translate }} </mat-label>
    <mat-select required formControlName="typeAdvanceCashes">
      <mat-option *ngFor="let type of typeAdvanceCashes" [value]="type.id">
        {{ type.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field fxFlex="96%" *ngIf="form.contains('office')">
    <mat-label>{{ "Saving_Account_Component.TransferCrossOffice.office" | translate }}</mat-label>
    <mat-select required formControlName="office">
      <mat-option *ngFor="let office of offices" [value]="office.officeId">
        {{ office.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="select-book" *ngIf="form.contains('client')">
    <mat-label>{{ "Saving_Account_Component.TransferCrossOffice.staff" | translate }}</mat-label>
    <mat-select required formControlName="client">
      <mat-option *ngFor="let staff of staffs" [value]="staff.staffId">
        {{ staff.displayName }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="select-book" *ngIf="form.contains('partner')">
    <mat-label>{{ "Saving_Account_Component.TransferCrossOffice.partner" | translate }}</mat-label>
    <mat-select required formControlName="partner">
      <mat-option *ngFor="let partner of partners" [value]="partner.id">
        {{ partner.externalId }} - {{ partner.displayName }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="select-book" *ngIf="form.contains('partnerLocal')">
    <mat-label>{{ "Saving_Account_Component.TransferCrossOffice.partnerLocal" | translate }}</mat-label>
    <mat-select required formControlName="partnerLocal">
      <mat-option *ngFor="let partner of partnersLocal" [value]="partner.code">
        {{ partner.desc }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="select-book" *ngIf="form.contains('savingAccountId')">
    <mat-label>{{ "Saving_Account_Component.TransferCrossOffice.savingAccount" | translate }}</mat-label>
    <mat-select required formControlName="savingAccountId">
      <mat-option *ngFor="let account of accounts" [value]="account.id">
        {{ account.externalId }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field fxFlex="96%" *ngIf="form.contains('amount')">
    <mat-label>{{ "Saving_Account_Component.TransferCrossOffice.amount" | translate }}</mat-label>
    <input required currencyMask matInput formControlName="amount" />
  </mat-form-field>

  <mat-form-field *ngIf="form.contains('note')" fxFlex="48%">
    <mat-label>{{ "Saving_Account_Component.TransferCrossOffice.note" | translate }}</mat-label>
    <input type="text" aria-multiline="true" matInput formControlName="note" />
  </mat-form-field>
</div>

<mat-dialog-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="2%">
  <button mat-raised-button mat-dialog-close>{{ "Shared_Component.FormDialog.btnCancel" | translate }}</button>
  <button
    mat-raised-button
    color="primary"
    [mat-dialog-close]="{ data: form }"
    [disabled]="!form.valid || form.pristine"
  >
  {{ "Saving_Account_Component.TransferCrossOffice.btnConfirm" | translate }}
  </button>
</mat-dialog-actions>
