<h1 mat-dialog-title>
  Điều chuyển tiền liên chi nhánh
</h1>

<div mat-dialog-content [formGroup]="form" [fxLayout]="'column'" fxLayout.lt-md="column" [fxLayoutGap]="'1%'"
     fxLayoutGap.lt-md="0%">

     <mat-form-field fxFlex="96%" *ngIf="form.contains('typeAdvanceCashes')">
      <mat-label>Loại </mat-label>
      <mat-select required formControlName="typeAdvanceCashes">
        <mat-option *ngFor="let type of typeAdvanceCashes" [value]="type.id">
          {{ type.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex="96%" *ngIf="form.contains('office')">
      <mat-label>Chi nhánh nhận</mat-label>
      <mat-select required formControlName="office">
        <mat-option *ngFor="let office of offices" [value]="office.officeId">
          {{ office.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  <mat-form-field class="select-book">
    <mat-label>Nhân viên</mat-label>
    <mat-select required formControlName="client">
      <mat-option *ngFor="let staff of staffs" [value]="staff.staffId">
        {{ staff.displayName }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="select-book">
    <mat-label>Tài khoản</mat-label>
    <mat-select required formControlName="savingAccountId">
      <mat-option *ngFor="let account of accounts" [value]="account.id">
        {{ account.externalId }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field fxFlex="96%">
    <mat-label>Số tiền</mat-label>
    <input required
           currencyMask
           matInput formControlName="amount">
  </mat-form-field>


  <mat-form-field *ngIf="form.contains('note')" fxFlex="48%">
    <mat-label>{{'Saving_Account_Component.clientAdvanceCash.labelNoteAdvance' |translate}}</mat-label>
    <input type="text" aria-multiline="true" matInput formControlName="note">
  </mat-form-field>

</div>

<mat-dialog-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="2%">
  <button mat-raised-button mat-dialog-close>{{ 'Shared_Component.FormDialog.btnCancel' | translate }}</button>
  <button mat-raised-button color="primary"
          [mat-dialog-close]="{ data: form  }"
          [disabled]="!form.valid || form.pristine">Thực hiện</button>
</mat-dialog-actions>
