<div class="tab-content mat-typography">

  <mat-list>

    <mat-list-item>
      {{'Organization.SmsCampaigns.SmsStepper.Preview.campaignName'| translate }}{{ campaign.campaignName }}
    </mat-list-item>

    <mat-list-item>
      {{'Organization.SmsCampaigns.SmsStepper.Preview.providerId'| translate }}{{ (campaign.providerId | find:smsProviders:'id':'name') || "Unassigned" }}
    </mat-list-item>

    <mat-list-item>
      {{'Organization.SmsCampaigns.SmsStepper.Preview.triggerType'| translate }}{{ (campaign.editFlag ? campaign.triggerType.id : campaign.triggerType) | find:triggerTypes:'id':'value' }}
    </mat-list-item>

    <mat-list-item>
      {{'Organization.SmsCampaigns.SmsStepper.Preview.BussinessRule : '| translate }}{{ campaign.editFlag ? campaign.reportName : campaign.paramValue?.reportName }}
    </mat-list-item>

    <div fxLayout="column" fxLayoutGap="10px" class="template-message">
      <h3>{{'Organization.SmsCampaigns.SmsStepper.Preview.message'| translate }}</h3>
      <textarea matInput disabled>{{ campaign.editFlag ? editedCampaignMessage : campaign.message }}</textarea>
    </div>

  </mat-list>

  <div fxLayout="row" class="margin-t" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="2%">
    <button mat-raised-button [routerLink]="['../']">
      {{ "ShareButton.CancelEng" | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="submit.emit()">
      {{ "ShareButton.Submit" | translate }}
    </button>
  </div>

</div>
