<div class="container">

  <mat-card>

    <form [formGroup]="accountingRuleForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

          <mat-form-field fxFlex="48%">
            <mat-label>{{ "Accounting.Rules.CreateRuleComponent.name" | translate }}</mat-label>
            <input matInput required formControlName="name">
            <mat-error *ngIf="accountingRuleForm.controls.name.hasError('required')">
              {{ "Accounting.Rules.CreateRuleComponent.errname" | translate }}<strong>{{ "Accounting.strongRequire" | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label>{{ "Accounting.Rules.CreateRuleComponent.officeId" | translate }}</mat-label>
            <mat-select required formControlName="officeId">
              <mat-option *ngFor="let office of officeData" [value]="office.id">
                {{ office.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="accountingRuleForm.controls.officeId.hasError('required')">
              {{ "Accounting.Rules.CreateRuleComponent.errofficeId" | translate }}<strong>{{ "Accounting.strongRequire" | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <div fxFlex="48%" fxLayout="row" fxLayout.lt-md="column" class="rule-wrapper">
            <mat-label fxFlex="50%">{{ "Accounting.Rules.CreateRuleComponent.affectedGlEntry" | translate }}</mat-label>
            <mat-radio-group fxFlex="50%" fxLayout="row" fxLayoutGap="5%" formControlName="debitRuleType">
              <mat-radio-button value="fixedAccount">{{ "Accounting.Rules.CreateRuleComponent.fixedAccount" | translate }}</mat-radio-button>
              <mat-radio-button value="listOfAccounts">{{ "Accounting.Rules.CreateRuleComponent.listOfAccounts" | translate }}</mat-radio-button>
            </mat-radio-group>
          </div>

          <mat-form-field fxFlex="48%" *ngIf="accountingRuleForm.controls.debitRuleType.value === 'fixedAccount'">
            <mat-label>{{ "Accounting.Rules.CreateRuleComponent.accountToDebit" | translate }}</mat-label>
            <mat-select formControlName="accountToDebit">
              <mat-option *ngFor="let glAccount of glAccountData" [value]="glAccount.id">
                {{ glAccount.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div fxFlex="48%" fxLayout="row" fxLayoutGap="2%" fxLayout.lt-md="column" *ngIf="accountingRuleForm.controls.debitRuleType.value === 'listOfAccounts'">
            <mat-form-field fxFlex="50%">
              <mat-label>{{ "Accounting.Rules.CreateRuleComponent.debitTags" | translate }}</mat-label>
              <mat-select formControlName="debitTags" multiple>
                <mat-option *ngFor="let debitTag of debitTagData" [value]="debitTag.id">
                  {{ debitTag.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <div fxFlex="50%" ngClass.gt-md="entries-wrapper">
              <mat-checkbox labelPosition="before" formControlName="allowMultipleDebitEntries" class="entries">
                Multiple Debit Entries Allowed
              </mat-checkbox>
            </div>
          </div>

          <div fxFlex="48%" fxLayout="row" fxLayout.lt-md="column" class="rule-wrapper">
            <mat-label fxFlex="50%">{{ "Accounting.Rules.CreateRuleComponent.creditRuleType" | translate }}</mat-label>
            <mat-radio-group fxFlex="50%" fxLayout="row" fxLayoutGap="5%" formControlName="creditRuleType">
              <mat-radio-button value="fixedAccount">{{ "Accounting.Rules.CreateRuleComponent.fixedAccount" | translate }}</mat-radio-button>
              <mat-radio-button value="listOfAccounts">{{ "Accounting.Rules.CreateRuleComponent.listOfAccounts" | translate }}</mat-radio-button>
            </mat-radio-group>
          </div>

          <mat-form-field fxFlex="48%" *ngIf="accountingRuleForm.controls.creditRuleType.value === 'fixedAccount'">
            <mat-label>{{ "Accounting.Rules.CreateRuleComponent.accountToCredit" | translate }}</mat-label>
            <mat-select formControlName="accountToCredit">
              <mat-option *ngFor="let glAccount of glAccountData" [value]="glAccount.id">
                {{ glAccount.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div fxFlex="48%" fxLayout="row" fxLayoutGap="2%" fxLayout.lt-md="column" *ngIf="accountingRuleForm.controls.creditRuleType.value === 'listOfAccounts'">
            <mat-form-field fxFlex="50%">
              <mat-label>{{ "Accounting.Rules.CreateRuleComponent.creditTags" | translate }}</mat-label>
              <mat-select formControlName="creditTags" multiple>
                <mat-option *ngFor="let creditTag of creditTagData" [value]="creditTag.id">
                  {{ creditTag.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <div fxFlex="50%" ngClass.gt-md="entries-wrapper">
              <mat-checkbox labelPosition="before" formControlName="allowMultipleCreditEntries" class="entries">
                {{ "Accounting.Rules.CreateRuleComponent.allowMultipleCreditEntries" | translate }}
              </mat-checkbox>
            </div>
          </div>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ "Accounting.Rules.CreateRuleComponent.description" | translate }}</mat-label>
            <textarea matInput formControlName="description"></textarea>
          </mat-form-field>

        </div>

      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../']">{{ "ShareButton.CancelEng" | translate }}</button>
        <button mat-raised-button color="primary" [disabled]="!accountingRuleForm.valid" *midasHasPermission="'CREATE_ACCOUNTINGRULE'">{{ "ShareButton.Submit" | translate }}</button>
      </mat-card-actions>

    </form>

  </mat-card>

</div>
