<div class="container">

  <mat-card>

    <form [formGroup]="rescheduleLoanForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div fxLayout="column">

          <mat-form-field>
            <mat-label>{{'Loans.View.Actions.LoanReschedule.rescheduleFromDate'| translate }}</mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="rescheduleDatePicker" required
              formControlName="rescheduleFromDate">
            <mat-datepicker-toggle matSuffix [for]="rescheduleDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #rescheduleDatePicker></mat-datepicker>
            <mat-error *ngIf="rescheduleLoanForm.controls.rescheduleFromDate.hasError('required')">
              {{'Loans.View.Actions.LoanReschedule.errrescheduleFromDate'| translate }}<strong>{{'Loans.strongIsRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{'Loans.View.Actions.LoanReschedule.rescheduleReasonId'| translate }}</mat-label>
            <mat-select formControlName="rescheduleReasonId">
              <mat-option *ngFor="let rescheduleReasonCode of codes" [value]="rescheduleReasonCode.id">
                {{ rescheduleReasonCode.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="rescheduleLoanForm.controls.rescheduleReasonId.hasError('required')">
              {{'Loans.View.Actions.LoanReschedule.ReasonForRescheduling '| translate }}<strong>{{'Loans.strongIsRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{'Loans.View.Actions.LoanReschedule.submittedOnDate'| translate }}</mat-label>
            <input matInput [min]="minDate" [matDatepicker]="submittedDatePicker" required
              formControlName="submittedOnDate">
            <mat-datepicker-toggle matSuffix [for]="submittedDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #submittedDatePicker></mat-datepicker>
            <mat-error *ngIf="rescheduleLoanForm.controls.submittedOnDate.hasError('required')">
              {{'Loans.View.Actions.LoanReschedule.errsubmittedOnDate'| translate }}<strong>{{'Loans.strongIsRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{'Loans.View.Actions.LoanReschedule.Comments'| translate }}</mat-label>
            <textarea matInput formControlName="rescheduleReasonComment"></textarea>
          </mat-form-field>

          <mat-checkbox [formControl]="changeRepaymentDate"> {{'Loans.View.Actions.LoanReschedule.changeRepaymentDate'| translate }}</mat-checkbox>

          <ng-container *ngIf="changeRepaymentDate.value">
            <mat-form-field>
              <mat-label>{{'Loans.View.Actions.LoanReschedule.adjustedDueDate'| translate }}</mat-label>
              <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="installmentrescheduledDatePicker"
                formControlName="adjustedDueDate">
              <mat-datepicker-toggle matSuffix [for]="installmentrescheduledDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #installmentrescheduledDatePicker></mat-datepicker>
            </mat-form-field>
          </ng-container>

          <mat-checkbox [formControl]="introduceGracePeriods"> {{'Loans.View.Actions.LoanReschedule.introduceGracePeriods'| translate }} </mat-checkbox>

          <ng-container *ngIf="introduceGracePeriods.value">
            <mat-form-field>
              <mat-label>{{'Loans.View.Actions.LoanReschedule.graceOnPrincipal'| translate }} </mat-label>
              <input matInput formControlName="graceOnPrincipal">
            </mat-form-field>

            <mat-form-field>
              <mat-label>{{'Loans.View.Actions.LoanReschedule.graceOnInterest'| translate }} </mat-label>
              <input matInput formControlName="graceOnInterest">
            </mat-form-field>
          </ng-container>

          <mat-checkbox [formControl]="extendRepaymentPeriod"> {{'Loans.View.Actions.LoanReschedule.extendRepaymentPeriod'| translate }} </mat-checkbox>

          <ng-container *ngIf="extendRepaymentPeriod.value">
            <mat-form-field>
              <mat-label>{{'Loans.View.Actions.LoanReschedule.extraTerms'| translate }}</mat-label>
              <input matInput formControlName="extraTerms">
            </mat-form-field>
          </ng-container>

          <mat-checkbox [formControl]="adjustinterestrates"> {{'Loans.View.Actions.LoanReschedule.adjustinterestrates'| translate }} </mat-checkbox>
          <ng-container *ngIf="adjustinterestrates.value">
            <mat-form-field>
              <mat-label>{{'Loans.View.Actions.LoanReschedule.newInterestRate'| translate }}</mat-label>
              <input matInput formControlName="newInterestRate">
            </mat-form-field>
          </ng-container>

        </div>

        <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
          <button type="button" mat-raised-button [routerLink]="['../../general']">{{ "ShareButton.CancelEng" | translate }}</button>
          <button mat-raised-button color="primary" [disabled]="!rescheduleLoanForm.valid"
            *midasHasPermission="'APPROVE_RESCHEDULELOAN'">{{ "ShareButton.Submit" | translate }}</button>
        </mat-card-actions>

      </mat-card-content>

    </form>

  </mat-card>

</div>
