<div class="tab-container mat-typography">

  <div fxLayout="row" fxLayoutAlign="start">
    <div class="m-b-10">
      <h3>{{ "Deposits.Recurring.View.ChargesTab.h3" | translate }}</h3>
    </div>
  </div>

  <div class="mat-elevation-z1 m-b-25">

    <table mat-table #chargesTable [dataSource]="dataSource">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> {{ "Deposits.Recurring.View.ChargesTab.name" | translate }} </th>
        <td mat-cell *matCellDef="let charge"> {{ charge.name }} </td>
      </ng-container>

      <ng-container matColumnDef="feeOrPenalty">
        <th mat-header-cell *matHeaderCellDef> {{ "Deposits.Recurring.View.ChargesTab.feeOrPenalty" | translate }} </th>
        <td mat-cell *matCellDef="let charge"> {{ charge.penalty === true ? 'Penalty' : 'Fee' }} </td>
      </ng-container>

      <ng-container matColumnDef="paymentDueAt">
        <th mat-header-cell *matHeaderCellDef> {{ "Deposits.Recurring.View.ChargesTab.paymentDueAt" | translate }} </th>
        <td mat-cell *matCellDef="let charge"> {{ charge.chargeTimeType.value }} </td>
      </ng-container>

      <ng-container matColumnDef="dueAsOf">
        <th mat-header-cell *matHeaderCellDef> {{ "Deposits.Recurring.View.ChargesTab.dueAsOf" | translate }} </th>
        <td mat-cell *matCellDef="let charge"> {{ charge.dueDate | date }} </td>
      </ng-container>

      <ng-container matColumnDef="repeatsOn">
        <th mat-header-cell *matHeaderCellDef> {{ "Deposits.Recurring.View.ChargesTab.repeatsOn" | translate }} </th>
        <td mat-cell *matCellDef="let charge">
          {{charge.feeOnMonthDay ? ([2000].concat(charge.feeOnMonthDay) | date: 'dd/MM') : 'Unassigned'}} </td>
      </ng-container>

      <ng-container matColumnDef="calculationType">
        <th mat-header-cell *matHeaderCellDef> {{ "Deposits.Recurring.View.ChargesTab.calculationType" | translate }} </th>
        <td mat-cell *matCellDef="let charge"> {{charge.chargeCalculationType.value}} </td>
      </ng-container>

      <ng-container matColumnDef="due">
        <th mat-header-cell *matHeaderCellDef> {{ "Deposits.Recurring.View.ChargesTab.due" | translate }} </th>
        <td mat-cell *matCellDef="let charge"> {{charge.currency.displaySymbol}}&nbsp;{{charge.amount | money}} </td>
      </ng-container>

      <ng-container matColumnDef="paid">
        <th mat-header-cell *matHeaderCellDef> {{ "Deposits.Recurring.View.ChargesTab.paid" | translate }} </th>
        <td mat-cell *matCellDef="let charge"> {{charge.currency.displaySymbol}}&nbsp;{{charge.amountPaid | money}} </td>
      </ng-container>

      <ng-container matColumnDef="waived">
        <th mat-header-cell *matHeaderCellDef> {{ "Deposits.Recurring.View.ChargesTab.waived" | translate }} </th>
        <td mat-cell *matCellDef="let charge"> {{charge.currency.displaySymbol}}&nbsp;{{charge.amountWaived | money}} </td>
      </ng-container>

      <ng-container matColumnDef="outstanding">
        <th mat-header-cell *matHeaderCellDef> {{ "Deposits.Recurring.View.ChargesTab.outstanding" | translate }} </th>
        <td mat-cell *matCellDef="let charge"> {{charge.currency.displaySymbol}}&nbsp;{{charge.amountOutstanding | money}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> {{ "Deposits.Recurring.View.ChargesTab.actions" | translate }} </th>
        <td mat-cell *matCellDef="let charge">
          <span *ngIf="recurringDepositsAccountData.status.value === 'Submitted and pending approval'">
            <button class="account-action-button" mat-raised-button color="primary" matTooltip="Edit Charge"
            *midasHasPermission="'UPDATE_SAVINGSACCOUNTCHARGE'" (click)="routeEdit($event); editCharge(charge)">
              <i class="fa fa-pencil"></i>
            </button>
            <button class="account-action-button" mat-raised-button color="warn" matTooltip="Delete Charge"
            *midasHasPermission="'DELETE_SAVINGSACCOUNTCHARGE'" (click)="routeEdit($event); deleteCharge(charge.id)">
              <i class="fa fa-trash"></i>
            </button>
          </span>
          <span *ngIf="recurringDepositsAccountData.status.value !== 'Submitted and pending approval' && charge.amountOutstanding !== 0">
            <span *ngIf="charge.chargeTimeType.value == 'Monthly Fee' || charge.chargeTimeType.value == 'Annual Fee'|| charge.chargeTimeType.value == 'Specified due date'">
              <button class="account-action-button" mat-raised-button color="primary" matTooltip="Pay Charge"
              *midasHasPermission="'PAY_SAVINGSACCOUNTCHARGE'" (click)="routeEdit($event); payCharge(charge.id)">
                <i class="fa fa-dollar"></i>
              </button>
              <button class="account-action-button" mat-raised-button color="primary" matTooltip="Waive Charge"
              *midasHasPermission="'WAIVE_SAVINGSACCOUNTCHARGE'" (click)="routeEdit($event); waiveCharge(charge.id)">
                <i class="fa fa-flag"></i>
              </button>
            </span>
          </span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

  </div>

</div>
