<mat-card class="container">

<!--  <div fxLayout="row wrap" fxLayout.lt-md="column">-->
<!--    <div class="search-box" fxFlex.gt-md="48%"  >-->
<!--      <mat-form-field>-->
<!--        <input matInput [placeholder]="'Client_Component.inputPlaceholderClosedCIF'| translate"-->
<!--               midasAfterValueChanged-->
<!--               (delayedInput)="applyFilter($event)">-->
<!--      </mat-form-field>-->
<!--      <mat-checkbox #showClosedAccounts labelPosition="after">{{ 'Client_Component.checkBoxShowClosedAccount'| translate}}-->
<!--      </mat-checkbox>-->
<!--    </div>-->
<!--    <div class="action-button" fxFlex.gt-md="48%" fxLayout.lt-md="row" fxLayoutAlign.lt-md="space-around center" fxLayoutAlign.gt-md="end center">-->
<!--      <button mat-raised-button color="primary" [routerLink]="['../', 'organization', 'bulk-import', 'Clients']" *midasHasPermission="'CREATE_CLIENT'">-->
<!--        <fa-icon icon="download"></fa-icon>&nbsp;&nbsp;{{ 'Client_Component.buttonImportClient'| translate}}-->
<!--      </button>-->
<!--      <button mat-raised-button color="primary" [routerLink]="['create']" *midasHasPermission="'CREATE_CLIENT'">-->
<!--        <fa-icon icon="plus"></fa-icon>&nbsp;&nbsp;{{ 'Client_Component.buttonCreateClient'| translate}}-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div >-->
<!--    <table class="mat-elevation-z8" mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>-->
<!--      &lt;!&ndash; Name Column &ndash;&gt;-->
<!--      <ng-container matColumnDef="name">-->
<!--        <th mat-header-cell  *matHeaderCellDef mat-sort-header='displayName'> {{ 'Client_Component.tblColName'| translate}}</th>-->
<!--        <td mat-cell *matCellDef="let row"> {{row.displayName}} </td>-->
<!--      </ng-container>-->

<!--      &lt;!&ndash; Account no Column &ndash;&gt;-->
<!--      <ng-container matColumnDef="clientno">-->
<!--        <th mat-header-cell fxHide fxShow.gt-md  *matHeaderCellDef mat-sort-header='accountNo'> {{ 'Client_Component.tblColAccount'| translate}}  </th>-->
<!--        <td mat-cell fxHide fxShow.gt-md *matCellDef="let row"> {{row.accountNo}} </td>-->
<!--      </ng-container>-->

<!--      &lt;!&ndash; External ID Column &ndash;&gt;-->
<!--      <ng-container matColumnDef="externalid">-->
<!--        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef mat-sort-header='externalId'> {{ 'Client_Component.tblColExternalID'| translate}}  </th>-->
<!--        <td mat-cell fxHide fxShow.gt-md *matCellDef="let row"> {{row.externalId}} </td>-->
<!--      </ng-container>-->

<!--      &lt;!&ndash; Status Column &ndash;&gt;-->
<!--      <ng-container matColumnDef="status">-->
<!--        <th mat-header-cell  *matHeaderCellDef> {{ 'Client_Component.tblColStatus'| translate}}  </th>-->
<!--        <td mat-cell style="width: auto;" *matCellDef="let row">-->
<!--          <div style="margin: auto;" [ngClass]="row.active|statusLookup">-->
<!--            <fa-icon icon="stop"></fa-icon>-->
<!--          </div>-->
<!--        </td>-->
<!--      </ng-container>-->

<!--      &lt;!&ndash; Mobile Number Column&ndash;&gt;-->
<!--      <ng-container matColumnDef="mobileNo">-->
<!--        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef mat-sort-header> {{ 'Client_Component.tblColMobileNumber'| translate}} </th>-->
<!--        <td mat-cell fxHide fxShow.gt-md *matCellDef="let client"> {{ client.mobileNo }} </td>-->
<!--      </ng-container>-->

<!--      &lt;!&ndash;Gender column&ndash;&gt;-->
<!--      <ng-container matColumnDef="gender">-->
<!--        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef> {{ 'Client_Component.tblColGender'| translate}}  </th>-->
<!--        <td mat-cell fxHide fxShow.gt-md  *matCellDef="let client"> {{ client.gender.name }} </td>-->
<!--      </ng-container>-->

<!--      &lt;!&ndash; Color Column &ndash;&gt;-->
<!--      <ng-container matColumnDef="office">-->
<!--        <th mat-header-cell fxHide fxShow.gt-md  *matHeaderCellDef mat-sort-header='officeName'> {{ 'Client_Component.tblColOfficeName'| translate}}  </th>-->
<!--        <td mat-cell fxHide fxShow.gt-md *matCellDef="let row"> {{row.officeName}} </td>-->
<!--      </ng-container>-->

<!--      &lt;!&ndash; ID Column &ndash;&gt;-->
<!--      <ng-container matColumnDef="staff">-->
<!--        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef mat-sort-header='staffName'> {{ 'Client_Component.tblColStaffName'| translate}}  </th>-->
<!--        <td mat-cell fxHide fxShow.gt-md  *matCellDef="let row"> {{row.staffName}} </td>-->
<!--      </ng-container>-->

<!--      <ng-container matColumnDef="expandedDetail">-->
<!--        <td mat-cell fxShow fxHide.gt-md *matCellDef="let element" [attr.colspan]="displayedColumns.length">-->
<!--          <div class="example-element-detail"-->
<!--               [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">-->
<!--            <div class="example-element-description" fxLayout="column">-->
<!--              <div>-->
<!--                <span style="font-weight: bold;">{{ 'Client_Component.tblColAccount'| translate}} :</span> &nbsp;{{element.accountNo}}-->
<!--              </div>-->
<!--              <div>-->
<!--                <span style="font-weight: bold;"> {{ 'Client_Component.tblColExternalID'| translate}} :</span> &nbsp;{{element.externalId}}-->
<!--              </div>-->
<!--              <div>-->
<!--                <span style="font-weight: bold;"> {{ 'Client_Component.tblColMobileNumber'| translate}} :</span> &nbsp;{{element.mobileNo}}-->
<!--              </div>-->
<!--              <div>-->
<!--                <span style="font-weight: bold;"> {{ 'Client_Component.tblColGender'| translate}} :</span> &nbsp;{{element.gender.name}}-->
<!--              </div>-->
<!--              <div>-->
<!--                <span style="font-weight: bold;"> {{ 'Client_Component.tblColOfficeName'| translate}} :</span> &nbsp;{{element.officeName}}-->
<!--              </div>-->
<!--              <div>-->
<!--                <span style="font-weight: bold;"> {{ 'Client_Component.tblColStaffName'| translate}} :</span> &nbsp;{{element.staffName}}-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </td>-->
<!--      </ng-container>-->

<!--      <ng-container matColumnDef="link">-->
<!--        <th mat-header-cell  *matHeaderCellDef></th>-->
<!--        <td mat-cell *matCellDef="let row"  >-->
<!--          <button mat-mini-fab color="primary" [routerLink]="[row.id,'general']" [queryParams]="{ typeViewClient: 'view'}"-->

<!--                  [matTooltip]="'ShareLabel.lblViewDetail'| translate" matTooltipPosition="above">-->
<!--            <i class="fa fa-address-card" aria-hidden="true"></i></button></td>-->
<!--      </ng-container>-->

<!--      <tr mat-header-row  *matHeaderRowDef="displayedColumns"></tr>-->
<!--      <tr mat-row *matRowDef="let element; columns: displayedColumns;"-->
<!--          class="example-element-row"-->
<!--          [class.example-expanded-row]="expandedElement === element"-->
<!--          (click)="expandedElement = expandedElement === element ? null : element">-->
<!--      </tr>-->
<!--      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>-->
<!--    </table>-->

<!--    <mat-paginator [length]="dataSource?.records$ | async" [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]"-->
<!--                   showFirstLastButtons></mat-paginator>-->
<!--  </div>-->

</mat-card>
