<div class="container">

  <mat-card>

    <form [formGroup]="editUserForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

          <mat-form-field fxFlex="48%">
            <mat-label>{{'UsersComponent.EditUserComponent.Username'|translate}}</mat-label>
            <input matInput required formControlName="username"/>
            <mat-error *ngIf="editUserForm.controls.username.hasError('required')">
              {{'UsersComponent.EditUserComponent.errUsername'|translate}}<strong>{{'UsersComponent.strongRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label>{{'UsersComponent.EditUserComponent.Email'|translate}}</mat-label>
            <input matInput required formControlName="email">
            <mat-error *ngIf="editUserForm.controls.email.hasError('email')">
              {{'UsersComponent.EditUserComponent.errEmail'|translate}}<strong>{{'UsersComponent.EditUserComponent.xxx'|translate}}invalid</strong>
            </mat-error>
            <mat-error *ngIf="editUserForm.controls.email.hasError('required')">
              {{'UsersComponent.EditUserComponent.errEmail'|translate}}<strong>{{'UsersComponent.strongRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label>{{'UsersComponent.EditUserComponent.firstname'|translate}}</mat-label>
            <input matInput required formControlName="firstname"/>
            <mat-error *ngIf="editUserForm.controls.firstname.hasError('pattern')">
              {{'UsersComponent.EditUserComponent.firstname'|translate}} <strong>{{'UsersComponent.EditUserComponent.cannot'|translate}}</strong>
            </mat-error>
            <mat-error *ngIf="editUserForm.controls.firstname.hasError('required')">
              {{'UsersComponent.EditUserComponent.errfirstname'|translate}}<strong>{{'UsersComponent.strongRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label>{{'UsersComponent.EditUserComponent.lastname'|translate}}</mat-label>
            <input matInput required formControlName="lastname"/>
            <mat-error *ngIf="editUserForm.controls.lastname.hasError('pattern')">
              {{'UsersComponent.EditUserComponent.lastname'|translate}} <strong>{{'UsersComponent.EditUserComponent.cannot'|translate}}</strong>
            </mat-error>
            <mat-error *ngIf="editUserForm.controls.lastname.hasError('required')">
              {{'UsersComponent.EditUserComponent.errlastname'|translate}}<strong>{{'UsersComponent.strongRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

          <div class="password-never-expires-wrapper" fxFlex="48%">
            <mat-checkbox labelPosition="before" formControlName="passwordNeverExpires" >
              {{'UsersComponent.EditUserComponent.Override'|translate}}
            </mat-checkbox>
          </div>

          <mat-form-field fxFlex="48%">
            <mat-label>{{'UsersComponent.EditUserComponent.Office'|translate}}</mat-label>
            <mat-select required formControlName="officeId" (selectionChange)="officeChanged($event.value)">
              <mat-option *ngFor="let office of officesData" [value]="office.id">
                {{ office.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="editUserForm.controls.officeId.hasError('required')">
              {{'UsersComponent.EditUserComponent.errOffice'|translate}}<strong>{{'UsersComponent.strongRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label>{{'UsersComponent.EditUserComponent.Staff'|translate}}</mat-label>
            <mat-select formControlName="staffId">
              <mat-option *ngFor="let staff of staffData" [value]="staff.id">
                {{ staff.displayName }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label>{{'UsersComponent.EditUserComponent.Roles'|translate}}</mat-label>
            <mat-select required formControlName="roles" multiple>
              <mat-option *ngFor="let role of rolesData" [value]="role.id">
                {{ role.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="editUserForm.controls.roles.hasError('required')">
              {{'UsersComponent.EditUserComponent.atLeast'|translate}}<strong>{{'UsersComponent.EditUserComponent.mustBeSelected'|translate}}</strong>
            </mat-error>
          </mat-form-field>

        </div>

      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../']">{{ "ShareButton.CancelEng" | translate }}</button>
        <button mat-raised-button color="primary" [disabled]="!editUserForm.valid">{{ "ShareButton.Submit" | translate }}</button>
      </mat-card-actions>

    </form>

  </mat-card>

</div>
