<div class="container">

  <mat-card>

    <form [formGroup]="depositRecurringDepositForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div fxLayout="column">

          <mat-form-field>
            <mat-label>{{ "Deposits.Recurring.Actions.Deposit.transactionDate" | translate }}</mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="transactionDatePicker" required
              formControlName="transactionDate">
            <mat-datepicker-toggle matSuffix [for]="transactionDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #transactionDatePicker></mat-datepicker>
            <mat-error *ngIf="depositRecurringDepositForm.controls.transactionDate.hasError('required')">
              {{ "Deposits.Recurring.Actions.Deposit.errtransactionDate" | translate }}<strong>{{ "Deposits.strongIsRequired" | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{ "Deposits.Recurring.Actions.Deposit.transactionAmount" | translate }}</mat-label>
            <input matInput required formControlName="transactionAmount">
            <mat-error *ngIf="depositRecurringDepositForm.controls.transactionAmount.hasError('required')">
              {{ "Deposits.Recurring.Actions.Deposit.errtransactionAmount" | translate }}<strong>{{ "Deposits.strongIsRequired" | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{ "Deposits.Recurring.Actions.Deposit.paymentTypeId" | translate }}</mat-label>
            <mat-select formControlName="paymentTypeId" required>
              <mat-option *ngFor="let paymentType of paymentTypes" [value]="paymentType.id">
                {{ paymentType.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="depositRecurringDepositForm.controls.paymentTypeId.hasError('required')">
              {{ "Deposits.Recurring.Actions.Deposit.errpaymentTypeId" | translate }}<strong>{{ "Deposits.strongIsRequired" | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <div fxFlexFill>
            <span fxFlex="25%">{{ "Deposits.Recurring.Actions.Deposit.expandCollapsebutton" | translate }}</span>
            <span fxFlex="75%" class="expandCollapsebutton" (click)="toggleDisplay()">
              <button mat-raised-button color="primary" *ngIf="showPaymentDetails">
                <i class="fa fa-minus"></i>
              </button>
              <button mat-raised-button color="primary" *ngIf="!showPaymentDetails">
                <i class="fa fa-plus"></i>
              </button>
            </span>
          </div>

          <ng-container *ngIf="showPaymentDetails">
            <mat-form-field>
              <mat-label> {{ "Deposits.Recurring.Actions.Deposit.accountNumber" | translate }}</mat-label>
              <input matInput formControlName="accountNumber">
            </mat-form-field>

            <mat-form-field>
              <mat-label>{{ "Deposits.Recurring.Actions.Deposit.chequeNumber" | translate }}</mat-label>
              <input matInput formControlName="chequeNumber">
            </mat-form-field>

            <mat-form-field>
              <mat-label>{{ "Deposits.Recurring.Actions.Deposit.routingCode" | translate }}</mat-label>
              <input matInput formControlName="routingCode">
            </mat-form-field>

            <mat-form-field>
              <mat-label>{{ "Deposits.Recurring.Actions.Deposit.receiptNumber" | translate }}</mat-label>
              <input matInput formControlName="receiptNumber">
            </mat-form-field>

            <mat-form-field>
              <mat-label>{{ "Deposits.Recurring.Actions.Deposit.bankNumber" | translate }}</mat-label>
              <input matInput formControlName="bankNumber">
            </mat-form-field>
          </ng-container>

          <mat-form-field>
            <mat-label>{{ "Deposits.Recurring.Actions.Deposit.note" | translate }}</mat-label>
            <textarea matInput formControlName="note"></textarea>
          </mat-form-field>

        </div>

      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../general']">{{ "ShareButton.CancelEng" | translate }}</button>
        <button mat-raised-button color="primary" [disabled]="!depositRecurringDepositForm.valid">{{ "ShareButton.Submit" | translate }}</button>
      </mat-card-actions>

    </form>

  </mat-card>

</div>
