.tab-container {
    padding: 1%;
    margin: 1%;
  
    h3{
      margin:1% auto;
    }
    table {
      
      td,th{
        text-align: center;
      }
      td:first-child{
        width: 20%;
      }
      td:last-child{
        width: 15%;
      }
                 
    }
  }
  