<mat-card class="mat-elevation-z20 container-custom">
  <mat-card-content>
    <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column" [formGroup]="formDate">
      <mat-form-field fxFlex="31%">
        <mat-label>{{ "ShareLable.FromDate" | translate }}</mat-label>
        <input matInput [matDatepicker]="transactionDateFromPicker" formControlName="fromDate" />
        <mat-datepicker-toggle matSuffix [for]="transactionDateFromPicker"></mat-datepicker-toggle>
        <mat-datepicker #transactionDateFromPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field fxFlex="31%">
        <mat-label>{{ "ShareLable.ToDate" | translate }}</mat-label>
        <input matInput [matDatepicker]="transactionDateToPicker" formControlName="toDate" />
        <mat-datepicker-toggle matSuffix [for]="transactionDateToPicker"></mat-datepicker-toggle>
        <mat-datepicker #transactionDateToPicker></mat-datepicker>
      </mat-form-field>
      <div fxFlex="31%">
        <button
          *ngIf="formDate"
          (click)="getBookingAgency()"
          style="align-self: center"
          color="primary"
          mat-raised-button
        >
        {{ "ShareButton.Search" | translate }} &nbsp;<i class="fa fa-search" aria-hidden="true"></i>
        </button>
        <h3 *ngIf="!formDate">
          {{ "BookingManage.h3" | translate }} &nbsp; <i class="fa fa-calendar" style="align-self: center" aria-hidden="true"></i>
        </h3>
      </div>
    </div>
    <div class="container" fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column"></div>
  </mat-card-content>
  <mat-card-content style="margin-top: 10px">
    <mat-card>
      <div fxLayout="row swap" fxLayoutAlign.lt-sm="center" fxLayoutGap="2%" fxLayout.lt-md="column">
        <div fxLayout="row wrap" fxFlex="20%" class="container m-b-20">
          <img src="assets/images/icons/money.svg" />
          <div style="display: flex" fxLayout="column">
            <span style="font-size: 20px; margin-top: 8px; padding-top: 5px">{{
              totalBooking?.totalAmountBooking | money
            }}</span>
            <span>&nbsp;{{ "BookingManage.spanTotalAmountBooking" | translate }}</span>
          </div>
        </div>
        <div fxLayout="row wrap" fxFlex="20%" class="container m-b-20">
          <img src="assets/images/icons/transaction.svg" />
          <div style="display: flex" fxLayout="column">
            <span style="font-size: 20px; margin-top: 8px; padding-top: 5px">{{
              totalBooking?.totalAmountUsed | money
            }}</span>
            <span>&nbsp;{{ "BookingManage.spanTotalAmountUsed" | translate }}</span>
          </div>
        </div>
        <div fxLayout="row wrap" fxFlex="20%" class="container m-b-20">
          <img src="assets/images/icons/capital.svg" />
          <div style="display: flex" fxLayout="column">
            <span style="font-size: 20px; margin-top: 8px; padding-top: 5px">{{
              totalBooking?.totalAmountCanceled | money
            }}</span>
            <span>&nbsp;{{ "BookingManage.BookingAgencyComponent.spanTotalAmountCanceled" | translate }}</span>
          </div>
        </div>
        <div fxLayout="row wrap" fxFlex="20%" class="container m-b-20">
          <img src="assets/images/icons/pnlAmount.svg" />
          <div style="display: flex" fxLayout="column">
            <span style="font-size: 20px; margin-top: 8px; padding-top: 5px">
              {{
                totalBooking?.totalAmountBooking - totalBooking?.totalAmountUsed - totalBooking?.totalAmountCanceled
                  | money
              }}
            </span>
            <span>&nbsp;{{ "BookingManage.spanTotalAmountAvailable" | translate }}</span>
          </div>
        </div>
      </div>
    </mat-card>
  </mat-card-content>
  <mat-card-content>
    <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column" [formGroup]="formFilter">
      <mat-form-field fxFlex="15%">
        <mat-label>{{ "BookingManage.BookingAgencyComponent.lableBranchName" | translate }}</mat-label>
        <input matInput formControlName="officeName" />
      </mat-form-field>

      <mat-form-field fxFlex="15%">
        <mat-label>{{ "BookingManage.BookingAgencyComponent.lableTrancheNo" | translate }}</mat-label>
        <mat-select formControlName="trancheNo">
          <mat-option *ngFor="let tranche of TrancheNoOption" [value]="tranche.value">
            {{ tranche.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex="15%">
        <mat-label>{{ "BookingManage.BookingAgencyComponent.lableUserNameTelegram" | translate }}</mat-label>
        <input matInput formControlName="userNameTelegram" />
      </mat-form-field>
      <div>
        <div style="margin-top: 15px" fxLayout="row">
          <div style="margin: 5px; margin-top: 20px"><span>{{ "BookingManage.BookingAgencyComponent.spanTotal" | translate }}&nbsp;</span> {{ BookingFilter.length }}</div>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-content>
    <table mat-table class="mat-elevation-z8" (matSortChange)="sortData($event)" [dataSource]="BookingList" matSort>
      <ng-container matColumnDef="officeName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "BookingManage.BookingAgencyComponent.tableDetail.officeName" | translate }}</th>
        <td mat-cell *matCellDef="let booking">{{ booking?.officeName }}</td>
      </ng-container>

      <ng-container matColumnDef="txnDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "BookingManage.BookingAgencyComponent.tableDetail.txnDate" | translate }}</th>
        <td mat-cell *matCellDef="let booking">{{ booking?.txnDate | date: "dd-MM-yyyy " }}</td>
      </ng-container>

      <ng-container matColumnDef="trancheNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "BookingManage.BookingAgencyComponent.tableDetail.trancheNo" | translate }}</th>
        <td mat-cell *matCellDef="let booking">{{ displayTrancheNo(booking.trancheNo) }}</td>
      </ng-container>

      <ng-container matColumnDef="agencyInfo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "BookingManage.BookingAgencyComponent.tableDetail.userIdTelegram" | translate }}</th>
        <td mat-cell *matCellDef="let booking" style="padding: 10px">
          <mat-label>
            {{ booking?.userNameTelegram }} - {{ booking?.userIdTelegram }}
            <br />
            <a *ngIf="booking.agencyName" href="#/groups/{{ booking.agencyId }}/general">
              <mat-icon style="color: black" [title]="'BookingManage.BookingAgencyComponent.tableDetail.title'| translate">groups</mat-icon>
              {{ booking.agencyName }}
            </a>

            <a *ngIf="!booking.agencyName" href="#/groups">
              <mat-icon style="color: black" [title]="'BookingManage.BookingAgencyComponent.tableDetail.title'| translate">groups</mat-icon>
              {{ "BookingManage.BookingAgencyComponent.tableDetail.undefine" | translate }}
            </a>
          </mat-label>
        </td>
      </ng-container>

      <ng-container matColumnDef="bookingAmount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "BookingManage.BookingAgencyComponent.tableDetail.bookingAmount" | translate }}</th>
        <td mat-cell [ngClass]="textDecorateBooking(booking?.status)" *matCellDef="let booking">
          {{ booking?.bookingAmount | money }}
        </td>
      </ng-container>

      <ng-container matColumnDef="amountTransaction">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "BookingManage.BookingAgencyComponent.tableDetail.amountTransaction" | translate }}</th>
        <td mat-cell [ngClass]="textDecorateBooking('C')" *matCellDef="let booking">
          {{ booking?.amountTransaction | money }}
        </td>
      </ng-container>
      <ng-container matColumnDef="amountCancel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "BookingManage.BookingAgencyComponent.tableDetail.status" | translate }}</th>
        <td mat-cell [ngClass]="textDecorateBooking('C')" *matCellDef="let booking">
          {{ booking?.status == "C" ? booking?.bookingAmount : (0 | money) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="amountRemain">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "BookingManage.BookingAgencyComponent.tableDetail.totalAmountAvailable" | translate }}</th>
        <td mat-cell *matCellDef="let booking">
          {{ booking?.status == "C" ? 0 : (booking?.bookingAmount - booking?.amountTransaction | money) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="batchTxnName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "BookingManage.BookingAgencyComponent.tableDetail.batchTxnName" | translate }}</th>
        <td mat-cell *matCellDef="let booking" style="color: blue;">
          {{ booking.batchTxnName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "BookingManage.BookingAgencyComponent.tableDetail.action" | translate }}</th>
        <td mat-cell *matCellDef="let booking">

          <button mat-mini-fab color="primary"
          [routerLink]="['/transaction/batch-transaction/',booking.agencyId]"
          [queryParams]="{batchTxnName: booking.batchTxnName, bookingTxnDailyId: booking.refid}">
            <mat-icon [title]="'BookingManage.BookingAgencyComponent.tableDetail.iconTitleProcess'| translate"> gavel </mat-icon>
          </button>
          <button mat-mini-fab color="warn" (click)="cancelBooking(booking)">
            <mat-icon [title]="'BookingManage.BookingAgencyComponent.tableDetail.iconTitleProcess'| translate"> undo </mat-icon>
          </button>
          <button *midasHasPermission="'ALL_FUNCTIONS'" mat-mini-fab color="warn" (click)="removeBooking(booking)">
            <mat-icon [title]="'BookingManage.BookingAgencyComponent.tableDetail.iconTitleProcess'| translate"> delete_forever </mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns" class="example-element-row"></tr>
    </table>
  </mat-card-content>
  <mat-paginator
    paginator
    [length]="BookingFilter.length"
    [pageSize]="10"
    [pageSizeOptions]="[10, 25, 50, 100]"
    showFirstLastButtons
  ></mat-paginator>
</mat-card>
