.onBookingAmount {
  color: green;
  font-weight: bold;
  font-size: larger;
}

.onTransactionAmount {
  color: red;
  text-decoration: line-through;
}

.mat-row:nth-child(4n + 1) {
  background: #cef0f5 !important;
}
.mat-row:not(:nth-child(2n + 1)) {
  background-color:#fff !important;
}
mat-icon{
  cursor: pointer;
}
