<mat-card class="group-card">

  <mat-card-header fxLayout="column" class="header">

    <mat-card-title-group class="header-title-group">

      <div class="profile-image-container">
        <div>
          <img mat-card-md-image class="profile-image"
               src="assets/images/group_placeholder.png">
        </div>
      </div>

      <div class="mat-typography group-card-title">
        <mat-card-title>
          <h3>
            <i class="fa fa-stop" [ngClass]="groupViewData.status.code|statusLookup"
               [matTooltip]="groupViewData.status.value"></i>
               {{ 'Group_Component.Create_Group_Component.GroupView.h3'| translate}}{{groupViewData.name}}
          </h3>
        </mat-card-title>
        <mat-card-subtitle>
          <p>
            {{ 'Group_Component.Create_Group_Component.GroupView.id'| translate}}{{groupViewData.name}}{{groupViewData.id}} | {{ 'Group_Component.Create_Group_Component.GroupView.centerName'| translate}}{{groupViewData.centerName}} |
            {{ 'Group_Component.Create_Group_Component.GroupView.staffName'| translate}}{{groupViewData.staffName || 'Unassigned'}}<br/>
            {{ 'Group_Component.Create_Group_Component.GroupView.officeName'| translate}}{{groupViewData.officeName}}<br/>
            {{ 'Group_Component.Create_Group_Component.GroupView.activationDate'| translate}}{{(groupViewData.activationDate) ? (groupViewData.activationDate|date) : 'Not Activated'}}
            <br/>
            <span *ngIf="!groupViewData.active">
              {{ 'Group_Component.Create_Group_Component.GroupView.closedOnDate'| translate}}{{groupViewData.timeline.closedOnDate | date}}
            </span>
          </p>
        </mat-card-subtitle>
      </div>

      <div class="group-meeting" fxLayoutAlign="start start">
        <div class="fixRightHeader">
          <p>{{ 'Group_Component.Create_Group_Component.GroupView.lastTransaction'| translate}}{{lastTransaction}}</p>
          <p></p>
          <p>{{ 'Group_Component.Create_Group_Component.GroupView.closedOnDate2'| translate}}</p>
          <p *ngFor="let item of salesLast3months; let i = index">
            {{ 'Group_Component.Create_Group_Component.GroupView.txnMont'| translate}}{{item.txnMont}}: {{ 'Group_Component.Create_Group_Component.GroupView.rev'| translate}}{{item.rev | money}} || {{ 'Group_Component.Create_Group_Component.GroupView.txnCount'| translate}}{{item.txnCount}}
          </p>

        </div>
        <!-- <div *ngIf="groupViewData.collectionMeetingCalendar; else unassigned">
          <p>
            Next Meeting on: {{groupViewData.collectionMeetingCalendar?.nextTenRecurringDates[0] | date}}
            <i class="fa fa-edit" *ngIf="editMeeting" (click)="doAction('Edit Meeting')"></i><br/>
            Meeting Frequency: {{groupViewData.collectionMeetingCalendar?.frequency.value | lowercase}}
          </p>
        </div>
        <ng-template #unassigned>
          <div>
            <p>
              Next Meeting on: Unassigned
              <i class="fa fa-calendar"></i><br/>
              Meeting Frequency: N/A
            </p>
          </div>
        </ng-template> -->
      </div>

    </mat-card-title-group>

    <mat-card-actions class="group-actions" *ngIf="!(groupViewData.status.value==='Closed')">
      <button mat-raised-button [routerLink]="['/transaction/batch-transaction',groupViewData.id]">
        <img src="assets/images/icons/transaction%20_batch.svg" style="margin: 5px;">{{ 'Group_Component.Create_Group_Component.GroupView.btnBatchTransaction'| translate}}
      </button>
      <span *ngIf="!(groupViewData.status.value==='Active')">
          <button mat-raised-button *midasHasPermission="'UPDATE_GROUP'" (click)="doAction('Activate')">
            <i class="fa fa-check-sign"></i>{{ 'Group_Component.Create_Group_Component.GroupView.btnActivate'| translate}}</button>
        </span>
      <button mat-raised-button *midasHasPermission="'UPDATE_GROUP'" (click)="doAction('Edit')">
        <i class="fa fa-edit"></i>{{ 'Group_Component.Create_Group_Component.GroupView.btnEdit'| translate}}
      </button>
      <!-- <button mat-raised-button *midasHasPermission="'CREATE_CLIENT'" [routerLink]="['/clients/create/']" [queryParams]="{'group': groupViewData.id }">
        <i class="fa fa-plus"></i>Add Clients
      </button>

      <button mat-raised-button *midasHasPermission="'ASSOCIATECLIENTS_GROUP'" (click)="doAction('Transfer Clients')">
        <i class="fa fa-exchange"></i>Chuyển thành viên
      </button>
      <button mat-raised-button *midasHasPermission="'TRANSFERCLIENTS_GROUP'" (click)="doAction('Manage Members')">
        <i class="fa fa-user"></i>Quản lý thành viên
      </button> -->

      <!-- <button mat-raised-button *ngIf="groupViewData.active" [matMenuTriggerFor]="AccountApplications">
        <i class="fa fa-file"></i>Applications
      </button>
      <mat-menu #AccountApplications="matMenu">
          <span *ngIf="groupViewData.clientMembers">
            <button mat-menu-item *midasHasPermission="'CREATE_LOAN'">Bulk JLG Loan Application</button></span>
        <button mat-menu-item *midasHasPermission="'CREATE_SAVINGSACCOUNT'"
                [routerLink]="['savings-accounts', 'create']">Group Saving Application
        </button>
        <button mat-menu-item *midasHasPermission="'CREATE_LOAN'">Group Loan Application</button>
      </mat-menu> -->
      <button mat-raised-button [matMenuTriggerFor]="Member">{{ 'Group_Component.Create_Group_Component.GroupView.btnMember'| translate}}</button>
      <button mat-raised-button *ngIf="groupViewData.active" [matMenuTriggerFor]="AccountApplications">
        <i class="fa fa-file"></i>{{ 'Group_Component.Create_Group_Component.GroupView.btnAccountApplications'| translate}}
      </button>
      <mat-menu #Member="matMenu">
        <button mat-menu-item *midasHasPermission="'CREATE_CLIENT'" [routerLink]="['/clients/create/']" [queryParams]="{'group': groupViewData.id }">
          <i class="fa fa-plus"></i>{{ 'Group_Component.Create_Group_Component.GroupView.btncreateMember'| translate}}
        </button>
        <button mat-menu-item *midasHasPermission="'ASSOCIATECLIENTS_GROUP'" (click)="doAction('Transfer Clients')">
          <i class="fa fa-exchange"></i>{{ 'Group_Component.Create_Group_Component.GroupView.btnTransferMember'| translate}}
        </button>
        <button mat-menu-item *midasHasPermission="'TRANSFERCLIENTS_GROUP'" (click)="doAction('Manage Members')">
          <i class="fa fa-user"></i>{{ 'Group_Component.Create_Group_Component.GroupView.btnManageMembers'| translate}}
        </button>

      </mat-menu>
      <mat-menu #AccountApplications="matMenu">
        <button mat-menu-item *midasHasPermission="'CREATE_SAVINGSACCOUNT'"
              [routerLink]="['savings-accounts', 'create']">{{ 'Group_Component.Create_Group_Component.GroupView.btnCreateSavingAccount'| translate}}
      </button>
    </mat-menu>
      <button mat-raised-button [matMenuTriggerFor]="More">{{ 'Group_Component.Create_Group_Component.GroupView.btnMore'| translate}}</button>
      <mat-menu #More="matMenu">
        <!-- <span *ngIf="groupViewData.collectionMeetingCalendar">
            <button mat-menu-item *midasHasPermission="'SAVEORUPDATEATTENDANCE_MEETING'"
                    (click)="doAction('Attendance')">Attendance</button>
        </span> -->
        <span *ngIf="!groupViewData.staffId">
            <button mat-menu-item *midasHasPermission="'ASSIGNSTAFF_GROUP'" (click)="doAction('Assign Staff')">{{ 'Group_Component.Create_Group_Component.GroupView.btnAssignStaff'| translate}}</button></span>
        <span *ngIf="groupViewData.staffId">
            <button mat-menu-item *midasHasPermission="'UNASSIGNSTAFF_GROUP'" (click)="doAction('Unassign Staff')">{{ 'Group_Component.Create_Group_Component.GroupView.btnUnassignStaff'| translate}}</button></span>
        <!-- <span
          *ngIf="!(groupViewData.centerId || groupViewData.collectionMeetingCalendar) && groupViewData.status.value==='Active'">
            <button mat-menu-item *midasHasPermission="'CREATE_MEETING'" (click)="doAction('Attach Meeting')">Attach Meeting</button>
        </span> -->
        <button mat-menu-item *midasHasPermission="'CLOSE_GROUP'" (click)="doAction('Close')">{{ 'Group_Component.Create_Group_Component.GroupView.btnCloseGroup'| translate}}</button>
        <button mat-menu-item *midasHasPermission="'DELETE_GROUP'" (click)="doAction('Delete')">{{ 'Group_Component.Create_Group_Component.GroupView.btnDeleteGroup'| translate}}</button>
      </mat-menu>

    </mat-card-actions>

  </mat-card-header>

  <mat-card-content>

    <nav mat-tab-nav-bar class="navigation-tabs">
      <a mat-tab-link [routerLink]="['./general']" routerLinkActive #general="routerLinkActive"
         [active]="general.isActive">
         {{ 'Group_Component.Create_Group_Component.GroupView.general'| translate}}
      </a>
      <a mat-tab-link [routerLink]="['./notes']" *midasHasPermission="'READ_GROUPNOTE'" routerLinkActive
         #notes="routerLinkActive"
         [active]="notes.isActive">
         {{ 'Group_Component.Create_Group_Component.GroupView.notes'| translate}}
      </a>
      <a mat-tab-link [routerLink]="['./committee']" routerLinkActive #committee="routerLinkActive"
         [active]="committee.isActive">
         {{ 'Group_Component.Create_Group_Component.GroupView.committee'| translate}}
      </a>
      <span *ngFor="let groupDatatable of groupDatatables">
        <a mat-tab-link *midasHasPermission="'READ_' + groupDatatable.registeredTableName"
           [routerLink]="['./datatables',groupDatatable.registeredTableName]"
           routerLinkActive #datatable="routerLinkActive" [active]="datatable.isActive">
          {{groupDatatable.registeredTableName}}
        </a>
      </span>
    </nav>

    <router-outlet></router-outlet>

  </mat-card-content>

</mat-card>
