@import "~@angular/material/theming";

@mixin clients-view-component-theme($theme) {
  $primary: map-get($theme, primary);

  mifosx-clients-view {
    .client-card {
      .header {
        background-color: mat-color($primary, 500);
      }
    }
  }

  .signatureStaff {
    // background-color: white;
    color: white;
    font-size: medium;
    text-align: left;
    padding: 5px;
    margin: 15px;
    font-weight: bold;
  }
}
