<h1 mat-dialog-title>{{ data.columnName ? "Edit" : "Add" }} Column</h1>

<mat-dialog-content>

  <form [formGroup]="columnForm">

    <div fxLayout="column">

      <mat-form-field>
        <mat-label>{{'System.ManageDataTable.ColumnDialog.name'| translate }}</mat-label>
        <input matInput required formControlName="name">
        <mat-error *ngIf="columnForm.controls.name.hasError('required')">
          {{'System.ManageDataTable.ColumnDialog.errname'| translate }}<strong>{{'System.strongRequired'| translate }}</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{'System.ManageDataTable.ColumnDialog.type'| translate }}</mat-label>
        <mat-select required formControlName="type">
          <mat-option *ngFor="let columnType of columnTypeData" [value]="columnType.value">
            {{ columnType.displayValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <mat-checkbox labelPosition="before" formControlName="mandatory">{{'System.ManageDataTable.ColumnDialog.Mandatory'| translate }}</mat-checkbox>
      </div>

      <mat-form-field>
        <mat-label>{{'System.ManageDataTable.ColumnDialog.length'| translate }}</mat-label>
        <input matInput required type="number" formControlName="length">
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{'System.ManageDataTable.ColumnDialog.code'| translate }}</mat-label>
        <mat-select required formControlName="code">
          <mat-option *ngFor="let columnCode of data.columnCodes" [value]="columnCode.name">
            {{ columnCode.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

  </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{ "ShareButton.CancelEng" | translate }}</button>
  <button mat-raised-button color="primary" [disabled]="!columnForm.valid || columnForm.pristine"
    (click)="submit()">{{ "ShareButton.Submit" | translate }}</button>
</mat-dialog-actions>
