<mat-card>
  <div class="example-container">
    <mat-form-field style="width: 100%">
      <mat-label>{{'Home_Component.Mainboard.inputKeyWord'| translate }}</mat-label>
      <input
        type="text"
        matInput
        #querySearchAll
        (change)="this.searchClientAndGroup(querySearchAll.value)"
        [placeholder]="'Home_Component.Mainboard.placeholderSearchKey'| translate"
      />
    </mat-form-field>
  </div>

  <div class="example-container" *ngIf="showSearchTable">
    <mat-table [dataSource]="dataSource" matSort>
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span class="mobile-label">{{'Home_Component.Mainboard.inputKeyWord'| translate }}Id:</span>
          <span>{{ row.id }}</span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Home_Component.Mainboard.status'| translate }}</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span class="mobile-label">{{'Home_Component.Mainboard.spanStatus'| translate }}</span>

          <span *ngIf="row.statusEnum == 300" style="color: green; font-weight: bold;">{{'Home_Component.Mainboard.Active'| translate }}</span>
          <span *ngIf="row.statusEnum != 300" style="color: red; font-weight: bold;" >{{'Home_Component.Mainboard.Close'| translate }}</span>


        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="officeName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Home_Component.Mainboard.officeName'| translate }}</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span class="mobile-label">{{'Home_Component.Mainboard.spanOfficeName'| translate }}</span>

          <span>{{ row.officeName }}</span>
        </mat-cell>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="displayName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Home_Component.Mainboard.displayName'| translate }}</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span class="mobile-label">{{'Home_Component.Mainboard.spanCustomerName'| translate }}</span>
          <span
            >{{ row.displayName }}
            <div *ngIf="row.isBad" style="color: red; font-weight: bold">{{'Home_Component.Mainboard.isBad'| translate }}</div>
          </span>
        </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="mobileNo">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Home_Component.Mainboard.mobileNo'| translate }}</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span class="mobile-label">{{'Home_Component.Mainboard.spanMobileNo'| translate }}</span>
          <span>{{ row.mobileNo }}</span>
        </mat-cell>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="documentKey">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Home_Component.Mainboard.documentKey'| translate }}</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span class="mobile-label">{{'Home_Component.Mainboard.spanDocumentKey'| translate }}</span>
          <span>{{ row.documentKey }}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="bankName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Home_Component.Mainboard.bankName'| translate }}</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span class="mobile-label">{{'Home_Component.Mainboard.spanBankName'| translate }}</span>
          <span>{{ row.bankName }}</span>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        mat-dialog-close
        *matRowDef="let row; let even = even; columns: displayedColumns"
        class="select-row"
        [ngClass]="{ green: even }"
        [routerLink]="['/clients', row.id, 'identities']"
        [queryParams]="{ typeViewClient: 'transaction' }"
      ></mat-row>
    </mat-table>
    <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center; background: white">
      <mat-progress-spinner color="warn" mode="indeterminate"> </mat-progress-spinner>
    </div>
  </div>
</mat-card>
