table {
  width: 100%;
  .account-action-button{
    min-width: 26px;
    padding: 0 6px;
    margin: 4px;
    line-height: 25px;
  }
  tr.select-row:hover {
    cursor: pointer;
  }
}
i:hover {
  cursor: pointer;
}
