<mat-card>
  <!-- <mat-label>Thực hiện giao dịch</mat-label> -->

  <div class="example-container " >
    <mat-form-field style="width: 100%; "  >
      <mat-label>Tìm kiếm khách hàng, đại lý thực hiện giao dịch</mat-label>
      <input    type="email" matInput #querySearchAll (change)=" this.searchClientAndGroup(querySearchAll.value);"
             placeholder="Tìm kiếm theo tên, số CMND/CCCD ,số thẻ, số điện thoại">

    </mat-form-field>
  </div>
  <div class="example-container " *ngIf="showSearchTable">

    <mat-table   [dataSource]="dataSource" matSort>
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell  *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
        <mat-cell   *matCellDef="let row">
          <span class="mobile-label">Id:</span>
          <span >{{row.id}}</span>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="officeName">
        <mat-header-cell   *matHeaderCellDef mat-sort-header>Chi nhánh</mat-header-cell>
        <mat-cell   *matCellDef="let row" >
          <span  class="mobile-label">Chi nhánh:</span>

          <span >{{row.officeName}}</span>
        </mat-cell>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="displayName">
        <mat-header-cell  *matHeaderCellDef mat-sort-header>Tên khách hàng</mat-header-cell>
        <mat-cell  *matCellDef="let row">
          <span class="mobile-label">Khách hàng:</span>
          <span >{{row.displayName}}
            <div  *ngIf="row.isBad"  style="color: red; font-weight: bold;">
              LỪA ĐẢO
            </div>
          </span>
        </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="mobileNo">
        <mat-header-cell   *matHeaderCellDef mat-sort-header>Số ĐT</mat-header-cell>
        <mat-cell    *matCellDef="let row">
          <span class="mobile-label">Số ĐT:</span>
          <span >{{row.mobileNo}}</span>
        </mat-cell>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="documentKey">
        <mat-header-cell   *matHeaderCellDef mat-sort-header>Thẻ</mat-header-cell>
        <mat-cell    *matCellDef="let row" >
          <span class="mobile-label">Thẻ:</span>
          <span >{{row.documentKey}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="bankName">
        <mat-header-cell  *matHeaderCellDef mat-sort-header>Ngân hàng</mat-header-cell>
        <mat-cell    *matCellDef="let row" >
          <span class="mobile-label">Ngân hàng:</span>
          <span >{{row.bankName}}</span>
        </mat-cell>
      </ng-container>

      <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row mat-dialog-close *matRowDef="let row; let even = even ; columns: displayedColumns;"
      class="select-row"
      [ngClass]="{green: even}"
      [routerLink]="['/clients', row.id, 'identities']"
      [queryParams]="{ typeViewClient: 'transaction'}"
      ></mat-row>

    </mat-table>
    <div *ngIf="isLoading"
   style="display: flex; justify-content: center; align-items: center; background: white;">
  <mat-progress-spinner
    color="warn"
    mode="indeterminate">
  </mat-progress-spinner>
</div>
    <mat-paginator   [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>

</mat-card>
