.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;

}
tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}
mat-row:hover {
  background-color: #71d5f3;
  color: white;
  cursor: pointer;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}
.green { background-color: #cdcdd3 }
.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

// mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
//   padding-left: 0;
// }

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mobile-label {
  display: none;
}
mat-header-cell, mat-cell{
  padding: 3px;
  justify-content: center;
}


@media(max-width: 720px) {

  mat-cell, mat-header-cell, mat-footer-cell {

    min-height: unset;

  }

  .mobile-label {
    width: 100px;
    display: inline-block;
    font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }

  mat-row, mat-footer-row {
    min-height: unset;
}
}
