<h1 mat-dialog-title>Thêm booking</h1>
<div mat-dialog-content>
  <div fxLayout="column" [formGroup]="formDialog">
    <mat-form-field *ngIf="!booking">
      <mat-label>Người đăng ký (Telegram Id)</mat-label>
      <input
        matInput
        required
        formControlName="userNameTelegram">
      <mat-error *ngIf="formDialog.controls.userNameTelegram.hasError('required')">Vui lòng thêm thông tin trước khi
        thực
        hiện
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Số tiền</mat-label>
      <input
        matInput
        required
        currencyMask
        formControlName="bookingAmount">
      <mat-error *ngIf="formDialog.controls.bookingAmount.hasError('required')">Vui lòng thêm thông tin trước khi
        thực
        hiện
      </mat-error>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions align="center">
    <button mat-raised-button
            (click)="dialogRef.close()"
    >{{'Shared_Component.DeleteDialog.buttonCancel'|translate}}</button>
    <button mat-raised-button color="warn"
            (click)="submitForm()"
    >{{'Shared_Component.DeleteDialog.buttonConfirm'|translate}}</button>
    <!--  [mat-dialog-close]="{ file: true }"-->
</div>
