<div class="add-family-member-container">

  <form [formGroup]="editFamilyMemberForm" (ngSubmit)="submit()">

    <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="start center">

      <mat-form-field fxFlex="calc(50% - 25px)">
        <mat-label>{{'Client_Component.ViewClient.FamilyMember.AddMember.firstName' |translate}}</mat-label>
        <input formControlName="firstName" required matInput />
        <mat-error *ngIf="editFamilyMemberForm.controls.firstName.hasError('required')">
          <strong>{{'Client_Component.ViewClient.FamilyMember.errfirstName' |translate}}</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="calc(50% - 25px)">
        <mat-label>{{'Client_Component.ViewClient.FamilyMember.middleName' |translate}}</mat-label>
        <input formControlName="middleName" matInput />
      </mat-form-field>

      <mat-form-field fxFlex="calc(50% - 25px)">
        <mat-label>{{'Client_Component.ViewClient.FamilyMember.lastName' |translate}}</mat-label>
        <input formControlName="lastName" required matInput />
        <mat-error *ngIf="editFamilyMemberForm.controls.lastName.hasError('required')">
          {{'Client_Component.ViewClient.FamilyMember.errlastName' |translate}}<strong>{{'Client_Component.ViewClient.FamilyMember.firstName' |translate}}</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="calc(50% - 25px)">
        <mat-label>{{'Client_Component.ViewClient.FamilyMember.qualification' |translate}}</mat-label>
        <input formControlName="qualification" matInput />
      </mat-form-field>

      <mat-form-field fxFlex="calc(50% - 25px)">
        <mat-label>{{'Client_Component.ViewClient.FamilyMember.age' |translate}}</mat-label>
        <input type="number" formControlName="age" required matInput />
        <mat-error *ngIf="editFamilyMemberForm.controls.age.hasError('required')">
          {{'Client_Component.ViewClient.FamilyMember.errage' |translate}}<strong>{{'Client_Component.ViewClient.FamilyMember.firstName' |translate}}</strong>
        </mat-error>
      </mat-form-field>

      <mat-checkbox formControlName="isDependent" labelPosition="before" fxFlex="calc(50% - 25px)">Is Dependent?
      </mat-checkbox>

      <mat-form-field fxFlex="calc(50% - 25px)">
        <mat-label>{{'Client_Component.ViewClient.FamilyMember.relationshipId' |translate}}</mat-label>
        <mat-select formControlName="relationshipId" required>
          <mat-option *ngFor="let relation of addFamilyMemberTemplate.relationshipIdOptions" [value]="relation.id">
            {{ relation.name  }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="editFamilyMemberForm.controls.relationshipId.hasError('required')">
          {{'Client_Component.ViewClient.FamilyMember.errrelationshipId' |translate}}<strong>{{'Client_Component.ViewClient.FamilyMember.firstName' |translate}}</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="calc(50% - 25px)">
        <mat-label>{{'Client_Component.ViewClient.FamilyMember.genderId' |translate}}</mat-label>
        <mat-select formControlName="genderId" required>
          <mat-option *ngFor="let gender of addFamilyMemberTemplate.genderIdOptions" [value]="gender.id">
            {{ gender.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="editFamilyMemberForm.controls.genderId.hasError('required')">
          {{'Client_Component.ViewClient.FamilyMember.errgenderId' |translate}}<strong>{{'Client_Component.ViewClient.FamilyMember.firstName' |translate}}</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="calc(50% - 25px)">
        <mat-label>{{'Client_Component.ViewClient.FamilyMember.professionId' |translate}}</mat-label>
        <mat-select formControlName="professionId">
          <mat-option *ngFor="let profession of addFamilyMemberTemplate.professionIdOptions" [value]="profession.id">
            {{ profession.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex="calc(50% - 25px)">
        <mat-label>{{'Client_Component.ViewClient.FamilyMember.maritalStatusId' |translate}}</mat-label>
        <mat-select formControlName="maritalStatusId">
          <mat-option *ngFor="let maritalStatus of addFamilyMemberTemplate.maritalStatusIdOptions"
            [value]="maritalStatus.id">
            {{ maritalStatus.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field fxFlex>
        <mat-label>{{'Client_Component.ViewClient.FamilyMember.dateOfBirth' |translate}}</mat-label>
        <input formControlName="dateOfBirth" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="dueDatePicker"
          required>
        <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #dueDatePicker></mat-datepicker>
        <mat-error *ngIf="editFamilyMemberForm.controls.dateOfBirth.hasError('required')">
          {{'Client_Component.ViewClient.FamilyMember.errdateOfBirth' |translate}}<strong>{{'Client_Component.ViewClient.FamilyMember.firstName' |translate}}</strong>
        </mat-error>
      </mat-form-field>

    </div>

    <div fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="center">
      <button type="button" mat-raised-button [routerLink]="['../../']">{{ "ShareButton.CancelEng" | translate }}</button>
      <button type="submit" mat-raised-button color="primary" [disabled]="editFamilyMemberForm.pristine||!editFamilyMemberForm.valid">{{ "ShareButton.Submit" | translate }}</button>
    </div>

  </form>

</div>
