<div class="container">

  <mat-card>

    <div fxLayout="row" fxLayout.lt-md="column">

      <div fxFlex="50%">

        <mat-nav-list>

          <mat-list-item [routerLink]="['amazon-s3']">
            <mat-icon matListIcon>
              <fa-icon icon="cloud" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'System.ExternalServicesComponent.S3AmazonExternalService'| translate }}</h4>
            <p matLine>{{'System.ExternalServicesComponent.S3AmazonServiceConfiguration'| translate }}</p>
          </mat-list-item>

          <mat-list-item [routerLink]="['sms']">
            <mat-icon matListIcon>
              <fa-icon icon="comment-alt" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'System.ExternalServicesComponent.SMSExternalService'| translate }}</h4>
            <p matLine>{{'System.ExternalServicesComponent.SMSServiceConfiguration'| translate }}</p>
          </mat-list-item>

        </mat-nav-list>

      </div>

      <div fxFlex="50%">

        <mat-nav-list>

          <mat-list-item [routerLink]="['email']">
            <mat-icon matListIcon>
              <fa-icon icon="envelope" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'System.ExternalServicesComponent.EmailExternalService'| translate }}</h4>
            <p matLine>{{'System.ExternalServicesComponent.EmailServiceConfiguration'| translate }}</p>
          </mat-list-item>

          <mat-list-item [routerLink]="['notification']">
            <mat-icon matListIcon>
              <fa-icon icon="bell" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'System.ExternalServicesComponent.NotificationExternalService'| translate }}</h4>
            <p matLine>{{'System.ExternalServicesComponent.NotificationServiceConfiguration'| translate }}</p>
          </mat-list-item>

        </mat-nav-list>

      </div>

    </div>

  </mat-card>

</div>
