<mat-card class="fixed-deposits-account-card">

  <mat-card-header fxLayout="column" class="header">

    <mat-card-title-group class="header-title-group">

      <div class="profile-image-container">
        <div>
          <img mat-card-md-image class="profile-image"
            matTooltip="Fixed Deposits Account"
            [src]="'assets/images/fd_account_placeholder.png'">
        </div>
      </div>

      <div class="mat-typography account-card-title">
        <mat-card-title>
          <h3>
            <i class="fa fa-stop" [ngClass]="fixedDepositsAccountData.status.code | statusLookup" [matTooltip]="fixedDepositsAccountData.status.value"></i>
            {{ "Deposits.Fixed.View.depositProductName" | translate }}{{fixedDepositsAccountData.depositProductName}}
          </h3>
        </mat-card-title>
        <mat-card-subtitle>
          <p>
            {{ "Deposits.Fixed.View.accountNo" | translate }}{{fixedDepositsAccountData.accountNo}} | Client Name: {{fixedDepositsAccountData.clientName}}<br/>
            <span *ngIf="!fixedDepositsAccountData.status.rejected && !fixedDepositsAccountData.status.submittedAndPendingApproval">
              {{ "Deposits.Fixed.View.CurrentBalance" | translate }}{{fixedDepositsAccountData.currency.displaySymbol}}&nbsp;{{fixedDepositsAccountData.summary.accountBalance | money}}<br/>
              {{ "Deposits.Fixed.View.DepositAmount" | translate }}{{fixedDepositsAccountData.currency.displaySymbol}}&nbsp;{{fixedDepositsAccountData.depositAmount | money}}<br/>
            </span>
          </p>
        </mat-card-subtitle>
      </div>

    </mat-card-title-group>

    <mat-card-actions class="account-actions">

      <ng-container *ngFor="let button of buttonConfig.singleButtons">
        <button mat-raised-button (click)="doAction(button.name)">
          <i class="{{button.icon}}"></i> {{button.name}}</button>
      </ng-container>

      <ng-container *ngIf="buttonConfig.options.length">
        <button mat-raised-button [matMenuTriggerFor]="More">{{ "Deposits.Fixed.View.btnMore" | translate }}</button>
        <mat-menu #More="matMenu">
        <span *ngFor="let option of buttonConfig.options">
          <button mat-menu-item (click)="doAction(option.name)">{{option.name}}</button>
        </span>
        </mat-menu>
      </ng-container>

    </mat-card-actions>

  </mat-card-header>

  <mat-card-content class="content">

    <div class="fixed-deposits-account-tables" fxLayout="row" fxLayoutGap="2%">

      <div fxFlex="49%" fxLayout="column" fxLayoutGap="4%">

        <div>
          <h4 class="table-headers">{{ "Deposits.Fixed.View.h4" | translate }}</h4>
          <table>
            <tbody>
              <tr>
                <td>{{ "Deposits.Fixed.View.activatedOnDate" | translate }}</td>
                <td>{{fixedDepositsAccountData.timeline.activatedOnDate ? (fixedDepositsAccountData.timeline.activatedOnDate | date) : 'Not Activated'}}</td>
              </tr>
              <tr *ngIf="fixedDepositsAccountData.timeline.closedOnDate">
                <td>{{ "Deposits.Fixed.View.closedOnDate" | translate }}</td>
                <td>{{fixedDepositsAccountData.timeline.closedOnDate | date}}</td>
              </tr>
              <tr>
                <td>{{ "Deposits.Fixed.View.fieldOfficerName" | translate }}</td>
                <td>{{fixedDepositsAccountData.fieldOfficerName ? fixedDepositsAccountData.fieldOfficerName : 'Unassigned'}}</td>
              </tr>
              <tr>
                <td>{{ "Deposits.Fixed.View.maturityDate" | translate }}</td>
                <td>{{fixedDepositsAccountData.maturityDate ? (fixedDepositsAccountData.maturityDate | date) : 'N/A'}}</td>
              </tr>
              <tr>
                <td>{{ "Deposits.Fixed.View.depositPeriod" | translate }}</td>
                <td>{{fixedDepositsAccountData.depositPeriod}}&nbsp;{{fixedDepositsAccountData.depositPeriodFrequency.value}}</td>
              </tr>
              <tr *ngIf="fixedDepositsAccountData.withHoldTax">
                <td>{{ "Deposits.Fixed.View.taxGroup" | translate }}</td>
                <td>{{fixedDepositsAccountData.taxGroup.name}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div>
          <h4 class="table-headers">{{ "Deposits.Fixed.View.h4_2" | translate }}</h4>
          <table>
            <tbody>
              <tr>
                <td>{{ "Deposits.Fixed.View.nominalAnnualInterestRate" | translate }}</td>
                <td>{{fixedDepositsAccountData.nominalAnnualInterestRate}}%</td>
              </tr>
              <tr>
                <td>{{ "Deposits.Fixed.View.interestCompoundingPeriodType" | translate }}</td>
                <td>{{fixedDepositsAccountData.interestCompoundingPeriodType.value}}</td>
              </tr>
              <tr>
                <td>{{ "Deposits.Fixed.View.interestPostingPeriodType" | translate }}</td>
                <td>{{fixedDepositsAccountData.interestPostingPeriodType.value}}</td>
              </tr>
              <tr>
                <td>{{ "Deposits.Fixed.View.interestCalculationType" | translate }}</td>
                <td>{{fixedDepositsAccountData.interestCalculationType.value}}</td>
              </tr>
              <tr>
                <td>{{ "Deposits.Fixed.View.interestCalculationDaysInYearType" | translate }}</td>
                <td>{{fixedDepositsAccountData.interestCalculationDaysInYearType.value}}</td>
              </tr>
              <tr *ngIf="fixedDepositsAccountData.preClosurePenalApplicable">
                <td>{{ "Deposits.Fixed.View.preClosurePenalApplicable" | translate }}</td>
                <td>{{fixedDepositsAccountData.preClosurePenalInterest}} % on {{fixedDepositsAccountData.preClosurePenalInterestOnType.value}}</td>
              </tr>
          </table>
        </div>

      </div>

      <div fxFlex="49%">

        <div *ngIf="!fixedDepositsAccountData.status.rejected && !fixedDepositsAccountData.status.submittedAndPendingApproval; else otherDetails">
          <h4 class="table-headers">{{ "Deposits.Fixed.View.h4_3" | translate }}</h4>
          <table>
            <tbody>
              <tr>
                <td>{{ "Deposits.Fixed.View.depositAmount" | translate }}</td>
                <td>{{fixedDepositsAccountData.currency.displaySymbol}}&nbsp;{{fixedDepositsAccountData.depositAmount | money}}</td>
              </tr>
              <tr>
                <td>{{ "Deposits.Fixed.View.maturityAmount" | translate }}</td>
                <td>{{fixedDepositsAccountData.currency.displaySymbol}}&nbsp;{{fixedDepositsAccountData.maturityAmount | money}}</td>
              </tr>
              <tr *ngIf="fixedDepositsAccountData.summary.totalDeposits">
                <td>{{ "Deposits.Fixed.View.totalDeposits" | translate }}</td>
                <td>{{fixedDepositsAccountData.currency.displaySymbol}}&nbsp;{{fixedDepositsAccountData.summary.totalDeposits | money}}</td>
              </tr>
              <tr *ngIf="fixedDepositsAccountData.summary.totalWithdrawals">
                <td>{{ "Deposits.Fixed.View.totalWithdrawals" | translate }}</td>
                <td>{{fixedDepositsAccountData.currency.displaySymbol}}&nbsp;{{fixedDepositsAccountData.summary.totalWithdrawals | money}}</td>
              </tr>
              <tr *ngIf="fixedDepositsAccountData.summary.totalInterestEarned >= 0">
                <td>{{ "Deposits.Fixed.View.totalInterestEarned" | translate }}</td>
                <td>{{fixedDepositsAccountData.currency.displaySymbol}}&nbsp;{{fixedDepositsAccountData.summary.totalInterestEarned | money}}</td>
              </tr>
          </table>
        </div>

        <ng-template #otherDetails>
          <div>
            <h4 class="table-headers">{{ "Deposits.Fixed.View.h4_4" | translate }}</h4>
            <table>
              <tbody>
                <tr>
                  <td>{{ "Deposits.Fixed.View.depositAmount2" | translate }}</td>
                  <td>{{fixedDepositsAccountData.currency.displaySymbol}}&nbsp;{{fixedDepositsAccountData.depositAmount}}</td>
                </tr>
                <tr>
                  <td>{{ "Deposits.Fixed.View.maturityAmount2" | translate }}</td>
                  <td>{{fixedDepositsAccountData.currency.displaySymbol}}&nbsp;{{fixedDepositsAccountData.maturityAmount}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-template>

      </div>

    </div>

    <nav mat-tab-nav-bar class="navigation-tabs">
      <a mat-tab-link [routerLink]="['./interest-rate-chart']" routerLinkActive #IRC="routerLinkActive"
      [active]="IRC.isActive">
      {{ "Deposits.Fixed.View.IRC" | translate }}
      </a>
      <a mat-tab-link [routerLink]="['./transactions']" routerLinkActive #transactions="routerLinkActive"
      [active]="transactions.isActive">
      {{ "Deposits.Fixed.View.transactions" | translate }}
      </a>
      <a mat-tab-link [routerLink]="['./charges']" routerLinkActive #charges="routerLinkActive"
      [active]="charges.isActive">
      {{ "Deposits.Fixed.View.charges" | translate }}
      </a>
      <a mat-tab-link [routerLink]="['./standing-instructions']" routerLinkActive #standingInstructions="routerLinkActive"
        [active]="standingInstructions.isActive" *ngIf="fixedDepositsAccountData.clientId">
        {{ "Deposits.Fixed.View.standingInstructions" | translate }}
      </a>
      <ng-container *ngFor="let savingsDatatable of savingsDatatables">
        <a mat-tab-link *midasHasPermission="'READ_' + savingsDatatable.registeredTableName"
          [routerLink]="['./datatables',savingsDatatable.registeredTableName]"
          routerLinkActive #datatable="routerLinkActive" [active]="datatable.isActive">
          {{savingsDatatable.registeredTableName}}
        </a>
      </ng-container>
    </nav>

    <router-outlet></router-outlet>

  </mat-card-content>

</mat-card>
