<div class="container">

  <mat-card fxLayout="column" fxLayoutGap="3%">

    <mat-form-field fxFlex>
      <mat-label>{{ 'Group_Component.Create_Group_Component.GroupView.GroupActions.Attendance.meetingDate'| translate}}</mat-label>
      <mat-select [formControl]="meetingDate">
        <mat-option *ngFor="let date of meetingDates" [value]="date">
          {{ date | date }}
        </mat-option>
      </mat-select>
      <mat-hint>{{ 'Group_Component.Create_Group_Component.GroupView.GroupActions.Attendance.hintmeetingDate'| translate}}{{ this.groupData.collectionMeetingCalendar.nextTenRecurringDates[0] | date }}</mat-hint>
    </mat-form-field>

    <table class="mat-elevation-z1" mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> {{ 'Group_Component.Create_Group_Component.GroupView.GroupActions.Attendance.name'| translate}} </th>
        <td mat-cell *matCellDef="let member"> {{ member.clientId | find:membersData:'id':'displayName' }} </td>
      </ng-container>

      <ng-container matColumnDef="attendance">
        <th mat-header-cell *matHeaderCellDef> {{ 'Group_Component.Create_Group_Component.GroupView.GroupActions.Attendance.attendance'| translate}} </th>
        <td mat-cell *matCellDef="let member" [ngSwitch]="member.attendanceType">
          <span *ngSwitchCase="1">{{ 'Group_Component.Create_Group_Component.GroupView.GroupActions.Attendance.Present'| translate}}</span>
          <span *ngSwitchCase="2">{{ 'Group_Component.Create_Group_Component.GroupView.GroupActions.Attendance.Absent'| translate}}</span>
          <span *ngSwitchCase="3">{{ 'Group_Component.Create_Group_Component.GroupView.GroupActions.Attendance.Approved'| translate}}</span>
          <span *ngSwitchCase="4">{{ 'Group_Component.Create_Group_Component.GroupView.GroupActions.Attendance.Leave'| translate}}</span>
          <span *ngSwitchCase="5">{{ 'Group_Component.Create_Group_Component.GroupView.GroupActions.Attendance.Late'| translate}}</span>
          <button mat-icon-button color="primary"
            (click)="editAttendance(member)">
            <fa-icon icon="pen"></fa-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
      <button type="button" mat-raised-button [routerLink]="['../../']">{{ "ShareButton.CancelEng" | translate }}</button>
      <button mat-raised-button color="primary" (click)="submit()"
        *midasHasPermission="'SAVEORUPDATEATTENDANCE_MEETING'">{{ "ShareButton.ConfirmEng" | translate }}</button>
    </mat-card-actions>

  </mat-card>

</div>
