<div class="container">

  <mat-card class="tasks-card">

    <mat-card-content>

      <nav mat-tab-nav-bar class="navigation-tabs">
        <a mat-tab-link [routerLink]="['./checker-inbox']" routerLinkActive #checkerInbox="routerLinkActive"
        [active]="checkerInbox.isActive" *midasHasPermission="'ALL_FUNCTIONS_READ'">
        {{'Task.CheckerInboxAndTasks.CheckerInbox'| translate }}
        </a>
        <a mat-tab-link [routerLink]="['./client-approval']" routerLinkActive #clientApproval="routerLinkActive"
          [active]="clientApproval.isActive" *midasHasPermission="'READ_CLIENT'">
          {{'Task.CheckerInboxAndTasks.ClientApproval'| translate }}
        </a>
        <a mat-tab-link [routerLink]="['./loan-approval']" routerLinkActive #loanApproval="routerLinkActive"
          [active]="loanApproval.isActive" *midasHasPermission="'READ_LOAN'">
          {{'Task.CheckerInboxAndTasks.LoanApproval'| translate }}
        </a>
        <a mat-tab-link [routerLink]="['./loan-disbursal']" routerLinkActive #loanDisbursal="routerLinkActive"
          [active]="loanDisbursal.isActive" *midasHasPermission="'READ_LOAN'">
          {{'Task.CheckerInboxAndTasks.LoanDisbursal'| translate }}
        </a>
        <a mat-tab-link [routerLink]="['./reschedule-loan']" routerLinkActive #rescheduleLoan="routerLinkActive"
          [active]="rescheduleLoan.isActive" *midasHasPermission="'RESCHEDULE_LOAN'">
          {{'Task.CheckerInboxAndTasks.RescheduleLoan'| translate }}
        </a>
      </nav>

      <router-outlet></router-outlet>

    </mat-card-content>

  </mat-card>

</div>
