<h1 mat-dialog-title>{{'Client_Component.ViewClient.CustomDialog.DeleteSignature.h1' |translate}}</h1>

<div *ngIf="signatureId" mat-dialog-content>
  <p>{{'Client_Component.ViewClient.CustomDialog.DeleteSignature.p' |translate}}</p>
</div>

<div *ngIf="!signatureId" mat-dialog-content>
  <p>{{'Client_Component.ViewClient.CustomDialog.DeleteSignature.p_2' |translate}}</p>
</div>

<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>{{ "ShareButton.CancelEng" | translate }}</button>
  <button mat-raised-button *ngIf="signatureId" color="warn" [mat-dialog-close]="{ delete: true, id: signatureId }">{{ "ShareButton.ConfirmEng" | translate }}</button>
  <button mat-raised-button *ngIf="!signatureId" color="primary" [mat-dialog-close]="{ upload: true }">{{ "ShareButton.UploadEng" | translate }}</button>
</mat-dialog-actions>
