<mat-card class="mat-elevation-z20 container-custom">
  <mat-card-content>
    <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column" [formGroup]="formDate">
      <mat-form-field fxFlex="31%">
        <mat-label>{{'Transactions.RollTernSchedule.RollTermScheduleTab.fromDate'|translate}}</mat-label>
        <input matInput [matDatepicker]="transactionDateFromPicker" formControlName="fromDate" />
        <mat-datepicker-toggle matSuffix [for]="transactionDateFromPicker"></mat-datepicker-toggle>
        <mat-datepicker #transactionDateFromPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field fxFlex="31%">
        <mat-label>{{'Transactions.RollTernSchedule.RollTermScheduleTab.toDate'|translate}}</mat-label>
        <input matInput [matDatepicker]="transactionDateToPicker" formControlName="toDate" />
        <mat-datepicker-toggle matSuffix [for]="transactionDateToPicker"></mat-datepicker-toggle>
        <mat-datepicker #transactionDateToPicker></mat-datepicker>
      </mat-form-field>

      <div fxFlex="18%">
        <button
          *ngIf="fromDateAndToDate"
          (click)="getRollTermScheduleAndCardDueDayInfo()"
          style="align-self: center"
          color="primary"
          mat-raised-button
        >
        {{'Transactions.RollTernSchedule.RollTermScheduleTab.search'|translate}} &nbsp;<i class="fa fa-search" aria-hidden="true"></i>
        </button>
        <button (click)="ExportExcel()" style="align-self: center; margin-left: 5px" color="primary" mat-raised-button>
          {{'Transactions.RollTernSchedule.RollTermScheduleTab.ExportExcel'|translate}} &nbsp;<i class="fa fa-search" aria-hidden="true"></i>
        </button>
        <h3 *ngIf="!fromDateAndToDate">
          {{'Transactions.RollTernSchedule.RollTermScheduleTab.selectTime'|translate}} &nbsp; <i class="fa fa-calendar" style="align-self: center" aria-hidden="true"></i>
        </h3>
      </div>
    </div>
    <div class="container" fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column"></div>

  </mat-card-content>

  <div [formGroup]="formFilter" fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column" [formGroup]="formFilter">
    <mat-form-field fxFlex="12%" *midasHasPermission="'REFINANCE_EXECUTIVE'">
      <mat-label>{{'Transactions.RollTernSchedule.RollTermScheduleTab.OfficeFilter'|translate}}</mat-label>
      <mat-select formControlName="OfficeFilter" multiple>
        <mat-option *ngFor="let office of offices" [value]="office.officeId">
          {{ office.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="25%" *midasHasPermission="'REFINANCE_EXECUTIVE'">
      <mat-label>{{'Transactions.RollTernSchedule.RollTermScheduleTab.createdByFilter'|translate}}</mat-label>
      <mat-select matSelect matNativeControl formControlName="createdByFilter" multiple>
        <mat-option *ngFor="let option of staffs" [value]="option.userId">
          {{ option.displayName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="20%">
      <mat-label>{{'Transactions.RollTernSchedule.RollTermScheduleTab.bankFilter'|translate}}</mat-label>
      <select matSelect matNativeControl formControlName="bankFilter">
        <option value="ALL">{{'Transactions.RollTernSchedule.RollTermScheduleTab.allBank'|translate}}</option>
        <option *ngFor="let bank of banks" [value]="bank.bankCode">
          {{ bank.bankName }}
        </option>
      </select>
    </mat-form-field>

    <mat-form-field fxFlex="20%">
      <mat-label>{{'Transactions.RollTernSchedule.RollTermScheduleTab.cardType'|translate}}</mat-label>
      <select matSelect matNativeControl formControlName="cardType">
        <option value="ALL">
          {{'Transactions.RollTernSchedule.RollTermScheduleTab.allcardType'|translate}}
        </option>
        <option *ngFor="let card of cardTypeOption" [value]="card.code">
          {{ card.description }}
        </option>
      </select>
    </mat-form-field>

    <div fxFlex="10%" fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">
      <mat-label ></mat-label>
      <mat-checkbox fxFlex="100%" labelPosition="after" formControlName="viewDoneTransaction" class="margin-v">
        {{'Transactions.RollTernSchedule.RollTermScheduleTab.viewDoneTransaction'|translate}}
      </mat-checkbox>
    </div>

    <mat-form-field fxFlex="20%">
      <mat-label>{{'Transactions.RollTernSchedule.RollTermScheduleTab.dueDay'|translate}}</mat-label>
      <input  type="number" matInput #dueDay min="0" max="31"  formControlName="dueDay" />
    </mat-form-field>
    <mat-form-field fxFlex="20%">
      <mat-label>{{'Transactions.RollTernSchedule.RollTermScheduleTab.query'|translate}}</mat-label>
      <input matInput type="text" formControlName="query" />
    </mat-form-field>

  </div>

  <mat-card-content>
    <mat-card>
      <div fxLayout="row swap" fxLayoutAlign.lt-sm="center" fxLayoutGap="1%" fxLayout.lt-md="column">
        <div fxLayout="row wrap" fxFlex="16%" class="container m-b-20">
          <img src="assets/images/icons/money.svg" />
          <div style="display: flex" fxLayout="column">
            <span style="font-size: 20px; margin-top: 8px; padding-top: 5px">{{
              transactionsData?.totalRollTermAnalyticsRespone?.totalPrincipal | money
            }}</span>
            <span>&nbsp;{{'Transactions.RollTernSchedule.RollTermScheduleTab.totalPrincipal'|translate}}</span>
          </div>
        </div>
        <div fxLayout="row wrap" fxFlex="20%" class="container m-b-20">
          <img src="assets/images/icons/transaction.svg" />
          <div style="display: flex" fxLayout="column">
            <span style="font-size: 20px; margin-top: 8px; padding-top: 5px">{{
              transactionsData?.totalRollTermAnalyticsRespone?.totalFeePaid | money
            }}</span>
            <span>&nbsp;{{'Transactions.RollTernSchedule.RollTermScheduleTab.totalFeePaid'|translate}}</span>
          </div>
        </div>
        <div fxLayout="row wrap" fxFlex="16%" class="container m-b-20">
          <img src="assets/images/icons/capital.svg" />
          <div style="display: flex" fxLayout="column">
            <span style="font-size: 20px; margin-top: 8px; padding-top: 5px">{{
              transactionsData?.totalRollTermAnalyticsRespone?.totalPrincipal -
                transactionsData?.totalRollTermAnalyticsRespone?.totalFeePaid | money
            }}</span>
            <span>&nbsp; {{'Transactions.RollTernSchedule.RollTermScheduleTab.totalFeePaid2'|translate}}</span>
          </div>
        </div>
        <div fxLayout="row wrap" fxFlex="16%" class="container m-b-20">
          <img src="assets/images/icons/pnlAmount.svg" />
          <div style="display: flex" fxLayout="column">
            <span style="font-size: 20px; margin-top: 8px; padding-top: 5px">{{
              transactionsData?.totalRollTermAnalyticsRespone?.totalAmountTransaction | money
            }}</span>
            <span> &nbsp;{{'Transactions.RollTernSchedule.RollTermScheduleTab.totalAmountGet'|translate}}</span>
          </div>
        </div>
        <div fxLayout="row wrap" fxFlex="16%" class="container m-b-20">
          <img src="assets/images/icons/pnlAmount.svg" />
          <div style="display: flex" fxLayout="column">
            <span style="font-size: 20px; margin-top: 8px; padding-top: 5px">{{
              transactionsData?.totalRollTermAnalyticsRespone?.totalFeePaid -
                transactionsData?.totalRollTermAnalyticsRespone?.totalAmountTransaction | money
            }}</span>
            <span> &nbsp;{{'Transactions.RollTernSchedule.RollTermScheduleTab.totalAmountNeedGet'|translate}}</span>
          </div>
        </div>
      </div>
    </mat-card>
  </mat-card-content>
  <mat-card-content>
    <table mat-table multiTemplateDataRows class="mat-elevation-z8" [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="panHolderName">
        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef mat-sort-header>{{'Transactions.RollTernSchedule.RollTermScheduleTab.panHolderName'|translate}}</th>
        <td mat-cell fxHide fxShow.gt-md *matCellDef="let transaction">
          <a href="/#/clients/{{ transaction.custId }}/general?typeViewClient=view">
            <mat-icon style="color: black" title="Chi tiết">{{'Transactions.RollTernSchedule.RollTermScheduleTab.person'|translate}}</mat-icon>
            {{ transaction.panHolderName }}<br />
          </a>
          <br />
          <mat-label title="Số dư tài khoản">
            <mat-icon style="color: green">{{'Transactions.RollTernSchedule.RollTermScheduleTab.monetization_on'|translate}}</mat-icon>

            {{ transaction.clientBalance | money }}
          </mat-label>
          <br />
          <mat-label style="font-size: small" *ngIf="transaction.groupName">
            <mat-icon style="color: black" title="Thuộc đại lý">{{'Transactions.RollTernSchedule.RollTermScheduleTab.groups'|translate}}</mat-icon>
            {{ transaction.groupName }}

            <br />
          </mat-label>
        </td>
      </ng-container>

      <ng-container matColumnDef="createdDate">
        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef mat-sort-header>
          {{'Transactions.RollTernSchedule.RollTermScheduleTab.card'|translate}}<br />
          {{'Transactions.RollTernSchedule.RollTermScheduleTab.createdDate'|translate}}
        </th>
        <td mat-cell fxHide fxShow.gt-md *matCellDef="let journalEntry">
          <label style="color: green; font-weight: bold">{{ journalEntry.panNumber.replace("XXX-XXX", "X") }} </label>
          <span style="color: red; font-weight: bold"> ({{ journalEntry.panBank }}) </span>
          <br />
          {{'Transactions.RollTernSchedule.RollTermScheduleTab.dueDay2'|translate}}<label style="color: red; font-weight: bold"> {{ journalEntry.dueDay }} </label>
          <br />
          {{ journalEntry.createdDate | date: "dd/MM/yyyy HH:mm:ss" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="feeAmount">
        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef mat-sort-header>{{'Transactions.RollTernSchedule.RollTermScheduleTab.feeAmount'|translate}}</th>
        <td mat-cell fxHide fxShow.gt-md *matCellDef="let journalEntry">
          {{ ((journalEntry?.feePercentage / 100) * journalEntry?.reqAmount).toFixed(0) | money }}
        </td>
      </ng-container>

      <!-- <ng-container matColumnDef="cardNumber">
        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef mat-sort-header>Thẻ</th>
        <td mat-cell fxHide fxShow.gt-md *matCellDef="let journalEntry">
          {{ journalEntry.panNumber.replace("XXX-XXX", "X") }}
        </td>
      </ng-container> -->

      <ng-container matColumnDef="officeName">
        <th mat-header-cell *matHeaderCellDef>
          {{'Transactions.RollTernSchedule.RollTermScheduleTab.officeName'|translate}}<br />
          {{'Transactions.RollTernSchedule.RollTermScheduleTab.createdByName'|translate}}
        </th>
        <td mat-cell *matCellDef="let journalEntry">
          {{ journalEntry.officeName }} <br />
          <span style="color: green; font-weight: bold"> {{ journalEntry.createdByName }} </span>
        </td>
      </ng-container>

      <!-- <ng-container matColumnDef="agencyName">
        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef>Đại lý</th>
        <td mat-cell fxHide fxShow.gt-md *matCellDef="let journalEntry">{{ journalEntry.agencyName }}</td>
      </ng-container> -->

      <ng-container matColumnDef="requestAmount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'Transactions.RollTernSchedule.RollTermScheduleTab.requestAmount'|translate}} <br />
          (a)
        </th>
        <td mat-cell *matCellDef="let journalEntry">{{ journalEntry?.principal | money }}</td>
      </ng-container>

      <ng-container matColumnDef="paidAmount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="on_hold">
          {{'Transactions.RollTernSchedule.RollTermScheduleTab.paidAmount'|translate}} <br />
          (b)
        </th>
        <td class="on_hold" mat-cell style="padding: 6px" *matCellDef="let journalEntry">
          {{ journalEntry.paidAmount | money }}
        </td>
      </ng-container>

      <ng-container matColumnDef="remainAmount">
        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef mat-sort-header>
          {{'Transactions.RollTernSchedule.RollTermScheduleTab.remainAmount'|translate}} <br />
          (c) = (a) - (b)
        </th>
        <td mat-cell fxHide fxShow.gt-md *matCellDef="let journalEntry">
          {{ journalEntry?.principal - journalEntry?.paidAmount | money }}
        </td>
      </ng-container>

      <ng-container matColumnDef="txnAmount">
        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef mat-sort-header class="on_success">
          {{'Transactions.RollTernSchedule.RollTermScheduleTab.txnAmount'|translate}} <br />
          (d)
        </th>
        <td class="on_success" mat-cell fxHide fxShow.gt-md *matCellDef="let journalEntry">
          {{ journalEntry.amountPaid | money }}
        </td>
      </ng-container>

      <ng-container matColumnDef="waitGetAmount">
        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef mat-sort-header class="on_hold">
          {{'Transactions.RollTernSchedule.RollTermScheduleTab.waitGetAmount'|translate}} <br />
          (e) = (b) - (d)
        </th>
        <td mat-cell fxHide fxShow.gt-md *matCellDef="let journalEntry" class="on_hold">
          {{ journalEntry.paidAmount - journalEntry.amountPaid | money }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions" style="width: 25px">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let transaction">
          <span
            style="float: right; width: 15px"
            [matMenuTriggerData]="transaction"
            [matMenuTriggerFor]="transactionMenu"
            ><i class="fa fa-ellipsis-v" aria-hidden="true"></i
          ></span>
        </td>
      </ng-container>
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell fxShow fxHide.gt-md *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="example-element-description" fxLayout="column">
              <div>
                <span style="font-weight: bold"> {{'Transactions.RollTernSchedule.RollTermScheduleTab.panHolderName2'|translate}}</span>
                <a href="/#/clients/{{ element.custId }}/general?typeViewClient=view">
                  <mat-icon style="color: black" title="Chi tiết">{{'Transactions.RollTernSchedule.RollTermScheduleTab.person2'|translate}}</mat-icon>
                  {{ element.panHolderName }}<br />
                </a>
                <br />
                <mat-label title="Số dư tài khoản">
                  <mat-icon style="color: green">{{'Transactions.RollTernSchedule.RollTermScheduleTab.monetization_on2'|translate}}</mat-icon>

                  {{ element.clientBalance | money }}
                </mat-label>
                <br />
                <mat-label style="font-size: small" *ngIf="element.groupName">
                  <mat-icon style="color: black" title="Thuộc đại lý">{{'Transactions.RollTernSchedule.RollTermScheduleTab.groups2'|translate}}</mat-icon>
                  {{ element.groupName }}

                  <br />
                </mat-label>
              </div>
              <div>
                <span style="font-weight: bold"> {{'Transactions.RollTernSchedule.RollTermScheduleTab.createdDate2'|translate}}</span>&nbsp; &nbsp;{{
                  element.createdDate | date: "dd-MM-yyyy HH:ss"
                }}
              </div>
              <div>
                <span style="font-weight: bold"> {{'Transactions.RollTernSchedule.RollTermScheduleTab.fee'|translate}}</span>&nbsp; &nbsp;{{
                  ((element?.feePercentage / 100) * element?.reqAmount).toFixed(0) | money
                }}
              </div>
              <div><span style="font-weight: bold"> {{'Transactions.RollTernSchedule.RollTermScheduleTab.panNumber'|translate}}</span>&nbsp; &nbsp;{{ element.panNumber }}</div>
              <div><span style="font-weight: bold"> {{'Transactions.RollTernSchedule.RollTermScheduleTab.officeName2'|translate}}</span>&nbsp; &nbsp;{{ element.officeName }}</div>
              <div>
                <span style="font-weight: bold">
                  {{'Transactions.RollTernSchedule.RollTermScheduleTab.principal'|translate}} <br />
                  (a) :</span
                >&nbsp; &nbsp;{{ element?.principal }}
              </div>
              <div>
                <span style="font-weight: bold">
                  {{'Transactions.RollTernSchedule.RollTermScheduleTab.paidAmount2'|translate}} <br />
                  (b) :</span
                >&nbsp; &nbsp;{{ element?.paidAmount | money }}
              </div>
              <div>
                <span style="font-weight: bold">
                  {{'Transactions.RollTernSchedule.RollTermScheduleTab.needToPay'|translate}} <br />
                  (c) = (a) - (b) :</span
                >&nbsp; &nbsp;{{ element?.principal - element?.paidAmount | money }}
              </div>
              <div>
                <span style="font-weight: bold">
                  {{'Transactions.RollTernSchedule.RollTermScheduleTab.amountPaid'|translate}} <br />
                  (d) :</span
                >&nbsp; &nbsp;{{ element?.amountPaid | money }}
              </div>
              <div>
                <span style="font-weight: bold">
                  {{'Transactions.RollTernSchedule.RollTermScheduleTab.needToGet'|translate}} <br />
                  (e)=(b) - (d) :</span
                >&nbsp; &nbsp;{{ element.paidAmount - element.amountPaid | money }}
              </div>
            </div>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: displayedColumns"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element"
      ></tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      <!--[routerLink]="['transactions/view', row.transactionId]"-->
    </table>
  </mat-card-content>
  <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center; background: white">
    <mat-progress-spinner color="warn" mode="indeterminate"> </mat-progress-spinner>
  </div>
  <mat-menu #transactionMenu="matMenu" [overlapTrigger]="false" style="width: 50px">
    <ng-template
      matMenuContent
      let-custId="custId"
      let-identifierId="identifierId"
      let-refid="refid"
      let-panHolderName="panHolderName"
      let-panNumber="panNumber"
      let-principal="principal"
      let-paidAmount="paidAmount"
      style="width: 50px"
    >
      <button (click)="showRollTermScheduleDialog(refid)" mat-menu-item>
        <img src="assets/images/icons/add.svg" />&nbsp;{{'Transactions.RollTernSchedule.RollTermScheduleTab.showRollTermScheduleDialog'|translate}}
      </button>
      <button mat-menu-item (click)="executeLoanManualDialog(refid)">
        <img src="assets/images/icons/order.svg" />&nbsp;{{'Transactions.RollTernSchedule.RollTermScheduleTab.executeLoanManualDialog'|translate}}
      </button>

      <hr />
      <button mat-menu-item (click)="undoRollTermTransaction(refid, principal - paidAmount)">
        <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;{{'Transactions.RollTernSchedule.RollTermScheduleTab.undoRollTermTransaction'|translate}}
      </button>
    </ng-template>
  </mat-menu>
  <mat-paginator
    paginator
    [length]="transactionsData?.totalRecord"
    [pageSize]="10"
    [pageSizeOptions]="[10, 25, 50, 100]"
    showFirstLastButtons
  ></mat-paginator>
</mat-card>
