<mat-card class="mat-elevation-z20 container-custom">
  <mat-card-content>
    <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column" [formGroup]="formDate">
      <mat-form-field fxFlex="31%">
        <mat-label>Từ ngày:</mat-label>
        <input matInput [matDatepicker]="transactionDateFromPicker" formControlName="fromDate" />
        <mat-datepicker-toggle matSuffix [for]="transactionDateFromPicker"></mat-datepicker-toggle>
        <mat-datepicker #transactionDateFromPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field fxFlex="31%">
        <mat-label>Đến ngày:</mat-label>
        <input matInput [matDatepicker]="transactionDateToPicker" formControlName="toDate" />
        <mat-datepicker-toggle matSuffix [for]="transactionDateToPicker"></mat-datepicker-toggle>
        <mat-datepicker #transactionDateToPicker></mat-datepicker>
      </mat-form-field>

      <div fxFlex="18%">
        <button
          *ngIf="fromDateAndToDate"
          (click)="getRollTermScheduleAndCardDueDayInfo()"
          style="align-self: center"
          color="primary"
          mat-raised-button
        >
          Tìm kiếm &nbsp;<i class="fa fa-search" aria-hidden="true"></i>
        </button>
        <button (click)="ExportExcel()" style="align-self: center; margin-left: 5px" color="primary" mat-raised-button>
          Xuất Excel &nbsp;<i class="fa fa-search" aria-hidden="true"></i>
        </button>
        <h3 *ngIf="!fromDateAndToDate">
          Vui lòng chọn thời gian &nbsp; <i class="fa fa-calendar" style="align-self: center" aria-hidden="true"></i>
        </h3>
      </div>
    </div>
    <div class="container" fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column"></div>
  </mat-card-content>

  <div [formGroup]="formFilter" fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column" [formGroup]="formFilter">
    <mat-form-field fxFlex="12%" *midasHasPermission="'REFINANCE_EXECUTIVE'">
      <mat-label>Chi nhánh</mat-label>
      <mat-select formControlName="OfficeFilter">
        <mat-option *ngFor="let office of offices" [value]="office.officeId">
          {{ office.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex="25%" *midasHasPermission="'REFINANCE_EXECUTIVE'">
      <mat-label>Nhân viên</mat-label>
      <mat-select matSelect matNativeControl formControlName="createdByFilter">
        <mat-option *ngFor="let option of staffs" [value]="option.userId">
          {{ option.displayName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="20%">
      <mat-label>Ngân hàng</mat-label>
      <input type="text"
             placeholder="Chọn ngân hàng"
             matInput
             (click)="resetAutoCompleteBank()"
             formControlName="bankFilter"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayBank">
        <mat-option *ngFor="let bank of filteredBankOptions  | async" [value]="bank" >
          {{displayBank(bank)}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field fxFlex="20%">
      <mat-label>Loại thẻ</mat-label>
      <select matSelect matNativeControl formControlName="cardType">
        <option value="ALL">Tất cả loại thẻ</option>
        <option *ngFor="let card of cardTypeOption" [value]="card.code">
          {{ card.description }}
        </option>
      </select>
    </mat-form-field>
    <mat-form-field fxFlex="10%">
      <mat-label>Tình trạng thẻ</mat-label>
      <select matSelect matNativeControl formControlName="cardHoldFilter">
        <option *ngFor="let status of cardHoldOption" [value]="status.code">
          {{ status.description }}
        </option>
      </select>
    </mat-form-field>

    <mat-form-field fxFlex="20%">
      <mat-label>Ngày đến hạn</mat-label>
      <input type="number" matInput #dueDay min="0" max="31" formControlName="dueDay" />
    </mat-form-field>
    <mat-form-field fxFlex="20%">
      <mat-label>Thông tin khách hàng</mat-label>
      <input matInput type="text" placeholder="Tên, số cmnd khách hàng" formControlName="query" />
    </mat-form-field>

    <mat-form-field fxFlex="25%">
      <mat-label>Số thẻ</mat-label>
      <input matInput type="text" formControlName="cardNumber" />
    </mat-form-field>

    <mat-form-field fxFlex="25%">
      <mat-label>Khoảng tiền cần tạm ứng</mat-label>
      <select matSelect matNativeControl formControlName="rangeAmountFilter">
        <option *ngFor="let option of rangeAmountOption" [value]="option.code">
          {{ option.description }}
        </option>
      </select>
    </mat-form-field>

    <mat-form-field fxFlex="20%">
      <mat-label>Khoảng tiền cần thu hồi</mat-label>
      <select matSelect matNativeControl formControlName="rangeAmountNeedTransactionFilter">
        <option *ngFor="let option of rangeAmountNeedTransactionOption" [value]="option.code">
          {{ option.description }}
        </option>
      </select>
    </mat-form-field>

    <mat-form-field fxFlex="20%">
      <select matSelect matNativeControl formControlName="isCheckedFilter">
        <option *ngFor="let status of CheckedFilterOption" [value]="status.code">
          {{ status.description }}
        </option>
      </select>

    </mat-form-field>

    <div *ngIf="formFilter.value.isCheckedFilter == 2 " fxFlex="10%" fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">
      <label for=""></label>
      <input  matInput type="text" formControlName="checkedByUserName" placeholder="Lọc nhân viên chọn" />
    </div>

    <div fxFlex="10%" fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">
      <label></label>
      <mat-checkbox fxFlex="100%" labelPosition="after" formControlName="viewDoneTransaction" class="margin-v">
        Đã thực hiện xong
      </mat-checkbox>
      <mat-checkbox fxFlex="100%" labelPosition="after" formControlName="viewOverPaidTransaction" class="margin-v">
        Đã thu hồi lố
      </mat-checkbox>

    </div>

    <mat-form-field fxFlex="20%">
      <select matSelect matNativeControl formControlName="isCheckedFilter">
        <option *ngFor="let status of CheckedFilterOption" [value]="status.code">
          {{ status.description }}
        </option>
      </select>
    </mat-form-field>
    <div
      *ngIf="formFilter.value.isCheckedFilter == 2"
      fxFlex="90%"
      fxLayout="row wrap"
      fxLayoutGap="2%"
      fxLayout.lt-md="column"
    >
      <mat-form-field fxFlex="20%">
        <mat-label>Thẻ chọn từ ngày:</mat-label>
        <input matInput [matDatepicker]="CheckedDateFromPicker" formControlName="CheckedDateFilterFrom" />
        <mat-datepicker-toggle matSuffix [for]="CheckedDateFromPicker"></mat-datepicker-toggle>
        <mat-datepicker #CheckedDateFromPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field fxFlex="20%">
        <mat-label>Thẻ chọn đến ngày:</mat-label>
        <input matInput [matDatepicker]="CheckedDateToPicker" formControlName="CheckedDateFilterTo" />
        <mat-datepicker-toggle matSuffix [for]="CheckedDateToPicker"></mat-datepicker-toggle>
        <mat-datepicker #CheckedDateToPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field fxFlex="30%">
        <mat-label>Nhân viên chọn thẻ</mat-label>
        <input matInput type="text" formControlName="checkedByUserName" />
      </mat-form-field>

    </div>
  </div>

  <mat-card-content>
    <mat-card>
      <div fxLayout="row swap" fxLayoutAlign.lt-sm="center" fxLayoutGap="1%" fxLayout.lt-md="column">
        <div fxLayout="row wrap" fxFlex="16%" class="container m-b-20">
          <img src="assets/images/icons/money.svg" />
          <div style="display: flex" fxLayout="column">
            <span style="font-size: 20px; margin-top: 8px; padding-top: 5px">{{
              transactionsData?.totalRollTermAnalyticsRespone?.totalPrincipal | money
            }}</span>
            <span>&nbsp;Tổng tiền giao dịch</span>
          </div>
        </div>
        <div fxLayout="row wrap" fxFlex="20%" class="container m-b-20">
          <img src="assets/images/icons/transaction.svg" />
          <div style="display: flex" fxLayout="column">
            <span style="font-size: 20px; margin-top: 8px; padding-top: 5px">{{
              transactionsData?.totalRollTermAnalyticsRespone?.totalFeePaid | money
            }}</span>
            <span>&nbsp;Tổng tạm ứng</span>
          </div>
        </div>
        <div fxLayout="row wrap" fxFlex="16%" class="container m-b-20">
          <img src="assets/images/icons/capital.svg" />
          <div style="display: flex" fxLayout="column">
            <span style="font-size: 20px; margin-top: 8px; padding-top: 5px">{{
              transactionsData?.totalRollTermAnalyticsRespone?.totalPrincipal -
                transactionsData?.totalRollTermAnalyticsRespone?.totalFeePaid | money
            }}</span>
            <span>&nbsp; Tổng công nợ còn lại</span>
          </div>
        </div>
        <div fxLayout="row wrap" fxFlex="16%" class="container m-b-20">
          <img src="assets/images/icons/pnlAmount.svg" />
          <div style="display: flex" fxLayout="column">
            <span style="font-size: 20px; margin-top: 8px; padding-top: 5px">{{
              transactionsData?.totalRollTermAnalyticsRespone?.totalAmountTransaction | money
            }}</span>
            <span> &nbsp;Tổng đã thu hồi</span>
          </div>
        </div>
        <div fxLayout="row wrap" fxFlex="16%" class="container m-b-20">
          <img src="assets/images/icons/pnlAmount.svg" />
          <div style="display: flex" fxLayout="column">
            <span style="font-size: 20px; margin-top: 8px; padding-top: 5px">{{
              transactionsData?.totalRollTermAnalyticsRespone?.totalFeePaid -
                transactionsData?.totalRollTermAnalyticsRespone?.totalAmountTransaction | money
            }}</span>
            <span> &nbsp;Tổng cần thu hồi</span>
          </div>
        </div>
      </div>
    </mat-card>
  </mat-card-content>
  <mat-card-content>
    <table mat-table multiTemplateDataRows class="mat-elevation-z8" [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="panHolderName">
        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef mat-sort-header>Tên khách hàng</th>
        <td mat-cell fxHide fxShow.gt-md *matCellDef="let transaction">
          <a href="/#/clients/{{ transaction.custId }}/general?typeViewClient=view">
            <mat-icon style="color: black" title="Chi tiết">person</mat-icon>
            {{ transaction.panHolderName }}<br />
          </a>
          <br />
          <mat-label title="Số dư tài khoản">
            <mat-icon style="color: green">monetization_on</mat-icon>

            {{ transaction.clientBalance | money }}
          </mat-label>
          <br />
          <mat-label style="font-size: small" *ngIf="transaction.groupName">
            <mat-icon style="color: black" title="Thuộc đại lý">groups</mat-icon>
            {{ transaction.groupName }}

            <br />
          </mat-label>
        </td>
      </ng-container>

      <ng-container matColumnDef="createdDate">
        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef mat-sort-header>
          Thẻ (Ngân hàng)/ <br />
          Ngày tạo
        </th>
        <td mat-cell fxHide fxShow.gt-md *matCellDef="let journalEntry">
          <label style="color: green; font-weight: bold">{{ journalEntry.panNumber.replace("XXX-XXX", "X") }} </label>
          <span style="color: red; font-weight: bold"> ({{ journalEntry.panBank }}) </span>
          <br />
          Ngày đến hạn: <label style="color: red; font-weight: bold"> {{ journalEntry.dueDay }} </label>
          <br />
          {{ journalEntry.createdDate | date: "dd/MM/yyyy HH:mm:ss" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="isCheck">
        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef mat-sort-header>Đã được chọn</th>
        <td mat-cell fxHide fxShow.gt-md *matCellDef="let card" style="width: 12ß0px">
          <input
            matCheckbox
            type="checkbox"
            [disabled]="card.checkedByStaff && currentUser.userId != card.checkedByStaffId"
            [checked]="card.checkedByStaff"
            (change)="checkedRollTermBooking(card.refid, card.checkedByStaff)"
          />

          <label style="color: red; font-weight: bold" *ngIf="card.checkedByStaff" for="">
            √{{ card.checkedByStaff }}</label
          >
        </td>
      </ng-container>

      <ng-container matColumnDef="officeName">
        <th mat-header-cell *matHeaderCellDef>
          Chi nhánh/ <br />
          Người tạo
        </th>
        <td mat-cell *matCellDef="let journalEntry">
          {{ journalEntry.officeName }} <br />
          <span style="color: green; font-weight: bold"> {{ journalEntry.createdByName }} </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="requestAmount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Số tiền Tạm ứng <br />
          (a) / <br />
          Phí thu
        </th>
        <td mat-cell *matCellDef="let journalEntry">
          <label for="">
            {{ journalEntry?.principal | money }}
          </label>
          <br />
          <label style="color: green" for="">
            {{ (journalEntry?.feeAmount ? journalEntry?.feeAmount : ((journalEntry?.feePercentage / 100) * journalEntry?.reqAmount).toFixed(0)) | money }}
          </label>
        </td>
      </ng-container>

      <ng-container matColumnDef="paidAmount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="on_hold">
          Đã tạm ứng <br />
          (b)
        </th>
        <td class="on_hold" mat-cell style="padding: 6px" *matCellDef="let journalEntry">
          {{ journalEntry.paidAmount | money }}
        </td>
      </ng-container>

      <ng-container matColumnDef="remainAmount">
        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef mat-sort-header>
          Còn phải Tạm ứng <br />
          (c) = (a) - (b)
        </th>
        <td mat-cell fxHide fxShow.gt-md *matCellDef="let journalEntry">
          {{ journalEntry?.principal - journalEntry?.paidAmount | money }}
        </td>
      </ng-container>

      <ng-container matColumnDef="txnAmount">
        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef mat-sort-header class="on_success">
          Đã thu hồi <br />
          (d)
        </th>
        <td class="on_success" mat-cell fxHide fxShow.gt-md *matCellDef="let journalEntry">
          {{ journalEntry.amountPaid | money }} <br />
          <label style="color: red;" *ngIf="journalEntry.amountPaid > journalEntry.principal" for="">(Thu hồi lố: {{(journalEntry.amountPaid - journalEntry.principal) | money}})</label>

        </td>
      </ng-container>

      <ng-container matColumnDef="waitGetAmount">
        <th mat-header-cell fxHide fxShow.gt-md *matHeaderCellDef mat-sort-header class="on_hold">
          Cần thu hồi <br />
          (e) = (b) - (d)
        </th>
        <td mat-cell fxHide fxShow.gt-md *matCellDef="let journalEntry" class="on_hold">
          {{ journalEntry.paidAmount - journalEntry.amountPaid | money }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions" style="width: 25px">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let transaction">
          <span
            style="float: right; width: 15px"
            [matMenuTriggerData]="transaction"
            [matMenuTriggerFor]="transactionMenu"
            ><i class="fa fa-ellipsis-v" aria-hidden="true"></i
          ></span>
        </td>
      </ng-container>
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell fxShow fxHide.gt-md *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="example-element-description" fxLayout="column">
              <div>
                <span style="font-weight: bold"> Tên khách hàng :</span>
                <a href="/#/clients/{{ element.custId }}/general?typeViewClient=view">
                  <mat-icon style="color: black" title="Chi tiết">person</mat-icon>
                  {{ element.panHolderName }}<br />
                </a>
                <br />
                <mat-label title="Số dư tài khoản">
                  <mat-icon style="color: green">monetization_on</mat-icon>

                  {{ element.clientBalance | money }}
                </mat-label>
                <br />
                <mat-label style="font-size: small" *ngIf="element.groupName">
                  <mat-icon style="color: black" title="Thuộc đại lý">groups</mat-icon>
                  {{ element.groupName }}

                  <br />
                </mat-label>
              </div>
              <div>
                <span style="font-weight: bold"> Ngày tạo :</span>&nbsp; &nbsp;{{
                  element.createdDate | date: "dd-MM-yyyy HH:ss"
                }}
              </div>
              <div>
                <span style="font-weight: bold"> Phí thu:</span>&nbsp; &nbsp;{{
                  ((element?.feePercentage / 100) * element?.reqAmount).toFixed(0) | money
                }}
              </div>
              <div><span style="font-weight: bold"> Số thẻ:</span>&nbsp; &nbsp;{{ element.panNumber }}</div>
              <div><span style="font-weight: bold"> Chi nhánh :</span>&nbsp; &nbsp;{{ element.officeName }}</div>
              <div>
                <span style="font-weight: bold">
                  Số tiền Tạm ứng <br />
                  (a) :</span
                >&nbsp; &nbsp;{{ element?.principal }}
              </div>
              <div>
                <span style="font-weight: bold">
                  Đã tạm ứng <br />
                  (b) :</span
                >&nbsp; &nbsp;{{ element?.paidAmount | money }}
              </div>
              <div>
                <span style="font-weight: bold">
                  Còn phải Tạm ứng <br />
                  (c) = (a) - (b) :</span
                >&nbsp; &nbsp;{{ element?.principal - element?.paidAmount | money }}
              </div>
              <div>
                <span style="font-weight: bold">
                  Đã thu hồi <br />
                  (d) :</span
                >&nbsp; &nbsp;{{ element?.amountPaid | money }}
              </div>
              <div>
                <span style="font-weight: bold">
                  Cần thu hồi <br />
                  (e)=(b) - (d) :</span
                >&nbsp; &nbsp;{{ (element.paidAmount - element.amountPaid) | money }}
              </div>
            </div>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: displayedColumns"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element"
      ></tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      <!--[routerLink]="['transactions/view', row.transactionId]"-->
    </table>
  </mat-card-content>
  <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center; background: white">
    <mat-progress-spinner color="warn" mode="indeterminate"> </mat-progress-spinner>
  </div>
  <mat-menu #transactionMenu="matMenu" [overlapTrigger]="false" style="width: 50px">
    <ng-template
      matMenuContent
      let-custId="custId"
      let-identifierId="identifierId"
      let-refid="refid"
      let-panHolderName="panHolderName"
      let-panNumber="panNumber"
      let-principal="principal"
      let-paidAmount="paidAmount"
      let-amountPaid="amountPaid"
      style="width: 50px"
    >
      <button (click)="showRollTermScheduleDialog(refid)" mat-menu-item>
        <img src="assets/images/icons/add.svg" />&nbsp;Lịch tạm ứng
      </button>
      <button mat-menu-item (click)="executeLoanManualDialog(refid)">
        <img src="assets/images/icons/order.svg" />&nbsp;Xử lý tạm ứng
      </button>

      <hr />
      <button mat-menu-item (click)="undoRollTermTransaction(refid, principal, paidAmount, amountPaid)">
        <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;Hủy tạm ứng
      </button>
    </ng-template>
  </mat-menu>
  <mat-paginator
    paginator
    [length]="transactionsData?.totalRecord"
    [pageSize]="10"
    [pageSizeOptions]="[10, 25, 50, 100]"
    showFirstLastButtons
  ></mat-paginator>
</mat-card>
