<!-- Application Shell -->
<mat-sidenav-container id="midas-shell-container" autosize>

  <!-- Sidenav -->
  <mat-sidenav
    #sidenav
    class="sidebar-panel"
    [ngClass]="{
      'sidebar-full': !sidenavCollapsed,
      'sidebar-compact': sidenavCollapsed
    }"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'over'">
<!--    [opened]="!(isHandset$ | async)">-->

    <midas-sidenav [sidenavCollapsed]="sidenavCollapsed"></midas-sidenav>

  </mat-sidenav>

  <!-- Content -->
  <mat-sidenav-content fxLayout="column" fxLayoutAlign="start stretch">

    <!-- Progress Bar -->
    <mat-progress-bar [mode]="progressBarMode" class="progressBarCss"></mat-progress-bar>


    <!-- Toolbar -->
    <midas-toolbar [sidenav]="sidenav" (collapse)="toggleCollapse($event)"


    ></midas-toolbar>
    <!-- Breadcrumb -->
    <midas-breadcrumb class="breadcrumbCss" ></midas-breadcrumb>


    <!-- Content -->
    <midas-content class="contentCss" [isDesktop]="_isHandset"></midas-content>
    <!-- Footer -->
    <midas-footer class="footerCss"></midas-footer>

  </mat-sidenav-content>

</mat-sidenav-container>
