<!-- Application Shell -->
<mat-sidenav-container id="midas-shell-container" autosize class="bg-light-grey">

  <!-- Sidenav -->
  <mat-sidenav
    #sidenav
    class="sidebar-panel"
    [ngClass]="{
      'sidebar-full': !sidenavCollapsed,
      'sidebar-compact': sidenavCollapsed
    }"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'over'"
    [opened]="!(isHandset$ | async)">

    <midas-sidenav [sidenavCollapsed]="sidenavCollapsed"></midas-sidenav>

  </mat-sidenav>

  <!-- Content -->
  <mat-sidenav-content>

    <!-- Progress Bar -->
    <mat-progress-bar [mode]="progressBarMode" class="progressBarCss"></mat-progress-bar>

    
    <!-- Toolbar -->
    <midas-toolbar [sidenav]="sidenav" (collapse)="toggleCollapse($event)"
    class="toolBarCss"

    ></midas-toolbar>
    <!-- Breadcrumb -->
    <midas-breadcrumb class="breadcrumbCss"></midas-breadcrumb>
    
    
    <!-- Content -->
    <mifosx-content class="contentCss"></mifosx-content>
    <!-- Footer -->
    <mifosx-footer class="footerCss"></mifosx-footer>

  </mat-sidenav-content>

</mat-sidenav-container>
