<mat-card class="container">
    <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.xs="column" [formGroup]="formSearch">
        <div fxFlex="70%" fxLayout="row wrap" fxLayoutGap="2%" fxLayout.xs="column">
            <div fxFlex="18%">
                <mat-form-field>
                    <mat-label>{{'Group_Component.Create_Group_Component.SpendingLimit.year'| translate}}</mat-label>
                    <input matInput required type="number" formControlName="year">
                </mat-form-field>
            </div>
            <div fxFlex="18%" style="margin: 6px;">
                <mat-form-field>
                    <mat-label>{{'Group_Component.Create_Group_Component.SpendingLimit.month'| translate}}</mat-label>
                    <input matInput required type="number" formControlName="month">
                </mat-form-field>
            </div>
            <div fxFlex="18%">
                <button mat-raised-button color="primary" (click)="getData()"> {{'Group_Component.Create_Group_Component.SpendingLimit.btnView'| translate}}</button>
            </div>
            <div fxFlex="28%" class="search-box">
                <mat-form-field class="filter">
                    <input matInput #filter (keyup)="applyFilter($event.target.value)" [placeholder]="'CardTransfer.tableCardTransfer.placeholderSearch'| translate">
                </mat-form-field>
            </div>
        </div>
        <div class="action-button" fxFlex="20%">
            <button mat-raised-button color="primary" (click)="createEditSpending()">
                <fa-icon icon="plus"></fa-icon>&nbsp;&nbsp;{{'Group_Component.Create_Group_Component.SpendingLimit.btnAddLimit'| translate}}
            </button>
        </div>
    </div>

    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="refid">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Group_Component.Create_Group_Component.SpendingLimit.refid'| translate}}</th>
            <td mat-cell *matCellDef="let row"> {{ row.refid }} </td>
        </ng-container>

        <ng-container matColumnDef="month">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Group_Component.Create_Group_Component.SpendingLimit.month2'| translate}}</th>
            <td mat-cell *matCellDef="let row"> {{ row.month }} </td>
        </ng-container>

        <ng-container matColumnDef="year">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Group_Component.Create_Group_Component.SpendingLimit.year2'| translate}}</th>
            <td mat-cell *matCellDef="let row"> {{ row.year }} </td>
        </ng-container>
        <ng-container matColumnDef="paymentTypeId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Group_Component.Create_Group_Component.SpendingLimit.paymentTypeId'| translate}} </th>
            <td mat-cell *matCellDef="let row"> {{ getPaymetType(row.paymentTypeId) }}</td>
        </ng-container>
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Group_Component.Create_Group_Component.SpendingLimit.status'| translate}} </th>
            <td mat-cell *matCellDef="let row"> {{ row.status }}</td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <>
            </th>
            <td mat-cell *matCellDef="let row">
                <button mat-raised-button (click)="createEditSpending(row)" color="primary">
            <fa-icon icon="edit"></fa-icon>
          </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <!-- <tr mat-row *matRowDef="let terminal; columns: displayedColumns;" [routerLink]="[terminal.terminalId,'edit']" class="select-row"></tr> -->
        <tr mat-row *matRowDef="let terminal; columns: displayedColumns;" class="select-row"></tr>
    </table>

    <mat-paginator paginator [length]="data?.listSavingLimitConfig?.length" [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
</mat-card>
