<div class="container">

  <mat-accordion>

    <mat-expansion-panel expanded="true">

      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'SelfService.AppConfiguration.title'| translate}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div fxLayout="column">

        <mat-form-field>
          <mat-label>{{'SelfService.AppConfiguration.NameOrganization'| translate}}</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'SelfService.AppConfiguration.Description'| translate}}</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'SelfService.AppConfiguration.Summary'| translate}}</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'SelfService.AppConfiguration.DefaultLanguage'| translate}}</mat-label>
          <mat-select>
            <mat-option *ngFor="let language of languages" [value]="language">
              {{ language }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'SelfService.AppConfiguration.dateFormat'| translate}}</mat-label>
          <mat-select>
            <mat-option *ngFor="let dateFormat of dateFormats" [value]="dateFormat">
              {{ dateFormat }}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>

    </mat-expansion-panel>

    <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'SelfService.AppConfiguration.Images'| translate}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div fxLayout="column">

        <span class="header">{{'SelfService.AppConfiguration.Favicon'| translate}}</span>
        <mifosx-file-upload></mifosx-file-upload>

        <span class="header">{{'SelfService.AppConfiguration.CoverImage'| translate}}</span>
        <mifosx-file-upload></mifosx-file-upload>

        <span class="header">{{'SelfService.AppConfiguration.Logo'| translate}}</span>
        <mifosx-file-upload></mifosx-file-upload>

        <span class="header">{{'SelfService.AppConfiguration.LogoOrganization'| translate}}</span>
        <mifosx-file-upload></mifosx-file-upload>

      </div>

    </mat-expansion-panel>

    <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'SelfService.AppConfiguration.ThemeAndFont'| translate}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div fxLayout="column">

        <span class="header">{{'SelfService.AppConfiguration.MobileBankingApp'| translate}}</span>
        <mat-form-field>
          <mat-label>{{'SelfService.AppConfiguration.mobileAppThemes'| translate}}</mat-label>
          <mat-select>
            <mat-option *ngFor="let theme of mobileAppThemes" [value]="theme">
              {{ theme }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'SelfService.AppConfiguration.font'| translate}}</mat-label>
          <mat-select>
            <mat-option *ngFor="let font of mobileAppFonts" [value]="font">
              {{ font }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <span class="header">{{'SelfService.AppConfiguration.OnlineBankingApp'| translate}}</span>
        <mat-form-field>
          <mat-label>{{'SelfService.AppConfiguration.onlineBankingAppThemes'| translate}}</mat-label>
          <mat-select>
            <mat-option *ngFor="let theme of onlineBankingAppThemes" [value]="theme">
              {{ theme }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'SelfService.AppConfiguration.onlineBankingAppFonts'| translate}}</mat-label>
          <mat-select>
            <mat-option *ngFor="let font of onlineBankingAppFonts" [value]="font">
              {{ font }}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>

    </mat-expansion-panel>

    <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'SelfService.AppConfiguration.ContactInformation'| translate}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div fxLayout="column">

        <mat-form-field>
          <mat-label>{{'SelfService.AppConfiguration.Website'| translate}}</mat-label>
          <input type="url" matInput>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'SelfService.AppConfiguration.Email'| translate}}</mat-label>
          <input type="email" matInput>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'SelfService.AppConfiguration.ContactNo'| translate}}</mat-label>
          <input type="tel" matInput>
        </mat-form-field>

      </div>

    </mat-expansion-panel>

  </mat-accordion>

</div>
