// customed by Midas team
.cssSuccess {
  color: #fff;
  font-weight: 500;
  z-index: 9000;
  background-color: $msg-success;
  white-space: pre-wrap;

  .mat-button-wrapper {
    color: #fff;
  }
}

.cssInfo {
  color: #fff;
  font-weight: 500;
  z-index: 9000;
  background-color: $msg-info;
  white-space: pre-wrap;

  .mat-button-wrapper {
    color: #fff;
  }
}

.cssWarning {
  color: #fff;
  font-weight: 500;
  z-index: 9000;
  background-color: $msg-warning;
  white-space: pre-wrap;

  .mat-button-wrapper {
    color: #fff;
  }
}

.cssDanger {
  color: #fff;
  font-weight: 500;
  z-index: 9000;
  background-color: $msg-danger;
  white-space: pre-wrap;

  .mat-button-wrapper {
    color: #fff;
  }
}
