// custom disable input style
.mat-input-element:disabled,
.mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
  color: red !important;
  font-weight: bold !important;
}
.mat-select-disabled .mat-select-value {
  color: red !important;
  font-weight: bold !important;
}