// Custom table color
table {
  width: 100%;
  background-color: #6f6c6c2a;
  th {
    text-align: center;
  }
  td {
    .action-button {
      min-width: 26px;
      padding: 0 6px;
      margin: 4px;
      line-height: 25px;
    }
  }
}

.mat-row:nth-child(odd) {
  background: transparent;
}

tr.example-element-row:not(.example-expanded-row):hover,
.mat-row:nth-child(even) {
  background: rgba(245, 245, 245, 0.507);

  td {
    color: #000000;
  }
}


