<form [formGroup]="shareProductTermsForm">

  <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

    <mat-form-field fxFlex="48%">
      <mat-label>{{'Product_Component.ShareProducts.ShareStepper.Term.totalShares'| translate}}</mat-label>
      <input type="number" matInput formControlName="totalShares" required>
      <mat-error>
        {{'Product_Component.ShareProducts.ShareStepper.Term.errtotalShares'| translate}}<strong>{{'Product_Component.strongRequired'| translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>{{'Product_Component.ShareProducts.ShareStepper.Term.sharesIssued'| translate}}</mat-label>
      <input type="number" matInput formControlName="sharesIssued" required>
      <mat-error>
        {{'Product_Component.ShareProducts.ShareStepper.Term.errsharesIssued'| translate}}<strong>{{'Product_Component.strongRequired'| translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>{{'Product_Component.ShareProducts.ShareStepper.Term.unitPrice'| translate}}</mat-label>
      <input type="number" matInput formControlName="unitPrice" required>
      <mat-error>
        {{'Product_Component.ShareProducts.ShareStepper.Term.errunitPrice'| translate}}<strong>{{'Product_Component.strongRequired'| translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>{{'Product_Component.ShareProducts.ShareStepper.Term.shareCapital'| translate}}</mat-label>
      <input type="number" matInput formControlName="shareCapital" readonly>
      <mat-hint>
        {{'Product_Component.ShareProducts.ShareStepper.Term.hintshareCapital'| translate}}
      </mat-hint>
    </mat-form-field>

  </div>

  <div fxLayout="row" class="margin-t" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="2%">
    <button mat-raised-button matStepperPrevious>
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;&nbsp;
      {{ "ShareButton.PreviousEng" | translate }}
    </button>
    <button mat-raised-button matStepperNext>
      {{ "ShareButton.NextEng" | translate }}&nbsp;&nbsp;
      <fa-icon icon="arrow-right"></fa-icon>
    </button>
  </div>

</form>
