.container{
    max-width: 80rem
}
  
//   .example-table-container {
//     position: relative;
//     max-height: 600px;
//     overflow: auto;
//   }
  
  table {
    width: 100%;
  }

  td mat-form-field{
    width: 100px ;
    }

