<div class="container mat-elevation-z8">
  <mat-card>
    <form [formGroup]="editTerminalForm">
      <mat-card-content>
        <h3 class="mat-h3" fxFlexFill>{{ "Terminal_Component.FormTerminal.labelEdit" | translate }}</h3>
        <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">
          <mat-form-field *ngIf="editTerminalForm.contains('terminalId')" fxFlex="48%">
            <mat-label>{{ "Terminal_Component.FormTerminal.labelTerminalId" | translate }}</mat-label>
            <input matInput required readonly formControlName="terminalId" />
            <mat-error
              *ngIf="editTerminalForm.controls.terminalId.hasError('required')"
              [innerHTML]="'Terminal_Component.FormTerminal.labelRequired' | translate"
            ></mat-error>
            <mat-error
              *ngIf="editTerminalForm.controls.terminalId.hasError('pattern')"
              [innerHTML]="'Terminal_Component.FormTerminal.labelTerminalNameMsgPattern' | translate"
            ></mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="editTerminalForm.contains('terminalCode')" fxFlex="48%">
            <mat-label>{{ "Terminal_Component.FormTerminal.labelTerminalCode" | translate }}</mat-label>
            <input matInput required [readonly]="!isOwner" formControlName="terminalCode" />
            <mat-error
              *ngIf="editTerminalForm.controls.terminalCode.hasError('required')"
              [innerHTML]="'Terminal_Component.FormTerminal.labelRequired' | translate"
            ></mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="editTerminalForm.contains('terminalName')" fxFlex="48%">
            <mat-label>{{ "Terminal_Component.FormTerminal.labelTerminalName" | translate }}</mat-label>
            <input matInput required formControlName="terminalName" />
            <mat-error
              *ngIf="editTerminalForm.controls.terminalName.hasError('required')"
              [innerHTML]="'Terminal_Component.FormTerminal.labelRequired' | translate"
            ></mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="editTerminalForm.contains('limitAmount')" fxFlex="48%">
            <mat-label>{{ "Terminal_Component.FormTerminal.labelLimitPerDay" | translate }}</mat-label>
            <input currencyMask matInput [readonly]="!isOwner" required formControlName="limitAmount" />
            <mat-error
              *ngIf="editTerminalForm.controls.limitAmount.hasError('required')"
              [innerHTML]="'Terminal_Component.FormTerminal.labelRequired' | translate"
            ></mat-error>
            <mat-error
              *ngIf="editTerminalForm.controls.limitAmount.hasError('min')"
              [innerHTML]="'Tối thiểu là 1,000,000' | translate"
            ></mat-error>
            <mat-error
              *ngIf="editTerminalForm.controls.limitAmount.hasError('max')"
              [innerHTML]="'Số tiền vượt hạn mức 100 Tỷ/ngày'"
            ></mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="editTerminalForm.contains('merchantId') && isOwner" fxFlex="48%">
            <mat-label>{{ "Terminal_Component.FormTerminal.labelMerchantId" | translate }}</mat-label>
            <mat-select required formControlName="merchantId">
              <mat-option *ngFor="let type of merchants" [value]="type.name">
                {{ type.name }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="editTerminalForm.controls.merchantId.hasError('required')"
              [innerHTML]="'Terminal_Component.FormTerminal.labelRequired' | translate"
            ></mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="editTerminalForm.contains('officeId')" fxFlex="48%">
            <mat-label>{{ "Terminal_Component.FormTerminal.labelOffice" | translate }}</mat-label>
            <mat-select required formControlName="officeId">
              <mat-option *ngFor="let o of offices" [value]="o.officeId">
                {{ o.name }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="editTerminalForm.controls.officeId.hasError('required')"
              [innerHTML]="'Terminal_Component.FormTerminal.labelRequired' | translate"
            ></mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="editTerminalForm.contains('bankCode')" fxFlex="48%">
            <mat-label>Ngân hàng</mat-label>
            <mat-select required [disabled]="!isOwner" formControlName="bankCode">
              <mat-option *ngFor="let bank of banks" [value]="bank.bankCode">
                {{ bank.bankName }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="editTerminalForm.controls.officeId.hasError('required')"
              [innerHTML]="'Terminal_Component.FormTerminal.labelRequired' | translate"
            ></mat-error>
          </mat-form-field>
          <mat-form-field *ngIf="editTerminalForm.contains('minFeeDefault')" fxFlex="48%">
            <mat-label>{{ "Terminal_Component.FormTerminal.labelMinFeeDefault" | translate }}</mat-label>
            <input currencyMask matInput required formControlName="minFeeDefault" />
            <mat-error
              *ngIf="editTerminalForm.controls.minFeeDefault.hasError('required')"
              [innerHTML]="'Terminal_Component.FormTerminal.labelRequired' | translate"
            ></mat-error>
            <mat-error
              *ngIf="editTerminalForm.controls.minFeeDefault.hasError('min')"
              [innerHTML]="'Terminal_Component.FormTerminal.labelMsgMin0' | translate"
            ></mat-error>
            <mat-error
              *ngIf="editTerminalForm.controls.minFeeDefault.hasError('max')"
              [innerHTML]="'Phí phải nhỏ hơn 1,000,000'"
            ></mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="editTerminalForm.contains('typeOfTransaction')" fxFlex="25%">
            <mat-label>Thực hiện cho giao dịch:</mat-label>
            <mat-select formControlName="typeOfTransaction">
              <mat-option *ngFor="let t of typeOfTransactions" [value]="t.value">
                {{ t.valueDesc }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-checkbox  *ngIf="isOwner"
            fxFlex="20%"
            labelPosition="before"
            formControlName="status"
            class="padding-fix"
            class="activeCheckBox"
          >
            {{ "Terminal_Component.FormTerminal.checkboxIsActive" | translate }}
          </mat-checkbox>
          <mat-card class="card-custom" fxFlex="100%" >
            <mat-card-header>
              <mat-card-title
                ><span class="material-icons">perm_contact_calendar</span>&nbsp; Rule giao dịch:
              </mat-card-title>
            </mat-card-header>
            <mat-card-content fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">
              <mat-checkbox
              fxFlex="20%"
              labelPosition="before"
              formControlName="isMappingBill"
              class="padding-fix"
              class="activeCheckBox"
              >
              Tự động nhập hoá đơn
            </mat-checkbox>
              <mat-form-field *ngIf="editTerminalForm.contains('timeChargeValid')" fxFlex>
                <mat-label>Số lần giao dịch cùng ngân hàng/ngày</mat-label>
                <input
                  matInput
                  type="number"
                  [readonly]="!isOwner"
                  formControlName="timeChargeValid"
                  matTooltip="Đây là cài đặt số mà thẻ được phép cà vào máy bán hàng này và các máy bán hàng khác có cùng một ngân hàng phát hàng"
                />
                <mat-error
                  *ngIf="editTerminalForm.controls.timeChargeValid.hasError('required')"
                  [innerHTML]="'Terminal_Component.FormTerminal.labelRequired' | translate"
                ></mat-error>
                <mat-error
                  *ngIf="editTerminalForm.controls.timeChargeValid.hasError('min')"
                  [innerHTML]="'Terminal_Component.FormTerminal.labelMsgMin0' | translate"
                ></mat-error>
                <mat-error
                  *ngIf="editTerminalForm.controls.timeChargeValid.hasError('max')"
                  [innerHTML]="'Terminal_Component.FormTerminal.labelMsgOutOffMax' | translate"
                ></mat-error>
              </mat-form-field>
              <mat-form-field *ngIf="editTerminalForm.contains('banksCheck')" fxFlex>
                <mat-label>Không giao dịch thẻ thuộc ngân hàng</mat-label>
                <mat-select
                  [disabled]="!isOwner"
                  formControlName="banksCheck"
                  multiple
                  matTooltip="Đây là ô chọn các ngân hàng mà thẻ của nó sẽ không được phép thực hiện giao dịch trên máy bán hàng này"
                >
                  <mat-option *ngFor="let bank of banks" [value]="bank.bankCode">
                    {{ bank.bankName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field *ngIf="editTerminalForm.contains('cardsCheck')" fxFlex>
                <mat-label>Không giao dịch thẻ thuộc loại</mat-label>
                <mat-select
                  [disabled]="!isOwner"
                  multiple
                  formControlName="cardsCheck"
                  matTooltip="Đây là ô chọn các loại thẻ sẽ không được phép thực hiện giao dịch trên máy bán hàng này"
                >
                  <mat-option *ngFor="let type of cardTypes" [value]="type.code">
                    {{ type.description }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-card-content>
          </mat-card>
        </div>
        <br />
        <h3 class="mat-h3" fxFlexFill>{{ "Terminal_Component.FormTerminal.labelGeneral" | translate }}</h3>

        <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">
          <mat-form-field *ngIf="editTerminalForm.contains('costPercentage')" fxFlex="10%">
            <mat-label>{{ "Terminal_Component.FormTerminal.labelCostPercentage" | translate }}</mat-label>
            <input matInput [readonly]="!isOwner" formControlName="costPercentage" type="number" matTooltip="Phí phải trả cho Đối tác máy"/>
            <mat-error
              *ngIf="editTerminalForm.controls.costPercentage.hasError('min')"
              [innerHTML]="'Terminal_Component.FormTerminal.labelMsgOutOffMin' | translate"
            ></mat-error>
            <mat-error
              *ngIf="editTerminalForm.controls.costPercentage.hasError('max')"
              [innerHTML]="'Terminal_Component.FormTerminal.labelMsgOutOffMax' | translate"
            ></mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="editTerminalForm.contains('cogsPercentage')" fxFlex="10%">
            <mat-label>{{ "Terminal_Component.FormTerminal.labelCogsPercentage" | translate }}</mat-label>
            <input
              matInput
              required
              formControlName="cogsPercentage"
              type="number"
              matTooltip="Phí áp dụng cho các chi nhánh"
            />
            <mat-error
              *ngIf="editTerminalForm.controls.cogsPercentage.hasError('min')"
              [innerHTML]="'Terminal_Component.FormTerminal.labelMsgOutOffMin' | translate"
            ></mat-error>
            <mat-error
              *ngIf="editTerminalForm.controls.cogsPercentage.hasError('max')"
              [innerHTML]="'Terminal_Component.FormTerminal.labelMsgOutOffMax' | translate"
            ></mat-error>
          </mat-form-field>
          <mat-form-field *ngIf="editTerminalForm.contains('txnRateMin')" fxFlex="10%">
            <mat-label>{{ "Terminal_Component.FormTerminal.labelMinPercentage" | translate }}</mat-label>
            <input
              matInput
              required
              formControlName="txnRateMin"
              type="number"
              matTooltip="Phí thấp nhất được phép áp dụng cho khách hàng"
            />
            <mat-error
              *ngIf="editTerminalForm.controls.txnRateMin.hasError('min')"
              [innerHTML]="'Terminal_Component.FormTerminal.labelMsgOutOffMin' | translate"
            ></mat-error>
            <mat-error
              *ngIf="editTerminalForm.controls.txnRateMin.hasError('max')"
              [innerHTML]="'Terminal_Component.FormTerminal.labelMsgOutOffMax' | translate"
            ></mat-error>
          </mat-form-field>
          <mat-form-field *ngIf="editTerminalForm.contains('txnRateMax')" fxFlex="10%">
            <mat-label>{{ "Terminal_Component.FormTerminal.labelMaxPercentage" | translate }}</mat-label>
            <input
              matInput
              required
              formControlName="txnRateMax"
              type="number"
              matTooltip="Phí thấp nhất được phép áp dụng cho khách hàng"
            />
            <mat-error
              *ngIf="editTerminalForm.controls.txnRateMax.hasError('min')"
              [innerHTML]="'Terminal_Component.FormTerminal.labelMsgOutOffMin' | translate"
            ></mat-error>
            <mat-error
              *ngIf="editTerminalForm.controls.txnRateMax.hasError('max')"
              [innerHTML]="'Terminal_Component.FormTerminal.labelMsgOutOffMax' | translate"
            ></mat-error>
          </mat-form-field>
          <mat-form-field *ngIf="editTerminalForm.contains('maxLimitAmount')" fxFlex="10%">
            <mat-label>{{ "Terminal_Component.FormTerminal.labelMaxLimitAmount" | translate }}</mat-label>
            <input
              currencyMask
              [readonly]="!isOwner"
              matInput
              required
              formControlName="maxLimitAmount"
              matTooltip="Hạn mức giao dịch tối đa cho 1 lần cà"
            />
            <mat-error
              *ngIf="editTerminalForm.controls.maxLimitAmount.hasError('min')"
              [innerHTML]="'Terminal_Component.FormTerminal.labelMsgMin100000' | translate"
            ></mat-error>
          </mat-form-field>
          <mat-form-field *ngIf="editTerminalForm.contains('levelLimit')" fxFlex="15%">
            <mat-label>{{ "Terminal_Component.FormTerminal.labelLevelLimit" | translate }}</mat-label>
            <input
              matInput
              required
              [readonly]="!isOwner"
              formControlName="levelLimit"
              matTooltip="Số lần mà một thẻ được phép cà lên máy bán hàng này trong 1 ngày"
            />
            <mat-error
              *ngIf="editTerminalForm.controls.levelLimit.hasError('min')"
              [innerHTML]="'Terminal_Component.FormTerminal.labelMsgMin0' | translate"
            ></mat-error>
          </mat-form-field>

          <button
            mat-raised-button
            color="primary"
            (click)="setDefaultFeeSettingPos()"
            matTooltip="Khi phần bấm nút này, phần phí được thiết lập bên trái ngay lập tức sẽ được áp dụng cho tất cả các chi nhánh"
          >
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="bi bi-box-arrow-in-down-left"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M9.636 2.5a.5.5 0 0 0-.5-.5H2.5A1.5 1.5 0 0 0 1 3.5v10A1.5 1.5 0 0 0 2.5 15h10a1.5 1.5 0 0 0 1.5-1.5V6.864a.5.5 0 0 0-1 0V13.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"
              />
              <path
                fill-rule="evenodd"
                d="M5 10.5a.5.5 0 0 0 .5.5h5a.5.5 0 0 0 0-1H6.707l8.147-8.146a.5.5 0 0 0-.708-.708L6 9.293V5.5a.5.5 0 0 0-1 0v5z"
              />
            </svg>
            {{ "Terminal_Component.FormTerminal.buttonSetupAll" | translate }}
          </button>

          <mat-form-field fxFlex="48%">
            <mat-label>Chi nhánh</mat-label>
            <mat-select [formControl]="officeSelect">
              <mat-option *ngFor="let o of offices" [value]="o.officeId">
                {{ o.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button
            mat-raised-button
            color="primary"
            (click)="setDefaultFeeSettingPosForOffice()"
            matTooltip="Khi phần bấm nút này, phần phí được thiết lập bên trên ngay lập tức sẽ được áp dụng cho chi nhánh được chọn ở ô bên trái."
          >
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="bi bi-box-arrow-in-down-left"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M9.636 2.5a.5.5 0 0 0-.5-.5H2.5A1.5 1.5 0 0 0 1 3.5v10A1.5 1.5 0 0 0 2.5 15h10a1.5 1.5 0 0 0 1.5-1.5V6.864a.5.5 0 0 0-1 0V13.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"
              />
              <path
                fill-rule="evenodd"
                d="M5 10.5a.5.5 0 0 0 .5.5h5a.5.5 0 0 0 0-1H6.707l8.147-8.146a.5.5 0 0 0-.708-.708L6 9.293V5.5a.5.5 0 0 0-1 0v5z"
              />
            </svg>
            Áp dụng cho chi nhánh
          </button>

          <button mat-raised-button (click)="reset()">
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="bi bi-arrow-repeat"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"
              />
              <path
                fill-rule="evenodd"
                d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"
              />
            </svg>
            {{ "Terminal_Component.FormTerminal.buttonResetDefault" | translate }}
          </button>
        </div>

        <mat-form-field class="filter">
          <input matInput #filter (keyup)="applyFilter($event)" placeholder="Filter" />
          <button
            mat-icon-button
            matSuffix
            aria-label="clear"
            *ngIf="filter.value"
            (click)="filter.value = ''; applyFilter($event)"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <div class="mat-elevation-z8">
          <mat-table #table [dataSource]="dataSource" style="overflow: auto; max-height: 500px">
            <ng-container matColumnDef="officeName">
              <mat-header-cell *matHeaderCellDef>
                {{ "Terminal_Component.FormTerminal.tableFee.Office" | translate }}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.officeName }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="CardType">
              <mat-header-cell *matHeaderCellDef>
                {{ "Terminal_Component.FormTerminal.tableFee.CardType" | translate }}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">{{ element.cardDescription }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="FeeCost">
              <mat-header-cell *matHeaderCellDef matTooltip="Phí phải trả cho Đối tác máy">
                {{ "Terminal_Component.FormTerminal.tableFee.FeeCost" | translate }}
              </mat-header-cell>
              <mat-cell *matCellDef="let element; let i = index">
                <mat-form-field floatLabel="never">
                  <input
                    [readonly]="!isOwner"
                    matInput
                    type="number"
                    id="{{ i }}_costPercentage"
                    [value]="element.costPercentage"
                    [(ngModel)]="element.costPercentage"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </mat-form-field>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="FeeCOGS">
              <mat-header-cell *matHeaderCellDef matTooltip="Phí áp dụng cho các chi nhánh">
                {{ "Terminal_Component.FormTerminal.tableFee.FeeCogs" | translate }}
              </mat-header-cell>
              <mat-cell *matCellDef="let element; let i = index">
                <mat-form-field>
                  <input
                    type="number"
                    matInput
                    id="{{ i }}_cogsPercentage"
                    [value]="element.cogsPercentage"
                    [(ngModel)]="element.cogsPercentage"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </mat-form-field>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="FeeMin">
              <mat-header-cell *matHeaderCellDef matTooltip="Phí thấp nhất được phép áp dụng cho khách hàng">
                {{ "Terminal_Component.FormTerminal.tableFee.FeeMin" | translate }}
              </mat-header-cell>
              <mat-cell *matCellDef="let element; let i = index">
                <mat-form-field floatLabel="never">
                  <input
                    matInput
                    type="number"
                    [value]="element.txnRateMin"
                    id="{{ i }}_txnRateMin"
                    [(ngModel)]="element.txnRateMin"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </mat-form-field>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="FeeMax" matTooltip="Phí cao nhất được phép áp dụng cho khách hàng">
              <mat-header-cell *matHeaderCellDef>
                {{ "Terminal_Component.FormTerminal.tableFee.FeeMax" | translate }}
              </mat-header-cell>
              <mat-cell *matCellDef="let element; let i = index">
                <mat-form-field floatLabel="never">
                  <input
                    matInput
                    type="number"
                    id="{{ i }}_txnRateMax"
                    [value]="element.txnRateMax"
                    [(ngModel)]="element.txnRateMax"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </mat-form-field>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="MaxLimitAmountTransaction">
              <mat-header-cell *matHeaderCellDef>
                {{ "Terminal_Component.FormTerminal.tableFee.MaxLimitAmountTransaction" | translate }} ({{
                  "labelCurrency" | translate
                }})
              </mat-header-cell>
              <mat-cell *matCellDef="let element; let i = index">
                <mat-form-field floatLabel="never">
                  <input
                    matInput
                    [readonly]="!isOwner"
                    currencyMask
                    id="{{ i }}_maxLimitAmount"
                    [value]="element.maxLimitAmount"
                    [(ngModel)]="element.maxLimitAmount"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </mat-form-field>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="LevelTransactionCard">
              <mat-header-cell *matHeaderCellDef>
                {{ "Terminal_Component.FormTerminal.tableFee.LevelTransactionCard" | translate }}
              </mat-header-cell>
              <mat-cell *matCellDef="let element; let i = index">
                <mat-form-field floatLabel="never">
                  <input
                    matInput
                    [readonly]="!isOwner"
                    type="number"
                    currencyMask
                    id="{{ i }}_levelLimit"
                    [value]="element.levelLimit"
                    [(ngModel)]="element.levelLimit"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </mat-form-field>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>
        </div>
      </mat-card-content>
      <mat-card-content>
        <div style="text-align: center">
          <button mat-raised-button color="primary" (click)="submit()">
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="bi bi-shield-check"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M5.443 1.991a60.17 60.17 0 0 0-2.725.802.454.454 0 0 0-.315.366C1.87 7.056 3.1 9.9 4.567 11.773c.736.94 1.533 1.636 2.197 2.093.333.228.626.394.857.5.116.053.21.089.282.11A.73.73 0 0 0 8 14.5c.007-.001.038-.005.097-.023.072-.022.166-.058.282-.111.23-.106.525-.272.857-.5a10.197 10.197 0 0 0 2.197-2.093C12.9 9.9 14.13 7.056 13.597 3.159a.454.454 0 0 0-.315-.366c-.626-.2-1.682-.526-2.725-.802C9.491 1.71 8.51 1.5 8 1.5c-.51 0-1.49.21-2.557.491zm-.256-.966C6.23.749 7.337.5 8 .5c.662 0 1.77.249 2.813.525a61.09 61.09 0 0 1 2.772.815c.528.168.926.623 1.003 1.184.573 4.197-.756 7.307-2.367 9.365a11.191 11.191 0 0 1-2.418 2.3 6.942 6.942 0 0 1-1.007.586c-.27.124-.558.225-.796.225s-.526-.101-.796-.225a6.908 6.908 0 0 1-1.007-.586 11.192 11.192 0 0 1-2.417-2.3C2.167 10.331.839 7.221 1.412 3.024A1.454 1.454 0 0 1 2.415 1.84a61.11 61.11 0 0 1 2.772-.815z"
              />
              <path
                fill-rule="evenodd"
                d="M10.854 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708 0z"
              />
            </svg>
            {{ "Terminal_Component.FormTerminal.buttonSubmitUpdate" | translate }}
          </button>
        </div>
      </mat-card-content>
    </form>
  </mat-card>
</div>
