::ng-deep div.mat-form-field-infix{
  width: 115px !important;;
}
.mat-raised-button{
  height: max-content;
    margin-top: 15px;
}
.filter {
    padding-left: 20px;
    width: 300px;
}
.activeCheckBox{
  padding-top: 25px;
}

table {
  width: 100%;
}

