::ng-deep div.mat-form-field-infix{
  width: 115px !important;;
}
.mat-raised-button{
  height: max-content;
    margin-top: 15px;
}
.filter {
    padding-left: 20px;
    width: 300px;
}
.activeCheckBox{
  padding-top: 25px;
}

table {
  width: 100%;
}

th, td {
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-column-Office{
  flex: none;
  width: 15%;
}
.mat-column-CardType{
  flex: none;
  padding: 0 20px;
}
.mat-column-FeePOS{
  flex: none;
  width: 7%;
}
.mat-column-FeeCost{
  flex: none;
  width: 7%;
}
.mat-column-FeeMin{
  flex: none;
  width: 7%;
}
.mat-column-FeeMax{
  flex: none;
  width: 7%;
}
.mat-column-MaxLimitAmountTransaction{
  flex: none;
  width: 20%;
}
.mat-column-LevelTransactionCard{
  flex: none;
  width: 7%;
}
