<div fxLayout="column" tourAnchor="id4">
  <div
    fxLayout="row"
    fxLayout.lt-md="column"
    fxLayoutAlign="start start"
    fxLayoutGap="2%"
    class="fluidcontainer m-b-10 p-10"
    fxFlex="100"
    tourAnchor="id5"
  >
    <!-- banner default  -->
    <div fxLayout="column" *ngIf="!this.showBanner || !this.isDesktop">
      <!-- <button mat-raised-button color="primary" [routerLink]="['/dashboard']">
        <fa-icon icon="tachometer-alt"></fa-icon>&nbsp;&nbsp;
        {{'Home_Component.btnDashboard'| translate}}
      </button> -->
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start start" fxLayoutGap="1%" class="p-l-20">
        <button
          mat-raised-button
          color="primary"
          [routerLink]="['/clients/create']"
          [queryParams]="{ go_back: 'home' }"
          style="width: 185px"
          *ngIf="this.isDesktop"
        >
          <fa-icon icon="user-plus"></fa-icon> &nbsp;&nbsp;
          {{ "Home_Component.btnNewCustomer" | translate }}
        </button>
<!--        <button-->
<!--          mat-raised-button-->
<!--          color="primary"-->
<!--          [routerLink]="['/groups/create']"-->
<!--          [queryParams]="{ go_back: 'home' }"-->
<!--          style="width: 185px"-->
<!--        >-->
<!--          <i class="fab fa-google-plus-g"></i> &nbsp;&nbsp;-->
<!--          {{ "Home_Component.btnNewGroup" | translate }}-->
<!--        </button>-->
      </div>
      <h1 class="p-l-20">
        {{ "Home_Component.welcome" | translate }} <strong>{{ childBannerData.userName }}</strong
        >!
      </h1>
    </div>

    <!-- Banner dành riêng cho đơn vị theo yêu cầu không hiện ở màn hình điện thoại -->
    <midas-customerbanner
      [childBannerData]="this.childBannerData"
      *ngIf="this.showBanner && this.isDesktop"
      style="padding: 0px; width: 100%"
    ></midas-customerbanner>
  </div>

  <!-- Màn hình chính -->
  <div
    fxLayout="row"
    fxLayout.lt-md="column"
    fxLayoutAlign="space-around start "
    class="fluidcontainer m-b-15"
    fxFlex="100"
  >
<!--    <div fxLayout="row" fxLayout.lt-md="column" class="fluidcontainer p-10 m-b-20" fxFlex="100" fxLayoutGap="1%">-->
      <!-- Ô tìm kiếm KH -->
      <div fxFlex="59" fxFlex.lt-md="95" tourAnchor="id6" class="m-b-10 p-5" style="width:100%" >
        <mat-card >
          <mat-card-header>
            <mat-card-title class="title">
              <h3>Tim kiếm thông tin khách hàng:</h3>
            </mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <!-- Phần tìm kiếm các hành động, tạm ẩn -->
            <!-- <div fxLayout="column">
            <mat-form-field>
              <mat-label>{{'Home_Component.searchActivity'| translate }}</mat-label>
              <input matInput [matAutocomplete]="activitySearch" [formControl]="searchText">
            </mat-form-field>
          </div>

           <mat-autocomplete #activitySearch="matAutocomplete">
            <mat-option *ngFor="let activity of filteredActivities | async" [routerLink]="activity.path">
              <span>{{activity.activity}}</span>
            </mat-option>
          </mat-autocomplete> -->

            <midas-mainboard></midas-mainboard>
          </mat-card-content>
        </mat-card>
      </div>

      <div fxLayout="column" fxFlex="39" fxFlex.lt-md="95" tourAnchor="id7" class="m-b-10 p-5 " style="width:100%">
        <!-- Ô calendar -->
        <mat-card class="" fxFlex="100">
          <mat-card-header>
            <mat-card-title class="title">
              <!-- {{'Home_Component.Card'| translate}} <strong>{{username}}</strong>! -->
              Lịch làm việc:
            </mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <midas-calendar></midas-calendar>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <!-- Tạm thời ẩn mục này
    <div fxLayout="column" fxFlex="25">
      <midas-rollterm-list></midas-rollterm-list>
      <midas-ondue-card></midas-ondue-card>
    </div> -->
<!--  </div>-->
</div>
