<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start" fxLayoutGap="1%"  class="fluidcontainer m-b-10 p-l-10" >

  <button mat-raised-button color="primary" [routerLink]="['/dashboard']" >
    <fa-icon icon="tachometer-alt"></fa-icon>&nbsp;&nbsp;
    {{'Home_Component.btnDashboard'| translate}}
  </button>
    <button mat-raised-button color="primary" [routerLink]="['/clients/create']" >
    <fa-icon icon="user-plus"></fa-icon> &nbsp;&nbsp;
    {{'Home_Component.btnNewCustomer'| translate}}
  </button>
  <button mat-raised-button color="primary">
    <i class="fab fa-google-plus-g"></i> &nbsp;&nbsp;
    {{'Home_Component.btnNewGroup'| translate}}
  </button>
</div>

<div fxLayout="row" fxLayout.lt-md="column" fxFill fxLayoutAlign="space-around start"
  class="container m-b-20">

  <mat-card fxFlex.gt-md="70" fxFlexOrder.gt-xs="2" fxFlexOrder.gt-md="1">
    <mat-card-header>
      <mat-card-title class="title">
        {{'Home_Component.welcome'| translate}} <strong>{{username}}</strong>!
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <div fxLayout="column">
        <mat-form-field>
          <mat-label>{{'Home_Component.searchActivity'| translate }}</mat-label>
          <input matInput [matAutocomplete]="activitySearch" [formControl]="searchText">
        </mat-form-field>
      </div>

      <mat-autocomplete #activitySearch="matAutocomplete">
        <mat-option *ngFor="let activity of filteredActivities | async" [routerLink]="activity.path">
          <span>{{activity.activity}}</span>
        </mat-option>
      </mat-autocomplete>

    </mat-card-content>

    <img mat-card-image src="assets/images/midas_lg-logo.jpg" alt="MIDAS" >

  </mat-card>
  <mat-card fxFlex.gt-md="23" fxFlexOrder.gt-xs="1" fxFlexOrder.gt-md="2">
    <mat-card-header fxLayout="column" fxLayoutAlign="center none">
        <mat-card-title class="title text-center ">

            <h1>5</h1>
            <span> {{'Home_Component.labelIncompleteRollterm'| translate}}</span>

        </mat-card-title>

    </mat-card-header>

    <mat-card-content>
  <midas-rollterm-list></midas-rollterm-list>
</mat-card-content>

</mat-card>
</div>
