<h1 mat-dialog-title>{{ "Client_Component.ViewClient.TabIdentities.dialogIdentifierTitle" | translate }}</h1>

<div
  mat-dialog-content
  [formGroup]="form"
  [fxLayout]="'column'"
  fxLayout.lt-md="column"
  [fxLayoutGap]="'1%'"
  fxLayoutGap.lt-md="0%"
>
  <mat-form-field fxFlex="96%">
    <mat-label>{{ "Client_Component.ViewClient.TabIdentities.selectDocumentType" | translate }}</mat-label>
    <mat-select formControlName="documentTypeId">
      <mat-option *ngFor="let documentType of documentTypes" [value]="documentType.id">
        {{ documentType.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field fxFlex="96%">
    <mat-label>{{ "Client_Component.ViewClient.TabIdentities.inputUniqueId" | translate }}</mat-label>
    <input required *ngIf="!form.contains('documentCardType')" matInput formControlName="documentKey" />
    <input
      required
      *ngIf="form.contains('documentCardType')"
      matInput
      formControlName="documentKey"
      [dropSpecialCharacters]="true"
      mask="0000-0000-0000-0000"
    />
  </mat-form-field>

  <mat-form-field fxFlex="96%" *ngIf="form.contains('documentCardBank')">
    <mat-label>{{ "Client_Component.ViewClient.TabIdentities.selectBank" | translate }}</mat-label>
    <mat-select required [disabled]="isTeller" formControlName="documentCardBank">
      <mat-option *ngFor="let sa of documentCardBanks" [value]="sa.bankCode">
        {{ sa.bankName }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="form.contains('documentCardType')" fxFlex="96%">
    <mat-label>{{ "Client_Component.ViewClient.TabIdentities.selectCardType" | translate }}</mat-label>
    <mat-select required disabled formControlName="documentCardType">
      <mat-option *ngFor="let sa of documentCardTypes" [value]="sa.code">
        {{ sa.description }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="form.contains('dueDay')" fxFlex="48%">
    <mat-label>{{ "Client_Component.ViewClient.TabIdentities.dueDay" | translate }}</mat-label>
    <input required pattern maxlength="2" matInput type="number" max="31" min="0" formControlName="dueDay" />
  </mat-form-field>

  <mat-form-field *ngIf="form.contains('expiredDate')" fxFlex="48%">
    <mat-label>{{ "Client_Component.ViewClient.TabIdentities.dueDay" | translate }}</mat-label>
    <input
      required
      matInput
      maxlength="5"
      minlength="5"
      type="text"
      [dropSpecialCharacters]="false"
      mask="00/00"
      formControlName="expiredDate"
    />
  </mat-form-field>

  <mat-form-field *ngIf="form.contains('limitCard')" fxFlex="48%">
    <mat-label>{{ "Client_Component.ViewClient.TabIdentities.limitCard" | translate }}</mat-label>
    <input currencyMask required matInput type="text" formControlName="limitCard" />
  </mat-form-field>

  <mat-form-field *ngIf="form.contains('classCard')" fxFlex="48%">
    <mat-label>{{ "Client_Component.ViewClient.TabIdentities.rankCard" | translate }}</mat-label>
    <!-- <input
      matInput
      type="text"
      required
      formControlName="classCard"> -->
    <mat-select matNativeControl formControlName="classCard">
      <mat-option value="" selected>{{ "Client_Component.ViewClient.TabIdentities.optionRankCard" | translate }}</mat-option>
      <mat-option *ngFor="let cCARD of classCardEnum" [value]="cCARD">
        {{ cCARD }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field fxFlex="96%" *ngIf="form.contains('documentCardType')">
    <mat-label>{{ "Client_Component.ViewClient.TabIdentities.selectStatus" | translate }}</mat-label>
    <mat-select required  formControlName="status">
      <mat-option *ngFor="let sa of statusOptions" [value]="sa.value">
        {{ sa.description }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field fxFlex="96%">
    <mat-label>{{ "Client_Component.ViewClient.TabIdentities.inputDescription" | translate }}</mat-label>
    <input matInput formControlName="description" />
  </mat-form-field>
</div>

<mat-dialog-actions fxLayout="row"  fxLayoutAlign="center" fxLayoutGap="2%">
  <button mat-raised-button mat-dialog-close>{{ "Shared_Component.FormDialog.btnCancel" | translate }}</button>
  <button
    mat-raised-button
    color="primary"
    [mat-dialog-close]="{ data: form, documentTypes: documentTypes, existBin: existBin }"
    [disabled]="!this.form.valid"
  >
    {{ "Shared_Component.FormDialog.btnAdd" | translate }}
  </button>
</mat-dialog-actions>
