<div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column" class="container m-b-20">
  <button mat-raised-button color="primary" [routerLink]="['edit']" *midasHasPermission="'UPDATE_LOANPRODUCT'">
    <fa-icon icon="edit"></fa-icon>&nbsp;&nbsp;
    {{ "ShareButton.Edit" | translate }}
  </button>
</div>

<div class="container">

  <mat-card>

    <mat-card-content>

      <div fxLayout="row wrap" fxLayout.lt-md="column">

        <h2 class="mat-h2" fxFlexFill>{{ loanProduct.name }}</h2>

        <mat-divider [inset]="true"></mat-divider>

        <h3 class="mat-h3" fxFlexFill>{{'Product_Component.LoanProduct.View.Details'| translate}}</h3>

        <mat-divider [inset]="true"></mat-divider>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.shortName'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.shortName }}</span>
        </div>

        <div fxFlexFill *ngIf="loanProduct.fundId">
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.fundName'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.fundName }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.includeInBorrowerCycle'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.includeInBorrowerCycle ? 'Yes' : 'No' }}</span>
        </div>

        <div fxFlexFill *ngIf="loanProduct.startDate">
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.startDate'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.startDate | date }}</span>
        </div>

        <div fxFlexFill *ngIf="loanProduct.closeDate">
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.closeDate'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.closeDate | date }}</span>
        </div>

        <div fxFlexFill *ngIf="loanProduct.description">
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.description'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.description }}</span>
        </div>

        <h3 class="mat-h3" fxFlexFill>{{'Product_Component.LoanProduct.View.Currency'| translate}}</h3>

        <mat-divider [inset]="true"></mat-divider>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.currency'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.currency.name }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.decimalPlaces'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.currency.decimalPlaces }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.inMultiplesOf'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.currency.inMultiplesOf }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.installmentAmountInMultiplesOf'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.installmentAmountInMultiplesOf }}</span>
        </div>

        <h3 class="mat-h3" fxFlexFill>{{'Product_Component.LoanProduct.View.Terms'| translate}}</h3>

        <mat-divider [inset]="true"></mat-divider>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.principal'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.principal + ' (Min: ' + (loanProduct.minPrincipal ? loanProduct.minPrincipal : loanProduct.principal) + ', Max: ' + (loanProduct.maxPrincipal ? loanProduct.maxPrincipal : loanProduct.principal) + ')' }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.numberOfRepayments'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.numberOfRepayments + ' (Min: ' + (loanProduct.minNumberOfRepayments ? loanProduct.minNumberOfRepayments : loanProduct.numberOfRepayments) + ', Max: ' + (loanProduct.maxNumberOfRepayments ? loanProduct.maxNumberOfRepayments : loanProduct.numberOfRepayments) + ')' }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.xxx'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.isLinkedToFloatingInterestRates ? 'Yes' : 'No' }}</span>
        </div>

        <div fxFlexFill *ngIf="!loanProduct.isLinkedToFloatingInterestRates">
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.isLinkedToFloatingInterestRates'| translate}}Nominal interest rate:</span>
          <span fxFlex="60%">{{ loanProduct.interestRatePerPeriod + ' (Min: ' + (loanProduct.minInterestRatePerPeriod ? loanProduct.minInterestRatePerPeriod : loanProduct.interestRatePerPeriod) + ', Max: ' + (loanProduct.maxInterestRatePerPeriod ? loanProduct.maxInterestRatePerPeriod : loanProduct.interestRatePerPeriod) + ')' + ' ' + loanProduct.interestRateFrequencyType.value }}</span>
        </div>

        <div fxFlexFill *ngIf="loanProduct.isLinkedToFloatingInterestRates" fxLayout="row wrap" fxLayout.lt-md="column">
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.floatingRateName'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.floatingRateName }}</span>
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.interestRateDifferential'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.interestRateDifferential }}</span>
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.isFloatingInterestRateCalculationAllowed'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.isFloatingInterestRateCalculationAllowed ? 'Yes' : 'No' }}</span>
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.defaultDifferentialLendingRate'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.defaultDifferentialLendingRate + ' (Min: ' + (loanProduct.minDifferentialLendingRate ? loanProduct.minDifferentialLendingRate : loanProduct.defaultDifferentialLendingRate) + ', Max: ' + (loanProduct.maxDifferentialLendingRate ? loanProduct.maxDifferentialLendingRate : loanProduct.defaultDifferentialLendingRate) + ')' }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.TermsVary'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.useBorrowerCycle ? 'Yes' : 'No' }}</span>
        </div>

        <div fxFlexFill *ngIf="loanProduct.principalVariationsForBorrowerCycle?.length">

          <h4 class="mat-h4" fxFlexFill>{{'Product_Component.LoanProduct.View.h4'| translate}}</h4>

          <table fxFlexFill class="mat-elevation-z1" mat-table [dataSource]="loanProduct.principalVariationsForBorrowerCycle">

            <ng-container matColumnDef="valueConditionType">
              <th mat-header-cell *matHeaderCellDef> {{'Product_Component.LoanProduct.View.Condition'| translate}} </th>
              <td mat-cell *matCellDef="let variation">
                {{ variation.valueConditionType.value }}
              </td>
            </ng-container>

            <ng-container matColumnDef="borrowerCycleNumber">
              <th mat-header-cell *matHeaderCellDef> {{'Product_Component.LoanProduct.View.borrowerCycleNumber'| translate}} </th>
              <td mat-cell *matCellDef="let variation">
                {{ variation.borrowerCycleNumber }}
              </td>
            </ng-container>

            <ng-container matColumnDef="minValue">
              <th mat-header-cell *matHeaderCellDef> {{'Product_Component.LoanProduct.View.Minimum'| translate}} </th>
              <td mat-cell *matCellDef="let variation">
                {{ variation.minValue  }}
              </td>
            </ng-container>

            <ng-container matColumnDef="defaultValue">
              <th mat-header-cell *matHeaderCellDef> {{'Product_Component.LoanProduct.View.Default'| translate}} </th>
              <td mat-cell *matCellDef="let variation">
                {{ variation.defaultValue }}
              </td>
            </ng-container>

            <ng-container matColumnDef="maxValue">
              <th mat-header-cell *matHeaderCellDef> {{'Product_Component.LoanProduct.View.Maximum'| translate}} </th>
              <td mat-cell *matCellDef="let variation">
                {{ variation.maxValue }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="variationsDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: variationsDisplayedColumns;"></tr>

          </table>

        </div>

        <div fxFlexFill *ngIf="loanProduct.numberOfRepaymentVariationsForBorrowerCycle?.length">

          <h4 class="mat-h4" fxFlexFill>{{'Product_Component.LoanProduct.View.h4_2'| translate}}</h4>

          <table fxFlexFill class="mat-elevation-z1" mat-table [dataSource]="loanProduct.numberOfRepaymentVariationsForBorrowerCycle">

            <ng-container matColumnDef="valueConditionType">
              <th mat-header-cell *matHeaderCellDef> {{'Product_Component.LoanProduct.View.Condition'| translate}} </th>
              <td mat-cell *matCellDef="let variation">
                {{ variation.valueConditionType.value }}
              </td>
            </ng-container>

            <ng-container matColumnDef="borrowerCycleNumber">
              <th mat-header-cell *matHeaderCellDef> {{'Product_Component.LoanProduct.View.borrowerCycleNumber'| translate}} </th>
              <td mat-cell *matCellDef="let variation">
                {{ variation.borrowerCycleNumber }}
              </td>
            </ng-container>

            <ng-container matColumnDef="minValue">
              <th mat-header-cell *matHeaderCellDef> {{'Product_Component.LoanProduct.View.Minimum'| translate}} </th>
              <td mat-cell *matCellDef="let variation">
                {{ variation.minValue  }}
              </td>
            </ng-container>

            <ng-container matColumnDef="defaultValue">
              <th mat-header-cell *matHeaderCellDef> {{'Product_Component.LoanProduct.View.Default'| translate}} </th>
              <td mat-cell *matCellDef="let variation">
                {{ variation.defaultValue }}
              </td>
            </ng-container>

            <ng-container matColumnDef="maxValue">
              <th mat-header-cell *matHeaderCellDef> {{'Product_Component.LoanProduct.View.Maximum'| translate}} </th>
              <td mat-cell *matCellDef="let variation">
                {{ variation.maxValue }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="variationsDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: variationsDisplayedColumns;"></tr>

          </table>

        </div>

        <div fxFlexFill *ngIf="loanProduct.interestRateVariationsForBorrowerCycle?.length">

          <h4 class="mat-h4" fxFlexFill>{{'Product_Component.LoanProduct.View.h4_3'| translate}}</h4>

          <table fxFlexFill class="mat-elevation-z1" mat-table [dataSource]="loanProduct.interestRateVariationsForBorrowerCycle">

            <ng-container matColumnDef="valueConditionType">
              <th mat-header-cell *matHeaderCellDef> {{'Product_Component.LoanProduct.View.Condition'| translate}} </th>
              <td mat-cell *matCellDef="let variation">
                {{ variation.valueConditionType.value }}
              </td>
            </ng-container>

            <ng-container matColumnDef="borrowerCycleNumber">
              <th mat-header-cell *matHeaderCellDef> {{'Product_Component.LoanProduct.View.borrowerCycleNumber'| translate}} </th>
              <td mat-cell *matCellDef="let variation">
                {{ variation.borrowerCycleNumber }}
              </td>
            </ng-container>

            <ng-container matColumnDef="minValue">
              <th mat-header-cell *matHeaderCellDef> {{'Product_Component.LoanProduct.View.Minimum'| translate}} </th>
              <td mat-cell *matCellDef="let variation">
                {{ variation.minValue  }}
              </td>
            </ng-container>

            <ng-container matColumnDef="defaultValue">
              <th mat-header-cell *matHeaderCellDef> {{'Product_Component.LoanProduct.View.Default'| translate}} </th>
              <td mat-cell *matCellDef="let variation">
                {{ variation.defaultValue }}
              </td>
            </ng-container>

            <ng-container matColumnDef="maxValue">
              <th mat-header-cell *matHeaderCellDef> {{'Product_Component.LoanProduct.View.Maximum'| translate}} </th>
              <td mat-cell *matCellDef="let variation">
                {{ variation.maxValue }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="variationsDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: variationsDisplayedColumns;"></tr>

          </table>

        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.RepayEvery'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.repaymentEvery + ' ' + loanProduct.repaymentFrequencyType.value }}</span>
        </div>

        <div fxFlexFill *ngIf="loanProduct.minimumDaysBetweenDisbursalAndFirstRepayment">
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.minimumDaysBetweenDisbursalAndFirstRepayment'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.minimumDaysBetweenDisbursalAndFirstRepayment }}</span>
        </div>

        <h3 class="mat-h3" fxFlexFill>{{'Product_Component.LoanProduct.View.Settings'| translate}}</h3>

        <mat-divider [inset]="true"></mat-divider>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.amortizationType'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.amortizationType.value }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.isEqualAmortization'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.isEqualAmortization ? 'Yes' : 'No' }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.interestType'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.interestType.value }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.interestCalculationPeriodType'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.interestCalculationPeriodType.value }}</span>
        </div>

        <div fxFlexFill *ngIf="loanProduct.interestCalculationPeriodType.id === 1">
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.allowPartialPeriodInterestCalcualtion'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.allowPartialPeriodInterestCalcualtion ? 'Yes' : 'No' }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.transactionProcessingStrategyName'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.transactionProcessingStrategyName }}</span>
        </div>

        <div fxFlexFill *ngIf="loanProduct.graceOnPrincipalPayment">
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.graceOnPrincipalPayment'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.graceOnPrincipalPayment }}</span>
        </div>

        <div fxFlexFill *ngIf="loanProduct.graceOnInterestPayment">
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.graceOnInterestPayment'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.graceOnInterestPayment }}</span>
        </div>

        <div fxFlexFill *ngIf="loanProduct.graceOnInterestCharged">
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.graceOnInterestCharged'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.graceOnInterestCharged }}</span>
        </div>

        <div fxFlexFill *ngIf="loanProduct.inArrearsTolerance">
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.inArrearsTolerance'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.inArrearsTolerance }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.daysInYearType'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.daysInYearType.value }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.daysInMonthType'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.daysInMonthType.value }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.canDefineInstallmentAmount'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.canDefineInstallmentAmount ? 'Yes' : 'No' }}</span>
        </div>

        <div fxFlexFill *ngIf="loanProduct.graceOnArrearsAgeing">
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.graceOnArrearsAgeing'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.graceOnArrearsAgeing }}</span>
        </div>

        <div fxFlexFill *ngIf="loanProduct.overdueDaysForNPA">
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.overdueDaysForNPA'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.overdueDaysForNPA }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.accountMovesOutOfNPAOnlyOnArrearsCompletion'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.accountMovesOutOfNPAOnlyOnArrearsCompletion ? 'Yes' : 'No' }}</span>
        </div>

        <div fxFlexFill *ngIf="loanProduct.principalThresholdForLastInstallment">
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.principalThresholdForLastInstallment'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.principalThresholdForLastInstallment }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.allowVariableInstallments'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.allowVariableInstallments ? 'Yes' : 'No' }}</span>
        </div>

        <div fxFlexFill *ngIf="loanProduct.allowVariableInstallments">
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.minimumGap'| translate}}</span>
          <span fxFlex="60%">{{ '(Min: ' + loanProduct.minimumGap + ', Max: ' + (loanProduct.maximumGap ? loanProduct.maximumGap : loanProduct.minimumGap) + ')' }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.canUseForTopup'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.canUseForTopup ? 'Yes' : 'No' }}</span>
        </div>

        <h3 class="mat-h3" fxFlexFill>{{'Product_Component.LoanProduct.View.h3'| translate}}</h3>

        <mat-divider [inset]="true"></mat-divider>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.isInterestRecalculationEnabled'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.isInterestRecalculationEnabled ? 'Yes' : 'No' }}</span>
        </div>

        <div fxFlexFill *ngIf="loanProduct.isInterestRecalculationEnabled" fxLayout="row wrap" fxLayout.lt-md="column">
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.preClosureInterestCalculationStrategy'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.interestRecalculationData.preClosureInterestCalculationStrategy.value }}</span>
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.rescheduleStrategyType'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.interestRecalculationData.rescheduleStrategyType.value }}</span>
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.interestRecalculationCompoundingType'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.interestRecalculationData.interestRecalculationCompoundingType.value }}</span>
          <div fxFlexFill *ngIf="loanProduct.interestRecalculationData.interestRecalculationCompoundingType.id !== 0" fxLayout="row wrap" fxLayout.lt-md="column">
            <span fxFlex="40%">{{'Product_Component.LoanProduct.View.FrequencyCompounding'| translate}}</span>
            <span fxFlex="60%">
              {{ loanProduct.interestRecalculationData.recalculationCompoundingFrequencyType.value }}
              <span *ngIf="loanProduct.interestRecalculationData.recalculationCompoundingFrequencyType.id === 4 && loanProduct.interestRecalculationData.recalculationCompoundingFrequencyNthDay">&nbsp;&nbsp;{{ 'on ' + loanProduct.interestRecalculationData.recalculationCompoundingFrequencyNthDay?.value }}</span>
              <span *ngIf="(loanProduct.interestRecalculationData.recalculationCompoundingFrequencyType.id === 4 && !loanProduct.interestRecalculationData.recalculationCompoundingFrequencyOnDay) || loanProduct.interestRecalculationData.recalculationCompoundingFrequencyType.id === 3">&nbsp;&nbsp;{{ loanProduct.interestRecalculationData.recalculationCompoundingFrequencyWeekday?.value }}</span>
              <span *ngIf="loanProduct.interestRecalculationData.recalculationCompoundingFrequencyType.id === 4 && loanProduct.interestRecalculationData.recalculationCompoundingFrequencyOnDay">&nbsp;&nbsp;{{ 'on day  ' + loanProduct.interestRecalculationData.recalculationCompoundingFrequencyOnDay }}</span>
            </span>
            <div fxFlexFill *ngIf="loanProduct.interestRecalculationData.recalculationCompoundingFrequencyType.id !== 1" fxLayout="row wrap" fxLayout.lt-md="column">
              <span fxFlex="40%">{{'Product_Component.LoanProduct.View.recalculationCompoundingFrequencyInterval'| translate}}</span>
              <span fxFlex="60%">{{ loanProduct.interestRecalculationData.recalculationCompoundingFrequencyInterval }}</span>
              <div fxFlexFill *ngIf="loanProduct.recalculationCompoundingFrequencyDate">
                <span fxFlex="40%">{{'Product_Component.LoanProduct.View.recalculationCompoundingFrequencyDate'| translate}}</span>
                <span fxFlex="60%">{{ loanProduct.interestRecalculationData.recalculationCompoundingFrequencyDate }}</span>
              </div>
            </div>
          </div>
          <div fxFlexFill fxLayout="row wrap" fxLayout.lt-md="column">
            <span fxFlex="40%">{{'Product_Component.LoanProduct.View.FrequencyRecalculate'| translate}}</span>
            <span fxFlex="60%">
              {{ loanProduct.interestRecalculationData.recalculationRestFrequencyType.value }}
              <span *ngIf="loanProduct.interestRecalculationData.recalculationRestFrequencyType.id === 4 && loanProduct.interestRecalculationData.recalculationRestFrequencyNthDay">&nbsp;&nbsp;{{ 'on ' + loanProduct.interestRecalculationData.recalculationRestFrequencyNthDay?.value }}</span>
              <span *ngIf="(loanProduct.interestRecalculationData.recalculationRestFrequencyType.id === 4 && !loanProduct.interestRecalculationData.recalculationRestFrequencyOnDay) || loanProduct.interestRecalculationData.recalculationRestFrequencyType.id === 3">&nbsp;&nbsp;{{ loanProduct.interestRecalculationData.recalculationRestFrequencyWeekday?.value }}</span>
              <span *ngIf="loanProduct.interestRecalculationData.recalculationRestFrequencyType.id === 4 && loanProduct.interestRecalculationData.recalculationRestFrequencyOnDay">&nbsp;&nbsp;{{ 'on day  ' + loanProduct.interestRecalculationData.recalculationRestFrequencyOnDay }}</span>
            </span>
          </div>
          <div fxFlexFill *ngIf="loanProduct.interestRecalculationData.recalculationRestFrequencyType.id !== 1" fxLayout="row wrap" fxLayout.lt-md="column">
            <span fxFlex="40%">{{'Product_Component.LoanProduct.View.recalculationRestFrequencyInterval'| translate}}</span>
            <span fxFlex="60%">{{ loanProduct.interestRecalculationData.recalculationRestFrequencyInterval }}</span>
            <div fxFlexFill *ngIf="loanProduct.recalculationRestFrequencyDate">
              <span fxFlex="40%">{{'Product_Component.LoanProduct.View.recalculationRestFrequencyDate'| translate}}</span>
              <span fxFlex="60%">{{ loanProduct.interestRecalculationData.recalculationRestFrequencyDate }}</span>
            </div>
          </div>
          <div fxFlexFill>
            <span fxFlex="40%">{{'Product_Component.LoanProduct.View.isArrearsBasedOnOriginalSchedule'| translate}}</span>
            <span fxFlex="60%">{{ loanProduct.isArrearsBasedOnOriginalSchedule ? 'Yes' : 'No' }}</span>
          </div>
        </div>

        <h3 class="mat-h3" fxFlexFill>{{'Product_Component.LoanProduct.View.h3_2'| translate}}</h3>

        <mat-divider [inset]="true"></mat-divider>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.holdGuaranteeFunds'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.holdGuaranteeFunds ? 'Yes' : 'No' }}</span>
        </div>

        <div fxFlexFill *ngIf="loanProduct.holdGuaranteeFunds" fxLayout="row wrap" fxLayout.lt-md="column">
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.mandatoryGuarantee'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.productGuaranteeData.mandatoryGuarantee }}</span>
          <div fxFlexFill *ngIf="loanProduct.productGuaranteeData.minimumGuaranteeFromOwnFunds">
            <span fxFlex="40%">{{'Product_Component.LoanProduct.View.minimumGuaranteeFromOwnFunds'| translate}}</span>
            <span fxFlex="60%">{{ loanProduct.productGuaranteeData.minimumGuaranteeFromOwnFunds }}</span>
          </div>
          <div fxFlexFill *ngIf="loanProduct.productGuaranteeData.minimumGuaranteeFromGuarantor">
            <span fxFlex="40%">{{'Product_Component.LoanProduct.View.minimumGuaranteeFromGuarantor'| translate}}</span>
            <span fxFlex="60%">{{ loanProduct.productGuaranteeData.minimumGuaranteeFromGuarantor }}</span>
          </div>
        </div>

        <h3 class="mat-h3" fxFlexFill>{{'Product_Component.LoanProduct.View.h3_3'| translate}}</h3>

        <mat-divider [inset]="true"></mat-divider>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.multiDisburseLoan'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.multiDisburseLoan ? 'Yes' : 'No' }}</span>
        </div>

        <div fxFlexFill *ngIf="loanProduct.multiDisburseLoan" fxLayout="row wrap" fxLayout.lt-md="column">
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.maxTrancheCount'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.maxTrancheCount }}</span>
          <div fxFlexFill *ngIf="loanProduct.outstandingLoanBalance">
            <span fxFlex="40%">{{'Product_Component.LoanProduct.View.outstandingLoanBalance'| translate}}</span>
            <span fxFlex="60%">{{ loanProduct.outstandingLoanBalance | money }}</span>
          </div>
        </div>

        <h3 class="mat-h3" fxFlexFill>{{'Product_Component.LoanProduct.View.h3_4'| translate}}</h3>

        <mat-divider [inset]="true"></mat-divider>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.allowAttributeConfiguration'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.allowAttributeConfiguration ? 'Yes' : 'No' }}</span>
        </div>

        <div fxFlexFill *ngIf="loanProduct.allowAttributeConfiguration" fxLayout="row wrap" fxLayout.lt-md="column">
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.amortizationType2'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.allowAttributeOverrides.amortizationType ? 'Yes' : 'No' }}</span>
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.interestType2'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.allowAttributeOverrides.interestType ? 'Yes' : 'No' }}</span>
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.transactionProcessingStrategyId'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.allowAttributeOverrides.transactionProcessingStrategyId ? 'Yes' : 'No' }}</span>
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.interestCalculationPeriodType3'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.allowAttributeOverrides.interestCalculationPeriodType ? 'Yes' : 'No' }}</span>
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.inArrearsTolerance2'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.allowAttributeOverrides.inArrearsTolerance ? 'Yes' : 'No' }}</span>
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.repaymentEvery'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.allowAttributeOverrides.repaymentEvery ? 'Yes' : 'No' }}</span>
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.graceOnPrincipalAndInterestPayment'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.allowAttributeOverrides.graceOnPrincipalAndInterestPayment ? 'Yes' : 'No' }}</span>
          <span fxFlex="40%">{{'Product_Component.LoanProduct.View.graceOnArrearsAgeing2'| translate}}</span>
          <span fxFlex="60%">{{ loanProduct.allowAttributeOverrides.graceOnArrearsAgeing ? 'Yes' : 'No' }}</span>
        </div>

        <div fxFlexFill *ngIf="loanProduct.charges.length" fxLayout="row wrap" fxLayout.lt-md="column">

          <h3 class="mat-h3" fxFlexFill>{{'Product_Component.LoanProduct.View.Charges'| translate}}</h3>

          <mat-divider [inset]="true"></mat-divider>

          <table fxFlexFill class="mat-elevation-z1" mat-table [dataSource]="loanProduct.charges | chargesPenaltyFilter:false">

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> {{'Product_Component.LoanProduct.View.Name'| translate}} </th>
              <td mat-cell *matCellDef="let charge">
                {{ charge.name + ', ' + charge.currency.displaySymbol }}
              </td>
            </ng-container>

            <ng-container matColumnDef="chargeCalculationType">
              <th mat-header-cell *matHeaderCellDef> {{'Product_Component.LoanProduct.View.Type'| translate}} </th>
              <td mat-cell *matCellDef="let charge">
                {{ charge.chargeCalculationType.value }}
              </td>
            </ng-container>

            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef> {{'Product_Component.LoanProduct.View.Amount'| translate}} </th>
              <td mat-cell *matCellDef="let charge">
                {{ charge.amount | money }}
              </td>
            </ng-container>

            <ng-container matColumnDef="chargeTimeType">
              <th mat-header-cell *matHeaderCellDef> {{'Product_Component.LoanProduct.View.chargeTimeType'| translate}} </th>
              <td mat-cell *matCellDef="let charge">
                {{ charge.chargeTimeType.value }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="chargesDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: chargesDisplayedColumns;"></tr>

          </table>

          <h3 class="mat-h3" fxFlexFill>{{'Product_Component.LoanProduct.View.h3_5'| translate}}</h3>

          <mat-divider [inset]="true"></mat-divider>

          <table fxFlexFill class="mat-elevation-z1" mat-table [dataSource]="loanProduct.charges | chargesPenaltyFilter:true">

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> {{'Product_Component.LoanProduct.View.Name'| translate}} </th>
              <td mat-cell *matCellDef="let overdueCharge">
                {{ overdueCharge.name + ', ' + overdueCharge.currency.displaySymbol }}
              </td>
            </ng-container>

            <ng-container matColumnDef="chargeCalculationType">
              <th mat-header-cell *matHeaderCellDef> {{'Product_Component.LoanProduct.View.Type'| translate}} </th>
              <td mat-cell *matCellDef="let overdueCharge">
                {{ overdueCharge.chargeCalculationType.value }}
              </td>
            </ng-container>

            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef> {{'Product_Component.LoanProduct.View.Amount'| translate}} </th>
              <td mat-cell *matCellDef="let overdueCharge">
                {{ overdueCharge.amount | money }}
              </td>
            </ng-container>

            <ng-container matColumnDef="chargeTimeType">
              <th mat-header-cell *matHeaderCellDef> {{'Product_Component.LoanProduct.View.chargeTimeType'| translate}} </th>
              <td mat-cell *matCellDef="let overdueCharge">
                {{ overdueCharge.chargeTimeType.value }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="chargesDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: chargesDisplayedColumns;"></tr>

          </table>

        </div>

        <h3 class="mat-h3" fxFlexFill>{{'Product_Component.LoanProduct.View.Accounting'| translate}}</h3>

        <mat-divider [inset]="true"></mat-divider>

        <div fxFlexFill>
          <span fxFlex="40%">Type:</span>
          <span fxFlex="60%">{{ loanProduct.accountingRule.value }}</span>
        </div>

        <div fxFlexFill *ngIf="loanProduct.accountingRule.id >= 2 && loanProduct.accountingRule.id <= 4" fxLayout="row wrap" fxLayout.lt-md="column">

          <h4 fxFlexFill class="mat-h4">{{'Product_Component.LoanProduct.View.Assets'| translate}}</h4>

          <div fxFlexFill fxLayout="row wrap" fxLayout.lt-md="column">
            <span fxFlex="40%">{{'Product_Component.LoanProduct.View.fundSourceAccount'| translate}}</span>
            <span fxFlex="60%">{{ loanProduct.accountingMappings.fundSourceAccount.name }}</span>
            <span fxFlex="40%">{{'Product_Component.LoanProduct.View.loanPortfolioAccount'| translate}}</span>
            <span fxFlex="60%">{{ loanProduct.accountingMappings.loanPortfolioAccount.name }}</span>
            <div fxFlexFill *ngIf="loanProduct.accountingRule.id === 3 || loanProduct.accountingRule.id === 4" fxLayout="row wrap" fxLayout.lt-md="column">
              <span fxFlex="40%">{{'Product_Component.LoanProduct.View.receivableInterestAccount'| translate}}</span>
              <span fxFlex="60%">{{ loanProduct.accountingMappings.receivableInterestAccount.name }}</span>
              <span fxFlex="40%">{{'Product_Component.LoanProduct.View.FeesReceivable'| translate}}</span>
              <span fxFlex="60%">{{ loanProduct.accountingMappings.receivableInterestAccount.name }}</span>
              <span fxFlex="40%">{{'Product_Component.LoanProduct.View.PenaltiesReceivable'| translate}}</span>
              <span fxFlex="60%">{{ loanProduct.accountingMappings.receivablePenaltyAccount.name }}</span>
            </div>
            <span fxFlex="40%">{{'Product_Component.LoanProduct.View.transfersInSuspenseAccount'| translate}}</span>
            <span fxFlex="60%">{{ loanProduct.accountingMappings.transfersInSuspenseAccount.name }}</span>
          </div>

          <h4 fxFlexFill class="mat-h4">{{'Product_Component.LoanProduct.View.Income'| translate}}</h4>

          <div fxFlexFill fxLayout="row wrap" fxLayout.lt-md="column">
            <span fxFlex="40%">{{'Product_Component.LoanProduct.View.interestOnLoanAccount'| translate}}</span>
            <span fxFlex="60%">{{ loanProduct.accountingMappings.interestOnLoanAccount.name }}</span>
            <span fxFlex="40%">{{'Product_Component.LoanProduct.View.incomeFromFeeAccount'| translate}}</span>
            <span fxFlex="60%">{{ loanProduct.accountingMappings.incomeFromFeeAccount.name }}</span>
            <span fxFlex="40%">{{'Product_Component.LoanProduct.View.incomeFromPenaltyAccount'| translate}}</span>
            <span fxFlex="60%">{{ loanProduct.accountingMappings.incomeFromPenaltyAccount.name }}</span>
            <span fxFlex="40%">{{'Product_Component.LoanProduct.View.incomeFromRecoveryAccount'| translate}}</span>
            <span fxFlex="60%">{{ loanProduct.accountingMappings.incomeFromRecoveryAccount.name }}</span>
          </div>

          <h4 fxFlexFill class="mat-h4">{{'Product_Component.LoanProduct.View.Expenses'| translate}}</h4>

          <div fxFlexFill>
            <span fxFlex="40%">{{'Product_Component.LoanProduct.View.writeOffAccount'| translate}}</span>
            <span fxFlex="60%">{{ loanProduct.accountingMappings.writeOffAccount.name }}</span>
          </div>

          <h4 fxFlexFill class="mat-h4">{{'Product_Component.LoanProduct.View.Liabilities'| translate}}</h4>

          <div fxFlexFill>
            <span fxFlex="40%">{{'Product_Component.LoanProduct.View.overpaymentLiabilityAccount'| translate}}</span>
            <span fxFlex="60%">{{ loanProduct.accountingMappings.overpaymentLiabilityAccount.name }}</span>
          </div>

          <div *ngIf="loanProduct.paymentChannelToFundSourceMappings?.length || loanProduct.feeToIncomeAccountMappings?.length || loanProduct.penaltyToIncomeAccountMappings?.length" fxFlexFill fxLayout="row wrap" fxLayout.lt-md="column">

            <h3 class="mat-h3" fxFlexFill>{{'Product_Component.LoanProduct.View.AdvancedAccountingRules'| translate}}</h3>

            <mat-divider [inset]="true"></mat-divider>

            <div *ngIf="loanProduct.paymentChannelToFundSourceMappings?.length" fxFlexFill fxLayout="row wrap" fxLayout.lt-md="column">

              <h4 class="mat-h4" fxFlexFill>{{'Product_Component.LoanProduct.View.FundSourcesPaymentChannels'| translate}}</h4>

              <table fxFlexFill class="mat-elevation-z1" mat-table [dataSource]="loanProduct.paymentChannelToFundSourceMappings">

                <ng-container matColumnDef="paymentTypeId">
                  <th mat-header-cell *matHeaderCellDef> {{'Product_Component.LoanProduct.View.paymentTyped'| translate}} </th>
                  <td mat-cell *matCellDef="let paymentFundSource">
                    {{ paymentFundSource.paymentType.name }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="fundSourceAccountId">
                  <th mat-header-cell *matHeaderCellDef> {{'Product_Component.LoanProduct.View.fundSource'| translate}} </th>
                  <td mat-cell *matCellDef="let paymentFundSource">
                    {{ paymentFundSource.fundSourceAccount.name }}
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="paymentFundSourceDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: paymentFundSourceDisplayedColumns;"></tr>

              </table>

            </div>

            <div *ngIf="loanProduct.feeToIncomeAccountMappings?.length" fxFlexFill fxLayout="row wrap" fxLayout.lt-md="column">

              <h4 class="mat-h4" fxFlexFill>{{'Product_Component.LoanProduct.View.FeesSpecificIncomeAccounts'| translate}}</h4>

              <table fxFlexFill class="mat-elevation-z1" mat-table [dataSource]="loanProduct.feeToIncomeAccountMappings">

                <ng-container matColumnDef="chargeId">
                  <th mat-header-cell *matHeaderCellDef> {{'Product_Component.LoanProduct.View.Fees'| translate}} </th>
                  <td mat-cell *matCellDef="let feesIncome">
                    {{ feesIncome.charge.name }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="incomeAccountId">
                  <th mat-header-cell *matHeaderCellDef> {{'Product_Component.LoanProduct.View.IncomeAccount'| translate}} </th>
                  <td mat-cell *matCellDef="let feesIncome">
                    {{ feesIncome.incomeAccount.name }}
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="feesPenaltyIncomeDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: feesPenaltyIncomeDisplayedColumns;"></tr>

              </table>

            </div>

            <div *ngIf="loanProduct.penaltyToIncomeAccountMappings?.length" fxFlexFill fxLayout="row wrap" fxLayout.lt-md="column">

              <h4 class="mat-h4" fxFlexFill>{{'Product_Component.LoanProduct.View.PenaltiesSpecificIncomeAccounts'| translate}}</h4>

              <table fxFlexFill class="mat-elevation-z1" mat-table [dataSource]="loanProduct.penaltyToIncomeAccountMappings">

                <ng-container matColumnDef="chargeId">
                  <th mat-header-cell *matHeaderCellDef> {{'Product_Component.LoanProduct.View.Penalty'| translate}} </th>
                  <td mat-cell *matCellDef="let penaltyIncome">
                    {{ penaltyIncome.charge.name }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="incomeAccountId">
                  <th mat-header-cell *matHeaderCellDef> {{'Product_Component.LoanProduct.View.IncomeAccount'| translate}} </th>
                  <td mat-cell *matCellDef="let penaltyIncome">
                    {{ penaltyIncome.incomeAccount.name }}
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="feesPenaltyIncomeDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: feesPenaltyIncomeDisplayedColumns;"></tr>

              </table>

            </div>

          </div>

        </div>

      </div>

    </mat-card-content>

  </mat-card>

</div>
