<div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column" class="container m-b-20">
  <button mat-raised-button color="primary" [routerLink]="['edit']" *midasHasPermission="'UPDATE_SAVINGSPRODUCT'">
    <fa-icon icon="edit"></fa-icon>&nbsp;&nbsp;
    {{ "ShareButton.Edit" | translate }}
  </button>
</div>

<div class="container">

  <mat-card>

    <mat-card-content>

      <div fxLayout="row wrap" fxLayout.lt-md="column">

        <h2 class="mat-h2" fxFlexFill>{{ savingProduct.name }}</h2>

        <mat-divider [inset]="true"></mat-divider>

        <h3 class="mat-h3" fxFlexFill>{{'Product_Component.savingProductComponent.View.Details'| translate}}</h3>

        <mat-divider [inset]="true"></mat-divider>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Product_Component.savingProductComponent.View.xxx'| translate}}</span>
          <span fxFlex="60%">{{ savingProduct.shortName }}</span>
        </div>

        <div fxFlexFill *ngIf="savingProduct.description">
          <span fxFlex="40%">{{'Product_Component.savingProductComponent.View.description'| translate}}</span>
          <span fxFlex="60%">{{ savingProduct.description }}</span>
        </div>

        <h3 class="mat-h3" fxFlexFill>{{'Product_Component.savingProductComponent.View.Currency'| translate}}</h3>

        <mat-divider [inset]="true"></mat-divider>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Product_Component.savingProductComponent.View.currency'| translate}}</span>
          <span fxFlex="60%">{{ savingProduct.currency.name }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Product_Component.savingProductComponent.View.decimalPlaces'| translate}}</span>
          <span fxFlex="60%">{{ savingProduct.currency.decimalPlaces }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Product_Component.savingProductComponent.View.inMultiplesOf'| translate}}</span>
          <span fxFlex="60%">{{ savingProduct.currency.inMultiplesOf }}</span>
        </div>

        <h3 class="mat-h3" fxFlexFill>{{'Product_Component.savingProductComponent.View.Terms'| translate}}</h3>

        <mat-divider [inset]="true"></mat-divider>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Product_Component.savingProductComponent.View.nominalAnnualInterestRate'| translate}}</span>
          <span fxFlex="60%">{{ savingProduct.nominalAnnualInterestRate }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Product_Component.savingProductComponent.View.interestCompoundingPeriodType'| translate}}</span>
          <span fxFlex="60%">{{ savingProduct.interestCompoundingPeriodType.value }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Product_Component.savingProductComponent.View.interestPostingPeriodType'| translate}}</span>
          <span fxFlex="60%">{{ savingProduct.interestPostingPeriodType.value }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Product_Component.savingProductComponent.View.interestCalculationType'| translate}}</span>
          <span fxFlex="60%">{{ savingProduct.interestCalculationType.value }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Product_Component.savingProductComponent.View.interestCalculationDaysInYearType'| translate}}</span>
          <span fxFlex="60%">{{ savingProduct.interestCalculationDaysInYearType.value }}</span>
        </div>

        <h3 class="mat-h3" fxFlexFill>{{'Product_Component.savingProductComponent.View.Settings'| translate}}</h3>

        <mat-divider [inset]="true"></mat-divider>

        <div fxFlexFill *ngIf="savingProduct.minRequiredOpeningBalance">
          <span fxFlex="40%">{{'Product_Component.savingProductComponent.View.minRequiredOpeningBalance'| translate}}</span>
          <span fxFlex="60%">{{ savingProduct.minRequiredOpeningBalance | money }}</span>
        </div>

        <div fxFlexFill *ngIf="savingProduct.lockinPeriodFrequency">
          <span fxFlex="40%">{{'Product_Component.savingProductComponent.View.lockinPeriodFrequency'| translate}}</span>
          <span fxFlex="60%">{{ savingProduct.lockinPeriodFrequency + ' ' + savingProduct.lockinPeriodFrequencyType.value }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Product_Component.savingProductComponent.View.withdrawalFeeForTransfers'| translate}}</span>
          <span fxFlex="60%">{{ savingProduct.withdrawalFeeForTransfers ? 'Yes' : 'No' }}</span>
        </div>

        <div fxFlexFill *ngIf="savingProduct.minBalanceForInterestCalculation">
          <span fxFlex="40%">{{'Product_Component.savingProductComponent.View.minBalanceForInterestCalculation'| translate}}</span>
          <span fxFlex="60%">{{ savingProduct.minBalanceForInterestCalculation | money }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Product_Component.savingProductComponent.View.enforceMinRequiredBalance'| translate}}</span>
          <span fxFlex="60%">{{ savingProduct.enforceMinRequiredBalance ? 'Yes' : 'No' }}</span>
        </div>

        <div fxFlexFill *ngIf="savingProduct.minRequiredBalance">
          <span fxFlex="40%">{{'Product_Component.savingProductComponent.View.minRequiredBalance'| translate}}</span>
          <span fxFlex="60%">{{ savingProduct.minRequiredBalance | money }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Product_Component.savingProductComponent.View.withHoldTax'| translate}}</span>
          <span fxFlex="60%">{{ savingProduct.withHoldTax ? 'Yes' : 'No' }}</span>
        </div>

        <div fxFlexFill *ngIf="savingProduct.withHoldTax">
          <span fxFlex="40%">{{'Product_Component.savingProductComponent.View.taxGroup'| translate}}</span>
          <span fxFlex="60%">{{ savingProduct.taxGroup.name }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Product_Component.savingProductComponent.View.allowOverdraft'| translate}}</span>
          <span fxFlex="60%">{{ savingProduct.allowOverdraft ? 'Yes' : 'No' }}</span>
        </div>

        <div fxFlexFill *ngIf="savingProduct.minOverdraftForInterestCalculation">
          <span fxFlex="40%">{{'Product_Component.savingProductComponent.View.minOverdraftForInterestCalculation'| translate}}</span>
          <span fxFlex="60%">{{ savingProduct.minOverdraftForInterestCalculation }}</span>
        </div>

        <div fxFlexFill *ngIf="savingProduct.nominalAnnualInterestRateOverdraft">
          <span fxFlex="40%">{{'Product_Component.savingProductComponent.View.nominalAnnualInterestRateOverdraft'| translate}}</span>
          <span fxFlex="60%">{{ savingProduct.nominalAnnualInterestRateOverdraft }}</span>
        </div>

        <div fxFlexFill *ngIf="savingProduct.overdraftLimit">
          <span fxFlex="40%">{{'Product_Component.savingProductComponent.View.overdraftLimit'| translate}}</span>
          <span fxFlex="60%">{{ savingProduct.overdraftLimit }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Product_Component.savingProductComponent.View.isDormancyTrackingActive'| translate}}</span>
          <span fxFlex="60%">{{ savingProduct.isDormancyTrackingActive ? 'Yes' : 'No' }}</span>
        </div>

        <div fxFlexFill *ngIf="savingProduct.isDormancyTrackingActive" fxLayout="row wrap" fxLayout.lt-md="column">
          <span fxFlex="40%">{{'Product_Component.savingProductComponent.View.daysToInactive'| translate}}</span>
          <span fxFlex="60%">{{ savingProduct.daysToInactive }}</span>
          <span fxFlex="40%">{{'Product_Component.savingProductComponent.View.daysToDormancy'| translate}}</span>
          <span fxFlex="60%">{{ savingProduct.daysToDormancy }}</span>
          <span fxFlex="40%">{{'Product_Component.savingProductComponent.View.daysToEscheat'| translate}}</span>
          <span fxFlex="60%">{{ savingProduct.daysToEscheat }}</span>
        </div>

        <div fxFlexFill *ngIf="savingProduct.charges.length" fxLayout="row wrap" fxLayout.lt-md="column">

          <h3 class="mat-h3" fxFlexFill>{{'Product_Component.savingProductComponent.View.Charges'| translate}}</h3>

          <mat-divider [inset]="true"></mat-divider>

          <table fxFlexFill class="mat-elevation-z1" mat-table [dataSource]="savingProduct.charges">

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> {{'Product_Component.savingProductComponent.View.Name'| translate}} </th>
              <td mat-cell *matCellDef="let charge">
                {{ charge.name + ', ' + charge.currency.displaySymbol }}
              </td>
            </ng-container>

            <ng-container matColumnDef="chargeCalculationType">
              <th mat-header-cell *matHeaderCellDef> {{'Product_Component.savingProductComponent.View.Type'| translate}} </th>
              <td mat-cell *matCellDef="let charge">
                {{ charge.chargeCalculationType.value }}
              </td>
            </ng-container>

            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef> {{'Product_Component.savingProductComponent.View.Amount'| translate}} </th>
              <td mat-cell *matCellDef="let charge">
                {{ charge.amount | money }}
              </td>
            </ng-container>

            <ng-container matColumnDef="chargeTimeType">
              <th mat-header-cell *matHeaderCellDef> {{'Product_Component.savingProductComponent.View.chargeTimeType'| translate}} </th>
              <td mat-cell *matCellDef="let charge">
                {{ charge.chargeTimeType.value }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="chargesDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: chargesDisplayedColumns;"></tr>

          </table>

        </div>

        <h3 class="mat-h3" fxFlexFill>{{'Product_Component.savingProductComponent.View.Accounting'| translate}}</h3>

        <mat-divider [inset]="true"></mat-divider>

        <div fxFlexFill>
          <span fxFlex="40%">{{'Product_Component.savingProductComponent.View.accountingRule'| translate}}</span>
          <span fxFlex="60%">{{ savingProduct.accountingRule.value }}</span>
        </div>

        <div fxFlexFill *ngIf="savingProduct.accountingRule.id === 2" fxLayout="row wrap" fxLayout.lt-md="column">

          <h4 fxFlexFill class="mat-h4">{{'Product_Component.savingProductComponent.View.Assets'| translate}}</h4>

          <div fxFlexFill fxLayout="row wrap" fxLayout.lt-md="column">
            <span fxFlex="40%">{{'Product_Component.savingProductComponent.View.savingsReferenceAccount'| translate}}</span>
            <span fxFlex="60%">{{ savingProduct.accountingMappings.savingsReferenceAccount.name }}</span>
            <span fxFlex="40%">{{'Product_Component.savingProductComponent.View.overdraftPortfolioControl'| translate}}</span>
            <span fxFlex="60%">{{ savingProduct.accountingMappings.overdraftPortfolioControl.name }}</span>
          </div>

          <h4 fxFlexFill class="mat-h4">{{'Product_Component.savingProductComponent.View.Liabilities'| translate}}</h4>

          <div fxFlexFill fxLayout="row wrap" fxLayout.lt-md="column">
            <span fxFlex="40%">{{'Product_Component.savingProductComponent.View.savingsControlAccount'| translate}}</span>
            <span fxFlex="60%">{{ savingProduct.accountingMappings.savingsControlAccount.name }}</span>
            <span fxFlex="40%">{{'Product_Component.savingProductComponent.View.transfersInSuspenseAccount'| translate}}</span>
            <span fxFlex="60%">{{ savingProduct.accountingMappings.transfersInSuspenseAccount.name }}</span>
            <div fxFlexFill *ngIf="savingProduct.isDormancyTrackingActive">
              <span fxFlex="40%">{{'Product_Component.savingProductComponent.View.escheatLiabilityAccount'| translate}}</span>
              <span fxFlex="60%">{{ savingProduct.accountingMappings.escheatLiabilityAccount.name }}</span>
            </div>
          </div>

          <h4 fxFlexFill class="mat-h4">{{'Product_Component.savingProductComponent.View.Expenses'| translate}}</h4>

          <div fxFlexFill fxLayout="row wrap" fxLayout.lt-md="column">
            <span fxFlex="40%">{{'Product_Component.savingProductComponent.View.interestOnSavingsAccount'| translate}}</span>
            <span fxFlex="60%">{{ savingProduct.accountingMappings.interestOnSavingsAccount.name }}</span>
            <span fxFlex="40%">{{'Product_Component.savingProductComponent.View.writeOffAccount'| translate}}</span>
            <span fxFlex="60%">{{ savingProduct.accountingMappings.writeOffAccount.name }}</span>
          </div>

          <h4 fxFlexFill class="mat-h4">{{'Product_Component.savingProductComponent.View.Income'| translate}}</h4>

          <div fxFlexFill fxLayout="row wrap" fxLayout.lt-md="column">
            <span fxFlex="40%">{{'Product_Component.savingProductComponent.View.incomeFromFeeAccount'| translate}}</span>
            <span fxFlex="60%">{{ savingProduct.accountingMappings.incomeFromFeeAccount.name }}</span>
            <span fxFlex="40%">{{'Product_Component.savingProductComponent.View.incomeFromPenaltyAccount'| translate}}</span>
            <span fxFlex="60%">{{ savingProduct.accountingMappings.incomeFromPenaltyAccount.name }}</span>
            <span fxFlex="40%">{{'Product_Component.savingProductComponent.View.incomeFromInterest'| translate}}</span>
            <span fxFlex="60%">{{ savingProduct.accountingMappings.incomeFromInterest.name }}</span>
          </div>

          <div *ngIf="savingProduct.paymentChannelToFundSourceMappings?.length || savingProduct.feeToIncomeAccountMappings?.length || savingProduct.penaltyToIncomeAccountMappings?.length" fxFlexFill fxLayout="row wrap" fxLayout.lt-md="column">

            <h3 class="mat-h3" fxFlexFill>{{'Product_Component.savingProductComponent.View.AdvancedAccountingRules'| translate}}</h3>

            <mat-divider [inset]="true"></mat-divider>

            <div *ngIf="savingProduct.paymentChannelToFundSourceMappings?.length" fxFlexFill fxLayout="row wrap" fxLayout.lt-md="column">

              <h4 class="mat-h4" fxFlexFill>{{'Product_Component.savingProductComponent.View.FundSourcesPaymentChannels'| translate}}</h4>

              <table fxFlexFill class="mat-elevation-z1" mat-table [dataSource]="savingProduct.paymentChannelToFundSourceMappings">

                <ng-container matColumnDef="paymentTypeId">
                  <th mat-header-cell *matHeaderCellDef> {{'Product_Component.savingProductComponent.View.paymentTypeId'| translate}} </th>
                  <td mat-cell *matCellDef="let paymentFundSource">
                    {{ paymentFundSource.paymentType.name }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="fundSourceAccountId">
                  <th mat-header-cell *matHeaderCellDef> {{'Product_Component.savingProductComponent.View.fundSourceAccountId'| translate}} </th>
                  <td mat-cell *matCellDef="let paymentFundSource">
                    {{ paymentFundSource.fundSourceAccount.name }}
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="paymentFundSourceDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: paymentFundSourceDisplayedColumns;"></tr>

              </table>

            </div>

            <div *ngIf="savingProduct.feeToIncomeAccountMappings?.length" fxFlexFill fxLayout="row wrap" fxLayout.lt-md="column">

              <h4 class="mat-h4" fxFlexFill>{{'Product_Component.savingProductComponent.View.FeesSpecificIncomeAccounts'| translate}}</h4>

              <table fxFlexFill class="mat-elevation-z1" mat-table [dataSource]="savingProduct.feeToIncomeAccountMappings">

                <ng-container matColumnDef="chargeId">
                  <th mat-header-cell *matHeaderCellDef> {{'Product_Component.savingProductComponent.View.Fees'| translate}} </th>
                  <td mat-cell *matCellDef="let feesIncome">
                    {{ feesIncome.charge.name }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="incomeAccountId">
                  <th mat-header-cell *matHeaderCellDef> {{'Product_Component.savingProductComponent.View.IncomeAccount'| translate}} </th>
                  <td mat-cell *matCellDef="let feesIncome">
                    {{ feesIncome.incomeAccount.name }}
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="feesPenaltyIncomeDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: feesPenaltyIncomeDisplayedColumns;"></tr>

              </table>

            </div>

            <div *ngIf="savingProduct.penaltyToIncomeAccountMappings?.length" fxFlexFill fxLayout="row wrap" fxLayout.lt-md="column">

              <h4 class="mat-h4" fxFlexFill>{{'Product_Component.savingProductComponent.View.penaltyToIncomeAccountMappings'| translate}}</h4>

              <table fxFlexFill class="mat-elevation-z1" mat-table [dataSource]="savingProduct.penaltyToIncomeAccountMappings">

                <ng-container matColumnDef="chargeId">
                  <th mat-header-cell *matHeaderCellDef> {{'Product_Component.savingProductComponent.View.Penalty'| translate}} </th>
                  <td mat-cell *matCellDef="let penaltyIncome">
                    {{ penaltyIncome.charge.name }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="incomeAccountId">
                  <th mat-header-cell *matHeaderCellDef> {{'Product_Component.savingProductComponent.View.IncomeAccount'| translate}} </th>
                  <td mat-cell *matCellDef="let penaltyIncome">
                    {{ penaltyIncome.incomeAccount.name }}
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="feesPenaltyIncomeDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: feesPenaltyIncomeDisplayedColumns;"></tr>

              </table>

            </div>

          </div>

        </div>

      </div>

    </mat-card-content>

  </mat-card>

</div>
