<form [formGroup]="savingProductSettingsForm">

  <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column" fxLayoutAlign.gt-sm="start center">

    <mat-form-field fxFlex="48%">
      <mat-label>{{'Product_Component.savingProductComponent.savingProductStepper.Settings.minRequiredOpeningBalance'| translate}}</mat-label>
      <input currencyMask type="text" matInput formControlName="minRequiredOpeningBalance">
    </mat-form-field>

    <span fxFlex="48%" fxHide.lt-md></span>

    <mat-form-field fxFlex="48%">
      <mat-label>{{'Product_Component.savingProductComponent.savingProductStepper.Settings.lockinPeriodFrequency'| translate}}</mat-label>
      <input type="number" matInput formControlName="lockinPeriodFrequency">
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-select formControlName="lockinPeriodFrequencyType">
        <mat-option *ngFor="let lockinPeriodFrequencyType of lockinPeriodFrequencyTypeData" [value]="lockinPeriodFrequencyType.id">
          {{ lockinPeriodFrequencyType.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox fxFlex="48%" labelPosition="before" formControlName="withdrawalFeeForTransfers" class="margin-v">
      {{'Product_Component.savingProductComponent.savingProductStepper.Settings.withdrawalFeeForTransfers'| translate}}
    </mat-checkbox>

    <mat-form-field fxFlex="48%">
      <mat-label>{{'Product_Component.savingProductComponent.savingProductStepper.Settings.minBalanceForInterestCalculation'| translate}}</mat-label>
      <input currencyMask type="text" matInput formControlName="minBalanceForInterestCalculation">
    </mat-form-field>

    <mat-checkbox fxFlex="48%" labelPosition="before" formControlName="enforceMinRequiredBalance" class="margin-v">
      {{'Product_Component.savingProductComponent.savingProductStepper.Settings.enforceMinRequiredBalance'| translate}}
    </mat-checkbox>

    <mat-form-field fxFlex="48%">
      <mat-label>{{'Product_Component.savingProductComponent.savingProductStepper.Settings.minRequiredBalance'| translate}}</mat-label>
      <input currencyMask type="text" matInput formControlName="minRequiredBalance">
    </mat-form-field>

    <mat-checkbox fxFlex="48%" labelPosition="before" formControlName="withHoldTax" class="margin-v">
      {{'Product_Component.savingProductComponent.savingProductStepper.Settings.withHoldTax'| translate}}
    </mat-checkbox>

    <mat-form-field fxFlex="48%" *ngIf="savingProductSettingsForm.value.withHoldTax">
      <mat-label>{{'Product_Component.savingProductComponent.savingProductStepper.Settings.taxGroup'| translate}}</mat-label>
      <mat-select formControlName="taxGroupId" required>
        <mat-option *ngFor="let taxGroup of taxGroupData" [value]="taxGroup.id">
          {{ taxGroup.name }}
        </mat-option>
      </mat-select>
      <mat-error>
        {{'Product_Component.savingProductComponent.savingProductStepper.Settings.errtaxGroup'| translate}}<strong>{{'Product_Component.strongRequired'| translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-divider fxFlex="98%"></mat-divider>

    <h3 fxFlex="23%" class="mat-h3">{{'Product_Component.savingProductComponent.savingProductStepper.Settings.Overdraft'| translate}}</h3>

    <mat-checkbox fxFlex="73%" labelPosition="before" formControlName="allowOverdraft" class="margin-b">
      {{'Product_Component.savingProductComponent.savingProductStepper.Settings.allowOverdraft'| translate}}
    </mat-checkbox>

    <div *ngIf="savingProductSettingsForm.value.allowOverdraft" fxFlexFill fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

      <mat-form-field fxFlex="31%">
        <mat-label>{{'Product_Component.savingProductComponent.savingProductStepper.Settings.minOverdraftForInterestCalculation'| translate}}</mat-label>
        <input type="number" matInput formControlName="minOverdraftForInterestCalculation">
      </mat-form-field>

      <mat-form-field fxFlex="31%">
        <mat-label>{{'Product_Component.savingProductComponent.savingProductStepper.Settings.nominalAnnualInterestRateOverdraft'| translate}}</mat-label>
        <input type="number" matInput formControlName="nominalAnnualInterestRateOverdraft">
      </mat-form-field>

      <mat-form-field fxFlex="31%">
        <mat-label>{{'Product_Component.savingProductComponent.savingProductStepper.Settings.overdraftLimit'| translate}}</mat-label>
        <input type="number" matInput formControlName="overdraftLimit">
      </mat-form-field>

    </div>

    <mat-divider fxFlex="98%"></mat-divider>

    <h3 fxFlex="23%" class="mat-h3">{{'Product_Component.savingProductComponent.savingProductStepper.Settings.DormancyTracking'| translate}}</h3>

    <mat-checkbox fxFlex="73%" labelPosition="before" formControlName="isDormancyTrackingActive" class="margin-b">
      {{'Product_Component.savingProductComponent.savingProductStepper.Settings.EnableDormancyTracking'| translate}}
    </mat-checkbox>

    <div *ngIf="savingProductSettingsForm.value.isDormancyTrackingActive" fxFlexFill fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

      <mat-form-field fxFlex="31%">
        <mat-label>{{'Product_Component.savingProductComponent.savingProductStepper.Settings.daysToInactive'| translate}}</mat-label>
        <input type="number" matInput formControlName="daysToInactive" required>
        <mat-error>
          {{'Product_Component.savingProductComponent.savingProductStepper.Settings.errdaysToInactive'| translate}}<strong>{{'Product_Component.strongRequired'| translate }}</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="31%">
        <mat-label>{{'Product_Component.savingProductComponent.savingProductStepper.Settings.daysToDormancy'| translate}}</mat-label>
        <input type="number" matInput formControlName="daysToDormancy" required>
        <mat-error>
          {{'Product_Component.savingProductComponent.savingProductStepper.Settings.'| translate}}<strong>{{'Product_Component.strongRequired'| translate }}</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="31%">
        <mat-label>{{'Product_Component.savingProductComponent.savingProductStepper.Settings.daysToEscheat'| translate}}</mat-label>
        <input type="number" matInput formControlName="daysToEscheat" required>
        <mat-error>
          {{'Product_Component.savingProductComponent.savingProductStepper.Settings.errdaysToEscheat'| translate}}<strong>{{'Product_Component.strongRequired'| translate }}</strong>
        </mat-error>
      </mat-form-field>

    </div>

  </div>

  <div fxLayout="row" class="margin-t" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="2%">
    <button mat-raised-button matStepperPrevious>
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;&nbsp;
      {{ "ShareButton.PreviousEng" | translate }}
    </button>
    <button mat-raised-button matStepperNext>
      {{ "ShareButton.NextEng" | translate }}&nbsp;&nbsp;
      <fa-icon icon="arrow-right"></fa-icon>
    </button>
  </div>

</form>
