<div class="container">

  <mat-card>

    <div fxLayout="row" fxLayout.lt-md="column">

      <div fxFlex="50%">

        <mat-nav-list>

          <mat-list-item [routerLink]="['data-tables']">
            <mat-icon matListIcon>
              <fa-icon icon="table" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'System.ManageDataTables'| translate}}</h4>
            <p matLine>{{'System.AddNewExtraFields'| translate}}</p>
          </mat-list-item>

          <mat-list-item [routerLink]="['codes']">
            <mat-icon matListIcon>
              <fa-icon icon="list-ul" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'System.ManageCodes'| translate}}</h4>
            <p matLine>{{'System.CodesAre'| translate}}</p>
          </mat-list-item>

          <mat-list-item [routerLink]="['roles-and-permissions']">
            <mat-icon matListIcon>
              <fa-icon icon="key" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'System.ManageRolesAndPermissions'| translate}}</h4>
            <p matLine>{{'System.DefineOrModifyRoles'| translate}}</p>
          </mat-list-item>

          <mat-list-item [routerLink]="['configure-mc-tasks']">
            <mat-icon matListIcon>
              <fa-icon icon="sitemap" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'System.ConfigureMaker'| translate}}</h4>
            <p matLine>{{'System.DefineOrModifyMaker'| translate}}</p>
          </mat-list-item>

          <mat-list-item [routerLink]="['hooks']">
            <mat-icon matListIcon>
              <fa-icon icon="anchor" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'System.ManageHooks'| translate}}</h4>
            <p matLine>{{'System.DefineHooks'| translate}}</p>
          </mat-list-item>

          <mat-list-item [routerLink]="['entity-to-entity-mapping']">
            <mat-icon matListIcon>
              <fa-icon icon="road" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'System.EntityMapping'| translate}}</h4>
            <p matLine>{{'System.DefineOrModifyMapping'| translate}}</p>
          </mat-list-item>

          <mat-list-item [routerLink]="['surveys']">
            <mat-icon matListIcon>
              <fa-icon icon="file-alt" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'System.ManageSurveys'| translate}}</h4>
            <p matLine>{{'System.ManageServices'| translate}}</p>
          </mat-list-item>

        </mat-nav-list>

      </div>

      <div fxFlex="50%">

        <mat-nav-list>

          <mat-list-item [routerLink]="['audit-trails']">
            <mat-icon matListIcon>
              <fa-icon icon="money-check" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'System.AuditTrails'| translate}}</h4>
            <p matLine>{{'System.AuditLogs'| translate}}</p>
          </mat-list-item>

          <mat-list-item [routerLink]="['reports']">
            <mat-icon matListIcon>
              <fa-icon icon="file-word" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'System.ManageReports'| translate}}</h4>
            <p matLine>{{'System.AddReport'| translate}}</p>
          </mat-list-item>

          <mat-list-item [routerLink]="['scheduler-jobs']">
            <mat-icon matListIcon>
              <fa-icon icon="clock" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'System.SchedulerJobs'| translate}}</h4>
            <p matLine>{{'System.ScheduleModifyDeleteJob'| translate}}</p>
          </mat-list-item>

          <mat-list-item [routerLink]="['global-configurations']">
            <mat-icon matListIcon>
              <fa-icon icon="cogs" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'System.Configurations'| translate}}</h4>
            <p matLine>{{'System.GlobalConfigurations'| translate}}</p>
          </mat-list-item>

          <mat-list-item [routerLink]="['account-number-preferences']">
            <mat-icon matListIcon>
              <fa-icon icon="key" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'System.AccountNumberPreferences'| translate}}</h4>
            <p matLine>{{'System.Preferences'| translate}}</p>
          </mat-list-item>

          <mat-list-item [routerLink]="['external-services']">
            <mat-icon matListIcon>
              <fa-icon icon="cog" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'System.ExternalServices'| translate}}</h4>
            <p matLine>{{'System.ExternalServicesConfiguration'| translate}}</p>
          </mat-list-item>

          <mat-list-item>
            <mat-icon matListIcon>
              <fa-icon icon="key" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{'System.TwoFactorConfiguration'| translate}}</h4>
            <p matLine>{{'System.TwoFactorConfigurationSettings'| translate}}</p>
          </mat-list-item>

        </mat-nav-list>

      </div>

    </div>

  </mat-card>

</div>
