<div class="container m-b-20" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20px">
  <button mat-raised-button color="primary" [routerLink]="['edit']" *midasHasPermission="'UPDATE_STAFF'">
    <fa-icon icon="edit"></fa-icon>&nbsp;&nbsp;
    Edit
  </button>
</div>

<div class="container">

  <mat-card>

    <mat-card-content>

      <div fxLayout="row wrap" class="content">

        <div fxFlex="50%" class="mat-body-strong">
          {{'Organization.Employees.View.firstname'| translate }}
        </div>

        <div fxFlex="50%">
          {{ employeeData.firstname }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'Organization.Employees.View.lastname'| translate }}
        </div>

        <div fxFlex="50%">
          {{ employeeData.lastname }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'Organization.Employees.View.Office'| translate }}
        </div>

        <div fxFlex="50%">
          {{ employeeData.officeName }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'Organization.Employees.View.isLoanOfficer'| translate }}
        </div>

        <div fxFlex="50%">
          {{ employeeData.isLoanOfficer === true ? 'Yes' : 'No' }}
        </div>

        <div fxFlex="50%" class="mat-body-strong" *ngIf="employeeData.mobileNo">
          {{'Organization.Employees.View.mobileNo'| translate }}
        </div>

        <div fxFlex="50%" *ngIf="employeeData.mobileNo">
          {{ employeeData.mobileNo }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'Organization.Employees.View.Status'| translate }}
        </div>

        <div fxFlex="50%">
          {{ employeeData.isActive === true ? 'Active' : 'Inactive' }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'Organization.Employees.View.joiningDate'| translate }}
        </div>

        <div fxFlex="50%">
          {{ employeeData.joiningDate | date }}
        </div>

      </div>

    </mat-card-content>

  </mat-card>

</div>
