<form [formGroup]="loanProductSettingsForm">

  <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column" fxLayoutAlign.gt-sm="start center">

    <mat-form-field fxFlex="31%">
      <mat-label>{{'Product_Component.LoanProduct.LoanStepper.Setting.Amortization'| translate}}</mat-label>
      <mat-select formControlName="amortizationType" required>
        <mat-option *ngFor="let amortizationType of amortizationTypeData" [value]="amortizationType.id">
          {{ amortizationType.value }}
        </mat-option>
      </mat-select>
      <mat-error>
        {{'Product_Component.LoanProduct.LoanStepper.Setting.errAmortization'| translate}}<strong>{{'Product_Component.strongRequired'| translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-checkbox fxFlex="15%" labelPosition="before" formControlName="isEqualAmortization">
      {{'Product_Component.LoanProduct.LoanStepper.Setting.isEqualAmortization'| translate}}
    </mat-checkbox>

    <mat-form-field fxFlex="48%">
      <mat-label>{{'Product_Component.LoanProduct.LoanStepper.Setting.interestType'| translate}}</mat-label>
      <mat-select formControlName="interestType" required>
        <mat-option *ngFor="let interestType of interestTypeData" [value]="interestType.id">
          {{ interestType.value }}
        </mat-option>
      </mat-select>
      <mat-error>
        {{'Product_Component.LoanProduct.LoanStepper.Setting.errinterestType'| translate}}<strong>{{'Product_Component.strongRequired'| translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>{{'Product_Component.LoanProduct.LoanStepper.Setting.interestCalculationPeriodType'| translate}}</mat-label>
      <mat-select formControlName="interestCalculationPeriodType" required>
        <mat-option *ngFor="let interestCalculationPeriodType of interestCalculationPeriodTypeData" [value]="interestCalculationPeriodType.id">
          {{ interestCalculationPeriodType.value }}
        </mat-option>
      </mat-select>
      <mat-error>
        {{'Product_Component.LoanProduct.LoanStepper.Setting.errinterestCalculationPeriodType'| translate}}<strong>{{'Product_Component.strongRequired'| translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-checkbox *ngIf="loanProductSettingsForm.value.interestCalculationPeriodType === 1" fxFlex="48%" labelPosition="before" formControlName="allowPartialPeriodInterestCalcualtion">
      {{'Product_Component.LoanProduct.LoanStepper.Setting.allowPartialPeriodInterestCalcualtion'| translate}}
    </mat-checkbox>

    <mat-form-field fxFlex="48%">
      <mat-label>{{'Product_Component.LoanProduct.LoanStepper.Setting.transactionProcessingStrategyId'| translate}}</mat-label>
      <mat-select formControlName="transactionProcessingStrategyId" required>
        <mat-option *ngFor="let transactionProcessingStrategy of transactionProcessingStrategyData" [value]="transactionProcessingStrategy.id">
          {{ transactionProcessingStrategy.name }}
        </mat-option>
      </mat-select>
      <mat-error>
        {{'Product_Component.LoanProduct.LoanStepper.Setting.errtransactionProcessingStrategyId'| translate}}<strong>{{'Product_Component.strongRequired'| translate }}</strong>
      </mat-error>
    </mat-form-field>

    <span fxFlex="48%" fxHide.lt-md></span>

    <h4 fxFlex="98%" class="mat-h4">{{'Product_Component.LoanProduct.LoanStepper.Setting.Moratorium'| translate}}</h4>

    <mat-form-field fxFlex="48%">
      <mat-label>{{'Product_Component.LoanProduct.LoanStepper.Setting.graceOnPrincipalPayment'| translate}}</mat-label>
      <input type="number" matInput formControlName="graceOnPrincipalPayment">
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>{{'Product_Component.LoanProduct.LoanStepper.Setting.graceOnInterestPayment'| translate}}</mat-label>
      <input type="number" matInput formControlName="graceOnInterestPayment">
    </mat-form-field>

    <mat-divider fxFlex="98%"></mat-divider>

    <mat-form-field fxFlex="48%">
      <mat-label>{{'Product_Component.LoanProduct.LoanStepper.Setting.graceOnInterestCharged'| translate}}</mat-label>
      <input type="number" matInput formControlName="graceOnInterestCharged">
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>{{'Product_Component.LoanProduct.LoanStepper.Setting.inArrearsTolerance'| translate}}</mat-label>
      <input type="number" matInput formControlName="inArrearsTolerance">
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>{{'Product_Component.LoanProduct.LoanStepper.Setting.daysInYearType'| translate}}</mat-label>
      <mat-select formControlName="daysInYearType" required>
        <mat-option *ngFor="let daysInYearType of daysInYearTypeData" [value]="daysInYearType.id">
          {{ daysInYearType.value }}
        </mat-option>
      </mat-select>
      <mat-error>
        {{'Product_Component.LoanProduct.LoanStepper.Setting.errdaysInYearType'| translate}}<strong>{{'Product_Component.strongRequired'| translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>{{'Product_Component.LoanProduct.LoanStepper.Setting.daysInMonthType'| translate}}</mat-label>
      <mat-select formControlName="daysInMonthType" required>
        <mat-option *ngFor="let daysInMonthType of daysInMonthTypeData" [value]="daysInMonthType.id">
          {{ daysInMonthType.value }}
        </mat-option>
      </mat-select>
      <mat-error>
        {{'Product_Component.LoanProduct.LoanStepper.Setting.errdaysInMonthType'| translate}}<strong>{{'Product_Component.strongRequired'| translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-checkbox fxFlex="98%" labelPosition="before" formControlName="canDefineInstallmentAmount" class="margin-v">
      {{'Product_Component.LoanProduct.LoanStepper.Setting.canDefineInstallmentAmount'| translate}}
    </mat-checkbox>

    <h4 fxFlex="48%" class="mat-h4">{{'Product_Component.LoanProduct.LoanStepper.Setting.h4'| translate}}</h4>

    <mat-form-field fxFlex="48%">
      <mat-label>{{'Product_Component.LoanProduct.LoanStepper.Setting.graceOnArrearsAgeing'| translate}}</mat-label>
      <input type="number" matInput formControlName="graceOnArrearsAgeing">
    </mat-form-field>

    <h4 fxFlex="48%" class="mat-h4">{{'Product_Component.LoanProduct.LoanStepper.Setting.h4_2'| translate}}</h4>

    <mat-form-field fxFlex="48%">
      <mat-label>{{'Product_Component.LoanProduct.LoanStepper.Setting.overdueDaysForNPA'| translate}}</mat-label>
      <input type="number" matInput formControlName="overdueDaysForNPA">
    </mat-form-field>

    <mat-checkbox fxFlex="48%" labelPosition="before" formControlName="accountMovesOutOfNPAOnlyOnArrearsCompletion" class="margin-v">
      {{'Product_Component.LoanProduct.LoanStepper.Setting.accountMovesOutOfNPAOnlyOnArrearsCompletion'| translate}}
    </mat-checkbox>

    <mat-form-field fxFlex="48%">
      <mat-label>{{'Product_Component.LoanProduct.LoanStepper.Setting.principalThresholdForLastInstallment'| translate}}</mat-label>
      <input type="number" matInput formControlName="principalThresholdForLastInstallment">
    </mat-form-field>

    <mat-checkbox fxFlex="48%" labelPosition="before" formControlName="allowVariableInstallments" class="margin-v">
      {{'Product_Component.LoanProduct.LoanStepper.Setting.allowVariableInstallments'| translate}}
    </mat-checkbox>

    <div *ngIf="loanProductSettingsForm.value.allowVariableInstallments" fxFlexFill fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

      <h4 fxFlex="98%" class="mat-h4">{{'Product_Component.LoanProduct.LoanStepper.Setting.VariableInstallments'| translate}}</h4>

      <mat-form-field fxFlex="48%">
        <mat-label>{{'Product_Component.LoanProduct.LoanStepper.Setting.minimumGap'| translate}}</mat-label>
        <input type="number" matInput formControlName="minimumGap" required>
        <mat-error>
          {{'Product_Component.LoanProduct.LoanStepper.Setting.errminimumGap'| translate}}<strong>{{'Product_Component.strongRequired'| translate }}</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="48%">
        <mat-label>{{'Product_Component.LoanProduct.LoanStepper.Setting.maximumGap'| translate}}</mat-label>
        <input type="number" matInput formControlName="maximumGap">
      </mat-form-field>

    </div>

    <mat-checkbox fxFlex="48%" labelPosition="before" formControlName="canUseForTopup" class="margin-v">
      {{'Product_Component.LoanProduct.LoanStepper.Setting.canUseForTopup'| translate}}
    </mat-checkbox>

    <mat-divider fxFlex="98%"></mat-divider>

    <h3 fxFlex="23%" class="mat-h3">{{'Product_Component.LoanProduct.LoanStepper.Setting.InterestRecalculation'| translate}}</h3>

    <mat-checkbox fxFlex="73%" labelPosition="before" formControlName="isInterestRecalculationEnabled" class="margin-b">
      {{'Product_Component.LoanProduct.LoanStepper.Setting.isInterestRecalculationEnabled'| translate}}
    </mat-checkbox>

    <div *ngIf="loanProductSettingsForm.value.isInterestRecalculationEnabled" fxFlexFill fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

      <mat-form-field fxFlex="48%">
        <mat-label>{{'Product_Component.LoanProduct.LoanStepper.Setting.preClosureInterestCalculationStrategy'| translate}}</mat-label>
        <mat-select formControlName="preClosureInterestCalculationStrategy" required>
          <mat-option *ngFor="let preClosureInterestCalculationStrategy of preClosureInterestCalculationStrategyData" [value]="preClosureInterestCalculationStrategy.id">
            {{ preClosureInterestCalculationStrategy.value }}
          </mat-option>
        </mat-select>
        <mat-error>
          {{'Product_Component.LoanProduct.LoanStepper.Setting.errpreClosureInterestCalculationStrategy'| translate}}<strong>{{'Product_Component.strongRequired'| translate }}</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="48%">
        <mat-label>{{'Product_Component.LoanProduct.LoanStepper.Setting.rescheduleStrategyMethod'| translate}}</mat-label>
        <mat-select formControlName="rescheduleStrategyMethod" required>
          <mat-option *ngFor="let rescheduleStrategyType of rescheduleStrategyTypeData" [value]="rescheduleStrategyType.id">
            {{ rescheduleStrategyType.value }}
          </mat-option>
        </mat-select>
        <mat-error>
          {{'Product_Component.LoanProduct.LoanStepper.Setting.errrescheduleStrategyMethod'| translate}}<strong>{{'Product_Component.strongRequired'| translate }}</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="48%">
        <mat-label>{{'Product_Component.LoanProduct.LoanStepper.Setting.interestRecalculationCompoundingMethod'| translate}}</mat-label>
        <mat-select formControlName="interestRecalculationCompoundingMethod" required>
          <mat-option *ngFor="let interestRecalculationCompoundingType of interestRecalculationCompoundingTypeData" [value]="interestRecalculationCompoundingType.id">
            {{ interestRecalculationCompoundingType.value }}
          </mat-option>
        </mat-select>
        <mat-error>
          {{'Product_Component.LoanProduct.LoanStepper.Setting.errinterestRecalculationCompoundingMethod'| translate}}<strong>{{'Product_Component.strongRequired'| translate }}</strong>
        </mat-error>
      </mat-form-field>

      <span fxFlex="48%" fxHide.lt-md></span>

      <div fxFlexFill fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

        <mat-form-field fxFlex="48%" *ngIf="loanProductSettingsForm.value.interestRecalculationCompoundingMethod !== 0 && loanProductSettingsForm.value.recalculationCompoundingFrequencyType !== 1">
          <mat-label>{{'Product_Component.LoanProduct.LoanStepper.Setting.recalculationCompoundingFrequencyInterval'| translate}}</mat-label>
          <input type="number" matInput formControlName="recalculationCompoundingFrequencyInterval" required>
          <mat-error>
            {{'Product_Component.LoanProduct.LoanStepper.Setting.errrecalculationCompoundingFrequencyInterval'| translate}}<strong>{{'Product_Component.strongRequired'| translate }}</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="48%" *ngIf="loanProductSettingsForm.value.recalculationRestFrequencyType !== 1">
          <mat-label>{{'Product_Component.LoanProduct.LoanStepper.Setting.recalculationRestFrequencyInterval'| translate}}</mat-label>
          <input type="number" matInput formControlName="recalculationRestFrequencyInterval" required>
          <mat-error>
            {{'Product_Component.LoanProduct.LoanStepper.Setting.errrecalculationRestFrequencyInterval'| translate}}<strong>{{'Product_Component.strongRequired'| translate }}</strong>
          </mat-error>
        </mat-form-field>

      </div>

      <div *ngIf="loanProductSettingsForm.value.interestRecalculationCompoundingMethod !== 0" fxFlexFill fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

        <mat-form-field fxFlex="31%">
          <mat-label>{{'Product_Component.LoanProduct.LoanStepper.Setting.recalculationCompoundingFrequencyType'| translate}}</mat-label>
          <mat-select formControlName="recalculationCompoundingFrequencyType" required>
            <mat-option *ngFor="let interestRecalculationFrequencyType of interestRecalculationFrequencyTypeData" [value]="interestRecalculationFrequencyType.id">
              {{ interestRecalculationFrequencyType.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div *ngIf="loanProductSettingsForm.value.recalculationCompoundingFrequencyType === 4" fxFlex="31%" fxLayout="row" fxLayout.lt-md="column">

          <mat-form-field fxFlexFill>
            <mat-select formControlName="recalculationCompoundingFrequencyNthDayType">
              <mat-option *ngFor="let interestRecalculationNthDayType of interestRecalculationNthDayTypeData" [value]="interestRecalculationNthDayType.id">
                {{ interestRecalculationNthDayType.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <div *ngIf="(loanProductSettingsForm.value.recalculationCompoundingFrequencyType === 4 && loanProductSettingsForm.value.recalculationCompoundingFrequencyNthDayType !== -2) || loanProductSettingsForm.value.recalculationCompoundingFrequencyType === 3" fxFlex="31%" fxLayout="row" fxLayout.lt-md="column">

          <mat-form-field fxFlexFill>
              <mat-select formControlName="recalculationCompoundingFrequencyDayOfWeekType">
                <mat-option *ngFor="let interestRecalculationDayOfWeekType of interestRecalculationDayOfWeekTypeData" [value]="interestRecalculationDayOfWeekType.id">
                  {{ interestRecalculationDayOfWeekType.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>

        </div>

        <div *ngIf="loanProductSettingsForm.value.recalculationCompoundingFrequencyType === 4 && loanProductSettingsForm.value.recalculationCompoundingFrequencyNthDayType === -2" fxFlex="31%" fxLayout="row" fxLayout.lt-md="column">

          <mat-form-field fxFlexFill>
            <mat-select formControlName="recalculationCompoundingFrequencyOnDayType">
              <mat-option *ngFor="let interestRecalculationOnDayType of interestRecalculationOnDayTypeData" [value]="interestRecalculationOnDayType">
                {{ interestRecalculationOnDayType }}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>

      </div>

      <mat-form-field fxFlex="31%">
        <mat-label>{{'Product_Component.LoanProduct.LoanStepper.Setting.recalculationRestFrequencyType'| translate}}</mat-label>
        <mat-select formControlName="recalculationRestFrequencyType" required>
          <mat-option *ngFor="let interestRecalculationFrequencyType of interestRecalculationFrequencyTypeData" [value]="interestRecalculationFrequencyType.id">
            {{ interestRecalculationFrequencyType.value }}
          </mat-option>
        </mat-select>
        <mat-error>
          {{'Product_Component.LoanProduct.LoanStepper.Setting.errrecalculationRestFrequencyType'| translate}}<strong>{{'Product_Component.strongRequired'| translate }}</strong>
        </mat-error>
      </mat-form-field>

      <div *ngIf="loanProductSettingsForm.value.recalculationRestFrequencyType === 4" fxFlex="31%" fxLayout="row" fxLayout.lt-md="column">

        <mat-form-field fxFlexFill>
          <mat-select formControlName="recalculationRestFrequencyNthDayType">
            <mat-option *ngFor="let interestRecalculationNthDayType of interestRecalculationNthDayTypeData" [value]="interestRecalculationNthDayType.id">
              {{ interestRecalculationNthDayType.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>

      <div *ngIf="(loanProductSettingsForm.value.recalculationRestFrequencyType === 4 && loanProductSettingsForm.value.recalculationRestFrequencyNthDayType !== -2) || loanProductSettingsForm.value.recalculationRestFrequencyType === 3" fxFlex="31%" fxLayout="row" fxLayout.lt-md="column">

        <mat-form-field fxFlexFill>
          <mat-select formControlName="recalculationRestFrequencyDayOfWeekType">
            <mat-option *ngFor="let interestRecalculationDayOfWeekType of interestRecalculationDayOfWeekTypeData" [value]="interestRecalculationDayOfWeekType.id">
              {{ interestRecalculationDayOfWeekType.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>

      <div *ngIf="loanProductSettingsForm.value.recalculationRestFrequencyType === 4 && loanProductSettingsForm.value.recalculationRestFrequencyNthDayType === -2" fxFlex="31%" fxLayout="row" fxLayout.lt-md="column">

        <mat-form-field fxFlexFill>
          <mat-select formControlName="recalculationRestFrequencyOnDayType">
            <mat-option *ngFor="let interestRecalculationOnDayType of interestRecalculationOnDayTypeData" [value]="interestRecalculationOnDayType">
              {{ interestRecalculationOnDayType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>

      <mat-checkbox fxFlex="98%" labelPosition="before" formControlName="isArrearsBasedOnOriginalSchedule" class="margin-v">
        {{'Product_Component.LoanProduct.LoanStepper.Setting.isArrearsBasedOnOriginalSchedule'| translate}}
      </mat-checkbox>

    </div>

    <mat-divider fxFlex="98%"></mat-divider>

    <h3 fxFlex="23%" class="mat-h3">{{'Product_Component.LoanProduct.LoanStepper.Setting.GuaranteeRequirements'| translate}}</h3>

    <mat-checkbox fxFlex="73%" labelPosition="before" formControlName="holdGuaranteeFunds" class="margin-b">
      {{'Product_Component.LoanProduct.LoanStepper.Setting.holdGuaranteeFunds'| translate}}
    </mat-checkbox>

    <div *ngIf="loanProductSettingsForm.value.holdGuaranteeFunds" fxFlexFill fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

      <mat-form-field fxFlex="31%">
        <mat-label>{{'Product_Component.LoanProduct.LoanStepper.Setting.mandatoryGuarantee'| translate}}</mat-label>
        <input type="number" matInput formControlName="mandatoryGuarantee" required>
        <mat-error>
          {{'Product_Component.LoanProduct.LoanStepper.Setting.errmandatoryGuarantee'| translate}}<strong>{{'Product_Component.strongRequired'| translate }}</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="31%">
        <mat-label>{{'Product_Component.LoanProduct.LoanStepper.Setting.errminimumGuaranteeFromOwnFunds'| translate}}</mat-label>
        <input type="number" matInput formControlName="minimumGuaranteeFromOwnFunds">
      </mat-form-field>

      <mat-form-field fxFlex="31%">
        <mat-label>{{'Product_Component.LoanProduct.LoanStepper.Setting.minimumGuaranteeFromGuarantor'| translate}}</mat-label>
        <input type="number" matInput formControlName="minimumGuaranteeFromGuarantor">
      </mat-form-field>

    </div>

    <mat-divider fxFlex="98%"></mat-divider>

    <h3 fxFlex="23%" class="mat-h3">{{'Product_Component.LoanProduct.LoanStepper.Setting.LoanTrancheDetails'| translate}}</h3>

    <mat-checkbox fxFlex="73%" labelPosition="before" formControlName="multiDisburseLoan"  class="margin-b">
      {{'Product_Component.LoanProduct.LoanStepper.Setting.multiDisburseLoan'| translate}}
    </mat-checkbox>

    <div *ngIf="loanProductSettingsForm.value.multiDisburseLoan" fxFlexFill fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

      <mat-form-field fxFlex="48%">
        <mat-label>{{'Product_Component.LoanProduct.LoanStepper.Setting.maxTrancheCount'| translate}}</mat-label>
        <input type="number" matInput formControlName="maxTrancheCount" required>
        <mat-error>
          {{'Product_Component.LoanProduct.LoanStepper.Setting.errmaxTrancheCount'| translate}}<strong>{{'Product_Component.strongRequired'| translate }}</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="48%">
        <mat-label>{{'Product_Component.LoanProduct.LoanStepper.Setting.outstandingLoanBalance'| translate}}</mat-label>
        <input currencyMask type="text" matInput formControlName="outstandingLoanBalance">
      </mat-form-field>

    </div>

    <mat-divider fxFlex="98%"></mat-divider>

    <h3 fxFlex="23%" class="mat-h3">{{'Product_Component.LoanProduct.LoanStepper.Setting.h3'| translate}}</h3>

    <mat-checkbox fxFlex="73%" labelPosition="before" formControlName="allowAttributeConfiguration" class="margin-b">
      {{'Product_Component.LoanProduct.LoanStepper.Setting.allowAttributeConfiguration'| translate}}
    </mat-checkbox>

    <div *ngIf="loanProductSettingsForm.value.allowAttributeConfiguration" formGroupName="allowAttributeOverrides" fxFlexFill fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

      <mat-checkbox fxFlex="48%" labelPosition="before" formControlName="amortizationType" class="margin-v">
        {{'Product_Component.LoanProduct.LoanStepper.Setting.Amortization'| translate}}
      </mat-checkbox>

      <mat-checkbox fxFlex="48%" labelPosition="before" formControlName="interestType" class="margin-v">
        {{'Product_Component.LoanProduct.LoanStepper.Setting.interestType'| translate}}
      </mat-checkbox>

      <mat-checkbox fxFlex="48%" labelPosition="before" formControlName="transactionProcessingStrategyId" class="margin-v">
        {{'Product_Component.LoanProduct.LoanStepper.Setting.transactionProcessingStrategyId'| translate}}
      </mat-checkbox>

      <mat-checkbox fxFlex="48%" labelPosition="before" formControlName="interestCalculationPeriodType" class="margin-v">
        {{'Product_Component.LoanProduct.LoanStepper.Setting.interestCalculationPeriodType'| translate}}
      </mat-checkbox>

      <mat-checkbox fxFlex="48%" labelPosition="before" formControlName="inArrearsTolerance" class="margin-v">
        {{'Product_Component.LoanProduct.LoanStepper.Setting.inArrearsTolerance'| translate}}
      </mat-checkbox>

      <mat-checkbox fxFlex="48%" labelPosition="before" formControlName="repaymentEvery" class="margin-v">
        {{'Product_Component.LoanProduct.LoanStepper.Setting.Repaid'| translate}}
      </mat-checkbox>

      <mat-checkbox fxFlex="48%" labelPosition="before" formControlName="graceOnPrincipalAndInterestPayment" class="margin-v">
        {{'Product_Component.LoanProduct.LoanStepper.Setting.Moratorium'| translate}}
      </mat-checkbox>

      <mat-checkbox fxFlex="48%" labelPosition="before" formControlName="graceOnArrearsAgeing" class="margin-v">
        {{'Product_Component.LoanProduct.LoanStepper.Setting.graceOnArrearsAgeing2'| translate}}
      </mat-checkbox>

    </div>

  </div>

  <div fxLayout="row" class="margin-t" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="2%">
    <button mat-raised-button matStepperPrevious>
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;&nbsp;
      {{ "ShareButton.PreviousEng" | translate }}
    </button>
    <button mat-raised-button matStepperNext>
      {{ "ShareButton.NextEng" | translate }}&nbsp;&nbsp;
      <fa-icon icon="arrow-right"></fa-icon>
    </button>
  </div>

</form>
