<div class="container">

  <mat-card>

    <form [formGroup]="userForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

          <mat-form-field fxFlex="48%">
            <mat-label>{{'UsersComponent.CreateUserComponent.Username'|translate}}</mat-label>
            <input matInput required formControlName="username">
            <mat-error *ngIf="userForm.controls.username.hasError('required')">
              {{'UsersComponent.CreateUserComponent.errUsername'|translate}}<strong>{{'UsersComponent.strongRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label>{{'UsersComponent.CreateUserComponent.Email'|translate}}</mat-label>
            <input matInput [required]="userForm.controls.sendPasswordToEmail.value" formControlName="email">
            <mat-error *ngIf="userForm.controls.email.hasError('email')">
              {{'UsersComponent.CreateUserComponent.errEmail'|translate}}<strong>{{'UsersComponent.CreateUserComponent.invalid'|translate}}</strong>
            </mat-error>
            <mat-error *ngIf="userForm.controls.email.hasError('required')">
              {{'UsersComponent.CreateUserComponent.errEmail'|translate}}<strong>{{'UsersComponent.strongRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label>{{'UsersComponent.CreateUserComponent.firstname'|translate}}</mat-label>
            <input matInput required formControlName="firstname">
            <mat-error *ngIf="userForm.controls.firstname.hasError('pattern')">
              {{'UsersComponent.CreateUserComponent.firstname'|translate}} <strong>{{'UsersComponent.CreateUserComponent.xxx'|translate}}</strong>
            </mat-error>
            <mat-error *ngIf="userForm.controls.firstname.hasError('required')">
              {{'UsersComponent.CreateUserComponent.errfirstname'|translate}}<strong>{{'UsersComponent.strongRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label>{{'UsersComponent.CreateUserComponent.lastname'|translate}}</mat-label>
            <input matInput required formControlName="lastname">
            <mat-error *ngIf="userForm.controls.lastname.hasError('pattern')">
              {{'UsersComponent.CreateUserComponent.lastname'|translate}} <strong>{{'UsersComponent.CreateUserComponent.alert'|translate}}</strong>
            </mat-error>
            <mat-error *ngIf="userForm.controls.lastname.hasError('required')">
              {{'UsersComponent.CreateUserComponent.errlastname'|translate}}<strong>{{'UsersComponent.strongRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

          <div fxFlex="48%" class="password-never-expires-wrapper">
            <mat-checkbox labelPosition="before" formControlName="passwordNeverExpires" >
              {{'UsersComponent.CreateUserComponent.passwordNeverExpires'|translate}}
            </mat-checkbox>
          </div>

          <div fxFlex="48%" class="send-password-to-email-wrapper">
            <mat-checkbox labelPosition="before" formControlName="sendPasswordToEmail">
              {{'UsersComponent.CreateUserComponent.sendPasswordToEmail'|translate}}
            </mat-checkbox>
          </div>

          <mat-form-field fxFlex="48%" *ngIf="!userForm.controls.sendPasswordToEmail.value">
            <mat-label>{{'UsersComponent.CreateUserComponent.Password'|translate}}</mat-label>
            <input matInput required type="password" formControlName="password">
            <mat-error *ngIf="userForm.controls.password.hasError('required')">
              {{'UsersComponent.CreateUserComponent.errPassword'|translate}}<strong>{{'UsersComponent.strongRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%" *ngIf="!userForm.controls.sendPasswordToEmail.value">
            <mat-label>{{'UsersComponent.CreateUserComponent.repeatPassword'|translate}}</mat-label>
            <input matInput required type="password" formControlName="repeatPassword">
            <mat-error *ngIf="userForm.controls.repeatPassword.hasError('required')">
              {{'UsersComponent.CreateUserComponent.errrepeatPassword'|translate}}<strong>{{'UsersComponent.strongRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

          <p fxFlex="98%" class="reset-password-error" *ngIf="userForm.errors?.passwordsDoNotMatch &&
          (!userForm.controls.password.hasError('required') && !userForm.controls.repeatPassword.hasError('required'))">
          {{'UsersComponent.CreateUserComponent.Passwords'|translate}} <strong>{{'UsersComponent.CreateUserComponent.notMatch'|translate}}</strong>
          </p>

          <mat-form-field fxFlex="48%">
            <mat-label>{{'UsersComponent.CreateUserComponent.Office'|translate}}</mat-label>
            <mat-select required formControlName="officeId">
              <mat-option *ngFor="let office of officesData" [value]="office.id">
                {{ office.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="userForm.controls.officeId.hasError('required')">
              {{'UsersComponent.CreateUserComponent.errOffice'|translate}}<strong>{{'UsersComponent.strongRequired'| translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label>{{'UsersComponent.CreateUserComponent.Staff'|translate}}</mat-label>
            <mat-select formControlName="staffId">
              <mat-option *ngFor="let staff of staffData" [value]="staff.id">
                {{ staff.displayName }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label>{{'UsersComponent.CreateUserComponent.Roles'|translate}}</mat-label>
            <mat-select required formControlName="roles" multiple>
              <mat-option *ngFor="let role of rolesData" [value]="role.id">
                {{ role.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="userForm.controls.roles.hasError('required')">
              {{'UsersComponent.CreateUserComponent.atLeast'|translate}}<strong>{{'UsersComponent.CreateUserComponent.mustBeSelected'|translate}}</strong>
            </mat-error>
          </mat-form-field>

        </div>

      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../']">{{ "ShareButton.CancelEng" | translate }}</button>
        <button mat-raised-button color="primary" [disabled]="!userForm.valid">{{ "ShareButton.Submit" | translate }}</button>
      </mat-card-actions>

    </form>

  </mat-card>

</div>
