<div mat-dialog-content id="transaction-successful-dialog">
  <h1 style="color: green">{{'Transactions.Dialog.CreateSuccessTransaction.notify1'|translate}}[{{ transactionInfo.trnRefNo }}] {{'Transactions.Dialog.CreateSuccessTransaction.notify2'|translate}}</h1>
  <h2>{{'Transactions.Dialog.CreateSuccessTransaction.youWill'|translate}}</h2>
  <mat-dialog-actions align="center">
    <button (click)="this.downloadVoucherTransaction()" mat-raised-button color="primary">
      <fa-icon icon="download"></fa-icon>&nbsp;&nbsp; {{'Transactions.Dialog.CreateSuccessTransaction.downBill'|translate}}
    </button>
    <button (click)="this.addFeeDialog()" mat-raised-button color="warn">
      <fa-icon icon="check"></fa-icon>&nbsp;&nbsp; {{'Transactions.Dialog.CreateSuccessTransaction.process'|translate}}
    </button>
  </mat-dialog-actions>

  <h2>{{'Transactions.Dialog.CreateSuccessTransaction.or'|translate}}</h2>
  <ul>
    <li>
      {{'Transactions.Dialog.CreateSuccessTransaction.notify3'|translate}}{{ transactionInfo.panNumber }} {{'Transactions.Dialog.CreateSuccessTransaction.notify4'|translate}}{{ transactionInfo.clientName }}.
      <a mat-dialog-close mat-mini-fab color="primary">
        <fa-icon icon="arrow-alt-circle-left"> </fa-icon>
      </a>
    </li>
    <li>
      {{'Transactions.Dialog.CreateSuccessTransaction.selectCard'|translate}}{{ transactionInfo.clientName }} {{'Transactions.Dialog.CreateSuccessTransaction.selectCard2'|translate}}
      <a
        mat-dialog-close
        mat-mini-fab
        href="#/clients/{{ transactionInfo.clientId }}/identities?typeViewClient=transaction"
      >
        <fa-icon icon="arrow-alt-circle-right"> </fa-icon>
      </a>
    </li>
    <li *ngIf="transactionInfo.type != 'cash'">
      {{'Transactions.Dialog.CreateSuccessTransaction.backAdvancePage'|translate}}
      <a mat-dialog-close mat-mini-fab href="#/transaction/rollTermSchedule">
        <fa-icon icon="arrow-alt-circle-down"> </fa-icon>
      </a>
    </li>
  </ul>

  <br />

  <h2>{{'Transactions.Dialog.CreateSuccessTransaction.searchClient'|translate}}</h2>
  <midas-mainboard> </midas-mainboard>
</div>
<mat-dialog-actions align="center">
  <p>
    <a mat-dialog-close mat-mini-fab href="#/">
      <!-- <button mat-raised-button  color="warn">Quay lại trang chủ</button> -->
      <fa-icon icon="home"></fa-icon>
    </a>
    <br />
    <span>{{'Transactions.Dialog.CreateSuccessTransaction.homePage'|translate}}</span>
  </p>
</mat-dialog-actions>
