<div class="container">

  <mat-card>

    <form [formGroup]="editCenterForm" (ngSubmit)="submit()">

	  <mat-card-content>

	    <div fxLayout="column">

		  <mat-form-field>
		    <mat-label>{{ "CentersComponent.CreateCenterComponent.name" | translate }}</mat-label>
			<input matInput required formControlName="name">
			<mat-error *ngIf="editCenterForm.controls.name.hasError('required')">
			  {{ "CentersComponent.CreateCenterComponent.errname" | translate }}<strong>{{ "CentersComponent.strongRequire" | translate }}</strong>
			</mat-error>
			<mat-error *ngIf="editCenterForm.controls.name.hasError('pattern')">
			  {{ "CentersComponent.CreateCenterComponent.CenterName" | translate }}
        <strong>{{ "CentersComponent.CreateCenterComponent.cannot" | translate }}</strong>
        {{ "CentersComponent.CreateCenterComponent.alert" | translate }}
			</mat-error>
			</mat-form-field>

			<mat-form-field>
			  <mat-label>{{ "CentersComponent.CreateCenterComponent.staffId" | translate }}</mat-label>
			  <mat-select formControlName="staffId">
				<mat-option *ngFor="let staff of staffs" [value]="staff.id">
				  {{ staff.displayName }}
				</mat-option>
			  </mat-select>
			</mat-form-field>

			<mat-form-field>
			  <mat-label>{{ "CentersComponent.CreateCenterComponent.externalId" | translate }}</mat-label>
			  <input matInput formControlName="externalId">
			</mat-form-field>

			<ng-container *ngIf="centerData.status.value=='Pending'">
			  <mat-form-field>
				<mat-label>{{ "CentersComponent.CreateCenterComponent.activationDate" | translate }}</mat-label>
				<input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="activatedOnDatePicker" required
				  formControlName="activationDate">
				<mat-datepicker-toggle matSuffix [for]="activatedOnDatePicker"></mat-datepicker-toggle>
				<mat-datepicker #activatedOnDatePicker></mat-datepicker>
				<mat-error *ngIf="editCenterForm.controls.activationDate.hasError('required')">
				  {{ "CentersComponent.CreateCenterComponent.erractivationDate" | translate }}<strong>{{ "CentersComponent.strongRequire" | translate }}</strong>
				</mat-error>
			  </mat-form-field>
			</ng-container>

		</div>

	  </mat-card-content>

	  <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
	    <button type="button" mat-raised-button [routerLink]="['../general']">{{ "ShareButton.CancelEng" | translate }}</button>
	    <button mat-raised-button color="accent" [disabled]="!editCenterForm.valid">{{ "ShareButton.ConfirmEng" | translate }}</button>
	  </mat-card-actions>

	</form>

  </mat-card>

</div>
